Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

See if we can reduce the number of tree-shaking passes
  src/Graph.ts
  src/Module.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

Ensure the "in" operators includes is second operand
  src/ast/nodes/BinaryExpression.ts
  test/function/samples/object-expression-treeshaking/in-operator/_config.js
  test/function/samples/object-expression-treeshaking/in-operator/main.js
Due: eslint --fix, prettier --write

If a node has not special logic on include or deoptimize, replace check
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/ChainExpression.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/ContinueStatement.ts
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/ast/nodes/ForStatement.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/StaticBlock.ts
  src/ast/nodes/SwitchCase.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/TryStatement.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/WhileStatement.ts
Due: eslint --fix

When including all children of a CallExpression, also include all paths
  src/ast/nodes/CallExpression.ts
  test/function/samples/object-expression-treeshaking/try-statement-arguments/_config.js
  test/function/samples/object-expression-treeshaking/try-statement-arguments/main.js
Due: eslint --fix, prettier --write

4.30.0-0
  browser/package.json
  package-lock.json
  package.json
Due: none

Try to build WASM on Ubuntu
  .github/workflows/build-and-tests.yml
Due: none

Align cache keys for performance report/REPL
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

Only save caches on master
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

enhance the treehshaking for unary expression
  src/ast/nodes/UnaryExpression.ts
  test/form/samples/treeshake-unary/_config.js
  test/form/samples/treeshake-unary/_expected.js
  test/form/samples/treeshake-unary/main.js
  test/form/samples/unary-expressions/_expected.js
Due: eslint --fix, prettier --write

simplify the number string
  src/ast/nodes/UnaryExpression.ts
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
  test/form/samples/treeshake-unary/_expected.js
  test/form/samples/treeshake-unary/main.js
Due: eslint --fix

without considering BigInt
  src/ast/nodes/UnaryExpression.ts
Due: eslint --fix

Make sure to use builtins when building for Node
  rollup.config.ts
Due: none

4.30.0-1
  browser/package.json
  package-lock.json
  package.json
Due: none

Include variable inits per module instead of per pass
  src/Graph.ts
Due: eslint --fix

feat!: update to chokidar v4
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fileWatcher.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.d.ts
Due: eslint --fix

ci: remove `test:package` from ci jobs
  .github/workflows/build-and-tests.yml
Due: none

feat: use picocolors instead of colorette
  LICENSE.md
  cli/run/batchWarnings.ts
  package-lock.json
  package.json
  scripts/colors.js
  scripts/perf-report/index.js
  src/utils/colors.ts
Due: eslint --fix

keep import attributes for cjs format
  docs/configuration-options/index.md
  src/Chunk.ts
  src/ExternalChunk.ts
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes/_expected/cjs.js
Due: eslint --fix

fixup! feat: use picocolors instead of colorette
  package.json
Due: none

Skip checking for effects in functions with side effects
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
Due: eslint --fix

retain boolean and undefined && slightly improve performance
  src/ast/nodes/UnaryExpression.ts
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/amd/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/cjs/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/es/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/system/dep2.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
  test/form/samples/treeshake-unary/_expected.js
Due: eslint --fix

Improve CI caching for node_modules
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

pre-appeding space to literals in UnaryExpression
  src/ast/nodes/UnaryExpression.ts
  test/form/samples/treeshake-unary/_expected.js
  test/form/samples/treeshake-unary/main.js
Due: eslint --fix

temporarily retain the speical logic in switch cases
  src/ast/nodes/SwitchCase.ts
  test/form/samples/switch-cases/missing-space/_config.js
  test/form/samples/switch-cases/missing-space/_expected.js
  test/form/samples/switch-cases/missing-space/main.js
  test/form/samples/treeshake-unary/_expected.js
Due: eslint --fix, prettier --write

Do not cache known paramter value as frozen
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix
