Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Reinstate system default export test
  test/chunking-form/samples/deconflict-system-default-export-variable/_config.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/amd/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/cjs/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/es/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/system/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/main.js
Due: eslint --fix, prettier --write

Ensure catch and finally handlers are always included and deoptimized
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/variables/PromiseHandler.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/function/samples/dynamic-import-include-catch-handler/_config.js
  test/function/samples/dynamic-import-include-catch-handler/dep.js
  test/function/samples/dynamic-import-include-catch-handler/main.js
Due: eslint --fix, prettier --write

Update audit resolver exclusions
  audit-resolve.json
Due: none

4.56.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Resolve audit for changed id
  audit-resolve.json
  package-lock.json
Due: none

Resolve audit for changed id
  audit-resolve.json
Due: none

Refactor to reduce Rollup 5 upgrade diff
  package-lock.json
  src/ast/nodes/Identifier.ts
  src/ast/nodes/JSXAttribute.ts
  src/ast/nodes/JSXClosingElement.ts
  src/ast/nodes/JSXClosingFragment.ts
  src/ast/nodes/JSXElement.ts
  src/ast/nodes/JSXEmptyExpression.ts
  src/ast/nodes/JSXExpressionContainer.ts
  src/ast/nodes/JSXFragment.ts
  src/ast/nodes/JSXIdentifier.ts
  src/ast/nodes/JSXMemberExpression.ts
  src/ast/nodes/JSXNamespacedName.ts
  src/ast/nodes/JSXOpeningElement.ts
  src/ast/nodes/JSXOpeningFragment.ts
  src/ast/nodes/JSXSpreadAttribute.ts
  src/ast/nodes/JSXSpreadChild.ts
  src/ast/nodes/JSXText.ts
  src/ast/nodes/UpdateExpression.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/JSXElementBase.ts
Due: eslint --fix

Refactor to reduce Rollup 5 upgrade diff (#6246)
  package-lock.json
  src/ast/nodes/Identifier.ts
  src/ast/nodes/JSXAttribute.ts
  src/ast/nodes/JSXClosingElement.ts
  src/ast/nodes/JSXClosingFragment.ts
  src/ast/nodes/JSXElement.ts
  src/ast/nodes/JSXEmptyExpression.ts
  src/ast/nodes/JSXExpressionContainer.ts
  src/ast/nodes/JSXFragment.ts
  src/ast/nodes/JSXIdentifier.ts
  src/ast/nodes/JSXMemberExpression.ts
  src/ast/nodes/JSXNamespacedName.ts
  src/ast/nodes/JSXOpeningElement.ts
  src/ast/nodes/JSXOpeningFragment.ts
  src/ast/nodes/JSXSpreadAttribute.ts
  src/ast/nodes/JSXSpreadChild.ts
  src/ast/nodes/JSXText.ts
  src/ast/nodes/UpdateExpression.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/JSXElementBase.ts
Due: eslint --fix

add support for OpenBSD/amd64
  native.js
  npm/openbsd-arm64/README.md
  npm/openbsd-arm64/package.json
  package.json
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
  src/watch/fileWatcher.ts
Due: eslint --fix

extend more hooks to include import attributes and add warnings
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/rollup/types.d.ts
  src/utils/transform.ts
  src/utils/urls.ts
  test/function/samples/extend-more-hooks-to-include-import-attributes/_config.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/main.js
  test/function/samples/warn-for-load-and-transform/_config.js
  test/function/samples/warn-for-load-and-transform/main.js
Due: eslint --fix, prettier --write

extend shouldTransformCachedModule hook to include attributes
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  test/function/samples/extend-more-hooks-to-include-import-attributes/_config.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/main.js
Due: eslint --fix, prettier --write

tweak docs
  docs/plugin-development/index.md
Due: none

update docs
  docs/plugin-development/index.md
Due: none

add importerAttributes to ResolveIdHook
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  test/function/samples/deprecated/warn-for-load-and-transform/_config.js
  test/function/samples/deprecated/warn-for-load-and-transform/main.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/_config.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/lib3.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/lib4.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/main.js
  test/incremental/index.js
Due: eslint --fix, prettier --write

fix syntax
  native.js
Due: none

Use correct deprecation warning handler
  src/ModuleLoader.ts
  src/utils/transform.ts
  test/function/samples/deprecated/load-attributes/_config.js
  test/function/samples/deprecated/load-attributes/main.js
  test/function/samples/deprecated/transform-attributes/_config.js
  test/function/samples/deprecated/transform-attributes/main.js
  test/function/samples/deprecated/warn-for-load-and-transform/_config.js
Due: eslint --fix, prettier --write

Mark some types as optional for now to avoid Vite and Vitepress conflicts
  src/rollup/types.d.ts
Due: eslint --fix

split long line up to make prettier happy
  src/watch/fileWatcher.ts
Due: eslint --fix

Slightly extend documentation
  docs/plugin-development/index.md
Due: none

Add attributes to resolveFileUrl and resolveImportMeta
  docs/plugin-development/index.md
  src/ast/nodes/MetaProperty.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/resolve-file-url/_config.js
  test/form/samples/configure-file-url/_config.js
  test/form/samples/resolve-file-url-import-meta-attributes/_config.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/amd.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/assets/my-asset-Bx5J2bsd
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/cjs.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/es.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/iife.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/system.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/umd.js
  test/form/samples/resolve-file-url-import-meta-attributes/dep.js
  test/form/samples/resolve-file-url-import-meta-attributes/main.js
Due: eslint --fix, prettier --write

extend more hooks to include import attributes and add warnings (#5700)
  docs/plugin-development/index.md
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  src/utils/transform.ts
  src/utils/urls.ts
  test/chunking-form/samples/resolve-file-url/_config.js
  test/form/samples/configure-file-url/_config.js
  test/form/samples/resolve-file-url-import-meta-attributes/_config.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/amd.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/assets/my-asset-Bx5J2bsd
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/cjs.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/es.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/iife.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/system.js
  test/form/samples/resolve-file-url-import-meta-attributes/_expected/umd.js
  test/form/samples/resolve-file-url-import-meta-attributes/dep.js
  test/form/samples/resolve-file-url-import-meta-attributes/main.js
  test/function/samples/deprecated/load-attributes/_config.js
  test/function/samples/deprecated/load-attributes/main.js
  test/function/samples/deprecated/transform-attributes/_config.js
  test/function/samples/deprecated/transform-attributes/main.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/_config.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/lib3.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/lib4.js
  test/function/samples/extend-more-hooks-to-include-import-attributes/main.js
  test/incremental/index.js
Due: eslint --fix, prettier --write

4.57.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

Resolve remaining AST differences.
  rust/parse_ast/src/ast_nodes/import_attribute.rs
  rust/parse_ast/src/ast_nodes/template_literal.rs
  scripts/generate-ast-to-buffer.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
  test/function/samples/enforce-plugin-order/_config.js
  test/testHelpers.js
Due: eslint --fix, prettier --write

Convert fixed strings
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Add manual comparison
  scripts/generate-ast-to-buffer.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/getAstBuffer.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
  test/testHelpers.js
Due: eslint --fix

Expose converter and serializer
  scripts/generate-ast-to-buffer.ts
  scripts/generate-buffer-to-ast.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/bufferToAst.ts
  src/utils/getAstBuffer.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
Due: eslint --fix

Auto-extend buffer
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
  src/utils/getAstBuffer.ts
Due: eslint --fix

Include string and list conversion
  scripts/generate-buffer-to-ast.ts
  src/utils/astToBuffer.ts
  src/utils/bufferToAst.ts
  src/utils/getAstBuffer.ts
  src/utils/nonCanonicalNodesToBuffer.ts
  src/utils/polymorphicNodesToBuffer.ts
Due: eslint --fix

Consolidate logic into single file
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
  src/utils/nonCanonicalNodesToBuffer.ts
  src/utils/polymorphicNodesToBuffer.ts
Due: eslint --fix

Initial skeleton for ast to binary converter
  scripts/generate-ast-converters.ts
  scripts/generate-ast-to-buffer.ts
  src/Module.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/nonCanonicalNodesToBuffer.ts
  src/utils/polymorphicNodesToBuffer.ts
Due: eslint --fix

Use proper reserved sizes
  scripts/generate-ast-to-buffer.ts
  scripts/generate-rust-constants.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Add some field types
  scripts/ast-types.ts
  scripts/generate-ast-to-buffer.ts
  scripts/generate-ast-types.ts
  scripts/generate-buffer-parsers.ts
  scripts/generate-buffer-to-ast.ts
  scripts/generate-string-constants.ts
  scripts/helpers.js
  src/utils/astToBuffer.ts
  src/utils/serialize-ast-strings.ts
Due: eslint --fix

Add flags and annotations
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Deduplicate fixed strings
  rust/parse_ast/src/ast_nodes/assignment_expression.rs
  rust/parse_ast/src/ast_nodes/binary_expression.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  scripts/generate-string-constants.ts
  src/utils/convert-ast-strings.ts
  src/utils/serialize-ast-strings.ts
Due: eslint --fix

Adapt test
  test/function/samples/extend-more-hooks-to-include-import-attributes/_config.js
Due: eslint --fix, prettier --write

Mitigate vulnerability that would allow to steal credentials
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none
