Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

initial linux arm musl support
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-arm-musleabihf/README.md
  npm/linux-arm-musleabihf/package.json
  package.json
Due: none

Add support for ppc64le
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-ppc64le-gnu/README.md
  npm/linux-ppc64le-gnu/package.json
  package.json
Due: none

Add test for dependency deoptimization
  test/function/samples/deoptimize-pushed-array-element/_config.js
  test/function/samples/deoptimize-pushed-array-element/main.js
Due: eslint --fix, prettier --write

Deoptimize elements pushed into an array
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/MethodTypes.ts
  test/function/samples/deoptimize-pushed-array-element/main.js
Due: eslint --fix

Copy rollup types in tests to avoid temporary type issues
  rollup.config.ts
Due: none

Fix
  .github/workflows/build-and-tests.yml
Due: none

Try enabling zig
  .github/workflows/build-and-tests.yml
Due: none

Call log side effects function if it exists
  src/ast/nodes/Program.ts
  src/rollup/types.d.ts
Due: eslint --fix

Create synopsys-io.yml
  .github/workflows/synopsys-io.yml
Due: none

Create codeql.yml (#7)
  .github/workflows/codeql.yml
Due: none

Update for husky migration
  .husky/pre-commit
  package.json
Due: none

Do not auto-merge major updates, remove hourly limit
  renovate.json
Due: none

Fix type issue
  cli/run/watch-cli.ts
Due: none

Fix test
  test/form/samples/supports-core-js/_expected.js
Due: none

Downgrade node types to fix type issue
  package-lock.json
  package.json
Due: none

Limit version range for node types
  package-lock.json
  package.json
Due: none

Unpin TypeScript plugin
  package-lock.json
  package.json
  renovate.json
Due: none

Roll back vitepress as 1.0.0-rc.40 breaks the development build
  package-lock.json
  package.json
  renovate.json
Due: none

Add documentation
  docs/configuration-options/index.md
Due: none

Add new hashing functions in JavaScript
  src/utils/FileEmitter.ts
  src/utils/crypto.ts
  src/utils/renderChunks.ts
Due: eslint --fix

test: add a basic test
  test/form/samples/cjs-transpiler-re-exports/_config.js
  test/form/samples/cjs-transpiler-re-exports/_expected/cjs.js
  test/form/samples/cjs-transpiler-re-exports/_expected/execute.mjs
  test/form/samples/cjs-transpiler-re-exports/_expected/foo.js
  test/form/samples/cjs-transpiler-re-exports/main.js
Due: eslint --fix, prettier --write

feat: Export __proto__ outside the forEach
  src/finalisers/shared/getExportBlock.ts
  test/form/samples/cjs-transpiler-re-exports/_expected/cjs.js
Due: eslint --fix

test: update test snapshots
  test/form/samples/export-__proto__/_expected/amd.js
  test/form/samples/export-__proto__/_expected/cjs.js
  test/form/samples/export-__proto__/_expected/iife.js
  test/form/samples/export-__proto__/_expected/umd.js
  test/form/samples/no-external-live-bindings-compact/_expected/amd.js
  test/form/samples/no-external-live-bindings-compact/_expected/cjs.js
  test/form/samples/no-external-live-bindings-compact/_expected/iife.js
  test/form/samples/no-external-live-bindings-compact/_expected/system.js
  test/form/samples/no-external-live-bindings-compact/_expected/umd.js
  test/form/samples/no-external-live-bindings/_expected/amd.js
  test/form/samples/no-external-live-bindings/_expected/cjs.js
  test/form/samples/no-external-live-bindings/_expected/iife.js
  test/form/samples/no-external-live-bindings/_expected/umd.js
Due: none

Enhance the reliability of the test
  test/form/samples/cjs-transpiler-re-exports/_config.js
  test/form/samples/cjs-transpiler-re-exports/_expected/execute.mjs
  test/form/samples/cjs-transpiler-re-exports/_expected/foo.js
Due: eslint --fix, prettier --write

Add new test for syntax error throwing
  test/misc/parse-ast.js
Due: none

More minimal test case
  test/misc/parse-ast.js
Due: none

Update the usage of glob
  docs/configuration-options/index.md
Due: none

Update the documentation about how to use Rollup in Deno
  docs/tools/index.md
Due: none

Transform rust panic message into Buffer
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/lib.rs
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/utils/buffer-to-ast.ts
  src/utils/logs.ts
  test/function/samples/catch-rust-panic/_config.js
  test/function/samples/catch-rust-panic/main.js
Due: eslint --fix, prettier --write

Update buffer-to-ast.ts
  src/utils/buffer-to-ast.ts
Due: eslint --fix

Adapt error function in the Module class
  src/Module.ts
  test/function/samples/catch-rust-panic/_config.js
Due: eslint --fix, prettier --write
