Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Adapt code for new enum structure
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

4.10.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Introduce output.reexportProtoFromExternal option
  src/finalisers/amd.ts
  src/finalisers/cjs.ts
  src/finalisers/iife.ts
  src/finalisers/shared/getExportBlock.ts
  src/finalisers/umd.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/cjs-transpiler-re-exports-1/_config.js
  test/form/samples/cjs-transpiler-re-exports-1/_expected/cjs.js
  test/form/samples/cjs-transpiler-re-exports-1/main.js
Due: eslint --fix, prettier --write

Update documentation
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  docs/repl/stores/options.ts
Due: none

Resolve all rollup imports to node_modules
  test/types.d.ts
  tsconfig.json
Due: none

Adapt tests
  test/form/samples/cjs-transpiler-re-exports-1/_config.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Tweak documentation
  docs/configuration-options/index.md
Due: none

Rename FUNDING.yml to Sponsor FUNDING.yml (#9)
  .github/Sponsor FUNDING.yml
Due: none

Add const reassign rule
  src/ast/nodes/AssignmentExpression.ts
  src/utils/logs.ts
  test/function/samples/error-const-reassign/_config.js
  test/function/samples/error-const-reassign/main.js
Due: eslint --fix, prettier --write

Update src/utils/logs.ts
  src/utils/logs.ts
Due: eslint --fix

Update tests
  test/function/samples/error-const-reassign/_config.js
Due: eslint --fix, prettier --write

Update Command line flags
  cli/help.md
  docs/command-line-interface/index.md
Due: none

Fix core-js update and exclude form further updates
  package-lock.json
  package.json
  renovate.json
  test/form/samples/supports-core-js/_expected.js
Due: none

Add missing AST nodes and improve some names
  scripts/generate-buffer-to-ast.js
  src/Module.ts
  src/ast/nodes/DebuggerStatement.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/ParseError.ts
  src/ast/nodes/shared/Node.ts
  src/utils/astConverterHelpers.ts
  src/utils/bufferToAst.ts
  src/utils/logs.ts
  src/utils/parseAst.ts
Due: eslint --fix

Use consistent module resolution
  test/tsconfig.base.json
Due: none

Fix number literal casing
  .eslintrc.js
  src/ModuleLoader.ts
Due: eslint --fix

Improve expression
  rust/parse_ast/src/lib.rs
  src/ast/bufferParsers.ts
Due: eslint --fix

Move ReadString type
  src/utils/buffer-to-ast.ts
  src/utils/getReadStringFunction.ts
Due: eslint --fix

Pre-generate keys for iteration
  scripts/generate-ast-converters.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-keys.js
  src/ast/keys.ts
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

Separate parsing and node construction
  scripts/generate-ast-converters.js
  scripts/generate-child-node-keys.js
  src/Module.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/ClassDeclaration.ts
  src/ast/nodes/FunctionDeclaration.ts
  src/ast/nodes/FunctionExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/TemplateElement.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

Initial version of bufferParsers
  scripts/ast-types.js
  scripts/generate-ast-converters.js
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
Due: eslint --fix

Use absolute positions
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
Due: eslint --fix

Move invalid annotation handling to Program
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/nodes/Program.ts
  src/ast/nodes/shared/Node.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Move annotation flags to the annotated nodes
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

Provide correct scopes to nodes
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  src/ast/bufferParsers.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Store esTreeNode of import expression argument on ImportExpression
  scripts/ast-types.js
  scripts/generate-buffer-to-ast.js
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/buffer-to-ast.ts
Due: eslint --fix

Add additional Node keys and adapt some logic
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/ExportAllDeclaration.ts
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/ast/nodes/ExportNamedDeclaration.ts
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/ImportDeclaration.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/TemplateElement.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/UpdateExpression.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/shared/BitFlags.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/Node.ts
  src/ast/nodes/shared/VariableKinds.ts
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/CatchBodyScope.ts
  src/ast/scopes/ClassBodyScope.ts
  src/ast/scopes/FunctionBodyScope.ts
  src/ast/scopes/ModuleScope.ts
  src/ast/scopes/Scope.ts
  src/ast/values.ts
  src/ast/variables/ArgumentsVariable.ts
  src/ast/variables/ExportDefaultVariable.ts
  src/ast/variables/ParameterVariable.ts
  src/utils/parseImportAttributes.ts
Due: eslint --fix

Make parse and panic errors proper nodes
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/Module.ts
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/PanicError.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  src/utils/logs.ts
Due: eslint --fix

Add post-processing steps
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
Due: eslint --fix

Directly consume buffer
  src/Module.ts
  src/ast/bufferParsers.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/SwitchStatement.ts
  src/utils/bufferToAst.ts
Due: eslint --fix
