Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

refactor: improve value resolution in MultiExpression
  src/ast/nodes/shared/MultiExpression.ts
Due: eslint --fix

refactor: improve handling of complex cases
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/SwitchCase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/values.ts
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
Due: eslint --fix

refactor: minor nit with blank object
  src/ast/nodes/Literal.ts
  src/ast/values.ts
Due: eslint --fix

Add test
  test/form/samples/import-attributes/keep-attribute-declarations-for-unresolved-dynamic-imports/_config.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-unresolved-dynamic-imports/_expected.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-unresolved-dynamic-imports/main.js
Due: eslint --fix, prettier --write

Binding attributes for unresolved dynamic imports
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/utils/logs.ts
  test/function/samples/import-assertions/warn-unresolvable-assertions/_config.js
Due: eslint --fix, prettier --write

Use npm ci in audit to avoid lockfile updates
  .github/workflows/build-and-tests.yml
Due: none

Use correct toolchain in readme
  CONTRIBUTING.md
Due: none

Fix clippy warnings
  browser/LICENSE.md
  rust/bindings_napi/src/lib.rs
Due: none

fix: tweak the fallback logic for tracing segment
  src/utils/collapseSourcemaps.ts
Due: eslint --fix

build(rust): mimalloc-safe/no_opt_arch on aarch64
  rust/bindings_napi/Cargo.toml
Due: none

Update transitive dependency to fix audit
  package-lock.json
Due: none

build(rust): exclude Apple from arch-specific opt-out
  rust/bindings_napi/Cargo.toml
Due: none

build: aggressively optimize wasm build
  package.json
  rust-toolchain.toml
  rust/Cargo.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/Cargo.toml
Due: none

build: get ci working again
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  package.json
  rust-toolchain.toml
  rust/bindings_napi/.cargo/config.toml
  rust/bindings_wasm/.cargo/config.toml
Due: none

build: target shouldn't matter anymore
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
Due: none

ci: try cross-compile for FreeBSD
  .github/workflows/build-and-tests.yml
Due: none

build: trying with no cross compile flags
  .github/workflows/build-and-tests.yml
  package.json
Due: none

chore: whitespace consistency
  rust/bindings_wasm/Cargo.toml
Due: none

ci: install appropriate gcc in builds
  .github/workflows/build-and-tests.yml
  rust/bindings_napi/.cargo/config.toml
Due: none

ci: remove invalid option for rust toolchain action
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

Revert "build: aggressively optimize wasm build, improve pipeline (#6053)"
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  package.json
  rust/Cargo.toml
  rust/bindings_napi/.cargo/config.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/.cargo/config.toml
  rust/bindings_wasm/Cargo.toml
  rust/rust-toolchain.toml
Due: none

Improve the implementation
  src/Chunk.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/utils/logs.ts
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_config.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/amd/generated-foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/amd/main.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/cjs/generated-foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/cjs/main.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/es/generated-foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/es/main.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/system/generated-foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/system/main.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/main.js
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-external-dynamic-imports/_config.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-external-dynamic-imports/_expected.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-external-dynamic-imports/main.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-unresolved-dynamic-imports/_config.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-unresolved-dynamic-imports/_expected.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-unresolved-dynamic-imports/main.js
  test/function/samples/import-assertions/warn-unresolvable-assertions/_config.js
Due: eslint --fix, prettier --write

Move this.options.includePath into includeNode
  src/ast/nodes/ImportExpression.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix
