Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Forward destructuring paths when declaring variables
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
  src/ast/nodes/ArrayPattern.ts
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/ObjectPattern.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/RestElement.ts
  src/ast/nodes/VariableDeclarator.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/Pattern.ts
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/CatchBodyScope.ts
  src/ast/scopes/FunctionBodyScope.ts
  src/ast/scopes/ModuleScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/Scope.ts
  src/ast/scopes/TrackingScope.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

Add detailed regression tests for destructured variables
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/CatchBodyScope.ts
  src/ast/scopes/FunctionBodyScope.ts
  src/ast/scopes/Scope.ts
  src/ast/variables/LocalVariable.ts
  test/function/samples/object-expression-treeshaking/deoptimize-arguments-via-destructuring/_config.js
  test/function/samples/object-expression-treeshaking/deoptimize-arguments-via-destructuring/main.js
  test/function/samples/object-expression-treeshaking/get-literal-value-via-destructuring/_config.js
  test/function/samples/object-expression-treeshaking/get-literal-value-via-destructuring/main.js
  test/function/samples/object-expression-treeshaking/get-return-expression-via-destructuring/_config.js
  test/function/samples/object-expression-treeshaking/get-return-expression-via-destructuring/main.js
  test/function/samples/object-expression-treeshaking/include-destructuring-rest/_expected.js
  test/function/samples/object-expression-treeshaking/include-redeclared-destructured-variable-paths/_config.js
  test/function/samples/object-expression-treeshaking/include-redeclared-destructured-variable-paths/main.js
  test/function/samples/object-expression-treeshaking/track-access-side-effect-via-destructuring/_config.js
  test/function/samples/object-expression-treeshaking/track-access-side-effect-via-destructuring/main.js
  test/function/samples/object-expression-treeshaking/track-assignment-side-effect-via-destructuring/_config.js
  test/function/samples/object-expression-treeshaking/track-assignment-side-effect-via-destructuring/main.js
  test/function/samples/object-expression-treeshaking/track-call-side-effect-via-destructuring/_config.js
  test/function/samples/object-expression-treeshaking/track-call-side-effect-via-destructuring/main.js
Due: eslint --fix, prettier --write

Clean up comments and add test
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/scopes/ParameterScope.ts
  test/function/samples/deoptimize-nested-function-arg/_config.js
  test/function/samples/deoptimize-nested-function-arg/main.js
Due: eslint --fix, prettier --write

Improve name
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

Remove some leftover unused code
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/utils/hasOrAddIncludedPaths.ts
Due: eslint --fix

Move argument deoptimization for function calls to ReturnValueScope
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/scopes/FunctionScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/ReturnValueScope.ts
Due: eslint --fix

Track argument values through destructuring
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/destructured-known-arguments/_config.js
  test/form/samples/destructured-known-arguments/_expected.js
  test/form/samples/destructured-known-arguments/main.js
Due: eslint --fix, prettier --write

Rename PathTracker -> EntityPathTracker
  src/Graph.ts
  src/Module.ts
  src/ast/ExecutionContext.ts
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ChainExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/SpreadElement.ts
  src/ast/nodes/Super.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/nodes/shared/chainElements.ts
  src/ast/utils/PathTracker.ts
  src/ast/variables/GlobalVariable.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

Consider correct initPath when including call arguments
  src/ast/variables/LocalVariable.ts
  test/function/samples/object-expression-treeshaking/include-call-arguments-path/_config.js
  test/function/samples/object-expression-treeshaking/include-call-arguments-path/main.js
Due: eslint --fix, prettier --write

Rework how destructuring declarations are handled
  src/ast/nodes/ArrayPattern.ts
  src/ast/nodes/ObjectPattern.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/RestElement.ts
  src/ast/scopes/ClassBodyScope.ts
  src/ast/scopes/FunctionBodyScope.ts
  src/ast/scopes/ModuleScope.ts
  src/ast/scopes/Scope.ts
  src/ast/variables/ArgumentsVariable.ts
  src/ast/variables/ExportDefaultVariable.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/object-expression-treeshaking/remove-props-via-destructuring/_config.js
  test/form/samples/object-expression-treeshaking/remove-props-via-destructuring/_expected.js
  test/form/samples/object-expression-treeshaking/remove-props-via-destructuring/main.js
  test/function/samples/object-expression-treeshaking/include-destructuring-rest/_config.js
  test/function/samples/object-expression-treeshaking/include-destructuring-rest/_expected.js
  test/function/samples/object-expression-treeshaking/include-destructuring-rest/main.js
Due: eslint --fix, prettier --write

Rewrite initial support for parameter destructuring
  src/ast/ExecutionContext.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/utils/PathTracker.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/ThisVariable.ts
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/amd/generated-module9.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/cjs/generated-module9.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/es/generated-module9.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/system/generated-module9.js
  test/chunking-form/samples/entrypoint-aliasing/_expected/es/main1alias.js
  test/chunking-form/samples/entrypoint-aliasing/_expected/system/main1alias.js
  test/chunking-form/samples/entrypoint-facade/_expected/es/main1.js
  test/chunking-form/samples/entrypoint-facade/_expected/system/main1.js
  test/chunking-form/samples/filenames-patterns/_expected/es/entry-main1-C1NpPrtA-es.js
  test/chunking-form/samples/filenames-patterns/_expected/es/entry-main1-DCmtsuTI-es.js
  test/chunking-form/samples/filenames-patterns/_expected/system/entry-main1-Biq2O0X--system.js
Due: eslint --fix

Include context with call arguments
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/scopes/FunctionScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/variables/LocalVariable.ts
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/amd/generated-module10.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/amd/generated-module2.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/amd/generated-module5.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/cjs/generated-module10.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/cjs/generated-module2.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/cjs/generated-module5.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/es/generated-module10.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/es/generated-module2.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/es/generated-module5.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/system/generated-module10.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/system/generated-module2.js
  test/chunking-form/samples/dynamic-import-with-namespace/_expected/system/generated-module5.js
  test/form/samples/deep-properties/_expected.js
  test/form/samples/minimal-this-mutation/_expected.js
  test/form/samples/object-literal-property-overwrites/_expected.js
  test/form/samples/optional-chaining-null-values/_expected.js
  test/form/samples/side-effects-getters-and-setters/_expected.js
Due: eslint --fix

Improve handling of unknown keys in inclusion tracker
  src/ast/utils/PathTracker.ts
Due: eslint --fix

Only include properties of arguments that are used or destructured
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/argument-deoptimization/no-default-deoptimization/_expected.js
  test/form/samples/object-expression-treeshaking/only-include-destructured-parameter-props/_config.js
  test/form/samples/object-expression-treeshaking/only-include-destructured-parameter-props/_expected.js
  test/form/samples/object-expression-treeshaking/only-include-destructured-parameter-props/main.js
  test/form/samples/object-expression-treeshaking/remove-unused-parameter-props-external-call/_config.js
  test/form/samples/object-expression-treeshaking/remove-unused-parameter-props-external-call/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-parameter-props-external-call/main.js
  test/form/samples/object-expression-treeshaking/remove-unused-parameter-props/_config.js
  test/form/samples/object-expression-treeshaking/remove-unused-parameter-props/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-parameter-props/main.js
  test/form/samples/object-expression-treeshaking/remove-unused-props/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-props/main.js
  test/function/samples/deoptimize-via-arguments/main.js
  test/function/samples/object-expression-treeshaking/include-this-unknown-function/_config.js
  test/function/samples/object-expression-treeshaking/include-this-unknown-function/main.js
Due: eslint --fix, prettier --write

Replace included paths with a constant when an unknown path is included
  src/ast/utils/PathTracker.ts
Due: eslint --fix

chore: lint ClassBody
  src/ast/nodes/ClassBody.ts
Due: eslint --fix

chore: lint Node
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

chore: lint Bundle
  src/Bundle.ts
Due: eslint --fix

chore: lint es
  src/finalisers/es.ts
Due: eslint --fix

Do not check audit while installing
  scripts/prepare-release.js
Due: none

4.25.0-0
  browser/package.json
  package-lock.json
  package.json
Due: none

chore: update ast-types for the array
  scripts/ast-types.js
Due: none

fix: unshift scope
  src/ast/bufferParsers.ts
Due: eslint --fix

chore: remove empty lines
  src/ast/bufferParsers.ts
Due: eslint --fix

chore: remove empty lines from ast-types
  scripts/ast-types.js
Due: none

Update index.md
  docs/command-line-interface/index.md
Due: none

Update docs/command-line-interface/index.md
  docs/command-line-interface/index.md
Due: none

feat: Add support for injecting Debug IDs
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderChunks.ts
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
  test/sourcemaps/samples/debug-ids/_config.js
  test/sourcemaps/samples/debug-ids/bar.js
  test/sourcemaps/samples/debug-ids/foo.js
  test/sourcemaps/samples/debug-ids/main.js
Due: eslint --fix, prettier --write

add test
  test/function/samples/tree-shaking-proxy/_config.js
  test/function/samples/tree-shaking-proxy/main.js
Due: eslint --fix, prettier --write

tricking the proxied object for target parameter
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/identifyNode.ts
Due: eslint --fix

add the fallback to deoptimize target
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/identifyNode.ts
  test/function/samples/tree-shaking-proxy-2/_config.js
  test/function/samples/tree-shaking-proxy-2/main.js
Due: eslint --fix, prettier --write

improve coverage
  test/function/samples/tree-shaking-proxy/main.js
Due: none

Add docs
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
Due: none

PR review changes and full coverage
  cli/help.md
  docs/configuration-options/index.md
  test/sourcemaps/samples/debug-ids-with-placeholder/_config.js
  test/sourcemaps/samples/debug-ids-with-placeholder/bar.js
  test/sourcemaps/samples/debug-ids-with-placeholder/foo.js
  test/sourcemaps/samples/debug-ids-with-placeholder/main.js
Due: eslint --fix, prettier --write

Use a less surprising base-16 encoding
  rust/xxhash/src/lib.rs
  test/chunking-form/samples/hashing/base-16/_expected/amd/dep-9748f597e7f841.js
  test/chunking-form/samples/hashing/base-16/_expected/amd/main1-32c81258.js
  test/chunking-form/samples/hashing/base-16/_expected/amd/main1-c7c1549b.js
  test/chunking-form/samples/hashing/base-16/_expected/amd/main2-b28d1351.js
  test/chunking-form/samples/hashing/base-16/_expected/amd/main2-fe4f34dc.js
  test/chunking-form/samples/hashing/base-16/_expected/amd/test-b85fb84286751ed058.txt
  test/chunking-form/samples/hashing/base-16/_expected/cjs/dep-8e72f6a548dc1a.js
  test/chunking-form/samples/hashing/base-16/_expected/cjs/main1-2af756cb.js
  test/chunking-form/samples/hashing/base-16/_expected/cjs/main2-e8d99f43.js
  test/chunking-form/samples/hashing/base-16/_expected/cjs/test-b85fb84286751ed058.txt
  test/chunking-form/samples/hashing/base-16/_expected/es/dep-ea4271148a0859.js
  test/chunking-form/samples/hashing/base-16/_expected/es/main1-2ba5365c.js
  test/chunking-form/samples/hashing/base-16/_expected/es/main1-e88c4e75.js
  test/chunking-form/samples/hashing/base-16/_expected/es/main2-11f6fea7.js
  test/chunking-form/samples/hashing/base-16/_expected/es/main2-c2fcf802.js
  test/chunking-form/samples/hashing/base-16/_expected/es/test-b85fb84286751ed058.txt
  test/chunking-form/samples/hashing/base-16/_expected/system/dep-fc1ce55215e47e.js
  test/chunking-form/samples/hashing/base-16/_expected/system/main1-9428b54c.js
  test/chunking-form/samples/hashing/base-16/_expected/system/main2-bae4f47a.js
  test/chunking-form/samples/hashing/base-16/_expected/system/test-b85fb84286751ed058.txt
Due: none
