Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Remove default parameter tree-shaking logic
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/form/samples/parameter-defaults/default-parameter-side-effects/_config.js
  test/form/samples/parameter-defaults/default-parameter-side-effects/_expected.js
  test/form/samples/parameter-defaults/default-parameter-side-effects/main.js
  test/form/samples/parameter-defaults/functions/_config.js
  test/form/samples/parameter-defaults/functions/_expected.js
  test/form/samples/parameter-defaults/functions/main.js
  test/form/samples/parameter-defaults/non-literal-arguments/_config.js
  test/form/samples/parameter-defaults/non-literal-arguments/_expected.js
  test/form/samples/parameter-defaults/non-literal-arguments/main.js
  test/form/samples/parameter-defaults/side-effects/_config.js
  test/form/samples/parameter-defaults/side-effects/_expected/amd.js
  test/form/samples/parameter-defaults/side-effects/_expected/cjs.js
  test/form/samples/parameter-defaults/side-effects/_expected/es.js
  test/form/samples/parameter-defaults/side-effects/_expected/iife.js
  test/form/samples/parameter-defaults/side-effects/_expected/system.js
  test/form/samples/parameter-defaults/side-effects/_expected/umd.js
  test/form/samples/parameter-defaults/side-effects/main.js
  test/form/samples/parameter-defaults/super-class-methods/_config.js
  test/form/samples/parameter-defaults/super-class-methods/_expected.js
  test/form/samples/parameter-defaults/super-class-methods/main.js
  test/form/samples/parameter-defaults/termplate-tags/_config.js
  test/form/samples/parameter-defaults/termplate-tags/_expected.js
  test/form/samples/parameter-defaults/termplate-tags/main.js
  test/form/samples/treeshake-excess-arguments/unused-parameters/_expected.js
Due: eslint --fix, prettier --write

Clean up deoptimizations
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/YieldExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionBase.ts
  test/function/samples/class-method-getter-properties/_config.js
  test/function/samples/class-method-getter-properties/main.js
Due: eslint --fix, prettier --write

Clean up deoptimizations
  test/cli/samples/plugin/basic/_expected.js
  test/cli/samples/plugin/basic/main.js
Due: none

docs: change `dep.js` to `polyfill.js` in faqs
  docs/06-faqs.md
Due: none

Pick "this"-argument from interaction
  src/ast/NodeInteractions.ts
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/SpreadElement.ts
  src/ast/nodes/Super.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ThisVariable.ts
Due: eslint --fix

Rename event -> interaction
  src/ast/NodeEvents.ts
  src/ast/NodeInteractions.ts
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/SpreadElement.ts
  src/ast/nodes/Super.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/TemplateLiteral.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ThisVariable.ts
Due: eslint --fix

Add additional interaction parameters
  src/ast/CallOptions.ts
  src/ast/NodeInteractions.ts
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/values.ts
Due: eslint --fix

Use objects for interactions
  src/ast/NodeInteractions.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
Due: eslint --fix

Refactor MemberExpression assignment logic to prepare for new interactions
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/MemberExpression.ts
Due: eslint --fix

Use interaction for getReturnExpression
  src/ast/NodeInteractions.ts
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

Fix accessor handling for loops and updated expressions
  src/ast/NodeInteractions.ts
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/SpreadElement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/UpdateExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/variables/ExternalVariable.ts
  src/ast/variables/Variable.ts
  test/function/samples/for-in-accessors/_config.js
  test/function/samples/for-in-accessors/main.js
  test/function/samples/for-of-accessors/_config.js
  test/function/samples/for-of-accessors/main.js
  test/function/samples/update-expression-accessors/_config.js
  test/function/samples/update-expression-accessors/main.js
Due: eslint --fix, prettier --write

Simplify ObjectEntity effect handling
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
Due: eslint --fix

Change assignment to use args property
  src/ast/NodeInteractions.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/Node.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ThisVariable.ts
Due: eslint --fix

Simplify assignment handling
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/UpdateExpression.ts
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

Cache remaining interactions that may be cached
  src/ast/NodeInteractions.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/SpreadElement.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/values.ts
Due: eslint --fix

Improve coverage
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ObjectPattern.ts
  src/ast/nodes/SequenceExpression.ts
Due: eslint --fix

chore: remove source map workaround
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: none

chore: bump deps
  package-lock.json
  package.json
Due: none

chore: bump typescript
  package-lock.json
  package.json
Due: none

chore: bump core-js
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

chore: bump es5-shim
  package-lock.json
  package.json
  test/form/samples/supports-es5-shim/_expected.js
Due: none

chore: bump transitive dependencies (rebuild package-lock)
  package-lock.json
Due: none

Treeshake instanceof
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/utils/PathTracker.ts
  test/form/samples/instanceof/_config.js
  test/form/samples/instanceof/_expected.js
  test/form/samples/instanceof/main.js
  test/form/samples/invalid-binary-expressions/_expected.js
Due: eslint --fix, prettier --write

Fix side effect and self-reference handling
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/utils/PathTracker.ts
  test/form/samples/instanceof/_expected.js
  test/form/samples/instanceof/main.js
  test/form/samples/invalid-binary-expressions/_expected.js
  test/function/samples/instanceof/left-hand-effect/_config.js
  test/function/samples/instanceof/left-hand-effect/main.js
  test/function/samples/instanceof/right-hand-effect/_config.js
  test/function/samples/instanceof/right-hand-effect/main.js
  test/function/samples/instanceof/used/_config.js
  test/function/samples/instanceof/used/main.js
Due: eslint --fix, prettier --write

Remove feature and add regression test
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/utils/PathTracker.ts
  test/form/samples/instanceof/_config.js
  test/form/samples/instanceof/_expected.js
  test/form/samples/instanceof/main.js
  test/function/samples/instanceof/used-parameter/_config.js
  test/function/samples/instanceof/used-parameter/main.js
Due: eslint --fix, prettier --write

chore: Set permissions for GitHub actions
  .github/workflows/tests.yml
Due: none

fix: rename Array.prototype.group/groupToMap
  src/ast/nodes/shared/ArrayPrototype.ts
  test/form/samples/builtin-prototypes/array-expression/_expected.js
  test/form/samples/builtin-prototypes/array-expression/main.js
Due: eslint --fix
