Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Return the buffer of the syntax error in parse_ast
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/node_types.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  src/Graph.ts
Due: eslint --fix

Initial annotation support
  rust/parse_ast/src/convert_ast.rs
  rust/parse_ast/src/convert_ast/annotations.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  rust/parse_ast/src/lib.rs
  src/ast/nodes/shared/Node.ts
  src/utils/commentAnnotations.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Remove invalid annotations
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  src/ast/nodes/shared/Node.ts
  src/utils/commentAnnotations.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Put annotation types into string table
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  src/ast/nodes/shared/Node.ts
  src/utils/convert-ast-strings.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Support nested calls and new expressions
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/analyze_code.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  src/utils/convert-ast.ts
Due: eslint --fix

Improve tree-shaking for annotations
  rust/parse_ast/src/convert_ast/converter.rs
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/ChainExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/shared/Node.ts
  src/utils/treeshakeNode.ts
Due: eslint --fix

Adapt test
  test/form/samples/pure-comment-line-break/dep.js
  test/form/samples/pure-comment-line-break/main.js
Due: none

Properly handle line-breaks, commas etc.
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/LogicalExpression.ts
  src/utils/convert-ast.ts
  src/utils/treeshakeNode.ts
  test/form/samples/pure-comment-line-break/_expected.js
  test/form/samples/pure-comment-line-break/main.js
Due: eslint --fix

Mark nested pure annotations as pure
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/nested-pure-comments/main.js
Due: none

Remove sourcemap comments
  rust/parse_ast/src/convert_ast/annotations.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  test/form/samples/pure-comment-scenarios-simple/_expected.js
  test/misc/misc.js
Due: none

Update npm for Node 14 on CI
  .github/workflows/tests.yml
Due: none

Fix vitepress
  cli/run/watch-cli.ts
  package-lock.json
  package.json
Due: none

Fix CI Node version
  .github/workflows/repl-artefacts.yml
Due: none

Fix tests
  test/form/samples/supports-core-js/_expected.js
Due: none

Handle function side effect annotatinos
  rust/parse_ast/src/convert_ast/annotations.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  rust/parse_ast/src/lib.rs
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/ast/nodes/ExportNamedDeclaration.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  src/utils/convert-ast.ts
  test/form/samples/no-side-effects-function-declaration-preserve/_config.js
  test/form/samples/no-side-effects-function-declaration-preserve/_expected.js
  test/form/samples/no-side-effects-function-declaration-preserve/functions.js
  test/form/samples/no-side-effects-function-declaration/_config.js
  test/form/samples/no-side-effects-function-declaration/functions.js
  test/test.js
Due: eslint --fix, prettier --write

Remove old comment-handling code
  src/utils/commentAnnotations.ts
Due: eslint --fix

Increase timeout for browser tests
  test/browser/index.js
Due: eslint --fix, prettier --write

Only skip the tests that still fail
  src/rollup/types.d.ts
  test/cli/samples/config-defineConfig-mjs/_config.js
  test/cli/samples/unfulfilled-hook-actions-error/_config.js
  test/cli/samples/validate/_config.js
  test/cli/samples/watch/bundle-error/_config.js
  test/function/samples/call-marked-pure-with-plugin-parse-ast/_config.js
  test/function/samples/double-default-export/_config.js
  test/function/samples/double-named-export/_config.js
  test/function/samples/double-named-reexport/_config.js
  test/function/samples/duplicate-import-fails/_config.js
  test/function/samples/duplicate-import-specifier-fails/_config.js
  test/function/samples/error-parse-json/_config.js
  test/function/samples/error-parse-unknown-extension/_config.js
  test/function/samples/export-not-at-top-level-fails/_config.js
  test/function/samples/import-not-at-top-level-fails/_config.js
  test/function/samples/plugin-parse-ast-receives-comments/_config.js
  test/function/samples/plugin-parse-ast-receives-comments/main.js
  test/function/samples/validate-output/_config.js
  test/load-config-file/index.js
  test/test.js
  test/watch/index.js
Due: eslint --fix, prettier --write

Run coverage again on CI
  .github/workflows/build-and-tests.yml
Due: none

Get the buffer of pos and message from the Syntax error
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  src/Graph.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Fix relative external resolution
  src/utils/relativeId.ts
  test/chunking-form/samples/relative-external-outside-output/_config.js
  test/chunking-form/samples/relative-external-outside-output/_expected/amd/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/amd/nested/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/cjs/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/cjs/nested/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/es/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/es/nested/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/system/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/system/nested/main.js
  test/chunking-form/samples/relative-external-outside-output/main.js
  test/chunking-form/samples/relative-external-outside-output/nested/main.js
Due: eslint --fix, prettier --write

Handle the lint errors from SWC
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
Due: none

Reenable tests about parse errors and adjust some relevant code
  src/ast/nodes/Identifier.ts
  src/utils/logs.ts
  test/cli/samples/validate/_config.js
  test/cli/samples/watch/bundle-error/_config.js
  test/function/samples/double-default-export/_config.js
  test/function/samples/double-named-export/_config.js
  test/function/samples/double-named-reexport/_config.js
  test/function/samples/duplicate-import-fails/_config.js
  test/function/samples/duplicate-import-specifier-fails/_config.js
  test/function/samples/error-parse-json/_config.js
  test/function/samples/export-not-at-top-level-fails/_config.js
  test/function/samples/import-not-at-top-level-fails/_config.js
  test/function/samples/reassign-import-fails/_config.js
  test/function/samples/reassign-import-fails/foo.js
  test/function/samples/reassign-import-not-at-top-level-fails/_config.js
  test/function/samples/reassign-import-not-at-top-level-fails/foo.js
  test/function/samples/update-expression-of-import-fails/_config.js
  test/function/samples/update-expression-of-import-fails/foo.js
  test/function/samples/validate-output/_config.js
  test/watch/index.js
Due: eslint --fix, prettier --write

Emit native.js to native.cjs
  build-plugins/external-native-import.ts
Due: none

Add cjs extension for native importee when bundling for ESM
  rollup.config.ts
Due: none

Change native importee with replace plugin and emit native.cjs in napi build
  build-plugins/external-native-import.ts
  native.cjs
  package.json
  rollup.config.ts
Due: none

Silence the linter for importing native
  src/Graph.ts
Due: eslint --fix

Use node:path to resolve native binding files
  build-plugins/external-native-import.ts
Due: none

Add Node WASM files to Native packages for StackBlitz and similar use cases
  .github/workflows/build-and-tests.yml
  npm/android-arm-eabi/package.json
  npm/android-arm64/package.json
  npm/darwin-arm64/package.json
  npm/darwin-x64/package.json
  npm/linux-arm-gnueabihf/package.json
  npm/linux-arm64-gnu/package.json
  npm/linux-arm64-musl/package.json
  npm/linux-x64-gnu/package.json
  npm/linux-x64-musl/package.json
  npm/win32-arm64-msvc/package.json
  npm/win32-ia32-msvc/package.json
  npm/win32-x64-msvc/package.json
  package.json
  scripts/copy-wasm-node.js
Due: none

Unignore *.d.ts in the wasm dir
  .gitignore
  package.json
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: none

4.0.0-5
  .github/workflows/build-and-tests.yml
  browser/package.json
  package.json
  scripts/copy-wasm-node.js
Due: none

Fix copy-wasm-node.js
  scripts/copy-wasm-node.js
Due: none

4.0.0-6
  browser/package.json
  package.json
Due: none

Check publish
  .github/workflows/build-and-tests.yml
Due: none

Remove .gitignore in wasm-node directory
  .gitignore
  package.json
Due: none

4.0.0-7
  browser/package.json
  package.json
Due: none

Include .cjs files when publishing rollup to npm
  package.json
Due: none

4.0.0-8
  browser/package.json
  package.json
Due: none
