Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix JSDoc types for internal scripts
  scripts/perf.js
Due: none

docs: fix grammar
  docs/configuration-options/index.md
Due: none

Change ProgramAst to ProgramNode
  src/Graph.ts
  src/rollup/types.d.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Correctly handling number key
  src/utils/identifierHelpers.ts
  test/form/samples/index-key/_config.js
  test/form/samples/index-key/_expected/amd.js
  test/form/samples/index-key/_expected/cjs.js
  test/form/samples/index-key/_expected/es.js
  test/form/samples/index-key/_expected/iife.js
  test/form/samples/index-key/_expected/system.js
  test/form/samples/index-key/_expected/umd.js
  test/form/samples/index-key/main.js
  test/form/samples/index-key/x.js
Due: eslint --fix, prettier --write

Correctly handling number key
  src/utils/identifierHelpers.ts
Due: eslint --fix

Handles pure annotations that are separated by a comment
  rust/parse_ast/src/convert_ast/annotations.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  test/form/samples/pure-comment-not-first/_config.js
  test/form/samples/pure-comment-not-first/_expected.js
  test/form/samples/pure-comment-not-first/main.js
Due: eslint --fix, prettier --write

Correctly handling number key
  test/form/samples/index-key/_config.js
Due: eslint --fix, prettier --write

Fix typo in commondir.ts
  src/utils/commondir.ts
Due: eslint --fix

build: static link msvc runtime on Windows x64 platform
  .github/workflows/build-and-tests.yml
Due: none

Normalize resolveId source
  src/utils/resolveId.ts
Due: eslint --fix

Add type check for script files
  scripts/perf.js
Due: none

Generate additional Rust constants, remove old types
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/node_types.rs
  rust/parse_ast/src/error_emit.rs
  scripts/ast-types.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/utils/buffer-to-ast.ts
Due: eslint --fix

Make it work for simple program
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/ast/nodes/shared/Node.ts
  src/utils/buffer-to-ast.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/parseAst.ts
Due: eslint --fix

Generate Rust type constants
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  scripts/helpers.js
Due: none

Sort types
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Add missing AST types
  .github/workflows/build-and-tests.yml
  package.json
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  scripts/generate-ast-converters.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/utils/buffer-to-ast.ts
  src/utils/convert-ast.ts
  test/form/samples/hoisted-vars-in-dead-branches/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/function/samples/plugin-parse-ast-remove-sourcemapping/main.js
Due: eslint --fix

Support optional nodes
  scripts/ast-types.js
  scripts/generate-ast-converters.js
  src/utils/buffer-to-ast.ts
Due: eslint --fix

Start work on AST converter
  package-lock.json
  package.json
  scripts/ast-types.js
  scripts/generate-ast-converters.js
  scripts/helpers.js
  src/utils/buffer-to-ast.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Use script types
  scripts/perf.js
Due: none

Add convertNodeList helper
  scripts/generate-ast-converters.js
  src/utils/buffer-to-ast.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Unify and simplify conversion logic
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/utils/buffer-to-ast.ts
Due: eslint --fix

Rename file
  scripts/generate-buffer-to-ast.js
Due: none

Add flags
  scripts/ast-types.js
  scripts/generate-ast-converters.js
  src/utils/buffer-to-ast.ts
Due: eslint --fix

Add types
  scripts/ast-types.js
  scripts/generate-ast-converters.js
  src/utils/buffer-to-ast.ts
Due: eslint --fix

Use fallback logic to make some node conversions nicer
  scripts/ast-types.js
  scripts/generate-buffer-to-ast.js
  src/utils/buffer-to-ast.ts
Due: eslint --fix

Allow to specify duplicated nodes
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
Due: none

Fix failed merge
  scripts/ast-types.js
  scripts/perf.js
Due: none

Also type-check d.ts files
  docs/tsconfig.json
  package-lock.json
  package.json
  scripts/tsconfig.json
  test/typescript/tsconfig.json
  tsconfig.json
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
