Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Move static flag to first position
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Create new perf script that measures against node_modules rollup
  package.json
  scripts/find-config.js
  scripts/perf-init.js
  scripts/perf.js
  scripts/tsconfig.json
  src/Module.ts
Due: eslint --fix

Run form tests twice to improve coverage
  src/Module.ts
  test/cli/samples/config-defineConfig-mjs/_config.js
  test/cli/samples/unfulfilled-hook-actions-error/_config.js
  test/form/index.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_config.js
  test/form/samples/interop-per-dependency-no-live-binding/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/load-config-file/index.js
  test/misc/parse-ast.js
  test/utils.js
Due: eslint --fix, prettier --write

Add remaining customizations
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
Due: eslint --fix

Avoid unnecessary cache generation
  cli/run/index.ts
  src/Module.ts
Due: eslint --fix

Test panic errors for synchronous parsing
  test/function/samples/catch-rust-panic-parse/_config.js
  test/function/samples/catch-rust-panic-parse/main.js
Due: eslint --fix, prettier --write

Do not run the leak test locally on npm test
  package.json
Due: none

Test custom AST
  test/form/samples/custom-ast/_config.js
  test/form/samples/custom-ast/_expected.js
  test/form/samples/custom-ast/dep.js
  test/form/samples/custom-ast/main.js
Due: eslint --fix, prettier --write

Remove unnecessary conditional
  scripts/ast-types.js
  src/ast/bufferParsers.ts
Due: eslint --fix

Add descriptions for all relevant test categories
  CONTRIBUTING.md
  test/types.d.ts
Due: none

Rename `getRollupEror` to `getRollupError`
  scripts/generate-buffer-to-ast.js
  src/ast/nodes/PanicError.ts
  src/ast/nodes/ParseError.ts
  src/utils/bufferToAst.ts
  src/utils/logs.ts
Due: eslint --fix

fix: escape ids in `import.meta.ROLLUP_FILE_URL_referenceId` correctly
  src/ast/nodes/MetaProperty.ts
  test/form/samples/emit-asset-file/_config.js
  test/form/samples/emit-asset-file/_expected/amd.js
  test/form/samples/emit-asset-file/_expected/cjs.js
  test/form/samples/emit-asset-file/_expected/es.js
  test/form/samples/emit-asset-file/_expected/iife.js
  test/form/samples/emit-asset-file/_expected/system.js
  test/form/samples/emit-asset-file/_expected/umd.js
  test/form/samples/emit-asset-file/logo_reverse'.svg
  test/form/samples/emit-asset-file/main.js
Due: eslint --fix, prettier --write

Fix comment line breaks and typo
  src/utils/chunkAssignment.ts
Due: eslint --fix

WR24 Scope analysis: simplify code
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Do not inline String Fields
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Update converters to reflect changes to inlining strings
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
Due: none

WR24 Scope analysis: add scope to buffer for program WIP
  rust/parse_ast/src/convert_ast/converter.rs
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
Due: eslint --fix

Cache Positions of Strings for reuse
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

WR24 Scope analysis: fix initial buffer size [wip]
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/ast/bufferParsers.ts
  src/ast/nodes/Program.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Fix documentation typo
  scripts/ast-types.js
Due: none

WR24 Scope analysis: fix node parsing from buffer
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
Due: eslint --fix

simplify the code and make it more idiomatic
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Use position of reference correctly
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

WR24 Scope analysis: Auto-generate rust constants for scope types
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  scripts/generate-rust-constants.js
Due: none

chore: fix typo
  build-plugins/replace-browser-modules.ts
  src/ast/nodes/ArrayPattern.ts
Due: eslint --fix

Create snyk-security.yml (#10)
  .github/workflows/snyk-security.yml
Due: none

feat: show all cause in Error
  cli/logging.ts
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
