Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Simplify import
  src/Module.ts
Due: eslint --fix

Fix a typo in 'Direct plugin communication' code example
  docs/05-plugin-development.md
Due: none

Document how resolveId is cached
  docs/05-plugin-development.md
  docs/build-hooks.mmd
Due: none

Print ids for unfinished moduleParsed and shouldTransformCachedModule hooks
  .eslintrc.js
  src/utils/hookActions.ts
  test/cli/samples/unfulfilled-hook-actions/_config.js
  test/cli/samples/unfulfilled-hook-actions/buggy-plugin.js
  test/cli/samples/unfulfilled-hook-actions/e.js
  test/cli/samples/unfulfilled-hook-actions/main.js
  test/cli/samples/unfulfilled-hook-actions/rollup.config.js
Due: eslint --fix, prettier --write

Fix linting
  test/cli/samples/config-async-function/rollup.config.js
  test/cli/samples/config-cwd-case-insensitive/rollup.config.js
  test/cli/samples/config-defineConfig-cjs/rollup.config.js
  test/cli/samples/config-env-multiple/rollup.config.js
  test/cli/samples/config-env/rollup.config.js
  test/cli/samples/config-es6/rollup.config.js
  test/cli/samples/config-external-function/rollup.config.js
  test/cli/samples/config-external/rollup.config.js
  test/cli/samples/config-function/rollup.config.js
  test/cli/samples/config-json/rollup.config.js
  test/cli/samples/config-multiple-getfilename/rollup.config.js
  test/cli/samples/config-multiple-source-maps/rollup.config.js
  test/cli/samples/config-no-output/rollup.config.js
  test/cli/samples/config-override/rollup.config.js
  test/cli/samples/config-true/rollup.config.js
  test/cli/samples/config/rollup.config.js
  test/cli/samples/custom-frame-with-pos/rollup.config.js
  test/cli/samples/custom-frame/rollup.config.js
  test/cli/samples/emit-file-multiple-dirs/rollup.config.js
  test/cli/samples/generated-code-preset-override/rollup.config.js
  test/cli/samples/merge-deprecations/rollup.config.js
  test/cli/samples/multiple-configs/rollup.config.js
  test/cli/samples/paths-output-option/rollup.config.js
  test/cli/samples/plugin/advanced-esm/rollup.config.js
  test/cli/samples/plugin/advanced/rollup.config.js
  test/cli/samples/plugin/named-export/rollup.config.js
  test/cli/samples/silent-onwarn/rollup.config.js
  test/cli/samples/symlinked-config/rollup.config.symlinked
  test/cli/samples/treeshake-preset-override/rollup.config.js
  test/cli/samples/warn-unknown-options/rollup.config.js
  test/cli/samples/watch/bundle-error/rollup.config.js
  test/cli/samples/watch/close-error/rollup.config.js
  test/cli/samples/watch/close-on-generate-error/rollup.config.js
  test/cli/samples/watch/no-clearScreen/rollup.config.js
  test/cli/samples/watch/no-watch-by-default/rollup.config.js
  test/load-config-file/samples/basic/rollup.config.js
Due: none

Do not swallow other errors when there are unfinished hook actions
  src/utils/hookActions.ts
  test/cli/samples/unfulfilled-hook-actions-error/_config.js
  test/cli/samples/unfulfilled-hook-actions-error/_expected.js
  test/cli/samples/unfulfilled-hook-actions-error/a.js
  test/cli/samples/unfulfilled-hook-actions-error/b.js
  test/cli/samples/unfulfilled-hook-actions-error/build.mjs
  test/cli/samples/unfulfilled-hook-actions-error/c.js
  test/cli/samples/unfulfilled-hook-actions-error/index.js
Due: eslint --fix, prettier --write

Add dependencies to shouldTransform hook
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  test/incremental/index.js
Due: eslint --fix, prettier --write

Test errors in shouldTransform are handled correctly
  test/function/samples/plugin-error-should-transform/_config.js
  test/function/samples/plugin-error-should-transform/main.js
Due: eslint --fix, prettier --write

Provide resolvedSources instead of importedIds
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  test/incremental/index.js
Due: eslint --fix, prettier --write

refactor: use map for declarations and name suggestions
  src/ExternalModule.ts
Due: eslint --fix

refactor: remove else condition
  src/Module.ts
Due: eslint --fix

refactor: use map for namespace reexports by name
  src/Module.ts
Due: eslint --fix

remove explicit type assignment
  src/Module.ts
Due: eslint --fix

refactor: remove variable, use context property directly
  src/Module.ts
Due: eslint --fix

refactor: remove unnecessary array assignment
  src/Module.ts
Due: eslint --fix

refactor: use includes where appropriate
  cli/run/index.ts
  docs/05-plugin-development.md
  src/Chunk.ts
  src/finalisers/iife.ts
  src/utils/getExportMode.ts
  src/utils/options/mergeOptions.ts
  src/utils/path.ts
  src/watch/watch.ts
  test/browser/index.js
  test/chunking-form/index.js
  test/cli/samples/external-modules-auto-global/_config.js
  test/cli/samples/external-modules/_config.js
  test/form/index.js
  test/function/samples/function-directive-not-first/_config.js
  test/function/samples/member-expression-assignment-in-function/_config.js
  test/function/samples/preload-cyclic-module/_config.js
  test/function/samples/relative-external-include-once-two-external/_config.js
  test/function/samples/transparent-dynamic-inlining/_config.js
  test/misc/iife.js
  test/misc/umd.js
  test/sourcemaps/samples/existing-external-sourcemaps-combined/_config.js
  test/sourcemaps/samples/existing-inline-sourcemaps-combined/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

use readonly set
  src/Bundle.ts
  src/utils/PluginDriver.ts
Due: eslint --fix

refactor: re-use Array.prototype.map, remove Array.from map function
  src/Chunk.ts
Due: eslint --fix

refactor: remove else block
  src/ModuleLoader.ts
Due: eslint --fix

refactor: use logical nullish assignment
  src/ModuleLoader.ts
Due: eslint --fix

fix: types
  src/Bundle.ts
Due: eslint --fix

fix: add generic parameters for Map
  cli/run/batchWarnings.ts
Due: none

refactor: simplify
  cli/run/batchWarnings.ts
Due: none

fix: remove type assertion
  cli/run/batchWarnings.ts
Due: none

refactor: create map instance only once
  cli/run/batchWarnings.ts
Due: none

refactor: use object.entries over .keys
  cli/run/timings.ts
Due: none

refactor: simplify
  src/Chunk.ts
  src/ExternalModule.ts
Due: eslint --fix

refactor: remove additional lookup
  src/ExternalModule.ts
Due: eslint --fix

refactor: simplify condition
  src/ExternalModule.ts
Due: eslint --fix

refactor: simplify
  src/rollup/rollup.ts
Due: eslint --fix

remove unnecassary .values call
  src/utils/options/normalizeOutputOptions.ts
Due: eslint --fix

refactor: simplify, use substring
  src/utils/FileEmitter.ts
Due: eslint --fix

remove unnecassary .entries
  src/utils/FileEmitter.ts
  src/watch/watch.ts
Due: eslint --fix
