Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

return null
  docs/configuration-options/index.md
Due: none

Improve types
  src/Module.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

Ensure that all properties of throw statements are included
  src/ast/nodes/ThrowStatement.ts
  test/function/samples/object-expression-treeshaking/throw-object/_config.js
  test/function/samples/object-expression-treeshaking/throw-object/main.js
Due: eslint --fix, prettier --write

Ensure that functions provided to a constructor are properly deoptimized
  src/ast/nodes/shared/IdentifierBase.ts
  test/function/samples/parameters-promise-constructor/_config.js
  test/function/samples/parameters-promise-constructor/main.js
Due: eslint --fix, prettier --write

Make argument inclusion more symmetric (resolves #5823)
  src/ast/nodes/shared/Expression.ts
  src/ast/scopes/ParameterScope.ts
Due: eslint --fix

include the properties that accessed by this
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/scopes/FunctionScope.ts
  test/form/samples/object-tree-shaking-with-this/_config.js
  test/form/samples/object-tree-shaking-with-this/_expected.js
  test/form/samples/object-tree-shaking-with-this/main.js
Due: eslint --fix, prettier --write

include all properties if a rest element is destructed
  src/ast/nodes/ObjectPattern.ts
  test/function/samples/object-tree-shaking-with-rest-element-destructed/_config.js
  test/function/samples/object-tree-shaking-with-rest-element-destructed/main.js
Due: eslint --fix, prettier --write

improve test coverage
  test/form/samples/object-expression-treeshaking/remove-props-via-destructuring/main.js
Due: none

Include all paths of reexports if namespace is used
  src/Module.ts
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/_config.js
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/dep.js
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/lib.js
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/main.js
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/object.js
Due: eslint --fix, prettier --write

fix(deps): update swc monorepo
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: none

replace undefined with void 0 for operator void
  src/ast/nodes/UnaryExpression.ts
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/amd/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/cjs/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/es/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/system/dep2.js
  test/form/samples/nested-member-access/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
  test/form/samples/treeshake-unary/_expected.js
Due: eslint --fix

Refine call argument inclusion
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/ContinueStatement.ts
  src/ast/nodes/LabeledStatement.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/scopes/FunctionScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

feat: add support for linux-loongarch64-musl
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-loongarch64-musl/README.md
  npm/linux-loongarch64-musl/package.json
  package.json
Due: none

Test that argument inclusion works correctly when using try-catch-deopt
  test/function/samples/object-expression-treeshaking/try-statement-return-properties/_config.js
  test/function/samples/object-expression-treeshaking/try-statement-return-properties/main.js
Due: eslint --fix, prettier --write

Refine inclusion and deoptimization logic for reassigned member expressions
  src/ast/nodes/MemberExpression.ts
Due: eslint --fix

return UnknownValue if the usedbranch is unkown and the path is not empty
  src/ast/nodes/LogicalExpression.ts
  test/form/samples/logical-expression-with-property-access/_config.js
  test/form/samples/logical-expression-with-property-access/_expected.js
  test/form/samples/logical-expression-with-property-access/main.js
Due: eslint --fix, prettier --write

avoiding top level await circular
  src/Module.ts
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/index.js
  test/chunking-form/samples/top-level-await-mixed/_config.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib-used.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/main.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib-used.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/main.js
  test/chunking-form/samples/top-level-await-mixed/lib-used.js
  test/chunking-form/samples/top-level-await-mixed/lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/lib.js
  test/chunking-form/samples/top-level-await-mixed/main.js
  test/chunking-form/samples/top-level-await/_config.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib-used.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib-variant.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib.js
  test/chunking-form/samples/top-level-await/_expected/es/main.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib-used.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib-variant.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib.js
  test/chunking-form/samples/top-level-await/_expected/system/main.js
  test/chunking-form/samples/top-level-await/lib-used.js
  test/chunking-form/samples/top-level-await/lib-variant.js
  test/chunking-form/samples/top-level-await/lib.js
  test/chunking-form/samples/top-level-await/main.js
  test/types.d.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
