Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add test
  test/cli/samples/get-chunk-name/_config.js
  test/cli/samples/get-chunk-name/main.js
  test/cli/samples/get-chunk-name/rollup.config.mjs
Due: eslint --fix, prettier --write

remove Windows drive prefix
  src/Chunk.ts
  test/cli/samples/get-chunk-name/_config.js
Due: eslint --fix, prettier --write

fix: Wrong namespace property definition
  src/finalisers/iife.ts
  src/finalisers/shared/setupNamespace.ts
  src/finalisers/umd.ts
  src/utils/logs.ts
  test/misc/iife.js
  test/misc/umd.js
Due: eslint --fix

Rename index.md to Rollupindex.md
  docs/plugin-development/Rollupindex.md
Due: none

Rename docs/plugin-development/index.md to docs/plugin-development.md
  docs/plugin-development.md
Due: none

fix: keep the message of stack up-to-date
  src/utils/logs.ts
  test/cli/samples/config-type-module/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

include left-side effect of optional chaining in the end of hasEffectsAsChainElement
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
  test/form/samples/optional-chaining-with-smallest-treeshake/_config.js
  test/form/samples/optional-chaining-with-smallest-treeshake/_expected.js
  test/form/samples/optional-chaining-with-smallest-treeshake/main.js
Due: eslint --fix, prettier --write

feat: add `AggregateError`, `FinalizationRegistry`, `WeakRef` to knownGlobals
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

Include examples in REPL again
  docs/repl/components/InputHeader.vue
  package-lock.json
  package.json
Due: none

Revert "Do not handle declarations in modules without side effects as TDZ (#5322)"
  src/ast/nodes/Identifier.ts
  test/form/samples/tree-shake-nested-call-no-module-side-effects/_config.js
  test/form/samples/tree-shake-nested-call-no-module-side-effects/_expected.js
  test/form/samples/tree-shake-nested-call-no-module-side-effects/alpha.js
  test/form/samples/tree-shake-nested-call-no-module-side-effects/main.js
Due: eslint --fix, prettier --write

fix: mark the reassigned during the initialization phase
  src/ast/nodes/AssignmentExpression.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/Variable.ts
  test/function/samples/mark-reassigned-during-initialization/_config.js
  test/function/samples/mark-reassigned-during-initialization/dep.js
  test/function/samples/mark-reassigned-during-initialization/main.js
Due: eslint --fix, prettier --write

fix: apply final hashes deterministically with stable placeholders set
  src/utils/renderChunks.ts
  test/misc/misc.js
Due: eslint --fix

Detect variable reassignments in modules without side effects
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/Identifier.ts
  test/function/samples/tree-shake-module-side-effects-update/_config.js
  test/function/samples/tree-shake-module-side-effects-update/dep.js
  test/function/samples/tree-shake-module-side-effects-update/dep2.js
  test/function/samples/tree-shake-module-side-effects-update/main.js
Due: eslint --fix, prettier --write

fix: type in CI file
  .github/workflows/performance-report.yml
Due: none

Update to new inquirer interface
  package-lock.json
  package.json
  scripts/prepare-release.js
Due: none

Partially revert #5658 and re-apply #5644
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/Identifier.ts
  src/utils/renderChunks.ts
  test/function/samples/tree-shake-module-side-effects-update/_config.js
  test/misc/misc.js
Due: eslint --fix, prettier --write

Ensure impure dependencies of pure modules are added
  src/Bundle.ts
  src/Chunk.ts
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/Identifier.ts
  test/function/samples/tree-shake-module-side-effects-dependencies/_config.js
  test/function/samples/tree-shake-module-side-effects-dependencies/dep.js
  test/function/samples/tree-shake-module-side-effects-dependencies/effect.js
  test/function/samples/tree-shake-module-side-effects-dependencies/main.js
  test/function/samples/tree-shake-module-side-effects-dependencies/shared.js
  test/function/samples/tree-shake-module-side-effects-update/_config.js
Due: eslint --fix, prettier --write

4.22.3-0
  browser/package.json
  package-lock.json
  package.json
Due: none

refactor: Use object.prototype to check for reserved properties
  src/finalisers/shared/setupNamespace.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
