Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

lint
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Create a shallow copy when returning meta from resolveId
  src/Module.ts
  test/function/samples/reuse-resolve-meta/_config.js
  test/function/samples/reuse-resolve-meta/main.js
Due: eslint --fix, prettier --write

Improve test reliability
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Increase timeout and repeat
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Try again with a watcher
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Limit how long we wait at most
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Wait a little after initial config write
  test/cli/index.js
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Try using fs.watchfile in the config
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Immediately restart Rollup upon config file changes
  cli/logging.ts
  cli/run/watch-cli.ts
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

See if we can trigger a stuck watcher by writing again
  test/cli/samples/wait-for-bundle-input/_config.js
  test/cli/samples/watch/no-config-file/_config.js
  test/cli/samples/watch/node-config-file/_config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
Due: eslint --fix, prettier --write

Extract retry helper
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

Clean up
  cli/run/watch-cli.ts
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

refactor: re-use source mapping url
  cli/run/build.ts
  cli/sourceMappingUrl.ts
Due: none

refactor: type/named import nits
  cli/run/build.ts
Due: none

refactor: replace require-relative with built-in require.resolve
  LICENSE.md
  cli/run/getConfigPath.ts
  package-lock.json
  package.json
Due: none

chore: bump deps
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
Due: none

chore: remove external from config
  rollup.config.ts
Due: none

simplify named imports
  rollup.config.ts
Due: none

nits
  rollup.config.ts
Due: none

fix: mark fsevents as external
  rollup.config.ts
  src/watch/fsevents-importer.ts
Due: eslint --fix

fix: set interop to default
  rollup.config.ts
Due: none

Revert "fix: mark fsevents as external"
  rollup.config.ts
  src/watch/fsevents-importer.ts
Due: eslint --fix

chore: bump chokidar
  package-lock.json
  package.json
Due: none

simplify alias plugin params
  rollup.config.ts
Due: none

fix: timed plugin context
  src/utils/timers.ts
Due: eslint --fix

Revert "Revert "fix: mark fsevents as external""
  rollup.config.ts
  src/watch/fsevents-importer.ts
Due: eslint --fix

add bogus types for fsevents
  build-plugins/conditional-fsevents-import.ts
  src/watch/fsevents-importer.ts
  typings/fsevents.d.ts
Due: eslint --fix

exclude fsevents from import linting
  .eslintrc.js
Due: none

add back comment
  rollup.config.ts
Due: none

bump typescript
  package-lock.json
  package.json
Due: none

re-use env var
  rollup.config.ts
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
