Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: consider the body of ClassBody has StaticBlock
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/StaticBlock.ts
  src/ast/nodes/shared/ClassNode.ts
Due: eslint --fix

feat: implementing decorator support
  rust/parse_ast/src/ast_nodes/decorator.rs
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/mod.rs
  rust/parse_ast/src/ast_nodes/property_definition.rs
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  rust/parse_ast/src/lib.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/Decorator.ts
  src/ast/nodes/MethodDefinition.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/index.ts
  src/ast/nodes/shared/ClassNode.ts
  src/rollup/types.d.ts
  src/utils/bufferToAst.ts
  test/form/samples/decorator/_config.js
  test/form/samples/decorator/_expected.js
  test/form/samples/decorator/main.js
  test/utils.js
Due: eslint --fix, prettier --write

Do not deoptimize static block
  src/ast/nodes/shared/ClassNode.ts
Due: eslint --fix

debugger
  src/Module.ts
  test/form/samples/decorator/_expected.js
  test/form/samples/decorator/main.js
Due: eslint --fix

refactor(ast): conditional branch
  src/ast/nodes/shared/ObjectEntity.ts
Due: eslint --fix

chore: update
  src/ast/nodes/shared/ObjectEntity.ts
Due: eslint --fix

Update index.md
  docs/tutorial/index.md
Due: none

refactor(finalisers): condition branch
  src/finalisers/shared/getExportBlock.ts
Due: eslint --fix

fix: lint
  src/finalisers/shared/getExportBlock.ts
Due: eslint --fix

Switch to audit resolver to ignore requirejs vulnerability
  .github/workflows/build-and-tests.yml
  audit-resolve.json
  package-lock.json
  package.json
  scripts/prepare-release.js
Due: none

Improve chunk and asset type information in docs
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Fix test and update
  native.d.ts
  scripts/prepare-release.js
Due: none

Adapt code
  package-lock.json
  rust/parse_ast/src/ast_nodes/identifier.rs
  rust/parse_ast/src/ast_nodes/member_expression.rs
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/private_identifier.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
Due: none

Fix types
  scripts/prepare-release.js
  src/utils/options/normalizeOutputOptions.ts
Due: eslint --fix

When tree-shaking logical expression, make sure to remove all trailing white-space.
  src/ast/nodes/LogicalExpression.ts
  test/form/samples/cjs-transpiler-re-exports-1/_expected/execute.mjs
  test/form/samples/cjs-transpiler-re-exports-1/_expected/foo.js
  test/form/samples/cjs-transpiler-re-exports/_expected/execute.mjs
  test/form/samples/cjs-transpiler-re-exports/_expected/foo.js
  test/form/samples/emit-asset-file/_expected/assets/logo_reverse'-DbGK2oiS.svg
  test/form/samples/logical-expression/deopzimize-while-included/_expected.js
  test/form/samples/logical-expression/simplify-non-boolean/_expected.js
  test/form/samples/nullish-coalescing/_expected.js
  test/form/samples/side-effects-logical-expressions/_expected/amd.js
  test/form/samples/side-effects-logical-expressions/_expected/cjs.js
  test/form/samples/side-effects-logical-expressions/_expected/es.js
  test/form/samples/side-effects-logical-expressions/_expected/iife.js
  test/form/samples/side-effects-logical-expressions/_expected/system.js
  test/form/samples/side-effects-logical-expressions/_expected/umd.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal/_expected.js
  test/form/samples/tree-shake-literal-parameter/reexport-function/_expected.js
  test/form/samples/tree-shake-logical-expressions/_expected/amd.js
  test/form/samples/tree-shake-logical-expressions/_expected/cjs.js
  test/form/samples/tree-shake-logical-expressions/_expected/es.js
  test/form/samples/tree-shake-logical-expressions/_expected/iife.js
  test/form/samples/tree-shake-logical-expressions/_expected/system.js
  test/form/samples/tree-shake-logical-expressions/_expected/umd.js
Due: eslint --fix

tweak and fix
  src/ast/nodes/ClassDeclaration.ts
  src/ast/nodes/Decorator.ts
  test/form/samples/decorator-identifiers-deconflict/_expected.js
  test/form/samples/decorator-identifiers-deconflict/first.js
  test/form/samples/decorator-identifiers-deconflict/second.js
Due: eslint --fix

downgrade macOS version in build
  .github/workflows/build-and-tests.yml
Due: none

tree-shaking
  src/ast/nodes/ClassDeclaration.ts
  src/ast/nodes/Decorator.ts
  src/ast/nodes/MethodDefinition.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/utils/checkEffectForNodes.ts
  test/form/samples/decorator-identifiers-deconflict/_config.js
  test/form/samples/decorator-identifiers-deconflict/_expected.js
  test/form/samples/decorator-identifiers-deconflict/first.js
  test/form/samples/decorator-identifiers-deconflict/main.js
  test/form/samples/decorator-identifiers-deconflict/second.js
  test/form/samples/decorator-tree-shaking-2/_config.js
  test/form/samples/decorator-tree-shaking-2/_expected.js
  test/form/samples/decorator-tree-shaking-2/main.js
  test/form/samples/decorator-tree-shaking/_config.js
  test/form/samples/decorator-tree-shaking/_expected.js
  test/form/samples/decorator-tree-shaking/main.js
Due: eslint --fix, prettier --write

Try to use ARM build for tests instead
  .github/workflows/build-and-tests.yml
Due: none

tweak test
  test/form/samples/decorator/_expected.js
  test/form/samples/decorator/main.js
Due: none

ci: the key of node modules cache include target
  .github/workflows/build-and-tests.yml
Due: none

improve coverage
  .vscode/settings.json
  test/form/samples/decorator-tree-shaking/_expected.js
  test/form/samples/decorator-tree-shaking/main.js
Due: none

downgrade macOS version in test
  .github/workflows/build-and-tests.yml
Due: none

Detect side effects of non-call decorators
  src/ast/nodes/Decorator.ts
  test/form/samples/decorator-tree-shaking/_expected.js
  test/form/samples/decorator-tree-shaking/main.js
Due: eslint --fix

fix: find whitespace from operator position to start
  src/ast/nodes/LogicalExpression.ts
  src/utils/renderHelpers.ts
  test/form/samples/remove-whitespace-of-logical-expression/_config.js
  test/form/samples/remove-whitespace-of-logical-expression/_expected.js
  test/form/samples/remove-whitespace-of-logical-expression/main.js
Due: eslint --fix, prettier --write

docs: improve command by code-group
  docs/introduction/index.md
Due: none

Refine logic
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
Due: eslint --fix

Extract shared functionality
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/chainElements.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
