Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix formatting
  package-lock.json
  package.json
Due: none

Add patch-package to prepare script
  package.json
Due: none

fix: move patch-package from postinstall to prepare script (#6172)
  .github/actions/install-and-cache-node-deps/action.yml
  package-lock.json
  package.json
Due: none

4.53.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore: disable Husky and run scripts during node dependency installation
  .github/actions/install-and-cache-node-deps/action.yml
Due: none

Update .github/actions/install-and-cache-node-deps/action.yml
  .github/actions/install-and-cache-node-deps/action.yml
Due: none

handle TemplateElement with null cooked value
  rust/parse_ast/src/ast_nodes/template_element.rs
  scripts/ast-types.js
  scripts/generate-ast-macros.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  src/ast/bufferParsers.ts
  src/ast/nodes/TemplateElement.ts
  src/utils/bufferToAst.ts
  test/function/samples/template-element/_config.js
  test/function/samples/template-element/main.js
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: eslint --fix, prettier --write

fix: Use cross-platform-actions for OpenBSD builds
  .github/workflows/build-and-tests.yml
Due: none

chore: Update OpenBSD version to 7.8
  .github/workflows/build-and-tests.yml
Due: none

handle TemplateElement with null cooked value (#6177)
  rust/parse_ast/src/ast_nodes/template_element.rs
  scripts/ast-types.js
  scripts/generate-ast-macros.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  src/ast/bufferParsers.ts
  src/ast/nodes/TemplateElement.ts
  src/utils/bufferToAst.ts
  test/function/samples/template-element/_config.js
  test/function/samples/template-element/main.js
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: eslint --fix, prettier --write

4.53.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Re-enable TypeScript test
  .github/actions/install-and-cache-node-deps/action.yml
  package.json
Due: none

Re-enable TypeScript test (#6174)
  .github/actions/install-and-cache-node-deps/action.yml
  package.json
Due: none

Switch back to npm-audit-resolver to ignore vulnerabilities
  .github/workflows/build-and-tests.yml
  audit-resolve.json
  package-lock.json
  package.json
  scripts/prepare-release.js
Due: none

Inline install test into regular tests
  .github/workflows/build-and-tests.yml
  package.json
Due: none

Add test-install CI job to test packaging, installation and importing of rollup package
  .github/workflows/build-and-tests.yml
Due: none

Add shell to bash for test-install steps
  .github/workflows/build-and-tests.yml
Due: none

Extract custom action
  .github/actions/prepare-build-artifacts/action.yml
  .github/workflows/build-and-tests.yml
Due: none

Add test-install CI job to test packaging, installation and importing of rollup package (#6171)
  .github/actions/prepare-build-artifacts/action.yml
  .github/workflows/build-and-tests.yml
  package.json
Due: none

Also check left side when assigning to an assignment
  src/ast/nodes/AssignmentExpression.ts
  src/ast/variables/LocalVariable.ts
  test/function/samples/define-property-side-effect-on-local/main.js
Due: eslint --fix

Add failing test
  .github/copilot-instructions.md
  browser/LICENSE.md
  test/function/samples/define-property-side-effect-on-local/_config.js
  test/function/samples/define-property-side-effect-on-local/main.js
Due: eslint --fix, prettier --write

Shorten copilot instructions
  .github/copilot-instructions.md
Due: none

Check if left side is included when checking if assigning to an assignment has side effects (#6183)
  .github/copilot-instructions.md
  browser/LICENSE.md
  src/ast/nodes/AssignmentExpression.ts
  src/ast/variables/LocalVariable.ts
  test/function/samples/define-property-side-effect-on-local/_config.js
  test/function/samples/define-property-side-effect-on-local/main.js
Due: eslint --fix, prettier --write

Tracing the importers chain for exported variables in external module
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
Due: eslint --fix

Add test
  test/function/samples/unused-import-2/_config.js
  test/function/samples/unused-import-2/foo.js
  test/function/samples/unused-import-2/main.js
Due: eslint --fix, prettier --write

Use common helper to create a new Set
  src/ExternalModule.ts
  src/utils/FileEmitter.ts
Due: eslint --fix

Remove unnecessary fallbacks
  src/ExternalModule.ts
  src/Module.ts
Due: eslint --fix

Fix audit
  package-lock.json
Due: none

Tracing the importers chain for exported variables in external module (#6182)
  package-lock.json
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/utils/FileEmitter.ts
  test/function/samples/unused-import-2/_config.js
  test/function/samples/unused-import-2/foo.js
  test/function/samples/unused-import-2/main.js
Due: eslint --fix, prettier --write

4.53.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: Update to cross-platform-actions v0.30.0 and fix native builds
  .github/workflows/build-and-tests.yml
  native.js
Due: none

fix: Improve library detection in OpenBSD build
  .github/workflows/build-and-tests.yml
Due: none

Pin npm version as 11.6.3 is buggy
  .github/workflows/build-and-tests.yml
Due: none

chore: Update checkout action to v5.0.1 in build-openbsd job
  .github/workflows/build-and-tests.yml
Due: none

fix: Use OpenBSD native Rust package instead of rustup
  .github/workflows/build-and-tests.yml
Due: none

Fix syntax error in manualChunks example
  docs/configuration-options/index.md
Due: none

Fix linting
  package-lock.json
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/watch/WatchEmitter.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
