Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Deprecate namespaceToStringTag in favour of generatedCode.symbols
  docs/999-big-list-of-options.md
  test/form/samples/namespace-tostring/entry-named/_config.js
Due: eslint --fix, prettier --write

Fix test
  src/Chunk.ts
  test/function/samples/invalid-top-level-await/_config.js
Due: eslint --fix, prettier --write

Test on Windows
  test/cli/samples/watch/no-config-file/_config.js
  test/cli/samples/watch/node-config-file/_config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
Due: eslint --fix, prettier --write

Update 999-big-list-of-options.md
  docs/999-big-list-of-options.md
Due: none

Test on Windows
  test/cli/samples/custom-frame/_config.js
Due: eslint --fix, prettier --write

Generalize low-resolution sourcemap handling and add tests
  src/utils/collapseSourcemaps.ts
  src/utils/getOriginalLocation.ts
  test/function/samples/warning-low-resolution-location/_config.js
  test/function/samples/warning-low-resolution-location/main.js
  test/sourcemaps/samples/transform-low-resolution/_config.js
  test/sourcemaps/samples/transform-low-resolution/main.js
Due: eslint --fix, prettier --write

Slightly speed up mapping generation
  src/utils/collapseSourcemaps.ts
Due: eslint --fix

Improve coverage
  src/utils/collapseSourcemaps.ts
  src/utils/getOriginalLocation.ts
  test/function/samples/cannot-resolve-sourcemap-warning/_config.js
  test/function/samples/warning-low-resolution-location/_config.js
Due: eslint --fix, prettier --write

Treat unknown prototype methods as unknown
  src/ast/nodes/shared/ObjectPrototype.ts
  test/cli/samples/watch/watch-config-initial-error/_config.js
  test/form/samples/avoid-unnecessary-conditional-deopt/_expected.js
  test/form/samples/avoid-unnecessary-conditional-deopt/main.js
  test/form/samples/class-method-access/_expected.js
  test/form/samples/class-method-access/main.js
  test/form/samples/minimal-this-mutation/_expected.js
  test/form/samples/minimal-this-mutation/main.js
  test/form/samples/optional-chaining/_expected.js
  test/form/samples/optional-chaining/main.js
  test/form/samples/side-effects-class-getters-setters/_expected.js
  test/form/samples/super-classes/super-class-prototype-values/_expected.js
  test/form/samples/super-classes/super-class-prototype-values/main.js
  test/form/samples/undefined-properties/_config.js
  test/form/samples/undefined-properties/_expected.js
  test/form/samples/undefined-properties/main.js
  test/function/samples/retain-unknown-prototype-access/_config.js
  test/function/samples/retain-unknown-prototype-access/main.js
Due: eslint --fix, prettier --write

Improve coverage
  test/form/samples/object-expression/nested-literal-assignment-without-access-side-effect/_config.js
  test/form/samples/object-expression/nested-literal-assignment-without-access-side-effect/_expected.js
  test/form/samples/object-expression/nested-literal-assignment-without-access-side-effect/main.js
  test/form/samples/object-expression/nested-literal-value-without-access-side-effect/_config.js
  test/form/samples/object-expression/nested-literal-value-without-access-side-effect/_expected.js
  test/form/samples/object-expression/nested-literal-value-without-access-side-effect/main.js
Due: eslint --fix, prettier --write

feat: add object-known-globals
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

Also emit END event
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

Fix direct npm install
  package.json
  scripts/update-git-commit.js
Due: none

Await watchChange and closeWatcher hooks
  cli/run/watch-cli.ts
  docs/05-plugin-development.md
  docs/build-hooks.mmd
  src/Graph.ts
  src/rollup/types.d.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

Recovers from errors in the watchChange hook
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

Extract emitter and improve coverage
  src/utils/PluginDriver.ts
  src/watch/WatchEmitter.ts
  src/watch/watch-proxy.ts
Due: eslint --fix

Update docs
  docs/05-plugin-development.md
Due: none

Track unfinished hook actions as regular errors
  browser/hookActions.ts
  src/rollup/rollup.ts
  src/utils/PluginDriver.ts
  src/utils/hookActions.ts
  test/cli/samples/unfulfilled-hook-actions-error/_config.js
  test/cli/samples/unfulfilled-hook-actions-error/build.mjs
  test/cli/samples/unfulfilled-hook-actions-manual-exit/_config.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/_expected.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/a.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/b.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/c.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/index.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/rollup.config.js
  test/cli/samples/unfulfilled-hook-actions/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

Update package.json
  package.json
Due: none

fix: github issue #4439
  cli/run/loadConfigFile.ts
  package-lock.json
  scripts/load-perf-config.js
  src/utils/path.ts
Due: eslint --fix

fix one more regex so it matches all drive letter cases.
  src/utils/sanitizeFileName.ts
Due: eslint --fix

fix: CR feedback on rollup.isSamePath
  cli/run/loadConfigFile.ts
Due: none
