Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix build:docs after rollup update
  docs/.vitepress/config.ts
Due: none

Sanitize input base before computing preserved module chunk names (#6439)
  src/Chunk.ts
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_config.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/amd/helper.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/cjs/helper.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/es/helper.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/system/helper.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/system/main.js
Due: eslint --fix, prettier --write

fix: make isLegal idempotent by not using a global-flag regex (#6432)
  src/utils/identifierHelpers.ts
Due: eslint --fix

Fix build:docs after rollup update (#6460)
  docs/.vitepress/config.ts
Due: none

Update audit resolve
  audit-resolve.json
  package-lock.json
Due: none

4.62.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Add GitHub Actions workflow for npm package publishing
  .github/workflows/npm-publish-github-packages.yml
Due: none

docs: add llms.txt documentation index for LLMs and agents
  docs/public/llms.txt
Due: none

refactor: more direct impl
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodTypes.ts
Due: eslint --fix

fix: rewrite `instanceof` in BinaryExpression
  src/ast/nodes/BinaryExpression.ts
  test/form/samples/object-expression-treeshaking/remove-unused-wellknown-hasInstance/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-wellknown-hasInstance/main.js
Due: eslint --fix

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/destructure-function-length/_config.js
  test/function/samples/destructure-function-length/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

docs: add llms.txt documentation index for LLMs and agents (#6463)
  docs/public/llms.txt
Due: none

Add more tests
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/resolveIdViaPlugins.ts
  test/form/samples/import-attributes/plugin-attributes-resolveid/_config.js
  test/function/samples/same-module-with-diff-attributes/config-options/_config.js
  test/function/samples/same-module-with-diff-attributes/config-options/main.js
  test/function/samples/same-module-with-diff-attributes/export/_config.js
  test/function/samples/same-module-with-diff-attributes/export/lib.js
  test/function/samples/same-module-with-diff-attributes/export/main.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/_config.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/bar.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/foo.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/main.js
  test/function/samples/same-module-with-diff-attributes/import/_config.js
  test/function/samples/same-module-with-diff-attributes/import/main.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/_config.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/main.js
Due: eslint --fix, prettier --write

Support importing the same module with different import attributes
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/finalisers/shared/setupNamespace.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/blank.ts
  src/utils/logs.ts
  src/utils/moduleId.ts
  src/utils/options/mergeOptions.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  src/utils/transform.ts
Due: eslint --fix

Add deprecation and error for importerAttributes
  docs/plugin-development/index.md
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/urls.ts
  test/chunking-form/samples/chunk-assigment-in-dynamic/_config.js
  test/chunking-form/samples/option-virtual-dirname/_config.js
  test/chunking-form/samples/preserve-modules-commonjs/_config.js
  test/chunking-form/samples/preserve-modules-root/_config.js
  test/form/samples/supports-core-js/_config.js
  test/form/samples/supports-es5-shim/_config.js
  test/form/samples/supports-es6-shim/_config.js
  test/function/samples/context-resolve-importer-attributes-conflict/_config.js
  test/function/samples/context-resolve-importer-attributes-conflict/main.js
  test/function/samples/context-resolve-importer-attributes-deprecated/_config.js
  test/function/samples/context-resolve-importer-attributes-deprecated/main.js
  test/function/samples/module-side-effects/writable/_config.js
  test/function/samples/no-treeshake-react/_config.js
  test/function/samples/preload-cyclic-module/_config.js
  test/function/samples/preload-module/_config.js
  test/function/samples/strip-bom-1/_config.js
Due: eslint --fix, prettier --write

Update docs
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Temporarily mock @rollup/plugin-json
  build-plugins/json.ts
  rollup.config.ts
Due: none

Add tests
  test/function/samples/import-image-with-different-attributes/_config.js
  test/function/samples/import-image-with-different-attributes/main.js
Due: eslint --fix, prettier --write

Fix Vite type-compatibility
  docs/.vitepress/config.ts
  scripts/check-typescript.sh
  src/rollup/types.d.ts
Due: eslint --fix

Sort search parameters
  src/utils/moduleId.ts
  test/form/samples/import-attributes/keeps-static-assertions/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/umd.js
Due: eslint --fix

docs: add ?attributes= warning to resolveId hook
  docs/plugin-development/index.md
Due: none

docs: clarify importer in resolveId, add Rollup 5 migration guide, note input attributes, normalize assert syntax to with
  docs/configuration-options/index.md
  docs/migration/index.md
  docs/plugin-development/index.md
Due: none

Add more regression tests
  test/function/samples/query-in-id/static-import/_config.js
  test/function/samples/query-in-id/static-import/main.js
  test/function/samples/query-in-id/this-load/_config.js
  test/function/samples/query-in-id/this-load/main.js
  test/function/samples/query-in-id/this-resolve-importer/_config.js
  test/function/samples/query-in-id/this-resolve-importer/main.js
Due: eslint --fix, prettier --write

docs: add Module identity section explaining rawId, attributes and id
  docs/plugin-development/index.md
Due: none

docs: correct internal id encoding example for import attributes
  docs/plugin-development/index.md
Due: none

Temporarily disable strictDeprecations and bypass the specific warnings
  rollup.config.ts
Due: none

Make if statement a little more straightforward
  src/utils/PluginContext.ts
Due: eslint --fix

Preserve query-like module raw id when adding attributes
  src/utils/moduleId.ts
  test/function/samples/context-resolve-importer-attributes-deprecated/_config.js
  test/function/samples/deprecated/load-attributes/_config.js
  test/function/samples/deprecated/transform-attributes/_config.js
  test/function/samples/same-module-with-diff-attributes/export/_config.js
  test/function/samples/same-module-with-diff-attributes/import/main.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/_config.js
  test/function/samples/same-module-with-diff-attributes/query-like-ids/_config.js
Due: eslint --fix, prettier --write

Update legacy anchor mapping
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
Due: none

Fix linting after dependency updates
  docs/plugin-development/index.md
Due: none

Avoid encoded attributes in external variable names
  src/ExternalModule.ts
Due: eslint --fix

ci: ensure napi cross-toolchain binding is present for glibc-compatible builds
  .github/actions/install-and-cache-node-deps/action.yml
  package-lock.json
  package.json
Due: none

ci: add glibc symbol compatibility check for linux-gnu builds
  .github/workflows/build-and-tests.yml
Due: none

Apply suggestions from code review
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
