Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

build: use @rollup/plugin-replace to replace chokidar fsevents
  build-plugins/conditional-fsevents-import.ts
  build-plugins/fs-events-replacement.ts
  rollup.config.ts
Due: none

Add logging for side effects
  src/Module.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/shared/Node.ts
  test/test.js
Due: eslint --fix, prettier --write

Add logging
  src/utils/chunkAssignment.ts
Due: eslint --fix

Only log top-level effects
  src/Module.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

Use warnings with code frame instead
  src/ast/nodes/Program.ts
  src/utils/getCodeFrame.ts
Due: eslint --fix

Turn into experimentalLogSideEffects feature
  src/ast/nodes/Program.ts
  src/rollup/types.d.ts
  src/utils/chunkAssignment.ts
  src/utils/getCodeFrame.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/cli/samples/log-side-effects/_config.js
  test/cli/samples/log-side-effects/_expected.js
  test/cli/samples/log-side-effects/dep-long-line.js
  test/cli/samples/log-side-effects/dep-mapped.js
  test/cli/samples/log-side-effects/main.js
  test/cli/samples/log-side-effects/rollup.config.mjs
  test/test.js
Due: eslint --fix, prettier --write

Add docs
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/plugin-development/index.md
Due: none

Fix tests
  docs/command-line-interface/index.md
  scripts/test-options.js
  test/function/samples/options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

3.18.0-0
  browser/package.json
  package-lock.json
  package.json
Due: none

Combine Web API known globals, fix comment
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

Add URLPattern
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

Add AggregateError
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

Add WeakRef
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

Fix sorting
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

Remove unused loop
  build-plugins/replace-browser-modules.ts
Due: none

Use Map
  build-plugins/replace-browser-modules.ts
Due: none

Chain method calls
  src/utils/renderChunks.ts
Due: eslint --fix

feat: mark files in a `node_modules` as ignore-listed by default
  docs/configuration-options/index.md
  src/rollup/types.d.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderChunks.ts
  test/sourcemaps/samples/ignore-list-default/_config.js
  test/sourcemaps/samples/ignore-list-default/main.js
  test/sourcemaps/samples/ignore-list-default/node_modules/lib.js
  test/sourcemaps/samples/ignore-list-false/_config.js
  test/sourcemaps/samples/ignore-list-false/main.js
  test/sourcemaps/samples/ignore-list-false/node_modules/lib.js
Due: eslint --fix, prettier --write

Fix `npm run dev`
  build-plugins/replace-browser-modules.ts
  docs/.vitepress/config.ts
Due: none

Remove vitepress-plugin-mermaid
  docs/.vitepress/config.ts
  docs/declarations.d.ts
  package-lock.json
  package.json
Due: none

Prepare for mermaid integration
  docs/.vitepress/config.ts
  docs/.vitepress/mermaid.ts
  package-lock.json
  package.json
Due: none

pre-render graphs
  .gitignore
  docs/.vitepress/config.ts
  docs/.vitepress/mermaid.config.json
  docs/.vitepress/mermaid.ts
  docs/.vitepress/theme/custom.css
Due: none

Remove unnecessary dependencies
  package-lock.json
  package.json
Due: none

Of course we also need to render during build
  docs/.vitepress/mermaid.ts
Due: none

Update
  docs/.vitepress/mermaid.ts
Due: none

Create graphs directory if missing
  docs/.vitepress/mermaid.ts
Due: none

Extract ParameterVariable from ThisVariable
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/ThisVariable.ts
Due: eslint --fix

Move argument deoptimization into deoptimizeArguments
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

Use ParameterVariables for parameters
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix
