Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

feat: `preserveSymlinks: 'auto'`
  src/rollup/types.d.ts
  src/utils/resolveId.ts
  test/function/samples/preserve-symlink-auto-follow/_config.js
  test/function/samples/preserve-symlink-auto-follow/foo.js
  test/function/samples/preserve-symlink-auto-follow/main.js
  test/function/samples/preserve-symlink-auto-follow/symlinked/bar.js
  test/function/samples/preserve-symlink-auto-follow/symlinked/foo.js
  test/function/samples/preserve-symlink-auto-no-follow/_config.js
  test/function/samples/preserve-symlink-auto-no-follow/bar.js
  test/function/samples/preserve-symlink-auto-no-follow/foo.js
  test/function/samples/preserve-symlink-auto-no-follow/main.js
  test/function/samples/preserve-symlink-auto-no-follow/symlinked/bar.js
  test/function/samples/preserve-symlink-auto-no-follow/symlinked/foo.js
Due: eslint --fix, prettier --write

Re-enable vitepress updates
  docs/repl/components/ReplMain.vue
  package-lock.json
  package.json
  renovate.json
Due: none

Commit generated SVGs as they do not render on Vercel
  .gitignore
  docs/.vitepress/graphs/mermaid-66d62a8a.svg
  docs/.vitepress/graphs/mermaid-7a3058ce.svg
  docs/.vitepress/mermaid.ts
Due: none

test: sample to test stderr cause
  test/cli/samples/handles-errors-cause/_config.js
  test/cli/samples/handles-errors-cause/main.js
  test/cli/samples/handles-errors-cause/rollup.config.js
Due: eslint --fix, prettier --write

Cache module info getters before output generation
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/utils/getter.ts
Due: eslint --fix

Update build-and-tests.yml
  .github/workflows/build-and-tests.yml
Due: none

Update ExternalModule.ts
  src/ExternalModule.ts
Due: eslint --fix

Update Module.ts
  src/Module.ts
Due: eslint --fix

Update src/utils/getter.ts
  src/utils/getter.ts
Due: eslint --fix

feat: improve tree-shaking by propagate const parameter
  src/Graph.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/variables/ExportDefaultVariable.ts
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/Variable.ts
  src/utils/functionParameterPass.ts
Due: eslint --fix

fix: update old tests (for tree-shaking const param)
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/amd/dep1.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/cjs/dep1.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/es/dep1.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/system/dep1.js
  test/chunking-form/samples/missing-export-reused-deconflicting/dep1.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/_virtual/_commonjsHelpers.js
  test/form/samples/deopt-string-concatenation/_expected.js
  test/form/samples/deopt-string-concatenation/main.js
  test/form/samples/side-effects-return-statements/_expected/amd.js
  test/form/samples/side-effects-return-statements/_expected/cjs.js
  test/form/samples/side-effects-return-statements/_expected/es.js
  test/form/samples/side-effects-return-statements/_expected/iife.js
  test/form/samples/side-effects-return-statements/_expected/system.js
  test/form/samples/side-effects-return-statements/_expected/umd.js
  test/form/samples/side-effects-return-statements/main.js
Due: none

test: add test for tree-shaking by propagate const parameter
  test/form/samples/tree-shake-literal-parameter/import-function/_config.js
  test/form/samples/tree-shake-literal-parameter/import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/import-function/main.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/_config.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/main.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/module1.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/module2.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal/_config.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal/_expected.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal/main.js
  test/form/samples/tree-shake-literal-parameter/reexport-function/_config.js
  test/form/samples/tree-shake-literal-parameter/reexport-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/reexport-function/main.js
  test/form/samples/tree-shake-literal-parameter/reexport-function/module1.js
  test/form/samples/tree-shake-literal-parameter/reexport-function/module2.js
Due: eslint --fix, prettier --write

feat&perf: support object param
  src/ast/variables/ParameterVariable.ts
  src/utils/functionParameterPass.ts
  test/form/samples/tree-shake-literal-parameter/recursion-literal-object/_config.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal-object/_expected.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal-object/main.js
Due: eslint --fix, prettier --write

Add x86_64-pc-windows-gnu target
  .github/workflows/build-and-tests.yml
Due: none

4.13.1-0
  browser/package.json
  package-lock.json
  package.json
Due: none

Add additional deployment files and config
  npm/win32-x64-gnu/README.md
  npm/win32-x64-gnu/package.json
  package.json
Due: none

4.13.1-1
  browser/package.json
  package-lock.json
  package.json
Due: none

style: update coverage
  src/utils/functionParameterPass.ts
Due: eslint --fix

test: update tree-shake-literal-parameter
  test/form/samples/tree-shake-literal-parameter/recursion-literal-object/_expected.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal-object/main.js
Due: none

test: update tree-shake top export
  test/form/samples/tree-shake-literal-parameter/import-function/lib.js
  test/form/samples/tree-shake-literal-parameter/import-function/main.js
  test/form/samples/tree-shake-literal-parameter/top-level-export/_config.js
  test/form/samples/tree-shake-literal-parameter/top-level-export/_expected.js
  test/form/samples/tree-shake-literal-parameter/top-level-export/main.js
Due: eslint --fix, prettier --write

refactor: tree-shaking-literal
  src/Graph.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/Variable.ts
  src/utils/functionParameterPass.ts
Due: eslint --fix

fix: test indent
  test/form/samples/tree-shake-literal-parameter/top-level-export/_expected.js
Due: none

perf: remove same object SPJ getObjectEntity is private, so we can't judge if two object are the same
  src/ast/nodes/shared/FunctionNode.ts
Due: eslint --fix

refactor: support iife
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/Variable.ts
Due: eslint --fix

test: tree-shake literal iife
  test/form/samples/tree-shake-literal-parameter/iife/_config.js
  test/form/samples/tree-shake-literal-parameter/iife/_expected.js
  test/form/samples/tree-shake-literal-parameter/iife/main.js
Due: eslint --fix, prettier --write

fix: args but not callee should not be optimized
  src/ast/variables/Variable.ts
  test/form/samples/tree-shake-literal-parameter/import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/import-function/lib.js
  test/form/samples/tree-shake-literal-parameter/import-function/main.js
Due: eslint --fix

refactor: some logic to function base with comment
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
Due: eslint --fix

feat&perf: support implicitly undefined
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/side-effect-h/_expected/amd.js
  test/form/samples/side-effect-h/_expected/cjs.js
  test/form/samples/side-effect-h/_expected/es.js
  test/form/samples/side-effect-h/_expected/iife.js
  test/form/samples/side-effect-h/_expected/system.js
  test/form/samples/side-effect-h/_expected/umd.js
  test/form/samples/side-effect-h/main.js
  test/form/samples/tree-shake-literal-parameter/import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/import-function/main.js
Due: eslint --fix

test: tree-shake literal conditional
  test/form/samples/tree-shake-literal-parameter/import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/import-function/lib.js
  test/form/samples/tree-shake-literal-parameter/import-function/main.js
Due: none

feat: integrate with optimizeCache
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/tree-shake-literal-parameter/expression-cache/_config.js
  test/form/samples/tree-shake-literal-parameter/expression-cache/_expected.js
  test/form/samples/tree-shake-literal-parameter/expression-cache/main.js
Due: eslint --fix, prettier --write

test: fix
  test/form/samples/supports-es6-shim/_expected.js
Due: none

feat: function argument side effect
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/tree-shake-literal-parameter/argument-assignment/_config.js
  test/form/samples/tree-shake-literal-parameter/argument-assignment/_expected.js
  test/form/samples/tree-shake-literal-parameter/argument-assignment/main.js
  test/form/samples/tree-shake-literal-parameter/import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/import-function/main.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal-object/_expected.js
  test/form/samples/tree-shake-literal-parameter/side-effect/_config.js
  test/form/samples/tree-shake-literal-parameter/side-effect/_expected.js
  test/form/samples/tree-shake-literal-parameter/side-effect/main.js
  test/form/samples/try-statement-deoptimization/deactivate-via-option/_expected.js
Due: eslint --fix, prettier --write

Add support for linux s390x gnu
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-s390x-gnu/README.md
  npm/linux-s390x-gnu/package.json
  package.json
Due: none

Add additional setup to deploy new target
  npm/win32-x64-gnu/README.md
  npm/win32-x64-gnu/package.json
  package.json
Due: none

docs: add `@shikiji/vitepress-twoslash`
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/faqs/index.md
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  docs/tools/index.md
  docs/troubleshooting/index.md
  docs/tsconfig.json
  docs/tutorial/index.md
  package-lock.json
  package.json
Due: none

docs: add prettier-ignore where needed
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  docs/plugin-development/index.md
Due: none
