Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

3.29.5
  package-lock.json
  package.json
Due: none

test: add test for unicode string
  test/function/samples/unicode-string/_config.js
  test/function/samples/unicode-string/main.js
Due: eslint --fix, prettier --write

fix: revert rust package updates to fix panic
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore: bump anyhow
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore: bump swc again
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

2.79.2
  package-lock.json
  package.json
Due: none

Update src/rollup/types.d.ts
  src/rollup/types.d.ts
Due: eslint --fix

Improve coverage
  test/function/samples/deprecated/emit-file/original-file-name/_config.js
Due: eslint --fix, prettier --write

Improve option and transpilation support
  src/ast/nodes/JSXElement.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/form/samples/jsx/jsx-preserve-react-conflict/_config.js
  test/form/samples/jsx/jsx-preserve-react-conflict/_expected.js
  test/form/samples/jsx/jsx-preserve-react-conflict/dep1.js
  test/form/samples/jsx/jsx-preserve-react-conflict/dep2.js
  test/form/samples/jsx/jsx-preserve-react-conflict/main.js
  test/form/samples/jsx/preserves-react-global/_config.js
  test/form/samples/jsx/preserves-react-global/_expected.js
  test/form/samples/jsx/preserves-react-global/jsx.js
  test/form/samples/jsx/preserves-react-global/main.js
  test/form/samples/jsx/preserves-react-global/other1.js
  test/form/samples/jsx/preserves-react-global/other2.js
  test/form/samples/jsx/preserves-react-local/_config.js
  test/form/samples/jsx/preserves-react-local/jsx.js
  test/form/samples/jsx/transpiles-react-global/_config.js
  test/form/samples/jsx/transpiles-react-global/_expected.js
  test/form/samples/jsx/transpiles-react-global/jsx.js
  test/form/samples/jsx/transpiles-react-global/main.js
  test/form/samples/jsx/transpiles-react-global/other1.js
  test/form/samples/jsx/transpiles-react-global/other2.js
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/jsx.js
  test/form/samples/jsx/transpiles-react-jsx/other1.js
  test/form/samples/jsx/transpiles-react-jsx/other2.js
  test/form/samples/jsx/transpiles-react/_config.js
  test/form/samples/jsx/transpiles-react/_expected.js
  test/form/samples/jsx/transpiles-react/jsx.js
  test/form/samples/jsx/transpiles-react/main.js
  test/form/samples/jsx/transpiles-react/other1.js
  test/form/samples/jsx/transpiles-react/other2.js
Due: eslint --fix, prettier --write

Add JSXElementChild -> JSXExprContainer and JSXEmptyExpr
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/JsxEmptyExpr.ts
  src/ast/nodes/JsxExprContainer.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  test/form/samples/jsx/preserves-jsx-empty-expression/_config.js
  test/form/samples/jsx/preserves-jsx-empty-expression/_expected.js
  test/form/samples/jsx/preserves-jsx-empty-expression/main.js
  test/form/samples/jsx/preserves-jsx-empty-literal-expression/_config.js
  test/form/samples/jsx/preserves-jsx-empty-literal-expression/_expected.js
  test/form/samples/jsx/preserves-jsx-empty-literal-expression/main.js
Due: eslint --fix, prettier --write

Implement jsx option
  docs/configuration-options/index.md
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  src/utils/urls.ts
  test/function/samples/options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Add JSXElementChild -> JSXElement
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/jsx/preserves-jsx-child/_config.js
  test/form/samples/jsx/preserves-jsx-child/_expected.js
  test/form/samples/jsx/preserves-jsx-child/main.js
  test/form/samples/jsx/preserves-jsx-closing/_config.js
  test/form/samples/jsx/preserves-jsx-closing/_expected.js
  test/form/samples/jsx/preserves-jsx-closing/main.js
Due: eslint --fix, prettier --write

Use correct JSX types
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/JSXAttribute.ts
  src/ast/nodes/JSXClosingElement.ts
  src/ast/nodes/JSXClosingFragment.ts
  src/ast/nodes/JSXElement.ts
  src/ast/nodes/JSXExpressionContainer.ts
  src/ast/nodes/JSXFragment.ts
  src/ast/nodes/JSXOpeningElement.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Add tests
  test/form/samples/jsx/preserves-jsx/_config.js
  test/form/samples/jsx/preserves-jsx/_expected.js
  test/form/samples/jsx/preserves-jsx/main.js
  test/form/samples/jsx/transpiles-react/_config.js
  test/form/samples/jsx/transpiles-react/_expected.js
  test/form/samples/jsx/transpiles-react/main.js
Due: eslint --fix, prettier --write

Rework JSX option and global variable handling for preserving
  src/ast/nodes/JSXElement.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/form/samples/jsx/jsx-preserve-react-conflict/_config.js
  test/form/samples/jsx/jsx-preserve-react-conflict/_expected.js
  test/form/samples/jsx/jsx-preserve-react-conflict/dep1.js
  test/form/samples/jsx/jsx-preserve-react-conflict/dep2.js
  test/form/samples/jsx/jsx-preserve-react-conflict/main.js
  test/form/samples/jsx/preserves-jsx/_config.js
  test/form/samples/jsx/preserves-jsx/_expected.js
  test/form/samples/jsx/preserves-jsx/main.js
  test/form/samples/jsx/preserves-react-local/_config.js
  test/form/samples/jsx/preserves-react-local/_expected.js
  test/form/samples/jsx/preserves-react-local/jsx.js
  test/form/samples/jsx/preserves-react-local/main.js
  test/form/samples/jsx/preserves-react-local/other1.js
  test/form/samples/jsx/preserves-react-local/other2.js
  test/form/samples/jsx/preserves-react/_config.js
  test/form/samples/jsx/preserves-react/_expected.js
  test/form/samples/jsx/preserves-react/jsx.js
  test/form/samples/jsx/preserves-react/main.js
  test/form/samples/jsx/preserves-react/other1.js
  test/form/samples/jsx/preserves-react/other2.js
Due: eslint --fix, prettier --write

Add JsxFragment
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/JsxClosingFragment.ts
  src/ast/nodes/JsxFragment.ts
  src/ast/nodes/JsxOpeningFragment.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  test/form/samples/jsx/preserves-jsx-fragment/_config.js
  test/form/samples/jsx/preserves-jsx-fragment/_expected.js
  test/form/samples/jsx/preserves-jsx-fragment/main.js
Due: eslint --fix, prettier --write

Add JsxElement to ast-types
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/JsxElement.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Handle JSXText
  src/ast/nodes/JSXText.ts
  test/form/samples/jsx/preserves-jsx-text/_expected.js
  test/form/samples/jsx/preserves-jsx-text/main.js
  test/form/samples/jsx/transpiles-jsx-text/_expected.js
  test/form/samples/jsx/transpiles-jsx-text/main.js
  test/form/samples/jsx/transpiles-react-jsx/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

Add JSXElementChild -> JSXText
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/JsxText.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  test/form/samples/jsx/preserves-jsx-text/_config.js
  test/form/samples/jsx/preserves-jsx-text/_expected.js
  test/form/samples/jsx/preserves-jsx-text/main.js
Due: eslint --fix, prettier --write

Add JsxOpeningElement
  rust/bindings_napi/src/lib.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/JsxIdentifier.ts
  src/ast/nodes/JsxOpeningElement.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  src/utils/parseAst.ts
  test/form/samples/jsx/preserves-jsx/_config.js
  test/form/samples/jsx/preserves-jsx/_expected.js
Due: eslint --fix, prettier --write

Handle missing jsx factory
  src/Module.ts
  src/utils/logs.ts
  test/form/samples/jsx/preserves-jsx-child/_config.js
  test/form/samples/jsx/preserves-jsx-closing/_config.js
  test/form/samples/jsx/preserves-jsx-empty-expression/_config.js
  test/form/samples/jsx/preserves-jsx-empty-literal-expression/_config.js
  test/form/samples/jsx/preserves-jsx-fragment/_config.js
  test/form/samples/jsx/preserves-jsx-text/_config.js
  test/form/samples/jsx/preserves-jsx-with-attributes/_config.js
  test/form/samples/jsx/preserves-react-internal/_config.js
  test/form/samples/jsx/preserves-react-internal/_expected.js
  test/form/samples/jsx/preserves-react-internal/jsx.js
  test/form/samples/jsx/preserves-react-internal/main.js
  test/form/samples/jsx/preserves-react-internal/other1.js
  test/form/samples/jsx/preserves-react-internal/other2.js
  test/form/samples/jsx/preserves-react-internal/react.js
  test/form/samples/jsx/preserves-react/_config.js
  test/form/samples/jsx/transpiles-react-internal/_config.js
  test/form/samples/jsx/transpiles-react-internal/_expected.js
  test/form/samples/jsx/transpiles-react-internal/jsx.js
  test/form/samples/jsx/transpiles-react-internal/main.js
  test/form/samples/jsx/transpiles-react-internal/other1.js
  test/form/samples/jsx/transpiles-react-internal/other2.js
  test/form/samples/jsx/transpiles-react-internal/react.js
  test/function/samples/jsx/missing-jsx-export/_config.js
  test/function/samples/jsx/missing-jsx-export/_expected.js
  test/function/samples/jsx/missing-jsx-export/main.js
  test/function/samples/jsx/missing-jsx-export/react.js
Due: eslint --fix, prettier --write

Sort converters into alphabetical order
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Associate identifier with variable
  src/ast/nodes/Identifier.ts
  src/ast/nodes/JSXIdentifier.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/variables/ExportDefaultVariable.ts
  src/ast/variables/ExternalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/Variable.ts
  test/form/samples/jsx/preserves-jsx-child/_expected.js
  test/form/samples/jsx/preserves-jsx-child/main.js
  test/form/samples/jsx/preserves-jsx-closing/_expected.js
  test/form/samples/jsx/preserves-jsx-closing/main.js
  test/form/samples/jsx/preserves-jsx-empty-expression/_expected.js
  test/form/samples/jsx/preserves-jsx-empty-expression/main.js
  test/form/samples/jsx/preserves-jsx-empty-literal-expression/_expected.js
  test/form/samples/jsx/preserves-jsx-empty-literal-expression/main.js
  test/form/samples/jsx/preserves-jsx-fragment/_expected.js
  test/form/samples/jsx/preserves-jsx-fragment/main.js
  test/form/samples/jsx/preserves-jsx-text/_expected.js
  test/form/samples/jsx/preserves-jsx-text/main.js
  test/form/samples/jsx/preserves-jsx-with-attributes/_expected.js
  test/form/samples/jsx/preserves-jsx-with-attributes/main.js
  test/form/samples/jsx/preserves-jsx/_expected.js
  test/form/samples/jsx/transpiles-react/_expected.js
Due: eslint --fix

Start work on transpilation support
  src/Module.ts
  src/ast/nodes/JSXElement.ts
  src/utils/parseImportAttributes.ts
  test/form/samples/jsx/transpiles-react-jsx/_config.js
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/main.js
  test/form/samples/jsx/transpiles-react/_expected.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
