Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Ensure we also include declared variables if they are included for a key or default side effect
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/Property.ts
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-default-side-effects-array/_config.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-default-side-effects-array/dep.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-default-side-effects-array/main.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-default-side-effects/_config.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-default-side-effects/dep.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-default-side-effects/main.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-key-side-effects/_config.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-key-side-effects/dep.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-for-key-side-effects/main.js
Due: eslint --fix, prettier --write

Always include full array patterns
  src/ast/nodes/ArrayPattern.ts
  test/function/samples/object-expression-treeshaking/deconflict-destructured-array-pattern/_config.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-array-pattern/dep.js
  test/function/samples/object-expression-treeshaking/deconflict-destructured-array-pattern/main.js
Due: eslint --fix, prettier --write

chore(deps): Update `magic-string`
  package-lock.json
  package.json
Due: none

add an test for issue 5734
  LICENSE.md
  test/function/samples/object-tree-shaking-issue-5734/_config.js
  test/function/samples/object-tree-shaking-issue-5734/main.js
  test/function/samples/object-tree-shaking-issue-5734/module.js
Due: eslint --fix, prettier --write

Update index.md
  docs/plugin-development/index.md
Due: none

improve coverage
  cli/run/loadConfigFile.ts
Due: none

update docs
  docs/command-line-interface/index.md
Due: none

tweak test
  test/misc/optionList.js
Due: none

use node 20 for ci:coverage
  .github/workflows/build-and-tests.yml
Due: none

introduce configImportAttributesKey option
  .github/workflows/build-and-tests.yml
  cli/run/loadConfigFile.ts
  src/utils/options/mergeOptions.ts
  test/cli/samples/config-import-attributes-key/_config.js
  test/cli/samples/config-import-attributes-key/_expected.js
  test/cli/samples/config-import-attributes-key/foo.js
  test/cli/samples/config-import-attributes-key/foo.json
  test/cli/samples/config-import-attributes-key/rollup.config.ts
Due: eslint --fix, prettier --write

Minor adaptation
  .github/workflows/build-and-tests.yml
  cli/run/loadConfigFile.ts
Due: none

use node 22.0.0 for ci:coverage
  .github/workflows/build-and-tests.yml
Due: none

enable --no-experimental-detect-module for nyc
  package.json
Due: none

feat: add support for loongarch
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-loongarch64-gnu/README.md
  npm/linux-loongarch64-gnu/package.json
  package.json
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
Due: none

feat: Add `debugId` to `SourceMap` types
  src/rollup/types.d.ts
Due: eslint --fix

Test if saving the Cargo cache can speed up FreeBSD
  .github/workflows/build-and-tests.yml
Due: none

docs: add utf-8 encoding to JSON file reading
  docs/command-line-interface/index.md
Due: none

introduce UnknownFalsyValue for enhancing if statement tree-shaking
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/shared/Expression.ts
  test/function/samples/tree-shaking-within-if-statement/_config.js
  test/function/samples/tree-shaking-within-if-statement/main.js
Due: eslint --fix, prettier --write

Only rely on stable property paths when deoptimizing member expressions
  src/ast/nodes/MemberExpression.ts
  test/form/samples/side-effects-getters-and-setters/_expected.js
  test/form/samples/side-effects-prototype-assignments/_expected.js
  test/form/samples/side-effects-prototype-assignments/_expected/amd.js
  test/form/samples/side-effects-prototype-assignments/_expected/cjs.js
  test/form/samples/side-effects-prototype-assignments/_expected/iife.js
  test/form/samples/side-effects-prototype-assignments/_expected/system.js
  test/form/samples/side-effects-prototype-assignments/_expected/umd.js
  test/form/samples/side-effects-prototype-assignments/main.js
  test/function/samples/object-expression-treeshaking/handle-try-catch/_config.js
  test/function/samples/object-expression-treeshaking/handle-try-catch/main.js
Due: eslint --fix, prettier --write

Do not mark unused rest parameters as undefined
  src/ast/scopes/ReturnValueScope.ts
  src/ast/values.ts
  test/function/samples/track-rest-parameter-value/_config.js
  test/function/samples/track-rest-parameter-value/main.js
Due: eslint --fix, prettier --write

update test
  test/form/samples/object-tree-shaking-issue-5734/_expected.js
Due: none

reduce the count of includePath for ClassBody
  src/ast/nodes/ClassBody.ts
  test/form/samples/object-tree-shaking-issue-5734/_config.js
  test/form/samples/object-tree-shaking-issue-5734/_expected.js
  test/form/samples/object-tree-shaking-issue-5734/main.js
  test/form/samples/object-tree-shaking-issue-5734/module.js
  test/function/samples/object-tree-shaking-issue-5734/_config.js
  test/function/samples/object-tree-shaking-issue-5734/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
