Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Add concurrency for REPL artefacts
  .github/workflows/repl-artefacts.yml
Due: none

Fix source command
  .github/workflows/docker-images.yml
  docker/build-arm7-musl/Dockerfile
Due: none

Fix permissions
  .github/workflows/build-and-tests.yml
  .github/workflows/docker-images.yml
Due: none

Add username/password to docker action
  .github/workflows/build-and-tests.yml
Due: none

Remove concurrency
  .github/workflows/docker-images.yml
Due: none

Add registry
  .github/workflows/build-and-tests.yml
Due: none

Add environment variable
  docker/build-arm7-musl/Dockerfile
Due: none

Pre-install correct toolchain
  .github/workflows/build-and-tests.yml
  docker/build-arm7-musl/Dockerfile
Due: none

add zig
  docker/build-arm7-musl/Dockerfile
Due: none

Add error for missing arm musl build
  native.js
Due: none

Cancel in-progress REPL builds
  .github/workflows/repl-artefacts.yml
Due: none

Fix graph in docs via dependency update
  package-lock.json
  package.json
Due: none

Fix REPL colors
  docs/repl/components/ReplModule.vue
  docs/repl/helpers/editor.ts
Due: none

Do not explicitly pass context when creating scopes
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/ForStatement.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/StaticBlock.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/CatchBodyScope.ts
  src/ast/scopes/ClassBodyScope.ts
  src/ast/scopes/FunctionBodyScope.ts
  src/ast/scopes/FunctionScope.ts
  src/ast/scopes/ParameterScope.ts
Due: eslint --fix

Allow function expression parameters to shadow their id
  src/ast/nodes/FunctionExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/form/samples/function-id-as-parameter/_config.js
  test/form/samples/function-id-as-parameter/_expected.js
  test/form/samples/function-id-as-parameter/main.js
Due: eslint --fix, prettier --write

Describe dashes in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add friendly error for npm bug
  native.js
Due: none

fix: strip BOM before calling transform hook
  src/Module.ts
  src/ModuleLoader.ts
  test/function/samples/strip-bom-1/_config.js
  test/function/samples/strip-bom-1/main.js
Due: eslint --fix, prettier --write

Fix test
  test/form/samples/supports-core-js/_expected.js
Due: none

Remove if part from the error message
  native.js
Due: none

Allow this.addWatchFile in all hooks
  src/rollup/rollup.ts
  src/utils/PluginContext.ts
  src/utils/logs.ts
  src/watch/watch.ts
  test/function/samples/add-watch-file-generate/_config.js
  test/function/samples/add-watch-file-generate/main.js
  test/function/samples/add-watch-file-generate/watched.js
  test/watch/index.js
Due: eslint --fix, prettier --write

Try without closing the bundle
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

Respect early "closed" state
  src/watch/watch.ts
  test/utils.js
  test/watch/index.js
Due: eslint --fix, prettier --write

Try closing the bundle again
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

Do not close but add documentation
  docs/plugin-development/index.md
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

Add logging
  docs/.vitepress/logContent.mjs
  docs/.vitepress/mermaid.ts
  package.json
Due: none

Fix graph generation
  docs/.vitepress/logContent.mjs
  docs/.vitepress/mermaid.ts
  package.json
Due: none
