Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Test string logging
  test/function/samples/logging/log-from-plugin-options-onlog/_config.js
  test/function/samples/logging/log-from-plugin-options-onwarn/_config.js
Due: eslint --fix, prettier --write

Display logs in CLI
  cli/run/batchWarnings.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFileType.d.ts
  cli/run/loadConfigFromCommand.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  src/utils/transform.ts
  test/cli/samples/logs/_config.js
  test/cli/samples/logs/main.js
  test/cli/samples/logs/rollup.config.mjs
  test/cli/samples/logs/wrapper.js
Due: eslint --fix, prettier --write

Introduce constants for log levels
  cli/run/batchWarnings.ts
  src/Bundle.ts
  src/Chunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/finalisers/iife.ts
  src/finalisers/shared/warnOnBuiltins.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/PluginDriver.ts
  src/utils/collapseSourcemaps.ts
  src/utils/error.ts
  src/utils/getExportMode.ts
  src/utils/logging.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
  src/utils/transform.ts
  test/function/samples/logging/log-from-plugin-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-onlog/_config.js
  test/function/samples/logging/log-from-plugin-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog/_config.js
  test/function/samples/logging/log-from-plugin-options-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-simple/_config.js
  test/function/samples/logging/log-from-plugin-simple/_config.js
  test/function/samples/logging/no-log-with-position/_config.js
  test/function/samples/logging/transform-log-with-position/_config.js
Due: eslint --fix, prettier --write

Clarify that onLog option can be used for logging
  docs/plugin-development/index.md
Due: none

Improve coverage
  cli/run/loadConfigFile.ts
  src/rollup/rollup.ts
  src/utils/options/mergeOptions.ts
  test/cli/samples/silent/rollup.config.mjs
  test/cli/samples/warn-plugin/_config.js
  test/cli/samples/warn-plugin/rollup.config.js
  test/function/samples/logging/log-from-options/_config.js
  test/function/samples/logging/plugin-order/_config.js
  test/function/samples/logging/plugin-order/main.js
Due: eslint --fix, prettier --write

Do not augment onLog errors, only allow pos in transform via types
  src/rollup/types.d.ts
  src/utils/logger.ts
  src/utils/transform.ts
  test/function/samples/logging/log-from-plugin-onlog-onwarn/_config.js
Due: eslint --fix, prettier --write

Add log levels
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/logHandler.ts
  src/utils/logger.ts
  src/utils/logging.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/cli/samples/logs/rollup.config.mjs
  test/function/samples/logging/handle-logs-in-plugins/_config.js
  test/function/samples/logging/log-from-options/_config.js
  test/function/samples/logging/log-from-plugin-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-onlog/_config.js
  test/function/samples/logging/log-from-plugin-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog/_config.js
  test/function/samples/logging/log-from-plugin-options-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-simple/_config.js
  test/function/samples/logging/log-from-plugin-simple/_config.js
  test/function/samples/logging/loglevel-debug/_config.js
  test/function/samples/logging/loglevel-debug/main.js
  test/function/samples/logging/loglevel-info/_config.js
  test/function/samples/logging/loglevel-info/main.js
  test/function/samples/logging/loglevel-silent/_config.js
  test/function/samples/logging/loglevel-silent/main.js
  test/function/samples/logging/loglevel-warn/_config.js
  test/function/samples/logging/loglevel-warn/main.js
  test/function/samples/logging/no-log-with-position/_config.js
  test/function/samples/logging/transform-log-with-position/_config.js
  test/function/samples/options-hook/_config.js
  test/misc/optionList.js
  test/utils.js
Due: eslint --fix, prettier --write

Fix test
  test/cli/samples/validate/_config.js
Due: eslint --fix, prettier --write

Finalise docs
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Fix anchors
  docs/plugin-development/index.md
Due: none

Clean up
  src/rollup/rollup.ts
  src/utils/PluginDriver.ts
  src/utils/error.ts
  src/utils/logger.ts
  test/function/samples/logging/handle-logs-in-plugins/_config.js
  test/function/samples/logging/log-from-options/_config.js
  test/function/samples/logging/log-from-options/main.js
  test/function/samples/logging/promote-log-to-error/_config.js
  test/function/samples/logging/this-error-onlog/_config.js
  test/function/samples/logging/this-error-onlog/main.js
Due: eslint --fix, prettier --write

Add docs
  cli/help.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  src/rollup/types.d.ts
Due: eslint --fix

Allow logs to be functions
  docs/plugin-development/index.md
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/logHandler.ts
  src/utils/logs.ts
  src/utils/options/options.ts
  test/function/samples/logging/log-from-plugin-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-onlog/_config.js
  test/function/samples/logging/log-from-plugin-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-simple/_config.js
  test/function/samples/logging/loglevel-debug/_config.js
  test/function/samples/logging/loglevel-info/_config.js
  test/function/samples/logging/loglevel-silent/_config.js
  test/function/samples/logging/loglevel-warn/_config.js
Due: eslint --fix, prettier --write

Use logging API for experimental features
  docs/configuration-options/index.md
  src/Bundle.ts
  src/ast/nodes/Program.ts
  src/utils/chunkAssignment.ts
  src/utils/logs.ts
  test/chunking-form/index.js
  test/chunking-form/samples/min-chunk-size/merge-chunk-into-shared/_config.js
  test/form/index.js
  test/form/samples/this-is-undefined/_config.js
  test/types.d.ts
Due: eslint --fix, prettier --write

Ensure "silent" also silences logs
  cli/run/batchWarnings.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFromCommand.ts
  test/cli/samples/silent/_config.js
  test/cli/samples/silent/rollup.config.mjs
Due: eslint --fix, prettier --write

Add onLog plugin hook
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFileType.d.ts
  cli/run/loadConfigFromCommand.ts
  cli/run/watch-cli.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/PluginDriver.ts
  src/utils/logHandler.ts
  src/utils/logger.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/watch/watch-proxy.ts
  test/function/samples/logging/handle-logs-in-plugins/_config.js
  test/function/samples/logging/handle-logs-in-plugins/main.js
  test/function/samples/logging/log-from-plugin-options-simple/_config.js
Due: eslint --fix, prettier --write

Refine docs
  docs/plugin-development/index.md
Due: none

Start work on eixsting logs
  src/ast/nodes/Program.ts
  src/utils/chunkAssignment.ts
  test/cli/samples/log-side-effects/_config.js
  test/cli/samples/log-side-effects/_expected.js
  test/form/index.js
  test/form/samples/log-side-effects/_config.js
  test/form/samples/log-side-effects/_expected.js
  test/form/samples/log-side-effects/dep-mapped.js
  test/form/samples/log-side-effects/main.js
  test/types.d.ts
Due: eslint --fix, prettier --write

fix: `__NO_SIDE_EFFECTS__` annonation for async function
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/form/samples/no-side-effects-function-declaration/functions.js
  test/form/samples/no-side-effects-function-declaration/main.js
Due: eslint --fix

chore: update
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
Due: eslint --fix

chore: update
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

Fix typo in index.md
  docs/plugin-development/index.md
Due: none

test: add tests
  test/function/samples/plugin-error-with-numeric-code/_config.js
  test/function/samples/plugin-error-with-numeric-code/main.js
Due: eslint --fix, prettier --write

Fix `this.error` with `pos` in `transform` hook
  src/utils/transform.ts
  test/cli/samples/watch/bundle-error/main.js
  test/function/samples/plugin-error-transform-pos/_config.js
  test/function/samples/plugin-error-transform-pos/main.js
Due: eslint --fix, prettier --write

Fix `this.error` with `pos` in `transform` hook
  test/cli/samples/watch/bundle-error/main.js
Due: none

fix: a plugin error can contains numeric code
  src/rollup/types.d.ts
  src/utils/logs.ts
Due: eslint --fix

fix test
  test/function/samples/plugin-error-transform-pos/_config.js
Due: eslint --fix, prettier --write

fix lint
  test/function/samples/plugin-error-transform-pos/_config.js
Due: eslint --fix, prettier --write

Fix test
  test/form/samples/supports-core-js/_expected.js
Due: none

Fix lockfile
  package-lock.json
  package.json
Due: none

Test style
  test/function/samples/plugin-error-transform-pos/_config.js
Due: eslint --fix, prettier --write

Fix types
  .eslintrc.js
  LICENSE.md
  browser/LICENSE.md
  src/ast/nodes/Program.ts
  src/utils/logs.ts
  test/misc/in-memory-sourcemaps.js
Due: eslint --fix
