Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[v3.0] Better sourcemap emission (#4605)
  cli/run/build.ts
  src/rollup/rollup.ts
  src/utils/renderChunks.ts
  test/cli/samples/stdout-single-input/_expected.js
  test/function/samples/sourcemap-inline-generatebundle/_config.js
  test/function/samples/sourcemap-inline-generatebundle/main.js
  test/function/samples/sourcemap-true-generatebundle/_config.js
  test/function/samples/sourcemap-true-generatebundle/main.js
  test/sourcemaps/samples/existing-external-sourcemaps-combined/_config.js
  test/sourcemaps/samples/existing-inline-sourcemaps-combined/_config.js
Due: eslint --fix, prettier --write

3.0.0-4
  browser/package.json
  package.json
Due: none

feat: add option to keep extensions for amd
  src/finalisers/amd.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeOutputOptions.ts
Due: eslint --fix

update extension resolving for amd
  src/Chunk.ts
  src/finalisers/amd.ts
  src/finalisers/shared/addJsExtension.ts
  src/finalisers/shared/removeExtensionFromRelativeAmdId.ts
  src/finalisers/shared/updateExtensionForRelativeAmdId.ts
  src/finalisers/umd.ts
  src/rollup/types.d.ts
Due: eslint --fix

add tests
  test/form/samples/amd-keep-extension/_config.js
  test/form/samples/amd-keep-extension/_expected/amd.js
  test/form/samples/amd-keep-extension/_expected/cjs.js
  test/form/samples/amd-keep-extension/_expected/es.js
  test/form/samples/amd-keep-extension/_expected/iife.js
  test/form/samples/amd-keep-extension/_expected/system.js
  test/form/samples/amd-keep-extension/_expected/umd.js
  test/form/samples/amd-keep-extension/bar.js
  test/form/samples/amd-keep-extension/main.js
Due: eslint --fix, prettier --write

fix 'output-options-hook' test
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

add docs
  cli/help.md
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
Due: none

Use a custom watch emitter implementation
  src/Graph.ts
  src/rollup/types.d.ts
  src/watch/WatchEmitter.ts
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

Add documentation
  docs/02-javascript-api.md
Due: none

Improve coverage
  test/watch/index.js
Due: eslint --fix, prettier --write

Dummy commit
  test/watch/index.js
Due: eslint --fix, prettier --write

Prevent using arguments for generated variable names
  src/utils/identifierHelpers.ts
  test/function/samples/escape-arguments/_config.js
  test/function/samples/escape-arguments/arguments.js
  test/function/samples/escape-arguments/main.js
Due: eslint --fix, prettier --write

Fix test/form/samples/quote-id on Windows
  test/form/samples/quote-id/_config.js
Due: eslint --fix, prettier --write

Add test for #1244
  test/function/samples/module-side-effects/first-resolve-id-wins/_config.js
  test/function/samples/module-side-effects/first-resolve-id-wins/main.js
Due: eslint --fix, prettier --write

Support ES modules in bundles config files
  build-plugins/esm-dynamic-import.ts
  cli/run/loadConfigFile.ts
  src/utils/error.ts
  test/cli/node_modules/esm-dep/index.js
  test/cli/node_modules/esm-dep/package.json
  test/cli/node_modules_rename_me/esm-dep/index.js
  test/cli/node_modules_rename_me/esm-dep/package.json
  test/cli/samples/import-esm-package/_config.js
  test/cli/samples/import-esm-package/_expected/main.js
  test/cli/samples/import-esm-package/main.js
  test/cli/samples/import-esm-package/rollup.config.js
  typings/declarations.d.ts
Due: eslint --fix, prettier --write

Fix build
  build-plugins/clean-before-write.ts
  build-plugins/copy-types.ts
  build-plugins/get-banner.ts
Due: none

Fix test
  cli/run/loadConfigFile.ts
  src/utils/error.ts
  test/cli/node_modules/rollup-plugin-esm-test/index.mjs
  test/cli/node_modules/rollup-plugin-esm-test/package.json
  test/cli/samples/config-cwd-case-insensitive-es6/rollup.config.mjs
  test/cli/samples/import-esm-package/_config.js
  test/cli/samples/plugin/advanced-esm/_config.js
  test/load-config-file/index.js
  test/load-config-file/samples/esm-with-error/package.json
  test/load-config-file/samples/esm-with-error/rollup.config.js
Due: eslint --fix, prettier --write

Debug test
  .github/workflows/tests.yml
  package.json
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Statically resolve Symbol.toStringTag
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/PathTracker.ts
  src/ast/variables/GlobalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  test/form/samples/namespace-missing-export-effects/_expected.js
  test/form/samples/namespace-tostring/inlined-namespace-static-resolution/_config.js
  test/form/samples/namespace-tostring/inlined-namespace-static-resolution/_expected.js
  test/form/samples/namespace-tostring/inlined-namespace-static-resolution/foo.js
  test/form/samples/namespace-tostring/inlined-namespace-static-resolution/main.js
Due: eslint --fix, prettier --write

Update docs/999-big-list-of-options.md
  docs/999-big-list-of-options.md
Due: none

Change extension name to forceJsExtensionForImports
  cli/help.md
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
  src/Chunk.ts
  src/finalisers/amd.ts
  src/finalisers/shared/updateExtensionForRelativeAmdId.ts
  src/finalisers/umd.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/amd-keep-extension/_config.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

[v3.0] Remove warning when using implicit default export mode
  docs/999-big-list-of-options.md
  src/Chunk.ts
  src/utils/error.ts
  src/utils/getExportMode.ts
  test/function/samples/warn-implicit-cjs-auto/_config.js
  test/function/samples/warn-implicit-cjs-auto/main.js
Due: eslint --fix, prettier --write

Improve coverage
  src/finalisers/shared/addJsExtension.ts
  test/form/samples/amd-keep-extension/_config.js
  test/form/samples/amd-keep-extension/_expected/amd.js
  test/form/samples/amd-keep-extension/_expected/cjs.js
  test/form/samples/amd-keep-extension/_expected/es.js
  test/form/samples/amd-keep-extension/_expected/iife.js
  test/form/samples/amd-keep-extension/_expected/system.js
  test/form/samples/amd-keep-extension/_expected/umd.js
  test/form/samples/amd-keep-extension/bar.js
  test/form/samples/amd-keep-extension/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
