Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add new flags to cli/help.md
  cli/help.md
Due: none

added some docs
  cli/help.md
  docs/01-command-line-reference.md
Due: none

update docs
  docs/01-command-line-reference.md
Due: none

added a cli test for watch-event-hooks
  test/cli/samples/watch/watch-event-hooks/_config.js
  test/cli/samples/watch/watch-event-hooks/_expected/main.js
  test/cli/samples/watch/watch-event-hooks/rollup.config.js
Due: eslint --fix, prettier --write

scaffold test, need to figure out how to actually write it now
  test/cli/samples/watch/watch-event-hooks/_config.js
Due: eslint --fix, prettier --write

Fix unrelated typo
  docs/05-plugin-development.md
Due: none

chore: bump deps
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

feat: add Object.hasOwn as pure function
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

need guidance
  test/cli/samples/watch/watch-event-hooks/_config.js
  test/cli/samples/watch/watch-event-hooks/main.js
Due: eslint --fix, prettier --write

Add exception for loadConfigFile
  package.json
Due: none

Allow loading directly via /loadConfigFile
  docs/02-javascript-api.md
  package.json
Due: none

tests passing now with change for child.stdout -> process.stderr
  cli/run/watchHooks.ts
  test/cli/samples/watch/watch-event-hooks-error/_config.js
  test/cli/samples/watch/watch-event-hooks-error/main.js
  test/cli/samples/watch/watch-event-hooks-error/rollup.config.js
  test/cli/samples/watch/watch-event-hooks/_config.js
Due: eslint --fix, prettier --write

fixed test abortOnStderr
  test/cli/samples/watch/watch-event-hooks-error/_config.js
  test/cli/samples/watch/watch-event-hooks-error/wrapper.js
  test/cli/samples/watch/watch-event-hooks/_config.js
  test/cli/samples/watch/watch-event-hooks/wrapper.js
Due: eslint --fix, prettier --write

Initial exploration of startService API
  src/Graph.ts
  src/ModuleLoader.ts
  src/browser-entry.ts
  src/node-entry.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: eslint --fix

Add more plugin-context APIs
  src/Graph.ts
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: eslint --fix

Fix reassignment tracking
  src/ast/variables/LocalVariable.ts
  test/function/samples/track-reassignments/_config.js
  test/function/samples/track-reassignments/main.js
  test/function/samples/track-reassignments/patchEventTarget.js
Due: eslint --fix, prettier --write

Explore partial graph build function
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: eslint --fix

Do not deoptimize entire super class when adding a property
  src/ast/nodes/shared/ObjectEntity.ts
  test/form/samples/deoptimize-superclass/_config.js
  test/form/samples/deoptimize-superclass/_expected.js
  test/form/samples/deoptimize-superclass/main.js
Due: eslint --fix, prettier --write

Use static bundle factory
  src/Bundle.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: eslint --fix

2.72.1
  package-lock.json
  package.json
Due: none

Do not make Object.defineProperty/ies a side effect by default
  src/ast/Entity.ts
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/variables/GlobalVariable.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ThisVariable.ts
  test/form/samples/object-define-property/_config.js
  test/form/samples/object-define-property/_expected.js
  test/form/samples/object-define-property/main.js
Due: eslint --fix, prettier --write

Detect side effects for getters on functions
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/ObjectEntity.ts
  test/function/samples/function-getter-side-effects/_config.js
  test/function/samples/function-getter-side-effects/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
