Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Rename dependabot.yml to 1dependabot.yml
  .github/1dependabot.yml
Due: none

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

Update README.md
  README.md
Due: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

installation
  .devcontainer/git clone https:/github.com/nodoubtz/chains.git cd chains
  .devcontainer/npm install # or yarn install
  chains/ ├── src/                # Core source code ├── scripts/            # Management and utility scripts ├── tests/              # Test suite ├── package.json        # Project metadata and dependencies └── README.md           # Project documentation
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: none

Create LICENSE
  LICENSE
Due: none

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: watch mode add `allowInputInsideOutputPath` option
  cli/help.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  src/rollup/types.d.ts
  src/watch/watch-proxy.ts
Due: eslint --fix

fix: docs lint
  cli/help.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  src/rollup/types.d.ts
Due: eslint --fix

feat(config): add an fs config to the JS api (#5880)
  package-lock.json
  package.json
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/resolveId.ts
  test/chunking-form/samples/max-parallel-file-operations/_config.js
  test/function/samples/max-parallel-file-operations/default/_config.js
  test/function/samples/max-parallel-file-operations/error/_config.js
  test/function/samples/max-parallel-file-operations/infinity/_config.js
  test/function/samples/max-parallel-file-operations/set/_config.js
  test/function/samples/options-hook/_config.js
  test/misc/fs-override.js
  test/misc/index.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

feat(config): make fs option typesafe (#5880)
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/resolveId.ts
Due: eslint --fix

feat(config): pass the fs option as plugin context (#5880)
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  test/misc/fs-override.js
Due: eslint --fix

docs(config): add documentation about the fs option (#5880)
  docs/configuration-options/index.md
  docs/javascript-api/index.md
Due: none

fix(config): Fix RollupFsModule type
  docs/configuration-options/index.md
  src/rollup/types.d.ts
Due: eslint --fix

test: case
  test/cli/samples/watch/watch-output-contain-input-allowInputInsideOutputPath/_config.js
  test/cli/samples/watch/watch-output-contain-input-allowInputInsideOutputPath/main.js
  test/cli/samples/watch/watch-output-contain-input-allowInputInsideOutputPath/rollup.config.mjs
Due: eslint --fix, prettier --write

installation
  .devcontainer/kubectl create secret generic controller-manager \   -n actions-runner-system \   --from-literal=github_token=<YOUR_GITHUB_TOKEN>/apiVersion: actions.summerwind.dev/v1alpha1 kind: RunnerDeployment metadata:   name: example-runner-deployment   namespace: actions-runner-system spec:   replicas: 2   template:     spec:       repository: nodoubtz/actions-runner-controller
  .devcontainer/kubectl create secret generic controller-manager \   -n actions-runner-system \   --from-literal=github_token=<YOUR_GITHUB_TOKEN>/apiVersion: actions.summerwind.dev/v1alpha1 kind: RunnerDeployment metadata:   name: example-runner-deployment   namespace: actions-runner-system spec:   replicas: 2   template:     spec:       repository: nodoubtz/kubectl apply -f runner-deployment.yaml
Due: none

test: update
  test/cli/samples/watch/watch-output-contain-input-allowInputInsideOutputPath/_config.js
Due: eslint --fix, prettier --write

installation
  pip install git+https:/github.com/nodoubtz/2lit-formers.git
  pip install git+https:/github.com/nodoubtz/from transformers import AutoModel, AutoTokenizer  tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased") model = AutoModel.from_pretrained("bert-base-uncased")
Due: none

installation
  .devcontainer/cd git
  .devcontainer/git clone https:/github.com/nodoubtz/git.git
Due: none

Add files via upload
  github_workflows_startup.yml.txt
Due: none

fix: preserve constant identifiers in unary expressions instead of magic numbers
  src/ast/nodes/UnaryExpression.ts
  test/form/samples/unary-expressions-preserve-constants/_config.js
  test/form/samples/unary-expressions-preserve-constants/_expected.js
  test/form/samples/unary-expressions-preserve-constants/main.js
Due: eslint --fix, prettier --write

test: formatting
  test/form/samples/unary-expressions-preserve-constants/main.js
Due: none

Revert "chore(deps): update dependency yargs-parser to v22"
  package-lock.json
  package.json
Due: none

Do not update yargs parser as it requires Node 20
  renovate.json
Due: none

Update LICENSE
  LICENSE
Due: none

add safe variable names to usedNames
  src/utils/deconflictChunk.ts
Due: eslint --fix

feat: add database connection script with environment variable loading
  pip install python-dotenv psycopg2
Due: none

Add files via upload
  prod-ca-2021 (1).crt
Due: none

lint
  src/ExternalModule.ts
  src/Module.ts
  src/utils/transform.ts
Due: eslint --fix

feat: implement database connection and CI instructions
  .github/instructions/enter.instructions.md
  .github/workflows/performance-report.yml
  .vscode/tasks.json
  LICENSE.md
Due: none

feat: add database connection script with environment variable loading and update TypeScript configuration
  .github/workflows/performance-report.yml
  database_connection.py
  tsconfig.json
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
