Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Add missing ignore
  eslint.config.mjs
Due: none

4.62.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/destructure-function-length/_config.js
  test/function/samples/destructure-function-length/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

derive imports from rendered dependencies without mutating this.dependencies
  src/Chunk.ts
Due: eslint --fix

skip side-effect-free external imports when hoisting is off
  src/Chunk.ts
  src/ExternalChunk.ts
  test/chunking-form/samples/no-side-effect-free-external-imports/_config.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/amd/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/amd/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/cjs/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/cjs/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/es/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/es/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/system/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/system/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/main.js
Due: eslint --fix, prettier --write

refactor no-hoist dependency pruning
  src/Chunk.ts
Due: eslint --fix

Skip side-effect-free external imports when hoisting is disabled (#6411)
  src/Chunk.ts
  src/ExternalChunk.ts
  test/chunking-form/samples/no-side-effect-free-external-imports/_config.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/amd/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/amd/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/cjs/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/cjs/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/es/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/es/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/system/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/system/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/main.js
Due: eslint --fix, prettier --write

Create stub and basic test
  src/utils/PluginContext.ts
  test/function/samples/parse-and-walk-basic/_config.js
  test/function/samples/parse-and-walk-basic/main.js
Due: eslint --fix, prettier --write

Define type for parse function
  scripts/generate-ast-types.ts
  src/rollup/ast-types.d.ts
  src/rollup/types.d.ts
Due: eslint --fix

Provide stub for parseAndWalk
  native.d.ts
  native.js
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  test/function/samples/parse-and-walk-basic/_config.js
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: eslint --fix, prettier --write

Add nodeIds to JavaScript
  scripts/generate-ast-converters.ts
  scripts/generate-node-ids.ts
  src/ast/nodeIds.ts
Due: eslint --fix

refactor(rust/parser_ast): extract property AstConverter write buffer kind logic to new method (#6416)
  rust/parse_ast/src/ast_nodes/property.rs
Due: none

Hand over node selection to parseAndWalk
  browser/src/wasm.ts
  native.d.ts
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  src/utils/PluginContext.ts
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: eslint --fix

Unify bitset parameter between Napi and WASM
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  wasm/bindings_wasm.d.ts
Due: none

Improve naming slightly
  browser/src/wasm.ts
  native.d.ts
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  wasm/bindings_wasm.d.ts
Due: eslint --fix

Use a single parse function
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
Due: none

First attempt at Rust walking index generation
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/variable_declarator.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  rust/parse_ast/src/lib.rs
  scripts/generate-ast-macros.ts
  scripts/generate-rust-constants.ts
  src/utils/PluginContext.ts
Due: eslint --fix

Implement initial walking implementation
  rust/parse_ast/src/convert_ast/converter.rs
  scripts/generate-buffer-to-ast.ts
  scripts/generate-buffer-to-lazy-ast.ts
  scripts/helpers.js
  src/Module.ts
  src/utils/PluginContext.ts
  src/utils/bufferToAst.ts
  src/utils/bufferToLazyAst.ts
  src/utils/parseAst.ts
Due: eslint --fix

Extract nodeTypeStrings from bufferParsers
  scripts/generate-ast-converters.ts
  scripts/generate-buffer-parsers.ts
  scripts/generate-node-type-strings.ts
  src/ast/bufferParsers.ts
  src/ast/nodeTypeStrings.ts
Due: eslint --fix

Directly use BigUint64 for bitset
  browser/src/wasm.ts
  native.d.ts
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk-basic/_config.js
  test/function/samples/parse-and-walk-basic/main.js
  wasm/bindings_wasm.d.ts
Due: eslint --fix, prettier --write

Use an Option instead of checking if the bitset is empty
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/variable_declarator.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
  src/utils/parseAndWalk.ts
Due: eslint --fix

Add test we do not forget to extend the parseAndWalk tests as needed
  scripts/generate-ast-converters.ts
Due: none

Fix test types
  eslint.config.mjs
  test/cli/samples/config-defineConfig-mjs/_config.js
  test/cli/samples/config-type-module/_config.js
  test/file-hashes/index.js
  test/form/samples/addon-functions/_config.js
  test/function/samples/custom-module-options/_config.js
  test/sourcemaps/index.js
  test/sourcemaps/samples/render-chunk-babili/_config.js
  test/sourcemaps/samples/render-chunk-babili/babili-results.js
  test/testHelpers.d.ts
  test/tsconfig.base.json
Due: eslint --fix, prettier --write

Add documentation
  docs/javascript-api/index.md
  docs/plugin-development/index.md
Due: none

Make parseAndWalk throw PARSE_ERROR on invalid syntax
  rust/parse_ast/src/ast_nodes/panic_error.rs
  rust/parse_ast/src/ast_nodes/parse_error.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  src/utils/parseAndWalk.ts
  test/cli/samples/watch/bundle-error/_config.js
  test/function/samples/parse-and-walk/parse-ArrayExpression/_config.js
  test/function/samples/parse-and-walk/parse-ParseError/_config.js
  test/function/samples/parse-and-walk/parse-ParseError/main.js
  test/misc/parse-ast.js
Due: eslint --fix, prettier --write

Test invalid visitor names
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/invalid-node-visitor-name/_config.js
  test/function/samples/parse-and-walk/invalid-node-visitor-name/main.js
Due: eslint --fix, prettier --write

Automatically test types
  package-lock.json
  package.json
  scripts/check-typescript.sh
  test/parse-and-walk/index.js
Due: eslint --fix, prettier --write

Expose parseAndWalk as separate helper
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
Due: eslint --fix

Implement skipChildren logic
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/skipChildren/_config.js
  test/function/samples/parse-and-walk/skipChildren/main.js
Due: eslint --fix, prettier --write

Implement parseChildren logic
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/parseChildren/_config.js
  test/function/samples/parse-and-walk/parseChildren/main.js
Due: eslint --fix, prettier --write

Extend instructions
  AGENTS.md
Due: none

Also run AST tests in smoke tests
  .github/workflows/build-and-tests.yml
  package.json
Due: none

Improve coverage
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Fix types
  patches/fixturify+3.0.0.patch
  rust/parse_ast/src/ast_nodes/parse_error.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Extend AST tests
  test/parse-and-walk/index.js
  test/parse-and-walk/samples/parse-ArrayExpression/_config.js
  test/types.d.ts
Due: eslint --fix, prettier --write
