Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Do not add tree-shaken variables to namespaces when inlining dynamic imports
  src/Chunk.ts
  src/Module.ts
  test/form/samples/inline-with-reexport/_config.js
  test/form/samples/inline-with-reexport/_expected.js
  test/form/samples/inline-with-reexport/a.js
  test/form/samples/inline-with-reexport/b.js
  test/form/samples/inline-with-reexport/main.js
Due: eslint --fix, prettier --write

Handle nested properties and edge cases
  src/utils/getLogFilter.ts
  test/cli/samples/watch/filter-logs/_config.js
  test/cli/samples/watch/filter-logs/main.js
  test/cli/samples/watch/filter-logs/rollup.config.mjs
  test/cli/samples/watch/filter-logs/wrapper.js
  test/misc/get-log-filter.js
Due: eslint --fix, prettier --write

Formatting
  docs/command-line-interface/index.md
Due: none

Sort CLI flags
  cli/help.md
  docs/command-line-interface/index.md
Due: none

Support basic log filtering
  build-plugins/copy-types.ts
  cli/run/batchWarnings.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFromCommand.ts
  rollup.config.ts
  src/utils/getLogFilter.ts
  src/utils/getLogFilterType.d.ts
  src/utils/options/mergeOptions.ts
  test/cli/samples/filter-logs/_config.js
  test/cli/samples/filter-logs/main.js
  test/cli/samples/filter-logs/rollup.config.mjs
  test/cli/samples/filter-logs/wrapper.js
  test/misc/deprecations.js
  test/misc/get-log-filter.js
  test/misc/index.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Describe --filterLogs option
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
Due: none

More filtering
  cli/run/index.ts
  src/utils/getLogFilter.ts
  test/misc/get-log-filter.js
Due: eslint --fix

Add exports condition
  package.json
Due: none

Add documentation and ES build
  docs/javascript-api/index.md
  package.json
  rollup.config.ts
Due: none

Negative and intersected filters
  src/utils/getLogFilter.ts
  test/misc/get-log-filter.js
Due: eslint --fix

Fix link
  docs/javascript-api/index.md
Due: none

fix: improve error for manualChunks' modules that are resolved as an external modules
  src/Bundle.ts
  src/ModuleLoader.ts
  src/utils/logs.ts
  test/function/samples/manual-chunks-include-externalized-modules/_config.js
  test/function/samples/manual-chunks-include-externalized-modules/main.js
Due: eslint --fix, prettier --write

@rollup/browser: fix types export map entry
  browser/package.json
Due: none

Create _config.js
  test/function/samples/re-export-own/_config.js
Due: eslint --fix, prettier --write

Create main.js
  test/function/samples/re-export-own/main.js
Due: none

Create mod.js
  test/function/samples/re-export-own/mod.js
Due: none

Create external.js
  test/function/samples/re-export-own/external.js
Due: none

Update _config.js
  test/function/samples/re-export-own/_config.js
Due: eslint --fix, prettier --write

Update external.js
  test/function/samples/re-export-own/external.js
Due: none

Update main.js
  test/function/samples/re-export-own/main.js
Due: none

Delete mod.js
  test/function/samples/re-export-own/mod.js
Due: none

forms
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/amd.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/iife.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/umd.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/amd.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/iife.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/umd.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/amd.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/cjs.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/iife.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/umd.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/amd.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/cjs.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/iife.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/umd.js
  test/form/samples/no-external-live-bindings-compact/_expected/amd.js
  test/form/samples/no-external-live-bindings-compact/_expected/cjs.js
  test/form/samples/no-external-live-bindings-compact/_expected/iife.js
  test/form/samples/no-external-live-bindings-compact/_expected/umd.js
Due: none

forms
  test/function/samples/re-export-own/_config.js
  test/function/samples/re-export-own/external.js
  test/function/samples/re-export-own/main.js
Due: eslint --fix, prettier --write

fix: cover more cases
  src/Bundle.ts
  src/ModuleLoader.ts
  src/utils/logs.ts
  test/function/samples/manual-chunks-include-external-modules/_config.js
  test/function/samples/manual-chunks-include-external-modules/external.js
  test/function/samples/manual-chunks-include-external-modules/main.js
  test/function/samples/manual-chunks-include-external-modules2/_config.js
  test/function/samples/manual-chunks-include-external-modules2/external.js
  test/function/samples/manual-chunks-include-external-modules2/main.js
  test/function/samples/manual-chunks-include-external-modules3/_config.js
  test/function/samples/manual-chunks-include-external-modules3/external.js
  test/function/samples/manual-chunks-include-external-modules3/main.js
  test/function/samples/manual-chunks-include-externalized-modules/_config.js
  test/function/samples/manual-chunks-include-externalized-modules/main.js
Due: eslint --fix, prettier --write
