Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Use a much more basic algorithm
  src/utils/chunkAssignment.ts
Due: eslint --fix

Log cycles in generated chunks
  src/utils/chunkAssignment.ts
Due: eslint --fix

Used cached hasEffects to improve performance
  src/Module.ts
  src/ast/nodes/Program.ts
  test/chunking-form/samples/minChunkSize/best-merge-target/_config.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-distant-shared/_config.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_config.js
  test/chunking-form/samples/minChunkSize/merge-small-side-effect-chunks/_config.js
  test/chunking-form/samples/minChunkSize/merge-three-small-chunks-a/_config.js
  test/chunking-form/samples/minChunkSize/merge-three-small-chunks-b/_config.js
  test/chunking-form/samples/minChunkSize/merge-two-small-chunks-a/_config.js
  test/chunking-form/samples/minChunkSize/merge-two-small-chunks-b/_config.js
  test/chunking-form/samples/minChunkSize/merge-unrelated/_config.js
  test/chunking-form/samples/minChunkSize/no-merge-side-effects/_config.js
Due: eslint --fix, prettier --write

Avoid cycles when merging chunks
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_config.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/amd/generated-main1.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/amd/generated-small.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/amd/generated-small2.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/amd/main1.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/amd/main2.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/amd/main3.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/cjs/generated-main1.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/cjs/generated-small.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/cjs/generated-small2.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/cjs/main1.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/cjs/main2.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/cjs/main3.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/es/generated-main1.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/es/generated-small.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/es/generated-small2.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/es/main1.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/es/main2.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/es/main3.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/system/generated-main1.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/system/generated-small.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/system/main1.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/system/main2.js
  test/chunking-form/samples/minChunkSize/avoid-circular-dependencies/_expected/system/main3.js
Due: eslint --fix, prettier --write

Improve cycle prevention mechanism
  src/utils/chunkAssignment.ts
Due: eslint --fix

Remove logging
  src/utils/chunkAssignment.ts
Due: eslint --fix

Improve coverage
  src/ast/nodes/Program.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_config.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_expected/amd/generated-small2.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_expected/amd/main.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_expected/cjs/generated-small2.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_expected/cjs/main.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_expected/es/generated-small2.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_expected/es/main.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_expected/system/generated-small2.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/_expected/system/main.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/main.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/small1.js
  test/chunking-form/samples/minChunkSize/merge-dynamic-imports/small2.js
Due: eslint --fix, prettier --write

Add flag for deep chunk optimization
  src/Bundle.ts
  src/rollup/types.d.ts
  src/utils/chunkAssignment.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Add documentation
  docs/configuration-options/index.md
Due: none

Improve wording
  docs/configuration-options/index.md
Due: none

fix: correct incorrect assertions
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

feat: add this option to context.ignore
  src/ast/ExecutionContext.ts
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/assignment-to-the-properties-of-this/_config.js
  test/form/samples/assignment-to-the-properties-of-this/_expected.js
  test/form/samples/assignment-to-the-properties-of-this/main.js
Due: eslint --fix, prettier --write

fixed the logo link
  README.md
Due: none

Update index.md
  docs/plugin-development/index.md
Due: none

docs: fix style
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Track this deoptimizations
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ThisVariable.ts
  test/form/samples/assignment-to-the-properties-of-this/main.js
  test/function/samples/this-side-effect/_config.js
  test/function/samples/this-side-effect/_expected.js
  test/function/samples/this-side-effect/main.js
Due: eslint --fix, prettier --write

test: tweak test description
  test/form/samples/assignment-to-the-properties-of-this/_config.js
  test/form/samples/side-effects-this/_config.js
  test/form/samples/side-effects-this/_expected.js
  test/form/samples/side-effects-this/main.js
Due: eslint --fix, prettier --write

docs: make api params more readable
  docs/plugin-development/index.md
Due: none

docs: make api params more readable
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

feat: export the type of loadConfigFile
  build-plugins/copy-types.ts
  cli/run/batchWarnings.ts
  cli/run/build.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFileType.d.ts
  cli/run/loadConfigFromCommand.ts
  cli/run/watch-cli.ts
  package.json
  rollup.config.ts
Due: none

Update magic-string and adjust types.
  build-plugins/add-cli-entry.ts
  build-plugins/conditional-fsevents-import.ts
  package-lock.json
  package.json
  src/rollup/types.d.ts
  src/utils/collapseSourcemaps.ts
Due: eslint --fix
