Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove output.preferConst
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/deprecated/prefer-const/_config.js
  test/form/samples/deprecated/prefer-const/_expected/amd.js
  test/form/samples/deprecated/prefer-const/_expected/cjs.js
  test/form/samples/deprecated/prefer-const/_expected/es.js
  test/form/samples/deprecated/prefer-const/_expected/iife.js
  test/form/samples/deprecated/prefer-const/_expected/system.js
  test/form/samples/deprecated/prefer-const/_expected/umd.js
  test/form/samples/deprecated/prefer-const/main.js
  test/form/samples/deprecated/prefer-const/namespace.js
  test/function/samples/deprecations/prefer-const/_config.js
  test/function/samples/deprecations/prefer-const/main.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Remove output.experimentalDeepDynamicChunkOptimization
  docs/configuration-options/index.md
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/urls.ts
  test/function/samples/deprecations/experimentalDeepDynamicChunkOptimization/_config.js
  test/function/samples/deprecations/experimentalDeepDynamicChunkOptimization/main.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Remove output.dynamicImportFunction
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  src/Chunk.ts
  src/ast/nodes/ImportExpression.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderHelpers.ts
  src/utils/urls.ts
  test/chunking-form/samples/deprecated/dynamic-import-comments/_config.js
  test/chunking-form/samples/deprecated/dynamic-import-comments/_expected/amd/main.js
  test/chunking-form/samples/deprecated/dynamic-import-comments/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/dynamic-import-comments/_expected/es/main.js
  test/chunking-form/samples/deprecated/dynamic-import-comments/_expected/system/main.js
  test/chunking-form/samples/deprecated/dynamic-import-comments/main.js
  test/chunking-form/samples/deprecated/dynamic-import-name/_config.js
  test/chunking-form/samples/deprecated/dynamic-import-name/_expected/amd/main.js
  test/chunking-form/samples/deprecated/dynamic-import-name/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/dynamic-import-name/_expected/es/main.js
  test/chunking-form/samples/deprecated/dynamic-import-name/_expected/system/main.js
  test/chunking-form/samples/deprecated/dynamic-import-name/main.js
  test/function/samples/deprecated/dynamic-import-name-warn/_config.js
  test/function/samples/deprecated/dynamic-import-name-warn/main.js
  test/function/samples/deprecated/dynamic-import-name/_config.js
  test/function/samples/deprecated/dynamic-import-name/main.js
  test/function/samples/deprecations/dynamicImportFunction/_config.js
  test/function/samples/deprecations/dynamicImportFunction/main.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Remove this.moduleIds from plugin context
  docs/plugin-development/index.md
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  test/function/samples/deprecated/plugin-module-ids/_config.js
  test/function/samples/deprecated/plugin-module-ids/foo.js
  test/function/samples/deprecated/plugin-module-ids/main.js
  test/function/samples/deprecations/plugin-module-ids/_config.js
  test/function/samples/deprecations/plugin-module-ids/foo.js
  test/function/samples/deprecations/plugin-module-ids/main.js
Due: eslint --fix, prettier --write

Remove hasModuleSideEffects from module info
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_config.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/amd/generated-emptyTransformed.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/amd/main1.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/amd/main2.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/cjs/generated-emptyTransformed.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/cjs/main1.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/cjs/main2.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/es/generated-emptyTransformed.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/es/main1.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/es/main2.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/system/generated-emptyTransformed.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/system/main1.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/_expected/system/main2.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/main1.js
  test/chunking-form/samples/deprecated/empty-module-no-treeshake/main2.js
  test/function/samples/deprecated/resolve-id-external/_config.js
  test/function/samples/deprecated/resolve-id-external/main.js
  test/function/samples/deprecated/resolve-id/_config.js
  test/function/samples/deprecated/resolve-id/main.js
  test/function/samples/deprecations/hasModuleSideEffects/_config.js
  test/function/samples/deprecations/hasModuleSideEffects/main.js
Due: eslint --fix, prettier --write

Use the flag perf
  rollupv3.bench.js
  rollupv4.bench.js
Due: none

Set TsConfig useDefineForClassFields to false for reducing time consumption
  tsconfig.json
Due: none

Adapt annotations props for reducing memory consumption
  src/utils/convert-ast.ts
Due: eslint --fix

Improve the docs repl appearance in the light mode
  docs/repl/components/ReplModule.vue
  docs/repl/helpers/editor.ts
Due: none

Remove onwarn from normalized input options
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/logging/log-from-plugin-options-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog/_config.js
  test/function/samples/logging/log-from-plugin-options-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-simple/_config.js
Due: eslint --fix, prettier --write

feat: Do not watch files anymore if their content is returned by the load hook
  src/ModuleLoader.ts
  test/function/samples/external-conflict/_config.js
  test/function/samples/load-module-error/load/_config.js
  test/function/samples/load-returns-string-or-null/_config.js
  test/function/samples/max-parallel-file-operations/error/_config.js
  test/function/samples/plugin-error/load/_config.js
Due: eslint --fix, prettier --write

tweak test
  test/browser/samples/missing-dependency-resolution/_config.js
Due: eslint --fix, prettier --write

Fully deoptimize first level path when deoptimizing nested parameter paths
  src/ast/variables/ParameterVariable.ts
  test/function/samples/track-mutated-in-callback/_config.js
  test/function/samples/track-mutated-in-callback/main.js
Due: eslint --fix, prettier --write

[v4.0] Remove onwarn from normalized input options (#5147)
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/logging/log-from-plugin-options-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog/_config.js
  test/function/samples/logging/log-from-plugin-options-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-simple/_config.js
Due: eslint --fix, prettier --write

4.0.0-20
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix comment permissions and reduce comment rate
  .github/workflows/build-and-tests.yml
  scripts/postpublish.js
Due: none

4.0.0-21
  browser/package.json
  package-lock.json
  package.json
Due: none

Allow return outside functions
  docs/plugin-development/index.md
  native.d.ts
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  src/Graph.ts
  src/rollup/types.d.ts
  test/function/samples/parse-return-outside-function/_config.js
  test/function/samples/parse-return-outside-function/main.js
  test/utils.js
Due: eslint --fix, prettier --write

[v4.0] Add parse option to allow return outside function (#5154)
  docs/plugin-development/index.md
  native.d.ts
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  src/Graph.ts
  src/rollup/types.d.ts
  test/function/samples/parse-return-outside-function/_config.js
  test/function/samples/parse-return-outside-function/main.js
  test/utils.js
Due: eslint --fix, prettier --write

4.0.0-22
  browser/package.json
  package-lock.json
  package.json
Due: none

Handle empty exports
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/empty-export/_config.js
  test/form/samples/empty-export/_expected/amd.js
  test/form/samples/empty-export/_expected/cjs.js
  test/form/samples/empty-export/_expected/es.js
  test/form/samples/empty-export/_expected/iife.js
  test/form/samples/empty-export/_expected/system.js
  test/form/samples/empty-export/_expected/umd.js
  test/form/samples/empty-export/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
