Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Add watcher to test
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Make it more lightweight by using fs.watch
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

More logging
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
Due: eslint --fix, prettier --write

Use timeouts again
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
Due: eslint --fix, prettier --write

Remove repetitions
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
Due: eslint --fix, prettier --write

export performance object
  browser/performance.ts
  src/utils/performance.ts
  src/utils/timers.ts
Due: eslint --fix

type fixes
  src/utils/collapseSourcemaps.ts
Due: eslint --fix

fix browser perf test, add comment
  test/browser/index.js
Due: eslint --fix, prettier --write

export entire process object
  browser/process.ts
  src/utils/crypto.ts
  src/utils/process.ts
  src/utils/timers.ts
Due: eslint --fix

remove type assertion in rollup.config
  rollup.config.ts
Due: none

remove comment
  rollup.config.ts
Due: none

Create docs
  docs/05-plugin-development.md
  docs/build-hooks.mmd
Due: none

Implement shouldTransformCachedModule
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/transform.ts
  test/incremental/index.js
Due: eslint --fix, prettier --write

Flush atomic file writes
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

Fix formatting
  docs/05-plugin-development.md
Due: none

Improve test reliability
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

extract interface
  browser/process.ts
Due: eslint --fix

check for performance object in alternative environments
  browser/performance.ts
Due: eslint --fix

experiment with test watch-config-early-update timeouts - do not merge
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

Update _config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

back to 3s initial timeout with repeat: 100
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

try 2s initial timeout
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

disable build-plugins/conditional-fsevents-import in build
  rollup.config.ts
Due: none

use conditionalFsEventsImport plugin on all platforms except darwin
  rollup.config.ts
Due: none

use 3s initial timeout again
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

6s initial timeout, 50 repeat
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

revert conditionalFsEventsImport use in build
  rollup.config.ts
Due: none

try to make stderr writes atomic
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

fix bugs in last commit
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

have stderr and stdout block
  cli/logging.ts
Due: none

tabs
  cli/logging.ts
Due: none

lint
  cli/logging.ts
Due: none

use blocking writes for stderr and stdout in tests
  test/test.js
Due: eslint --fix, prettier --write

use repeat of 100 and revert final timeout
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

bump up timeouts
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

debug logging
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write

add timestamps to debug logging
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write
