Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: fix linux-gnu glibc regression and enforce glibc ≤ 2.28 compatibility (#6467)
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
Due: none

Update audit resolve
  audit-resolve.json
  package-lock.json
Due: none

4.62.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: keep the semicolon added after a replaced default export
  src/ast/nodes/ExportDefaultDeclaration.ts
  test/function/samples/export-default-folded-expression-without-semicolon/_config.js
  test/function/samples/export-default-folded-expression-without-semicolon/main.js
  test/function/samples/export-default-this-without-semicolon/_config.js
  test/function/samples/export-default-this-without-semicolon/main.js
Due: eslint --fix, prettier --write

fix(browser): match node's extname for dotfiles
  browser/src/path.ts
Due: eslint --fix

fix(browser): match node's basename for a trailing slash
  browser/src/path.ts
Due: eslint --fix

Wait for the top-level await of inlined dynamically imported modules
  package-lock.json
  src/utils/executionOrder.ts
  test/chunking-form/samples/dynamic-import-tla/_config.js
  test/chunking-form/samples/dynamic-import-tla/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-tla/dep.js
  test/chunking-form/samples/dynamic-import-tla/main.js
Due: eslint --fix, prettier --write

chore: restore package-lock.json from upstream (undo npm install --ignore-scripts drift)
  package-lock.json
Due: none

style: collapse top-level await check to single line (prettier)
  src/utils/executionOrder.ts
Due: eslint --fix

fix: avoid spurious cycle warning for dynamic imports inside functions with TLA
  src/utils/executionOrder.ts
  test/form/samples/dynamic-import-tla-no-spurious-cycle/_config.js
  test/form/samples/dynamic-import-tla-no-spurious-cycle/_expected.js
  test/form/samples/dynamic-import-tla-no-spurious-cycle/a.js
  test/form/samples/dynamic-import-tla-no-spurious-cycle/b.js
  test/form/samples/dynamic-import-tla-no-spurious-cycle/foo.js
  test/form/samples/dynamic-import-tla-no-spurious-cycle/foo2.js
  test/form/samples/dynamic-import-tla-no-spurious-cycle/main.js
Due: eslint --fix, prettier --write

fix cached module info during cache checks
  src/Module.ts
  src/ModuleLoader.ts
  test/incremental/index.js
Due: eslint --fix, prettier --write

Add test to demonstrate entry point regression
  test/incremental/index.js
Due: eslint --fix, prettier --write

Keep the semicolon added after a replaced default export (#6468)
  src/ast/nodes/ExportDefaultDeclaration.ts
  test/function/samples/export-default-folded-expression-without-semicolon/_config.js
  test/function/samples/export-default-folded-expression-without-semicolon/main.js
  test/function/samples/export-default-this-without-semicolon/_config.js
  test/function/samples/export-default-this-without-semicolon/main.js
Due: eslint --fix, prettier --write

Remove unused rendered module sources map
  src/Chunk.ts
Due: eslint --fix

4.62.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Remove unused rendered module sources map (#6482)
  src/Chunk.ts
Due: eslint --fix

Adapt parse_ast to swc_ecma_ast 29 API changes
  rust/parse_ast/src/ast_nodes/arrow_function_expression.rs
  rust/parse_ast/src/ast_nodes/block_statement.rs
  rust/parse_ast/src/ast_nodes/jsx_text.rs
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/property.rs
  rust/parse_ast/src/ast_nodes/shared/function_node.rs
Due: none

feat: improve function return value tracking (#6065)
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/values.ts
  src/utils/unassigned.ts
  test/form/samples/literals-from-return-expressions-branches/_config.js
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
  test/form/samples/literals-from-return-expressions-deopt/_config.js
  test/form/samples/literals-from-return-expressions-deopt/_expected.js
  test/form/samples/literals-from-return-expressions-deopt/main.js
  test/form/samples/literals-from-return-expressions-perf/_config.js
  test/form/samples/literals-from-return-expressions-perf/_expected.js
  test/form/samples/literals-from-return-expressions-perf/main.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-complex/main.js
Due: eslint --fix, prettier --write

4.63.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Add failing test for deoptimized assignment
  test/function/samples/deoptimize-object-assigned-via-destructuring/_config.js
  test/function/samples/deoptimize-object-assigned-via-destructuring/main.js
Due: eslint --fix, prettier --write

chore: update Rust nightly toolchain
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  rust-toolchain.toml
Due: none

chore(ci): remove unused rust-src components
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
Due: none

Revert "feat: improve function return value tracking (#6065)"
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/values.ts
  src/utils/unassigned.ts
  test/form/samples/literals-from-return-expressions-branches/_config.js
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
  test/form/samples/literals-from-return-expressions-deopt/_config.js
  test/form/samples/literals-from-return-expressions-deopt/_expected.js
  test/form/samples/literals-from-return-expressions-deopt/main.js
  test/form/samples/literals-from-return-expressions-perf/_config.js
  test/form/samples/literals-from-return-expressions-perf/_expected.js
  test/form/samples/literals-from-return-expressions-perf/main.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-complex/main.js
Due: eslint --fix, prettier --write

Revert improve function return value tracking (#6490)
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/values.ts
  src/utils/unassigned.ts
  test/form/samples/literals-from-return-expressions-branches/_config.js
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
  test/form/samples/literals-from-return-expressions-deopt/_config.js
  test/form/samples/literals-from-return-expressions-deopt/_expected.js
  test/form/samples/literals-from-return-expressions-deopt/main.js
  test/form/samples/literals-from-return-expressions-perf/_config.js
  test/form/samples/literals-from-return-expressions-perf/_expected.js
  test/form/samples/literals-from-return-expressions-perf/main.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-complex/main.js
Due: eslint --fix, prettier --write

4.63.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Reapply improve function return value tracking
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/values.ts
  src/utils/unassigned.ts
  test/form/samples/literals-from-return-expressions-branches/_config.js
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
  test/form/samples/literals-from-return-expressions-deopt/_config.js
  test/form/samples/literals-from-return-expressions-deopt/_expected.js
  test/form/samples/literals-from-return-expressions-deopt/main.js
  test/form/samples/literals-from-return-expressions-perf/_config.js
  test/form/samples/literals-from-return-expressions-perf/_expected.js
  test/form/samples/literals-from-return-expressions-perf/main.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-complex/main.js
Due: eslint --fix, prettier --write

fix: do not tree-shake effects of interactions with objects returned from multi-return functions (#6488)
  src/ast/nodes/shared/MultiExpression.ts
  test/form/samples/calls-on-multi-return-object/_config.js
  test/form/samples/calls-on-multi-return-object/_expected.js
  test/form/samples/calls-on-multi-return-object/main.js
  test/function/samples/calls-on-multi-return-object/_config.js
  test/function/samples/calls-on-multi-return-object/main.js
Due: eslint --fix, prettier --write

fix: correctly merge truthy literal and unknown-falsy multi-return values (#6491)
  src/ast/nodes/shared/MultiExpression.ts
  test/form/samples/multi-return-falsy-fold/_config.js
  test/form/samples/multi-return-falsy-fold/_expected.js
  test/form/samples/multi-return-falsy-fold/main.js
  test/function/samples/multi-return-mixed-truthiness/_config.js
  test/function/samples/multi-return-mixed-truthiness/main.js
Due: eslint --fix, prettier --write

docs: add an ESM and CommonJS comparison to the introduction
  docs/introduction/index.md
Due: none

docs: name the parameter runHook actually takes
  src/utils/PluginDriver.ts
Due: eslint --fix

Prevent exponential growth in return value tracking
  src/ast/nodes/shared/MultiExpression.ts
  test/cli/samples/avoids-exponential-memory-usage-for-chained-calls/_config.js
  test/cli/samples/avoids-exponential-memory-usage-for-chained-calls/main.js
  test/form/samples/limits-return-expression-tracking-for-chained-calls/_config.js
  test/form/samples/limits-return-expression-tracking-for-chained-calls/_expected.js
  test/form/samples/limits-return-expression-tracking-for-chained-calls/main.js
Due: eslint --fix, prettier --write

Preserve call purity when limiting return value tracking
  src/ast/nodes/shared/MultiExpression.ts
  test/form/samples/limits-return-expression-tracking-for-chained-calls/_config.js
  test/form/samples/limits-return-expression-tracking-for-chained-calls/main.js
Due: eslint --fix, prettier --write

Update index.md
  docs/configuration-options/index.md
Due: none

Memoize multi-return call compositions to avoid exponential overhead
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/utils/returnComposition.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  test/cli/samples/conditional-multi-return-call-tracking/_config.js
  test/cli/samples/conditional-multi-return-call-tracking/main.js
  test/cli/samples/layered-multi-return-call-tracking/_config.js
  test/cli/samples/layered-multi-return-call-tracking/main.js
  test/cli/samples/recursive-multi-return-call-tracking/_config.js
  test/cli/samples/recursive-multi-return-call-tracking/main.js
  test/function/samples/multi-return-async-return-deoptimization/_config.js
  test/function/samples/multi-return-async-return-deoptimization/main.js
  test/function/samples/multi-return-dedup-keeps-mutation-observable/_config.js
  test/function/samples/multi-return-dedup-keeps-mutation-observable/main.js
  test/function/samples/multi-return-keeps-all-distinct-returns/_config.js
  test/function/samples/multi-return-keeps-all-distinct-returns/main.js
  test/function/samples/multi-return-parameter-call-deoptimization/_config.js
  test/function/samples/multi-return-parameter-call-deoptimization/main.js
  test/function/samples/multi-return-reassignment-refolds-composition/_config.js
  test/function/samples/multi-return-reassignment-refolds-composition/main.js
  test/function/samples/multi-return-recursive-self-composition/_config.js
  test/function/samples/multi-return-recursive-self-composition/main.js
Due: eslint --fix, prettier --write

do not resolve generator function calls to the values of their return statements
  src/ast/nodes/shared/FunctionBase.ts
  test/function/samples/generator-return-value-not-folded/_config.js
  test/function/samples/generator-return-value-not-folded/main.js
Due: eslint --fix, prettier --write

deduplicate registrations when tracking unreached return statements
  src/ast/nodes/ReturnStatement.ts
  test/function/samples/multi-return-repeated-member-queries/_config.js
  test/function/samples/multi-return-repeated-member-queries/main.js
Due: eslint --fix, prettier --write

Escape quotes and backslashes in import attribute values
  src/ExternalChunk.ts
  test/form/samples/import-attributes/escapes-attribute-values/_config.js
  test/form/samples/import-attributes/escapes-attribute-values/_expected.js
  test/form/samples/import-attributes/escapes-attribute-values/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
