Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Downgrade and pin mocha
  package-lock.json
  package.json
  renovate.json
Due: none

Increase timeouts
  .github/workflows/build-and-tests.yml
Due: none

fix(watch): await the rerun so listener failures surface as ERROR events
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

Normalize sourcemap placeholders before hashing
  src/utils/renderChunks.ts
  test/chunking-form/samples/sourcemap-file-names-function/_expected/amd/dynamic-C6tZdZAc_Y2J-Bx2VuOb-.js.map
  test/chunking-form/samples/sourcemap-file-names-function/_expected/amd/dynamic-D2UuTzPRzkA4-BvclF42_.js.map
  test/chunking-form/samples/sourcemap-file-names-function/_expected/amd/dynamic-hashed-Bx2VuOb-.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/amd/main.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/cjs/dynamic-C33_xDR5Jfrm-_yTWX9Li.js.map
  test/chunking-form/samples/sourcemap-file-names-function/_expected/cjs/dynamic-CcenT4iVwjBe-DZDsvhQ1.js.map
  test/chunking-form/samples/sourcemap-file-names-function/_expected/cjs/dynamic-hashed-DZDsvhQ1.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/cjs/dynamic-hashed-_yTWX9Li.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/cjs/main.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/es/dynamic-BzCPwuH0Nmkd-CbyqBGYH.js.map
  test/chunking-form/samples/sourcemap-file-names-function/_expected/es/dynamic-CQROc0LN5Ob6-BknvJg9M.js.map
  test/chunking-form/samples/sourcemap-file-names-function/_expected/es/dynamic-hashed-BknvJg9M.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/es/dynamic-hashed-CbyqBGYH.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/es/main.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/system/dynamic-Dk-AYcAqUjtc-MPX4jpqT.js.map
  test/chunking-form/samples/sourcemap-file-names-function/_expected/system/dynamic-hashed-8ZhooZek.js
  test/chunking-form/samples/sourcemap-file-names-function/_expected/system/dynamic-kzMa0H_lzbe7-8ZhooZek.js.map
  test/chunking-form/samples/sourcemap-file-names-function/_expected/system/main.js
  test/chunking-form/samples/sourcemap-file-names/_expected/amd/main-BOBbRDKm-amd-D8Cz73YS.js.map
  test/chunking-form/samples/sourcemap-file-names/_expected/amd/main-BOBbRDKm-amd.js
  test/chunking-form/samples/sourcemap-file-names/_expected/amd/main-DHGJL93g-amd-_5SRgzsp.js.map
  test/chunking-form/samples/sourcemap-file-names/_expected/cjs/main-BOTozfAo-cjs-Du7N1pPR.js.map
  test/chunking-form/samples/sourcemap-file-names/_expected/cjs/main-BOTozfAo-cjs.js
  test/chunking-form/samples/sourcemap-file-names/_expected/cjs/main-BtTPuZ-C-cjs-BQrSUYGx.js.map
  test/chunking-form/samples/sourcemap-file-names/_expected/cjs/main-BtTPuZ-C-cjs.js
  test/chunking-form/samples/sourcemap-file-names/_expected/es/main-BilZ-5cK-es-Dymp7TDl.js.map
  test/chunking-form/samples/sourcemap-file-names/_expected/es/main-BilZ-5cK-es.js
  test/chunking-form/samples/sourcemap-file-names/_expected/es/main-Dr6j-lXd-es-BdzK02tK.js.map
  test/chunking-form/samples/sourcemap-file-names/_expected/es/main-Dr6j-lXd-es.js
  test/chunking-form/samples/sourcemap-file-names/_expected/system/main-CwRWGeVk-system-Dsii91jZ.js.map
  test/chunking-form/samples/sourcemap-file-names/_expected/system/main-DNdSv6Yf-system-CAE69qzq.js.map
  test/chunking-form/samples/sourcemap-file-names/_expected/system/main-DNdSv6Yf-system.js
  test/misc/in-memory-sourcemaps.js
Due: eslint --fix

docs: fix AGENTS.md 'Generated files' rule to reference real paths
  AGENTS.md
Due: none

Fix nested log filters for primitive values
  src/utils/getLogFilter.ts
  test/cli/samples/filter-logs/_config.js
  test/cli/samples/filter-logs/rollup.config.mjs
  test/misc/get-log-filter.js
Due: eslint --fix, prettier --write

fix: invalidate literal value caches at all paths when a return statement becomes reached (#6491)
  src/ast/nodes/shared/MultiExpression.ts
  test/function/samples/multi-return-later-reached-return-invalidates-fold/_config.js
  test/function/samples/multi-return-later-reached-return-invalidates-fold/main.js
Due: eslint --fix, prettier --write

feat: add OpenBSD arm64 support
  .github/workflows/build-and-tests.yml
  native.js
  npm/openbsd-arm64/README.md
  npm/openbsd-arm64/package.json
  package.json
  rust/bindings_napi/src/lib.rs
Due: none

Resolve audit
  audit-resolve.json
Due: none

Fix nested log filters for primitive values (#6511)
  src/utils/getLogFilter.ts
  test/cli/samples/filter-logs/_config.js
  test/cli/samples/filter-logs/rollup.config.mjs
  test/misc/get-log-filter.js
Due: eslint --fix, prettier --write

4.63.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Remove the whole CRLF pair when suppressing ASI
  src/utils/renderHelpers.ts
  test/function/samples/preserve-asi-with-crlf-line-endings/_config.js
Due: eslint --fix, prettier --write

Improve instructions for AI PRs
  AGENTS.md
  CLAUDE.md
Due: none

fix(browser): match node's basename and extname (#6473)
  AGENTS.md
  CLAUDE.md
  browser/src/path.ts
  docs/repl/helpers/path.ts
  test/browser/samples/file-name-placeholders-node-path/_config.js
  test/browser/samples/file-name-placeholders-node-path/_expected/assets/.htaccess--asset
  test/browser/samples/file-name-placeholders-node-path/_expected/assets/file-.-asset
  test/browser/samples/file-name-placeholders-node-path/_expected/assets/style-css.css-asset
  test/browser/samples/file-name-placeholders-node-path/_expected/b.js
  test/browser/samples/trailing-slash-importer-resolution/_config.js
  test/browser/samples/trailing-slash-importer-resolution/_expected/b.js
Due: eslint --fix, prettier --write

Refine instructions
  AGENTS.md
Due: none

Remove the whole CRLF pair when suppressing ASI (#6514)
  src/utils/renderHelpers.ts
  test/function/samples/preserve-asi-with-crlf-line-endings/_config.js
Due: eslint --fix, prettier --write

test(watch): make the listener error test wait for ERROR followed by END
  test/watch/index.js
Due: eslint --fix, prettier --write

fix(watch): emit error events when a listener throws during the initial run
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

fix(watch): keep rebuilding and plugin hooks working after a listener threw during a run
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

fix(watch): await the rerun so listener failures surface as ERROR events (#6506)
  src/watch/watch.ts
  test/watch/index.js
Due: eslint --fix, prettier --write

4.63.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: prevent cycles for indirectly awaited dynamic imports
  src/Module.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/_config.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/_expected/es/generated-constants.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/_expected/es/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/_expected/es/main.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/_expected/system/generated-constants.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/_expected/system/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/_expected/system/main.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/constants.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/loader.js
  test/chunking-form/samples/preserve-entry-signatures/false-with-indirect-awaited-dynamic-import/main.js
Due: eslint --fix, prettier --write

docs: name the parameter runHook actually takes (#6496)
  src/utils/PluginDriver.ts
Due: eslint --fix

ci: use npx to invoke nyc in coverage job
  .github/workflows/build-and-tests.yml
Due: none

ci: debug instrumentation and try nyc --spawn
  .github/workflows/build-and-tests.yml
Due: none

ci: run mocha directly to debug profraw collection
  .github/workflows/build-and-tests.yml
Due: none

ci: collect Rust coverage from JS tests in dedicated job
  .github/workflows/build-and-tests.yml
  package.json
  scripts/coverage-rust.sh
Due: none

ci: disable experimental require module in coverage test run
  .github/workflows/build-and-tests.yml
Due: none

ci: exclude bindings_napi/src/lib.rs from coverage report instead of #[coverage(off)]
  .github/workflows/build-and-tests.yml
  rust/bindings_napi/src/lib.rs
  scripts/coverage-rust.sh
Due: none

fix: resolve lint and type errors in coverage-flush.cjs
  rust/bindings_napi/build.rs
  scripts/coverage-flush.cjs
Due: none

ci: disable coverage on #[napi] thunks to avoid misleading uncovered lines
  rust/bindings_napi/src/lib.rs
Due: none

ci: copy native module after JS build to avoid dist wipe
  .github/workflows/build-and-tests.yml
  package.json
  scripts/coverage-rust.sh
Due: none

ci: rename coverage-flush to .cjs to avoid ESM conflict
  .github/workflows/build-and-tests.yml
  scripts/coverage-flush.cjs
  scripts/coverage-rust.sh
Due: none

fix: add no-op flushLlvmCoverage to native.wasm.js for export parity
  native.wasm.js
Due: none

ci: include bindings_napi/src/lib.rs in coverage report
  .github/workflows/build-and-tests.yml
  scripts/coverage-rust.sh
Due: none

ci: manually flush LLVM coverage on Linux via flushLlvmCoverage
  .github/workflows/build-and-tests.yml
  native.js
  rust/bindings_napi/src/lib.rs
  scripts/coverage-flush.js
  scripts/coverage-rust.sh
Due: none

ci: search for profraw files anywhere
  .github/workflows/build-and-tests.yml
Due: none

fix: make local Rust coverage work on macOS
  package.json
  scripts/coverage-rust.sh
Due: none

ci: upload JS and Rust coverage in a single codecov step
  .github/workflows/build-and-tests.yml
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
