Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Add some tests and TODOs
  LICENSE.md
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
  test/function/samples/dynamic-import-preserve-asynchronicity/_config.js
  test/function/samples/dynamic-import-preserve-asynchronicity/dep.js
  test/function/samples/dynamic-import-preserve-asynchronicity/main.js
  test/function/samples/dynamic-import-without-side-effect-usage/_config.js
  test/function/samples/dynamic-import-without-side-effect-usage/dep.js
  test/function/samples/dynamic-import-without-side-effect-usage/main.js
Due: eslint --fix, prettier --write

OpenBSD support
  .github/workflows/build-and-tests.yml
  native.js
  npm/openbsd7.8-x64/README.md
  npm/openbsd7.8-x64/package.json
Due: none

OpenBSD support touch up - replace missing matrix settings with hardcodes - make test job depend on build-openbsd - added missing triplet to package.json
  .github/workflows/build-and-tests.yml
  package.json
Due: none

Throw a warning for circular chunks
  src/Bundle.ts
  src/Chunk.ts
  src/utils/logs.ts
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_config.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/amd/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/amd/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/amd/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/cjs/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/cjs/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/cjs/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/es/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/es/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/es/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/system/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/system/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/system/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/a.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/c.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_config.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/amd/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/amd/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/cjs/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/cjs/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/es/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/es/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/system/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/system/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/a.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/c.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/main.js
  test/chunking-form/samples/circular-manual-chunks/_config.js
  test/function/samples/circular-namespace-reexport-manual-chunks/_config.js
Due: eslint --fix, prettier --write

Handle TLA dynamic import cycles in chunkAssignment (#6221)
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_config.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/es/generated-a.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/es/generated-foo.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/es/main.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/system/generated-a.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/system/generated-foo.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/system/main.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/a.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/b.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/foo.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/main.js
Due: eslint --fix, prettier --write

Throw a warning for circular chunks (#6225)
  src/Bundle.ts
  src/Chunk.ts
  src/utils/logs.ts
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_config.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/amd/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/amd/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/amd/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/cjs/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/cjs/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/cjs/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/es/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/es/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/es/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/system/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/system/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/_expected/system/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/a.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/c.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-manual-chunks-conflict/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_config.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/amd/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/amd/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/cjs/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/cjs/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/es/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/es/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/system/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/system/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/a.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/c.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/main.js
  test/chunking-form/samples/circular-manual-chunks/_config.js
  test/function/samples/circular-namespace-reexport-manual-chunks/_config.js
Due: eslint --fix, prettier --write

Add support for ppc64 & loong64 musl linux (#5997)
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-loong64-musl/README.md
  npm/linux-loong64-musl/package.json
  npm/linux-ppc64-musl/README.md
  npm/linux-ppc64-musl/package.json
  package.json
Due: none

Fix directory name
  npm/openbsd-x64/README.md
  npm/openbsd-x64/package.json
Due: none

Remove OS version from artifact name
  .github/workflows/build-and-tests.yml
Due: none

OpenBSD support (#6224)
  .github/workflows/build-and-tests.yml
  native.js
  npm/openbsd-x64/README.md
  npm/openbsd-x64/package.json
  package.json
Due: none

4.55.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix artifact names for openbsd
  native.js
  npm/openbsd-x64/README.md
  npm/openbsd-x64/package.json
Due: none

Fix test for pre-release versions
  test/cli/samples/help/_config.js
Due: eslint --fix, prettier --write

4.55.1-0
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix OpenBSD artifacts and ensure OIDC is working (#6231)
  browser/package.json
  native.js
  npm/openbsd-x64/README.md
  npm/openbsd-x64/package.json
  package-lock.json
  package.json
  test/cli/samples/help/_config.js
Due: eslint --fix, prettier --write

4.55.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix audit
  package-lock.json
Due: none

Do not always include entire namespace when used as variable
  src/Graph.ts
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/amd/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/amd/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/cjs/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/cjs/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/es/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/es/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/system/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/system/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/other.js
  test/form/samples/namespace-mutation/_config.js
  test/form/samples/namespace-mutation/_expected.js
  test/form/samples/namespace-mutation/dep.js
  test/form/samples/namespace-mutation/dep2.js
  test/form/samples/namespace-mutation/main.js
  test/function/samples/namespace-include-external-by-name/_config.js
  test/function/samples/namespace-include-external-by-name/dep.js
  test/function/samples/namespace-include-external-by-name/main.js
  test/function/samples/namespace-include-external/_config.js
  test/function/samples/namespace-include-external/dep.js
  test/function/samples/namespace-include-external/main.js
  test/function/samples/namespace-mutation-unresolvable/_config.js
  test/function/samples/namespace-mutation-unresolvable/dep.js
  test/function/samples/namespace-mutation-unresolvable/dep2.js
  test/function/samples/namespace-mutation-unresolvable/main.js
  test/function/samples/namespace-mutation/_config.js
  test/function/samples/namespace-mutation/dep.js
  test/function/samples/namespace-mutation/dep2.js
  test/function/samples/namespace-mutation/main.js
Due: eslint --fix, prettier --write

Use cached exports in NamespaceVariable
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
  test/chunking-form/samples/chunking-star-external/_expected/amd/main2.js
  test/chunking-form/samples/chunking-star-external/_expected/cjs/main2.js
  test/chunking-form/samples/chunking-star-external/_expected/es/main2.js
  test/chunking-form/samples/chunking-star-external/_expected/system/main2.js
Due: eslint --fix

Replace usages of cached namespace variables
  src/Chunk.ts
  src/ast/variables/NamespaceVariable.ts
Due: eslint --fix

Refine export handling in module
  src/Module.ts
  test/chunking-form/samples/missing-export-compact/_expected/amd/main.js
  test/chunking-form/samples/missing-export-compact/_expected/cjs/main.js
  test/chunking-form/samples/missing-export-compact/_expected/es/main.js
  test/chunking-form/samples/missing-export-compact/_expected/system/main.js
  test/chunking-form/samples/missing-export/_expected/amd/main.js
  test/chunking-form/samples/missing-export/_expected/cjs/main.js
  test/chunking-form/samples/missing-export/_expected/es/main.js
  test/chunking-form/samples/missing-export/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/amd/main1.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/amd/main2.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/cjs/main1.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/cjs/main2.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/es/main1.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/es/main2.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/system/dep.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/system/main1.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/system/main2.js
  test/cli/samples/generated-code-preset-override/_expected.js
  test/cli/samples/warn-import-export/_config.js
  test/form/samples/generated-code-compact/object-shorthand-false/_expected.js
  test/form/samples/generated-code-compact/object-shorthand-true/_expected.js
  test/form/samples/generated-code-presets/es2015/_expected.js
  test/form/samples/generated-code-presets/es5/_expected.js
  test/form/samples/generated-code-presets/preset-with-override/_expected.js
  test/form/samples/generated-code/object-shorthand-false/_expected.js
  test/form/samples/generated-code/object-shorthand-true/_expected.js
  test/function/samples/circular-missed-reexports/_config.js
Due: eslint --fix, prettier --write

Use cached map to get export names for variables
  src/Module.ts
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-chain-3.js
Due: eslint --fix

Break early in some loop
  src/Chunk.ts
Due: eslint --fix

Separate namespace- and all-export-inclusion
  src/Graph.ts
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
Due: eslint --fix

Store ImportExpression resolution only on Node
  src/Chunk.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/utils/chunkAssignment.ts
  src/utils/executionOrder.ts
Due: eslint --fix

Use cached map in more places
  src/Module.ts
Due: eslint --fix

Refine namespace inclusion
  src/Module.ts
Due: eslint --fix

Use cached exports to replace list of export names
  src/Module.ts
Due: eslint --fix

Ignore vulnerability for a month
  audit-resolve.json
  package-lock.json
Due: none

Ignore irrelevant vulnerability for a month
  audit-resolve.json
Due: none
