Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

add test
  test/function/samples/adds-plugin-context-to-plugins/_config.js
  test/function/samples/adds-plugin-context-to-plugins/foo.js
  test/function/samples/adds-plugin-context-to-plugins/main.js
Due: eslint --fix, prettier --write

Add importedIdResolutions to moduleInfo
  docs/05-plugin-development.md
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: eslint --fix, prettier --write

refactor: use fs.promises
  cli/run/getConfigPath.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/watch-cli.ts
  src/utils/fs.ts
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-error/_config.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
Due: eslint --fix, prettier --write

use Array.prototype.includes
  src/utils/resolveId.ts
Due: eslint --fix

simplify + add return type
  src/utils/resolveId.ts
Due: eslint --fix

inline function
  src/utils/fs.ts
Due: eslint --fix

convert findFile and addJsExtensionIfNecessary to async functions
  src/utils/fs.ts
  src/utils/resolveId.ts
Due: eslint --fix

re-export fs.promises.readFile
  src/ModuleLoader.ts
  src/utils/fs.ts
Due: eslint --fix

Improve example
  docs/05-plugin-development.md
Due: none

Make export information available after loading, detect reexports
  src/Module.ts
  test/function/samples/has-default-export/_config.js
  test/function/samples/has-default-export/direct.js
  test/function/samples/has-default-export/indirect.js
  test/function/samples/has-default-export/main.js
  test/function/samples/has-default-export/other.js
  test/function/samples/has-default-export/reexport1.js
  test/function/samples/has-default-export/reexport2.js
  test/function/samples/preload-module/_config.js
Due: eslint --fix, prettier --write

Add hasDefaultExport to ModuleInfo
  docs/05-plugin-development.md
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: eslint --fix, prettier --write

Manually fix vulnerability
  package-lock.json
  package.json
Due: none

Add "resolveDependencies" option to "this.load"
  docs/05-plugin-development.md
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  test/function/samples/load-resolve-dependencies/_config.js
  test/function/samples/load-resolve-dependencies/first.js
  test/function/samples/load-resolve-dependencies/main.js
  test/function/samples/load-resolve-dependencies/second.js
  test/function/samples/load-resolve-dependencies/third.js
Due: eslint --fix, prettier --write

feat: add Array.prototype.groupBy/groupByToMap
  src/ast/nodes/shared/ArrayPrototype.ts
  test/form/samples/builtin-prototypes/array-expression/_expected.js
  test/form/samples/builtin-prototypes/array-expression/main.js
Due: eslint --fix

remove sander
  package-lock.json
  package.json
Due: none

Do not warn for hidden namespace conflicts
  src/Module.ts
  src/utils/error.ts
  test/form/samples/namespace-reexport-name/external-reexport.js
  test/form/samples/namespace-reexport-name/overrides.js
  test/function/samples/namespace-override/_config.js
  test/function/samples/namespace-override/a.js
  test/function/samples/namespace-override/b.js
  test/function/samples/namespace-override/exportAll.js
  test/function/samples/namespace-override/main.js
  test/function/samples/synthetic-named-export-entry/_config.js
  test/function/samples/synthetic-named-export-entry/main.js
  test/function/samples/synthetic-named-export-entry/noOverride.js
  test/function/samples/synthetic-named-export-entry/override.js
Due: eslint --fix, prettier --write

remove type assertion
  cli/run/waitForInput.ts
Due: none

use type imports
  cli/run/loadConfigFile.ts
  cli/run/resetScreen.ts
  cli/run/stdin.ts
  cli/run/waitForInput.ts
  cli/run/watch-cli.ts
Due: none

simplify creating Set
  src/utils/hookActions.ts
Due: eslint --fix

use ternary to assign type (remove any)
  src/utils/decodedSourcemap.ts
Due: eslint --fix

use readonly, add set types, use type imports
  build-plugins/generate-license-file.ts
Due: none

use more readonly
  src/Module.ts
  src/utils/chunkAssignment.ts
Due: eslint --fix

use type inference
  src/utils/chunkAssignment.ts
Due: eslint --fix

stricter types, use more readonly
  src/Bundle.ts
  src/Chunk.ts
  src/ast/scopes/ChildScope.ts
  src/ast/scopes/ModuleScope.ts
  src/utils/PluginDriver.ts
  src/utils/chunkAssignment.ts
  src/utils/deconflictChunk.ts
Due: eslint --fix

remove type assertion + comment
  src/utils/collapseSourcemaps.ts
Due: eslint --fix

use const + new var
  src/utils/collapseSourcemaps.ts
Due: eslint --fix

add return types
  src/Bundle.ts
  src/Chunk.ts
  src/utils/PluginDriver.ts
Due: eslint --fix

make plugincontexts readonly, simplify construction
  src/utils/PluginDriver.ts
Due: eslint --fix

more readonly, type imports
  src/Bundle.ts
  src/utils/FileEmitter.ts
  src/utils/PluginDriver.ts
  src/utils/error.ts
Due: eslint --fix

add return types, fix return values
  src/ModuleLoader.ts
Due: eslint --fix

combine if/else
  src/ModuleLoader.ts
Due: eslint --fix
