Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add @types/estree explicitly
  package-lock.json
  package.json
Due: none

bump
  package-lock.json
  package.json
Due: none

fix type imports
  typings/declarations.d.ts
Due: eslint --fix

refactor: simplify NodeWithFieldDefinition union type definition
  typings/declarations.d.ts
Due: eslint --fix

chore: remove acorn-walk ambient type definitions
  src/utils/pureComments.ts
  typings/declarations.d.ts
Due: eslint --fix

order nit
  typings/declarations.d.ts
Due: eslint --fix

Sort manual chunks via functions are sorted by name
  src/Bundle.ts
  test/chunking-form/samples/manual-chunks-function/_config.js
Due: eslint --fix, prettier --write

Improve test
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/main-a.js
  test/chunking-form/samples/manual-chunks-function/dep2-a.js
  test/chunking-form/samples/manual-chunks-function/dep2-b.js
  test/chunking-form/samples/manual-chunks-function/dep3-a.js
  test/chunking-form/samples/manual-chunks-function/dep3-b.js
  test/chunking-form/samples/manual-chunks-function/main-a.js
Due: none

chore: remove acorn module alias
  rollup.config.ts
Due: none

chore: remove package.json from module aliases, import directly
  cli/cli.ts
  rollup.config.ts
  src/browser-entry.ts
  src/node-entry.ts
  src/rollup/rollup.ts
  src/utils/PluginContext.ts
Due: eslint --fix

fix: eslint import/no-unresolved ignore
  .eslintrc.js
Due: none

refactor: replace help.md alias import with help file generator
  .gitignore
  cli/cli.ts
  package-lock.json
  package.json
  rollup.config.ts
  scripts/generate-help-module.js
Due: none

remove module definitions
  typings/declarations.d.ts
Due: eslint --fix

rename type defintion file
  typings/is-reference.d.ts
Due: eslint --fix

add generate help script to build, incl. generated file
  .gitignore
  cli/help.ts
  package.json
Due: none

docs: remove const
  docs/02-javascript-api.md
Due: none

fix: fall back to low resolution mapping in `getOriginalLocation`
  src/utils/getOriginalLocation.ts
Due: eslint --fix

Improve test stability by getting independent of module id ordering in more places
  test/function/samples/custom-module-options/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/deprecated/resolve-id-external/_config.js
  test/function/samples/deprecated/resolve-id/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-side-effects/resolve-id-external/_config.js
  test/function/samples/module-side-effects/resolve-id/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
  test/incremental/index.js
Due: eslint --fix, prettier --write

Make test file reads slower in parallel read tests
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
Due: eslint --fix, prettier --write

fix: remove unnecessary property descriptor spread
  src/ExternalModule.ts
  src/Module.ts
Due: eslint --fix

refactor: use map for import descriptions + re-export descriptions
  src/Graph.ts
  src/Module.ts
Due: eslint --fix

refactor: pass keys directly into set constructor
  src/Module.ts
Due: eslint --fix

pass readonly map
  src/Module.ts
Due: eslint --fix

refactor: module exports to map
  src/Module.ts
Due: eslint --fix

traverse keys directly
  src/Module.ts
Due: eslint --fix

remove var, use instance field directly
  src/Module.ts
Due: eslint --fix

simplify, pass values into set constructor
  src/Module.ts
Due: eslint --fix

Mark more private properties private
  src/Module.ts
Due: eslint --fix

Fix linter
  src/Module.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
