Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[v3.0] Remove warning when using implicit default export mode (#4624)
  docs/999-big-list-of-options.md
  package-lock.json
  package.json
  src/Chunk.ts
  src/utils/error.ts
  src/utils/getExportMode.ts
  test/form/samples/amd-keep-extension/_expected/system.js
  test/form/samples/supports-core-js/_expected.js
  test/function/samples/warn-implicit-cjs-auto/_config.js
  test/function/samples/warn-implicit-cjs-auto/main.js
Due: eslint --fix, prettier --write

3.0.0-5
  browser/package.json
  package.json
Due: none

Improve issue comment RegExp
  scripts/release.js
Due: none

Update repl-artefacts.yml
  .github/workflows/repl-artefacts.yml
Due: none

fix: contributors link
  CONTRIBUTING.md
Due: none

fix: 01-command-line-reference close scope
  docs/01-command-line-reference.md
Due: none

Improve performance of chunk naming collision check
  src/Bundle.ts
  src/Chunk.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginDriver.ts
  src/utils/outputBundle.ts
  src/utils/renderNamePattern.ts
Due: eslint --fix

Improve coverage
  test/function/samples/generate-bundle-mutation/_config.js
  test/function/samples/generate-bundle-mutation/main.js
Due: eslint --fix, prettier --write

Update type definition of resolveId
  docs/05-plugin-development.md
Due: none

Update 01-command-line-reference.md
  docs/01-command-line-reference.md
Due: none

fix linting
  docs/01-command-line-reference.md
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
