Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Show deprecation warning for maxParallelFileReads
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/deprecated/max-parallel-file-reads/infinity/_config.js
  test/function/samples/deprecated/max-parallel-file-reads/set/_config.js
  test/function/samples/deprecated/max-parallel-file-reads/with-plugin/_config.js
  test/misc/sanity-checks.js
Due: eslint --fix, prettier --write

[v3.0] Restructure timings
  src/Bundle.ts
  src/Chunk.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/utils/renderChunks.ts
  src/utils/timers.ts
Due: eslint --fix

[v3.0] Change default for makeAbsoluteExternalsRelative
  docs/999-big-list-of-options.md
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/quote-id/_expected/amd.js
  test/form/samples/quote-id/_expected/cjs.js
  test/form/samples/quote-id/_expected/es.js
  test/form/samples/quote-id/_expected/system.js
  test/form/samples/quote-id/_expected/umd.js
  test/function/samples/options-hook/_config.js
Due: eslint --fix, prettier --write

[v3.0] Change default for preserveEntrySignatures to exports-only
  docs/999-big-list-of-options.md
  src/Chunk.ts
  src/utils/options/normalizeInputOptions.ts
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_config.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/amd/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/amd/generated-entry.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/amd/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/cjs/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/cjs/generated-entry.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/cjs/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/es/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/es/generated-entry.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/es/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/system/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/system/generated-entry.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/system/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/lib.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/main.js
  test/function/samples/options-hook/_config.js
  test/function/samples/preserve-entry-signatures-empty-facade/_config.js
  test/function/samples/preserve-entry-signatures-empty-facade/dynamic.js
  test/function/samples/preserve-entry-signatures-empty-facade/lib.js
  test/function/samples/preserve-entry-signatures-empty-facade/main.js
Due: eslint --fix, prettier --write

broken link removed
  README.md
Due: none

Update dependencies
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

Improve ESM code example in documentation
  docs/01-command-line-reference.md
Due: none

Documentation clarity and syntax improvements
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
Due: none

Use var for IIFE
  src/finalisers/iife.ts
  test/form/samples/deprecated/prefer-const/_expected/iife.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/iife.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/iife.js
  test/form/samples/generated-code/const-bindings-true/_expected/iife.js
Due: eslint --fix

Fix linting
  docs/01-command-line-reference.md
Due: none

Handle generating non-inlined imports after inlined ones
  .eslintrc.js
  src/ast/nodes/ImportExpression.ts
  test/cli/node_modules_rename_me/bar/lib/config.js
  test/cli/node_modules_rename_me/rollup-config-foo/lib/config.js
  test/misc/misc.js
  test/typescript/index.ts
Due: eslint --fix

Update README.md
  README.md
Due: none

resolve currentPath
  src/Chunk.ts
Due: eslint --fix

Change REPL artefact generation so that browser build will work on CI
  .github/workflows/repl-artefacts.yml
  .gitignore
  package.json
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
