Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Deoptimize all parameters when losing track of a function
  src/ast/nodes/shared/FunctionBase.ts
  test/function/samples/mutate-via-parameter/_config.js
  test/function/samples/mutate-via-parameter/main.js
Due: eslint --fix, prettier --write

Update tests
  test/browser/samples/supports-hashes/_expected/dep-KkHNeB29.js
  test/browser/samples/supports-hashes/_expected/main-_1UkQaQg.js
  test/browser/samples/supports-hashes/_expected/main-pNv0QjL6.js
Due: none

feat: preserve shebang in entry module for CJS and ESM outputs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/node_types.rs
  src/Graph.ts
  src/Module.ts
  src/utils/convert-ast.ts
  src/utils/renderChunks.ts
  test/form/samples/hashbang/_config.js
  test/form/samples/leading-comments/_expected.js
  test/form/samples/shebang-1/_config.js
  test/form/samples/shebang-1/_expected/amd.js
  test/form/samples/shebang-1/_expected/cjs.js
  test/form/samples/shebang-1/_expected/es.js
  test/form/samples/shebang-1/_expected/iife.js
  test/form/samples/shebang-1/_expected/system.js
  test/form/samples/shebang-1/_expected/umd.js
  test/form/samples/shebang-1/main.js
  test/form/samples/shebang-2/_config.js
  test/form/samples/shebang-2/_expected/amd.js
  test/form/samples/shebang-2/_expected/cjs.js
  test/form/samples/shebang-2/_expected/es.js
  test/form/samples/shebang-2/_expected/iife.js
  test/form/samples/shebang-2/_expected/system.js
  test/form/samples/shebang-2/_expected/umd.js
  test/form/samples/shebang-2/dep.js
  test/form/samples/shebang-2/main.js
  test/form/samples/shebang-3/_config.js
  test/form/samples/shebang-3/_expected.js
  test/form/samples/shebang-3/main.js
  test/form/samples/shebang-3/other.js
Due: eslint --fix, prettier --write

Remove the shebang insertion during cli build
  build-plugins/add-cli-entry.ts
  cli/cli.ts
Due: none

Parse shebang in JS code
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/node_types.rs
  src/Module.ts
  src/utils/convert-ast.ts
  test/form/samples/shebang-4/_config.js
  test/form/samples/shebang-4/_expected/amd.js
  test/form/samples/shebang-4/_expected/cjs.js
  test/form/samples/shebang-4/_expected/es.js
  test/form/samples/shebang-4/_expected/iife.js
  test/form/samples/shebang-4/_expected/system.js
  test/form/samples/shebang-4/_expected/umd.js
  test/form/samples/shebang-4/main.js
Due: eslint --fix, prettier --write

fix: also strip BOM from code strings in JS
  src/Module.ts
  test/function/samples/strip-bom/_config.js
  test/function/samples/strip-bom/main.js
Due: eslint --fix, prettier --write

Remove annotations for partially removed declarations
  src/ast/nodes/VariableDeclaration.ts
  test/form/samples/remove-no-side-effects-variable/_config.js
  test/form/samples/remove-no-side-effects-variable/_expected.js
  test/form/samples/remove-no-side-effects-variable/main.js
Due: eslint --fix, prettier --write

Warn for invalid annotations
  docs/configuration-options/index.md
  src/ast/nodes/shared/Node.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/urls.ts
  test/form/samples/nested-pure-comments/_config.js
  test/form/samples/no-side-effects-function-declaration-preserve/_config.js
  test/form/samples/pure-comment-line-break/_config.js
  test/form/samples/pure-comment-scenarios-complex/_config.js
  test/form/samples/pure-comment-scenarios-simple/_config.js
  test/form/samples/pure-comments-disabled/_config.js
  test/form/samples/remove-invalid-pure-comments/_config.js
  test/form/samples/remove-no-side-effects-variable/_config.js
  test/form/samples/remove-tree-shaken-pure-comments/_config.js
  test/function/samples/warn-misplaced-annotations/_config.js
  test/function/samples/warn-misplaced-annotations/main.js
Due: eslint --fix, prettier --write

Render shebang in chunk.render()
  src/Chunk.ts
  src/Module.ts
  src/utils/renderChunks.ts
  test/form/samples/shebang-4/_config.js
  test/form/samples/shebang-4/_expected/amd.js
  test/form/samples/shebang-4/_expected/cjs.js
  test/form/samples/shebang-4/_expected/es.js
  test/form/samples/shebang-4/_expected/iife.js
  test/form/samples/shebang-4/_expected/system.js
  test/form/samples/shebang-4/_expected/umd.js
  test/form/samples/shebang-4/main.js
Due: eslint --fix, prettier --write

[v4.0] warn for invalid annotations (#5165)
  docs/configuration-options/index.md
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/shared/Node.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/urls.ts
  test/form/samples/nested-pure-comments/_config.js
  test/form/samples/no-side-effects-function-declaration-preserve/_config.js
  test/form/samples/pure-comment-line-break/_config.js
  test/form/samples/pure-comment-scenarios-complex/_config.js
  test/form/samples/pure-comment-scenarios-simple/_config.js
  test/form/samples/pure-comments-disabled/_config.js
  test/form/samples/remove-invalid-pure-comments/_config.js
  test/form/samples/remove-no-side-effects-variable/_config.js
  test/form/samples/remove-no-side-effects-variable/_expected.js
  test/form/samples/remove-no-side-effects-variable/main.js
  test/form/samples/remove-tree-shaken-pure-comments/_config.js
  test/function/samples/warn-misplaced-annotations/_config.js
  test/function/samples/warn-misplaced-annotations/main.js
Due: eslint --fix, prettier --write

4.0.0-24
  browser/package.json
  package-lock.json
  package.json
Due: none

Update dependencies
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  test/form/samples/supports-core-js/_expected.js
Due: none

Use new import attribute syntax in test files
  test/form/samples/deprecated/removes-dynamic-assertions/main.js
  test/form/samples/deprecated/removes-static-attributes/main.js
  test/form/samples/import-attributes/attribute-shapes/main.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_config.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-assertions/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes/main.js
  test/form/samples/import-attributes/keeps-static-assertions/_config.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/system.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-assertions/main.js
  test/form/samples/import-attributes/keeps-static-attributes/main.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/main.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/main.js
  test/form/samples/import-attributes/removes-dynamic-attributes/main.js
  test/form/samples/import-attributes/removes-static-attributes/main.js
  test/function/samples/deprecations/externalImportAssertions/main.js
  test/function/samples/import-assertions/warn-assertion-conflicts/_config.js
  test/function/samples/import-assertions/warn-assertion-conflicts/main.js
  test/function/samples/import-assertions/warn-assertion-conflicts/other.js
Due: eslint --fix, prettier --write

[v.4.0] Ensure we support new import attribute "with" syntax (#5168)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  test/form/samples/deprecated/removes-dynamic-assertions/main.js
  test/form/samples/deprecated/removes-static-attributes/main.js
  test/form/samples/import-attributes/attribute-shapes/main.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_config.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-assertions/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes/main.js
  test/form/samples/import-attributes/keeps-static-assertions/_config.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/system.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-assertions/main.js
  test/form/samples/import-attributes/keeps-static-attributes/main.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/main.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/main.js
  test/form/samples/import-attributes/removes-dynamic-attributes/main.js
  test/form/samples/import-attributes/removes-static-attributes/main.js
  test/form/samples/supports-core-js/_expected.js
  test/function/samples/deprecations/externalImportAssertions/main.js
  test/function/samples/import-assertions/warn-assertion-conflicts/_config.js
  test/function/samples/import-assertions/warn-assertion-conflicts/main.js
  test/function/samples/import-assertions/warn-assertion-conflicts/other.js
Due: eslint --fix, prettier --write

Expose parser as separate API
  build-plugins/copy-types.ts
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  package.json
  rollup.config.ts
  src/Bundle.ts
  src/Graph.ts
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
  test/function/samples/double-default-export/_config.js
  test/function/samples/double-named-export/_config.js
  test/function/samples/double-named-reexport/_config.js
  test/function/samples/duplicate-import-fails/_config.js
  test/function/samples/duplicate-import-specifier-fails/_config.js
  test/function/samples/error-parse-json/_config.js
  test/function/samples/error-parse-unknown-extension/_config.js
  test/function/samples/export-not-at-top-level-fails/_config.js
  test/function/samples/import-not-at-top-level-fails/_config.js
  test/function/samples/parse-return-outside-function/_config.js
  test/function/samples/reassign-import-fails/_config.js
  test/function/samples/reassign-import-not-at-top-level-fails/_config.js
  test/function/samples/update-expression-of-import-fails/_config.js
  test/misc/index.js
  test/misc/parse-ast.js
Due: eslint --fix, prettier --write

Ensure key and value of a shorthand property have different references
  src/utils/convert-ast.ts
  test/misc/parse-ast.js
Due: eslint --fix

[v4.0] Expose parser (#5169)
  build-plugins/copy-types.ts
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  package.json
  rollup.config.ts
  src/Bundle.ts
  src/Graph.ts
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
  test/function/samples/double-default-export/_config.js
  test/function/samples/double-named-export/_config.js
  test/function/samples/double-named-reexport/_config.js
  test/function/samples/duplicate-import-fails/_config.js
  test/function/samples/duplicate-import-specifier-fails/_config.js
  test/function/samples/error-parse-json/_config.js
  test/function/samples/error-parse-unknown-extension/_config.js
  test/function/samples/export-not-at-top-level-fails/_config.js
  test/function/samples/import-not-at-top-level-fails/_config.js
  test/function/samples/parse-return-outside-function/_config.js
  test/function/samples/reassign-import-fails/_config.js
  test/function/samples/reassign-import-not-at-top-level-fails/_config.js
  test/function/samples/update-expression-of-import-fails/_config.js
  test/misc/index.js
  test/misc/parse-ast.js
Due: eslint --fix, prettier --write

4.0.0-25
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: convert empty statement from class member and remove it
  rust/parse_ast/src/convert_ast/converter.rs
  src/ast/nodes/EmptyStatement.ts
  test/form/samples/empty-statament-class-member/_config.js
  test/form/samples/empty-statament-class-member/_expected/amd.js
  test/form/samples/empty-statament-class-member/_expected/cjs.js
  test/form/samples/empty-statament-class-member/_expected/es.js
  test/form/samples/empty-statament-class-member/_expected/iife.js
  test/form/samples/empty-statament-class-member/_expected/system.js
  test/form/samples/empty-statament-class-member/main.js
Due: eslint --fix, prettier --write

Replace native loader with hand-crafted code
  .eslintrc.js
  native.js
  package.json
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
