Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Create documentation
  docs/05-plugin-development.md
Due: none

Abort the build for moduleParsed errors
  docs/05-plugin-development.md
  src/ModuleLoader.ts
  test/function/samples/plugin-error-module-parsed/_config.js
  test/function/samples/plugin-error-module-parsed/main.js
  test/function/samples/preload-module/_config.js
Due: eslint --fix, prettier --write

Implement this.load context function
  docs/05-plugin-development.md
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  test/function/samples/preload-module/_config.js
  test/function/samples/preload-module/dep.js
  test/function/samples/preload-module/main.js
  test/function/samples/preload-module/other-dep.js
  test/function/samples/preload-module/other.js
Due: eslint --fix, prettier --write

Write documentation
  docs/05-plugin-development.md
  test/utils.js
Due: eslint --fix, prettier --write

2.59.0-0
  package-lock.json
  package.json
Due: none

fix(utils): exclude invalid URL chars
  src/utils/sanitizeFileName.ts
Due: eslint --fix

fix: correct lint errors
  src/utils/sanitizeFileName.ts
Due: eslint --fix

test: add more test cases
  test/chunking-form/samples/sanitize-chunk-names/_config.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/another-_slug_-_result.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/another-_slug_-_result.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/another-_slug_-_result.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/another-_slug_-_result.js
Due: eslint --fix, prettier --write

fix: remove path separator from regex
  src/utils/sanitizeFileName.ts
Due: eslint --fix

support loading ESM plugins from the CLI
  build-plugins/esm-dynamic-import.ts
  cli/run/commandPlugins.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFromCommand.ts
  test/cli/samples/plugin/absolute-esm/_config.js
  test/cli/samples/plugin/absolute-esm/_expected.js
  test/cli/samples/plugin/absolute-esm/my-esm-plugin.mjs
  test/cli/samples/plugin/advanced-esm/_config.js
  test/cli/samples/plugin/advanced-esm/_expected/cjs.js
  test/cli/samples/plugin/advanced-esm/_expected/es.js
  test/cli/samples/plugin/advanced-esm/main.js
  test/cli/samples/plugin/advanced-esm/node_modules/foo/index.js
  test/cli/samples/plugin/advanced-esm/node_modules/print/index.js
  test/cli/samples/plugin/advanced-esm/node_modules/rollup-plugin-esm-test/index.mjs
  test/cli/samples/plugin/advanced-esm/node_modules/rollup-plugin-esm-test/package.json
  test/cli/samples/plugin/advanced-esm/rollup.config.js
  test/cli/samples/plugin/relative-esm/_config.js
  test/cli/samples/plugin/relative-esm/_expected.js
Due: eslint --fix, prettier --write

feat: add support for import assertion syntax
  LICENSE.md
  package-lock.json
  package.json
  src/Graph.ts
  typings/declarations.d.ts
Due: eslint --fix

fix: exclude other reserved characters (with exception of `@`)
  src/utils/sanitizeFileName.ts
Due: eslint --fix

Do not wait for import resolution and refine docs
  docs/05-plugin-development.md
  src/Module.ts
  src/ModuleLoader.ts
  test/function/samples/preload-cyclic-module/_config.js
  test/function/samples/preload-cyclic-module/main.js
  test/function/samples/preload-module/_config.js
Due: eslint --fix, prettier --write

2.59.0-1
  package-lock.json
  package.json
Due: none

Fix typo
  docs/05-plugin-development.md
Due: none

Add new test for virtual file output when modifying entryFileNames
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_config.js
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/amd/_virtual/entry-_virtualModule-amd-.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/amd/_virtual/entry-_virtualWithAssetExt-amd-str.str.str.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/amd/_virtual/entry-_virtualWithExt-amd-js.js.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/amd/entry-main-amd-js.js.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/cjs/_virtual/entry-_virtualModule-cjs-.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/cjs/_virtual/entry-_virtualWithAssetExt-cjs-str.str.str.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/cjs/_virtual/entry-_virtualWithExt-cjs-js.js.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/cjs/entry-main-cjs-js.js.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/es/_virtual/entry-_virtualModule-es-.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/es/_virtual/entry-_virtualWithAssetExt-es-str.str.str.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/es/_virtual/entry-_virtualWithExt-es-js.js.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/es/entry-main-es-js.js.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/system/_virtual/entry-_virtualModule-system-.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/system/_virtual/entry-_virtualWithAssetExt-system-str.str.str.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/system/_virtual/entry-_virtualWithExt-system-js.js.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/_expected/system/entry-main-system-js.js.mjs
  test/chunking-form/samples/preserve-modules-virtual-modules-filename-pattern/main.js
Due: eslint --fix, prettier --write

Use entryFileNames for virtual files when preserveModules is set
  src/Chunk.ts
Due: eslint --fix

fix: ensure array types
  src/utils/ensureArray.ts
Due: eslint --fix

Refactor - don't repeat pattern generation logic
  src/Chunk.ts
Due: eslint --fix

support TaggedTemplateExpression in markPureNode
  src/utils/pureComments.ts
Due: eslint --fix

Create pure-tagged-template
  test/form/samples/pure-tagged-template
Due: none

Update and rename test/form/samples/pure-tagged-template/main.js to test/form/samples/pure-tagged-template-expression/main.js
  test/form/samples/pure-tagged-template-expression/main.js
Due: none

Create _expected.js
  test/form/samples/pure-tagged-template-expression/_expected.js
Due: none

Create _config.js
  test/form/samples/pure-tagged-template-expression/_config.js
Due: eslint --fix, prettier --write

complete hasEffects TaggedTemplateExpression
  src/ast/nodes/TaggedTemplateExpression.ts
Due: eslint --fix

Update TaggedTemplateExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
Due: eslint --fix

Update _config.js
  test/form/samples/pure-tagged-template-expression/_config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
