Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

3.0.0-7
  browser/package.json
  package.json
Due: none

[v3.0] use compiler target ES2020
  tsconfig.json
Due: none

[v3.0] use esmoduleinterop compiler setting
  tsconfig.json
Due: none

[v3.0] fix tests using node:assert
  test/cli/samples/config-external-function/_expected.js
  test/cli/samples/config-external-function/main.js
  test/cli/samples/config-external-function/rollup.config.mjs
  test/cli/samples/config-external/_expected.js
  test/cli/samples/config-external/main.js
  test/cli/samples/config-external/rollup.config.mjs
Due: none

[v3.0] use node: protocol imports for process
  test/watch/index.js
Due: eslint --fix, prettier --write

Some change
  src/ast/nodes/ImportDeclaration.ts
Due: eslint --fix

Support dynamic imports in cjs output and make default
  src/ast/nodes/ImportExpression.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/samples/deprecated/dynamic-import-comments/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/dynamic-import-name/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-external/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/cjs/main.js
  test/chunking-form/samples/nested-chunks/_expected/cjs/main1.js
  test/chunking-form/samples/nested-chunks/_expected/cjs/nested/main2.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/cjs/main.js
  test/form/samples/deconflict-format-specific-globals/_config.js
  test/form/samples/dynamic-import-unresolvable/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-false/_config.js
  test/form/samples/generated-code-compact/arrow-functions-true/_config.js
  test/form/samples/generated-code/arrow-functions-false/_config.js
  test/form/samples/generated-code/arrow-functions-true/_config.js
  test/form/samples/interop-per-dependency-no-freeze/_config.js
  test/form/samples/interop-per-dependency-no-live-binding/_config.js
  test/form/samples/interop-per-dependency/_config.js
  test/form/samples/no-external-live-bindings-compact/_config.js
  test/form/samples/no-external-live-bindings/_config.js
  test/form/samples/paths-function/_expected/cjs.js
  test/form/samples/resolve-external-dynamic-imports/_expected/cjs.js
  test/function/samples/catch-dynamic-import-failure/_config.js
  test/function/samples/deprecated/dynamic-import-name-warn/_config.js
  test/function/samples/dynamic-import-rewriting/_config.js
  test/function/samples/external-dynamic-import-live-binding-compact/_config.js
  test/function/samples/external-dynamic-import-live-binding/_config.js
  test/function/samples/keep-cjs-dynamic-import/_config.js
  test/function/samples/keep-cjs-dynamic-import/main.js
  test/function/samples/no-external-live-bindings-compact/_config.js
  test/function/samples/no-external-live-bindings/_config.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
  test/node_modules/external-esm/index.js
  test/node_modules/external-esm/package.json
Due: eslint --fix, prettier --write

Add documentation
  docs/999-big-list-of-options.md
Due: none
