Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Get readString function at runtime
  browser/src/readString.ts
  build-plugins/replace-browser-modules.ts
  src/Graph.ts
  src/utils/getReadStringFunction.ts
  src/utils/readString.ts
Due: eslint --fix

eslint: ignore wasm-node and set node extensions of import/resolver
  .eslintrc.js
  src/Graph.ts
Due: eslint --fix

4.0.0-9
  browser/package.json
  package.json
Due: none

Change the required node to >=14.18.0 as before
  npm/android-arm-eabi/package.json
  npm/android-arm64/package.json
  npm/darwin-arm64/package.json
  npm/darwin-x64/package.json
  npm/linux-arm-gnueabihf/package.json
  npm/linux-arm64-gnu/package.json
  npm/linux-arm64-musl/package.json
  npm/linux-x64-gnu/package.json
  npm/linux-x64-musl/package.json
  npm/win32-arm64-msvc/package.json
  npm/win32-ia32-msvc/package.json
  npm/win32-x64-msvc/package.json
  package.json
Due: none

4.0.0-10
  browser/package.json
  package.json
Due: none

Fix website build
  docs/package.json
Due: none

Fix core-js test
  test/form/samples/supports-core-js/_expected.js
Due: none

Prepare to fix ESM build
  build-plugins/emit-native-entry.ts
  build-plugins/external-native-import.ts
  native.js
  package-lock.json
  package.json
  rollup.config.ts
  test/chunking-form/samples/chunk-assigment-in-dynamic/_config.js
Due: eslint --fix, prettier --write

Update Rollup
  package-lock.json
  package.json
Due: none

Enable ESM tests
  test/cli/samples/config-defineConfig-mjs/_config.js
  test/cli/samples/unfulfilled-hook-actions-error/_config.js
  test/load-config-file/index.js
Due: eslint --fix, prettier --write

Re-enable another test
  test/function/samples/error-parse-unknown-extension/_config.js
Due: eslint --fix, prettier --write

Added option to name sourcemap files, i.e. a output.sourcemapFileNames property
  cli/help.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  docs/repl/stores/options.ts
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderChunks.ts
  test/chunking-form/samples/render-chunk-transform/_config.js
  test/function/samples/emit-file/prebuilt-chunk/_config.js
  test/misc/optionList.js
  test/sourcemaps/index.js
  test/sourcemaps/samples/sourcemap-file-names/_config.js
  test/sourcemaps/samples/sourcemap-file-names/main.js
Due: eslint --fix, prettier --write

Remove CJS eslint configuration
  .eslintrc.js
Due: none

Fix extension
  build-plugins/external-native-import.ts
Due: none

Fix test
  test/function/samples/error-parse-unknown-extension/_config.js
Due: eslint --fix, prettier --write

Fix entension for native import
  build-plugins/external-native-import.ts
Due: none

Support for publishing a completely separate package @rollup/wasm-node
  npm/android-arm-eabi/package.json
  npm/android-arm64/package.json
  npm/darwin-arm64/package.json
  npm/darwin-x64/package.json
  npm/linux-arm-gnueabihf/package.json
  npm/linux-arm64-gnu/package.json
  npm/linux-arm64-musl/package.json
  npm/linux-x64-gnu/package.json
  npm/linux-x64-musl/package.json
  npm/win32-arm64-msvc/package.json
  npm/win32-ia32-msvc/package.json
  npm/win32-x64-msvc/package.json
  package.json
  scripts/copy-wasm-node.js
  scripts/prepublish.js
  scripts/publish-wasm-node-package.js
Due: none

4.0.0-11
  browser/package.json
  package.json
Due: none

Fix publish for wasm node package
  scripts/publish-wasm-node-package.js
Due: none

Fix spans in function tests
  rust/parse_ast/src/convert_ast/converter.rs
  test/function/index.js
  test/function/samples/handle-missing-export-source/_config.js
  test/function/samples/options-async-hook/_config.js
  test/function/samples/options-hook/_config.js
  test/function/samples/uses-supplied-ast/_config.js
Due: eslint --fix, prettier --write

Add AST verification to function tests
  scripts/release.js
  src/Graph.ts
  test/function/index.js
  test/test.js
Due: eslint --fix, prettier --write

Verify AST in form tests as well
  test/form/index.js
  test/form/samples/supports-core-js/_config.js
  test/function/index.js
  test/utils.js
Due: eslint --fix, prettier --write

Try to publish @rollup/browser and fix publish-wasm-node-package.js
  scripts/prepublish.js
  scripts/publish-wasm-node-package.js
Due: none

4.0.0-12
  browser/package.json
  package.json
Due: none

Tweak publish scripts
  scripts/prepublish.js
  scripts/publish-wasm-node-package.js
Due: none

Fix importing wasm file in browser
  browser/src/initWasm.ts
  build-plugins/emit-wasm-file.ts
  build-plugins/handle-import-meta-url.ts
  docs/.vitepress/config.ts
  package-lock.json
  package.json
  rollup.config.ts
Due: eslint --fix

Parse code as unknown module type for greater compatibility
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
  src/Graph.ts
Due: eslint --fix

Remove acorn options
  LICENSE.md
  browser/LICENSE.md
  build-plugins/aliases.ts
  docs/.vitepress/verify-anchors.ts
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  package-lock.json
  package.json
  rust/parse_ast/src/convert_ast/converter.rs
  src/Bundle.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/convert-ast.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/big-int/_config.js
  test/form/samples/export-globals/_config.js
  test/form/samples/import-named-exported-global-with-alias/_config.js
  test/form/samples/system-uninitialized/_config.js
  test/form/samples/unknown-token-effects/_config.js
  test/form/samples/unknown-token-effects/_expected.js
  test/form/samples/unknown-token-effects/main.js
  test/function/samples/allow-reserved/_config.js
  test/function/samples/allow-reserved/main.js
  test/function/samples/optional-catch-binding/_config.js
  test/function/samples/options-hook/_config.js
  test/misc/misc.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Tweak getReadStringFunction
  src/utils/getReadStringFunction.ts
Due: eslint --fix

Fix browser tests
  test/browser/index.js
Due: eslint --fix, prettier --write

4.0.0-13
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix fsevents range
  package-lock.json
  package.json
Due: none

Update .gitignore against rollup-swc branch
  .gitignore
Due: none

Remove polyfills that are no longer needed in browser tests
  test/browser/index.js
Due: eslint --fix, prettier --write

Docs: load full path of rollup.browser.js
  docs/repl/stores/rollup.ts
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
