Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Fix tests
  src/rollup/types.d.ts
  test/form/samples/interop-per-dependency-no-freeze/_expected/amd.js
  test/form/samples/interop-per-dependency-no-freeze/_expected/cjs.js
  test/form/samples/interop-per-dependency-no-freeze/_expected/iife.js
  test/form/samples/interop-per-dependency-no-freeze/_expected/umd.js
  test/form/samples/interop-per-dependency-no-live-binding/_expected.js
  test/form/samples/interop-per-dependency/_expected/amd.js
  test/form/samples/interop-per-dependency/_expected/cjs.js
  test/form/samples/interop-per-dependency/_expected/iife.js
  test/form/samples/interop-per-dependency/_expected/umd.js
  test/form/samples/interop-per-reexported-dependency/_expected/amd.js
  test/form/samples/interop-per-reexported-dependency/_expected/cjs.js
  test/form/samples/interop-per-reexported-dependency/_expected/iife.js
  test/form/samples/interop-per-reexported-dependency/_expected/umd.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/amd.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/cjs.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/iife.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/umd.js
Due: eslint --fix

Fix commit hook
  .eslintrc.js
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .lintstagedrc.js
  package.json
  tsconfig.eslint.json
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Fix prototypes
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
Due: eslint --fix

package.json: update exports for node 16
  package.json
Due: none

Drop side-effect-free last elements in sequence expressions in statements
  src/ast/nodes/SequenceExpression.ts
  test/form/samples/pure-comment-line-break/_expected.js
  test/form/samples/treeshake-sequence-expressions/_config.js
  test/form/samples/treeshake-sequence-expressions/_expected.js
  test/form/samples/treeshake-sequence-expressions/main.js
Due: eslint --fix, prettier --write

Prevent crash for recursive "this" deoptimization
  src/ast/variables/ThisVariable.ts
  test/form/samples/recursive-this-deoptimization/_config.js
  test/form/samples/recursive-this-deoptimization/_expected.js
  test/form/samples/recursive-this-deoptimization/main.js
Due: eslint --fix, prettier --write

Simplify annotation handling
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/shared/Node.ts
  src/utils/pureComments.ts
  src/utils/treeshakeNode.ts
Due: eslint --fix

Remove invalid annotations and improve annotation association
  src/Graph.ts
  src/Module.ts
  src/ast/keys.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/pureComments.ts
  src/utils/sourceMappingURL.ts
  test/form/samples/nested-pure-comments/_config.js
  test/form/samples/nested-pure-comments/_expected.js
  test/form/samples/nested-pure-comments/main.js
  test/form/samples/pure-comment-line-break/_expected.js
  test/form/samples/pure-comment-line-break/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-simple/_expected.js
  test/form/samples/pure-comments-disabled/_expected.js
  test/form/samples/remove-invalid-pure-comments/_config.js
  test/form/samples/remove-invalid-pure-comments/_expected.js
  test/form/samples/remove-invalid-pure-comments/main.js
Due: eslint --fix, prettier --write

Improve coverage and remove trailing annotations
  src/ast/nodes/IfStatement.ts
  src/utils/pureComments.ts
  test/form/samples/nested-pure-comments/_expected.js
  test/form/samples/nested-pure-comments/main.js
  test/form/samples/remove-tree-shaken-pure-comments/_config.js
  test/form/samples/remove-tree-shaken-pure-comments/_expected.js
  test/form/samples/remove-tree-shaken-pure-comments/main.js
  test/function/samples/uses-supplied-ast/_config.js
Due: eslint --fix, prettier --write

Wrap leading function expression iifes in conditionals
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  test/function/samples/simplify-with-function-iife/_config.js
  test/function/samples/simplify-with-function-iife/main.js
Due: eslint --fix, prettier --write

Do not track side-effect-free array methods as side effects
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/MethodTypes.ts
  test/form/samples/builtin-prototypes/side-effect-free-array-expression/_config.js
  test/form/samples/builtin-prototypes/side-effect-free-array-expression/_expected.js
  test/form/samples/builtin-prototypes/side-effect-free-array-expression/main.js
Due: eslint --fix, prettier --write

Fix crash when using inlineDynamicImports with no-treeshake
  src/Module.ts
  test/function/samples/inline-dynamic-no-treeshake/_config.js
  test/function/samples/inline-dynamic-no-treeshake/dep.js
  test/function/samples/inline-dynamic-no-treeshake/reexport.js
Due: eslint --fix, prettier --write

Correctly handle catch declarations
  src/ast/nodes/CatchClause.ts
  src/ast/scopes/CatchScope.ts
  test/function/samples/catch-block-scope/_config.js
  test/function/samples/catch-block-scope/main.js
Due: eslint --fix, prettier --write

Add parentheses if necessary around sequence expression leading elements
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/SequenceExpression.ts
  test/form/samples/conditional-expression/_expected.js
  test/function/samples/simplify-sequence-expressions/_config.js
  test/function/samples/simplify-sequence-expressions/main.js
Due: eslint --fix, prettier --write

Improve coverage
  src/ast/scopes/CatchScope.ts
Due: eslint --fix

Use correct this for tagged templates in simplified sequence expressions
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  test/function/samples/sequence-expressions-template-tag/_config.js
  test/function/samples/sequence-expressions-template-tag/main.js
Due: eslint --fix, prettier --write

Improve coverage
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  test/function/samples/sequence-expressions-template-tag/main.js
Due: eslint --fix

Always request a new tree-shaking pass when deoptimizations of a node are first included
  src/Module.ts
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/RestElement.ts
  src/ast/nodes/SpreadElement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/UpdateExpression.ts
  src/ast/nodes/YieldExpression.ts
  test/function/samples/deoptimize-request-treeshaking-pass/_config.js
  test/function/samples/deoptimize-request-treeshaking-pass/main.js
Due: eslint --fix, prettier --write

Actually set the prototype when using a __proto__ property
  src/ast/nodes/ObjectExpression.ts
  test/form/samples/proto-null/_config.js
  test/form/samples/proto-null/_expected.js
  test/form/samples/proto-null/main.js
  test/function/samples/proto-accessors/_config.js
  test/function/samples/proto-accessors/main.js
Due: eslint --fix, prettier --write

Check for access side effects when using the object spread operator
  src/ast/nodes/SpreadElement.ts
  test/function/samples/object-spread-side-effect/_config.js
  test/function/samples/object-spread-side-effect/main.js
Due: eslint --fix, prettier --write

Make test a little more robust
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: eslint --fix, prettier --write
