Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

redefine the ResolvedId and the options of plugin context function load
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/moduleId.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  test/function/samples/import-assertions/plugin-assertions-this-resolve/_config.js
  test/function/samples/import-image-with-different-attributes/_config.js
Due: eslint --fix, prettier --write

docs
  docs/configuration-options/index.md
  docs/es-module-syntax/index.md
  src/utils/logs.ts
  src/utils/urls.ts
Due: eslint --fix

fixup
  src/utils/logs.ts
Due: eslint --fix

update package lockg
  package-lock.json
Due: none

fix: update source phase test configs to match error output
  test/function/samples/source-phase-format-unsupported/_config.js
  test/function/samples/source-phase-import-error/_config.js
Due: eslint --fix, prettier --write

fix: skip dropping side-effects on namespaceReexportsByName cache hit (#6274)
  src/Module.ts
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_config.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/generated-has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/generated-has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/generated-has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/generated-has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/reexport.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/side-effect.js
Due: eslint --fix, prettier --write

Fix lockfile
  package-lock.json
Due: none

Fix audit
  audit-resolve.json
Due: none

Fix lockfile and npm version
  .github/actions/install-and-cache-node-deps/action.yml
  .tool-versions
  audit-resolve.json
  package-lock.json
  package.json
  renovate.json
Due: none

docs: update packagephobia link
  README.md
Due: none

docs: update packagephobia link (#6300)
  README.md
Due: none

Remove unnecessary fields
  src/ExternalChunk.ts
  src/ExternalModule.ts
  src/ModuleLoader.ts
Due: eslint --fix

refactor: cache side-effect metadata to avoid re-traversal on namespaceReexportsByName cache hit
  src/Module.ts
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_config.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/generated-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/generated-has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/generated-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/generated-has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/generated-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/generated-has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/generated-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/has-side-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/lib/effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/lib/foo.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/lib/fooImpl.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/lib/index.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/main1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/main2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/reexport.js
Due: eslint --fix, prettier --write

fix: fix chunk assignment for deoptimized module with dynamic import
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_config.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_expected/amd/main.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_expected/cjs/main.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_expected/es/main.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_expected/system/main.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/a.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/cjs.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/lazy-loader.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/main.js
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 8: Incomplete multi-character sanitization
  scripts/release-helpers.js
Due: none

Downgrade Vite
  package-lock.json
  package.json
Due: none

fix: fix chunk assignment for deoptimized module with dynamic import (#6306)
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_config.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_expected/amd/main.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_expected/cjs/main.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_expected/es/main.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/_expected/system/main.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/a.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/cjs.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/lazy-loader.js
  test/chunking-form/samples/deoptimized-module-with-dynamic-import/main.js
Due: eslint --fix, prettier --write

Pin Vite
  renovate.json
Due: none

4.59.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Improve coverage
  package-lock.json
  package.json
  src/ModuleLoader.ts
  test/form/samples/source-phase-imports-external/_expected.js
  test/form/samples/source-phase-imports-external/main.js
  test/function/samples/source-phase-dynamic-import-error-resolved/_config.js
  test/function/samples/source-phase-dynamic-import-error-resolved/dep.js
  test/function/samples/source-phase-dynamic-import-error-resolved/main.js
  test/function/samples/source-phase-dynamic-import-error/_config.js
  test/function/samples/source-phase-dynamic-import-error/dep.js
  test/function/samples/source-phase-dynamic-import-error/main.js
Due: eslint --fix, prettier --write

fix: re-run namespace reexport resolution for side-effect importers (#6274)
  src/Module.ts
  test/function/samples/namespace-reexport-side-effect-cache/_config.js
  test/function/samples/namespace-reexport-side-effect-cache/entry1.js
  test/function/samples/namespace-reexport-side-effect-cache/entry2.js
  test/function/samples/namespace-reexport-side-effect-cache/lib/Foo.js
  test/function/samples/namespace-reexport-side-effect-cache/lib/bar.js
  test/function/samples/namespace-reexport-side-effect-cache/lib/barrel.js
  test/function/samples/namespace-reexport-side-effect-cache/lib/foo/index.js
  test/function/samples/namespace-reexport-side-effect-cache/main.js
Due: eslint --fix, prettier --write

4.60.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Simplify implementation and add missing tests
  src/Module.ts
  test/function/samples/circular-namespace-reexport-cache/_config.js
  test/function/samples/circular-namespace-reexport-cache/entry1.js
  test/function/samples/circular-namespace-reexport-cache/entry2.js
  test/function/samples/circular-namespace-reexport-cache/lib/effect.js
  test/function/samples/circular-namespace-reexport-cache/lib/foo.js
  test/function/samples/circular-namespace-reexport-cache/lib/fooImpl.js
  test/function/samples/circular-namespace-reexport-cache/lib/index.js
  test/function/samples/circular-namespace-reexport-cache/main.js
Due: eslint --fix, prettier --write

Resolve audit
  audit-resolve.json
  package-lock.json
  rust/Cargo.lock
Due: none

Prevent TypeScript updates until all dependencies support it
  package.json
  renovate.json
Due: none

fix: skip dropping side-effects on namespaceReexportsByName cache hit (#6274) (#6286)
  src/Module.ts
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_config.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/amd/generated-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/cjs/generated-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/es/generated-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/_expected/system/generated-effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/entry1.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/entry2.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/lib/effect.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/lib/foo.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/lib/fooImpl.js
  test/chunking-form/samples/namespace-reexport-side-effect-cache/lib/index.js
  test/function/samples/circular-namespace-reexport-cache/_config.js
  test/function/samples/circular-namespace-reexport-cache/entry1.js
  test/function/samples/circular-namespace-reexport-cache/entry2.js
  test/function/samples/circular-namespace-reexport-cache/lib/effect.js
  test/function/samples/circular-namespace-reexport-cache/lib/foo.js
  test/function/samples/circular-namespace-reexport-cache/lib/fooImpl.js
  test/function/samples/circular-namespace-reexport-cache/lib/index.js
  test/function/samples/circular-namespace-reexport-cache/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
