Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: rm
  test/cli/samples/watch/bundle-error/main.js
Due: none

refactor: extract
  cli/run/commandPlugins.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
Due: eslint --fix

fix: types
  cli/run/commandPlugins.ts
  src/utils/timers.ts
Due: eslint --fix

feat: support nested plugin
  src/rollup/types.d.ts
  src/utils/flatten.ts
  src/utils/options/normalizeInputOptions.ts
  test/cli/samples/watch/bundle-error/main.js
  test/function/samples/nested-plugin/_config.js
  test/function/samples/nested-plugin/main.js
Due: eslint --fix, prettier --write

refactor
  cli/run/commandPlugins.ts
  docs/999-big-list-of-options.md
  src/rollup/types.d.ts
  src/utils/flatten.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/function/samples/nested-plugin/_config.js
Due: eslint --fix, prettier --write

fix: types
  cli/run/commandPlugins.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
Due: eslint --fix

refactor: improve types
  src/rollup/rollup.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
Due: eslint --fix

refactor: merge duplicate imports
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/TemplateLiteral.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
Due: eslint --fix

docs: fix minor typo in migration documentation
  docs/09-migration.md
Due: none

fix: nested plugin in options stage
  src/rollup/rollup.ts
  test/function/samples/nested-plugin/_config.js
Due: eslint --fix, prettier --write

chore: remove unused
  src/rollup/rollup.ts
Due: eslint --fix

Update 03-es-module-syntax.md
  docs/03-es-module-syntax.md
Due: none

feat: support async plugins
  cli/run/commandPlugins.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/asyncFlatten.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
Due: eslint --fix

fix: nested plugin in options stage
  src/rollup/rollup.ts
Due: eslint --fix

fix: watch
  src/watch/watch-proxy.ts
Due: eslint --fix

chore: improve types
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: eslint --fix

fix: watch
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFromCommand.ts
  cli/run/watch-cli.ts
  src/utils/options/mergeOptions.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
Due: eslint --fix

fix: dts
  src/rollup/types.d.ts
Due: eslint --fix

test: add
  test/function/samples/nested-and-async-plugin/_config.js
  test/function/samples/nested-and-async-plugin/main.js
Due: eslint --fix, prettier --write

refactor: remove iife
  src/watch/watch-proxy.ts
Due: eslint --fix

fix: watch cli
  cli/run/watch-cli.ts
  src/watch/watch-proxy.ts
Due: eslint --fix

fix: await
  src/utils/options/mergeOptions.ts
  src/watch/watch.ts
Due: eslint --fix

docs: add
  docs/999-big-list-of-options.md
Due: none

refactor: improve & simplify types
  src/Chunk.ts
  src/Graph.ts
  src/ModuleLoader.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderChunks.ts
Due: eslint --fix

refactor
  src/rollup/types.d.ts
Due: eslint --fix

Preserve class declaration names
  src/ast/nodes/ClassDeclaration.ts
  test/function/samples/class-name-conflict/_config.js
  test/function/samples/class-name-conflict/declaration1.js
  test/function/samples/class-name-conflict/declaration2.js
  test/function/samples/class-name-conflict/expression1.js
  test/function/samples/class-name-conflict/expression2.js
  test/function/samples/class-name-conflict/main.js
Due: eslint --fix, prettier --write

Preserve class expression names
  src/ast/nodes/VariableDeclarator.ts
  test/chunking-form/samples/circular-entry-points/_expected/amd/generated-main1.js
  test/chunking-form/samples/circular-entry-points/_expected/cjs/generated-main1.js
  test/chunking-form/samples/circular-entry-points/_expected/es/generated-main1.js
  test/chunking-form/samples/circular-entry-points/_expected/system/generated-main1.js
  test/chunking-form/samples/circular-entry-points2/_expected/amd/main2.js
  test/chunking-form/samples/circular-entry-points2/_expected/cjs/main2.js
  test/chunking-form/samples/circular-entry-points2/_expected/es/main2.js
  test/chunking-form/samples/circular-entry-points2/_expected/system/main2.js
  test/chunking-form/samples/circular-entry-points3/_expected/amd/generated-main1.js
  test/chunking-form/samples/circular-entry-points3/_expected/cjs/generated-main1.js
  test/chunking-form/samples/circular-entry-points3/_expected/es/generated-main1.js
  test/chunking-form/samples/circular-entry-points3/_expected/system/generated-main1.js
  test/function/samples/class-name-conflict/_config.js
  test/function/samples/class-name-conflict/main.js
Due: eslint --fix, prettier --write

Slightly improve code
  src/ast/nodes/ClassDeclaration.ts
  test/form/samples/exported-class-declaration-conflict/_config.js
  test/form/samples/exported-class-declaration-conflict/_expected/amd.js
  test/form/samples/exported-class-declaration-conflict/_expected/cjs.js
  test/form/samples/exported-class-declaration-conflict/_expected/es.js
  test/form/samples/exported-class-declaration-conflict/_expected/iife.js
  test/form/samples/exported-class-declaration-conflict/_expected/system.js
  test/form/samples/exported-class-declaration-conflict/_expected/umd.js
  test/form/samples/exported-class-declaration-conflict/first.js
  test/form/samples/exported-class-declaration-conflict/main.js
  test/form/samples/exported-class-declaration-conflict/second.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
