Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

3.0.0-1
  package-lock.json
  package.json
Due: none

Use import to load .js config file if package type is module
  LICENSE.md
  cli/run/loadConfigFile.ts
  package-lock.json
  package.json
  typings/declarations.d.ts
Due: eslint --fix

Remove Node version check and simplify logic
  cli/run/loadConfigFile.ts
  test/cli/samples/config-no-module/rollup.config.js
  test/cli/samples/config-type-module/_config.js
  test/cli/samples/config-type-module/sub/rollup.config.js
Due: eslint --fix, prettier --write

Update and add tests handling type module
  test/cli/samples/config-no-module/_config.js
  test/cli/samples/config-no-module/rollup.config.js
  test/cli/samples/config-type-module/_config.js
  test/cli/samples/config-type-module/sub/main.js
  test/cli/samples/config-type-module/sub/package.json
  test/cli/samples/config-type-module/sub/rollup.config.js
Due: eslint --fix, prettier --write

More precise native ESM support check
  cli/run/loadConfigFile.ts
Due: none

Update documentation
  docs/01-command-line-reference.md
Due: none

Document how to replace __dirname and import JSON
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
Due: none

Document more ways to read package.json in ESM
  docs/01-command-line-reference.md
Due: none

Fix linting
  .lintstagedrc.js
  docs/01-command-line-reference.md
Due: none

Add test
  test/form/samples/return-after-error/_config.js
  test/form/samples/return-after-error/_expected.js
  test/form/samples/return-after-error/main.js
Due: eslint --fix, prettier --write

Improve coverage
  src/ast/nodes/shared/MultiExpression.ts
  test/form/samples/builtin-prototypes/literal/_expected.js
  test/form/samples/builtin-prototypes/literal/main.js
  test/form/samples/builtin-prototypes/template-literal/_expected.js
  test/form/samples/builtin-prototypes/template-literal/main.js
  test/function/samples/class-prop-returns/_config.js
  test/function/samples/class-prop-returns/main.js
  test/function/samples/conditionals-deoptimization/_config.js
  test/function/samples/conditionals-deoptimization/main.js
  test/function/samples/long-path-deopt/_config.js
  test/function/samples/long-path-deopt/main.js
Due: eslint --fix, prettier --write

Do not include unused return expressions
  src/ast/nodes/CallExpression.ts
  test/form/samples/return-after-error/_config.js
Due: eslint --fix, prettier --write

Deprecate Node 12 (#4548)
  .github/workflows/tests.yml
  LICENSE.md
  package-lock.json
  package.json
  tsconfig.json
Due: none

3.0.0-0
  package-lock.json
  package.json
Due: none

Document how to replace __dirname and import JSON
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
  scripts/perf-init.js
  scripts/perf.js
Due: none

Clarify documentation for `preserveModules`
  docs/999-big-list-of-options.md
Due: none

Improve coverage
  docs/999-big-list-of-options.md
  test/chunking-form/samples/preserve-modules-special-chunk-names/_config.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/amd/a.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/amd/emitted.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/amd/main-entry.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/cjs/a.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/cjs/emitted.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/cjs/main-entry.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/es/a.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/es/emitted.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/es/main-entry.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/system/a.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/system/emitted.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/_expected/system/main-entry.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/a.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/b.js
  test/chunking-form/samples/preserve-modules-special-chunk-names/main.js
Due: eslint --fix, prettier --write

Improve wording in docs
  docs/999-big-list-of-options.md
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
