Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add ability to use presets with overrides
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/treeshake-presets/smallest/_config.js
  test/form/samples/treeshake-presets/true/_config.js
  test/function/samples/unknown-treeshake-value/dep.js
Due: eslint --fix, prettier --write

Add CLI support for presets
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
Due: eslint --fix

Add documentation
  docs/999-big-list-of-options.md
Due: none

Add treeshake.correctVarValueBeforeDeclaration option
  src/ast/nodes/Identifier.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/cli/samples/treeshake-preset-override/main.js
  test/form/samples/treeshake-presets/preset-with-override/_config.js
  test/form/samples/treeshake-presets/preset-with-override/main.js
  test/form/samples/treeshake-presets/recommended/_config.js
  test/form/samples/treeshake-presets/recommended/main.js
  test/form/samples/treeshake-presets/safest/_config.js
  test/form/samples/treeshake-presets/safest/_expected.js
  test/form/samples/treeshake-presets/safest/main.js
  test/form/samples/treeshake-presets/smallest/_config.js
  test/form/samples/treeshake-presets/smallest/main.js
  test/form/samples/treeshake-presets/true/_config.js
  test/form/samples/treeshake-presets/true/main.js
Due: eslint --fix, prettier --write

Fix docs
  docs/999-big-list-of-options.md
  src/utils/options/normalizeInputOptions.ts
Due: eslint --fix

Add documentation
  docs/999-big-list-of-options.md
  src/utils/options/normalizeInputOptions.ts
Due: eslint --fix

Reference types when normalizing options
  src/utils/options/normalizeInputOptions.ts
Due: eslint --fix

Make array and object prototype singletons immutable for now
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
Due: eslint --fix

Improve coverage
  src/ast/nodes/shared/ObjectEntity.ts
  test/form/samples/object-expression/reassign-prop-without-proto/_config.js
  test/form/samples/object-expression/reassign-prop-without-proto/_expected.js
  test/form/samples/object-expression/reassign-prop-without-proto/main.js
  test/form/samples/object-expression/unknown-getter-no-side-effect/_config.js
  test/form/samples/object-expression/unknown-getter-no-side-effect/_expected.js
  test/form/samples/object-expression/unknown-getter-no-side-effect/main.js
  test/form/samples/object-expression/unknown-setter-no-side-effect/_config.js
  test/form/samples/object-expression/unknown-setter-no-side-effect/_expected.js
  test/form/samples/object-expression/unknown-setter-no-side-effect/main.js
  test/function/samples/modify-this-via-getter/unknown-prop-getter/_config.js
  test/function/samples/object-deep-access-effect/_config.js
  test/function/samples/object-deep-access-effect/main.js
  test/function/samples/returned-array-mutation/_config.js
  test/function/samples/returned-array-mutation/main.js
Due: eslint --fix, prettier --write

Fix incorrect spread element handling
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  test/function/samples/array-double-spread/_config.js
  test/function/samples/array-double-spread/main.js
Due: eslint --fix, prettier --write

allow omitting the return value in the renderChunk hook type
  src/rollup/types.d.ts
Due: eslint --fix

Support falsy plugins in types
  src/rollup/types.d.ts
Due: eslint --fix

Switch to TypeScript config
  build-plugins/add-cli-entry.ts
  build-plugins/conditional-fsevents-import.ts
  build-plugins/emit-module-package-file.ts
  build-plugins/esm-dynamic-import.ts
  build-plugins/generate-license-file.ts
  build-plugins/replace-browser-modules.ts
  package-lock.json
  package.json
  rollup.config.ts
  src/utils/ensureArray.ts
  src/utils/renderChunk.ts
  tsconfig.json
  typings/declarations.d.ts
Due: eslint --fix

Extend docs
  docs/01-command-line-reference.md
Due: none

Make sure the initializer of hoisted variables is deoptimized
  src/ast/scopes/BlockScope.ts
  test/form/samples/deoptimize-var-in-hoisted-scopes/_config.js
  test/form/samples/deoptimize-var-in-hoisted-scopes/_expected.js
  test/form/samples/deoptimize-var-in-hoisted-scopes/main.js
Due: eslint --fix, prettier --write

Also deoptimize var initializers when force deoptimizing via flag
  src/ast/nodes/Identifier.ts
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/CatchScope.ts
  test/function/samples/correct-var-before-declaration-deopt/_config.js
  test/function/samples/correct-var-before-declaration-deopt/_expected.js
  test/function/samples/correct-var-before-declaration-deopt/main.js
Due: eslint --fix, prettier --write

Do not check types on Windows
  .github/workflows/tests.yml
  package.json
Due: none

switch to issue forms
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/DOCS.md
  .github/ISSUE_TEMPLATE/FEATURE.md
  .github/ISSUE_TEMPLATE/MODIFICATION.md
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/modification.yaml
Due: none

use the existing labels and add new one
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/modification.yaml
  .github/labels.json
Due: none

remove title
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/modification.yaml
Due: none

don't use markdown type
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/modification.yaml
Due: none

add triage label
  .github/labels.json
Due: none

Update package.json
  package.json
Due: none

Refine what jobs run
  .github/workflows/tests.yml
Due: none

Only build REPL artefacts from forks if label is set
  .github/labels.json
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
