Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Sort search parameters
  src/utils/moduleId.ts
  test/form/samples/import-attributes/keeps-static-assertions/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/umd.js
Due: eslint --fix

Update docs
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Add deprecation and error for importerAttributes
  docs/plugin-development/index.md
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/urls.ts
  test/chunking-form/samples/chunk-assigment-in-dynamic/_config.js
  test/chunking-form/samples/option-virtual-dirname/_config.js
  test/chunking-form/samples/preserve-modules-commonjs/_config.js
  test/chunking-form/samples/preserve-modules-root/_config.js
  test/form/samples/supports-core-js/_config.js
  test/form/samples/supports-es5-shim/_config.js
  test/form/samples/supports-es6-shim/_config.js
  test/function/samples/context-resolve-importer-attributes-conflict/_config.js
  test/function/samples/context-resolve-importer-attributes-conflict/main.js
  test/function/samples/context-resolve-importer-attributes-deprecated/_config.js
  test/function/samples/context-resolve-importer-attributes-deprecated/main.js
  test/function/samples/no-treeshake-react/_config.js
  test/function/samples/strip-bom-1/_config.js
Due: eslint --fix, prettier --write

Temporarily disable strictDeprecations and bypass the specific warnings
  rollup.config.ts
Due: none

fix: don't match sibling directories sharing preserveModulesRoot as a string prefix
  src/Chunk.ts
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_config.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_expected/amd/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_expected/amd/src-sibling/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_expected/cjs/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_expected/cjs/src-sibling/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_expected/es/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_expected/es/src-sibling/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_expected/system/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/_expected/system/src-sibling/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/src-sibling/module.js
  test/chunking-form/samples/preserve-modules-root-sibling-dir/src/module.js
Due: eslint --fix, prettier --write

fix: make isLegal idempotent by not using a global-flag regex
  src/utils/identifierHelpers.ts
Due: eslint --fix

docs: clarify sideEffects and moduleSideEffects
  docs/configuration-options/index.md
Due: none

Sanitize input base before computing preserved module chunk names
  src/Chunk.ts
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_config.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/amd/helper.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/cjs/helper.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/es/helper.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/system/helper.js
  test/chunking-form/samples/preserve-modules-sanitized-input-base/_expected/system/main.js
Due: eslint --fix, prettier --write

fix cached module info during cache checks
  src/Module.ts
  src/ModuleLoader.ts
  test/incremental/index.js
Due: eslint --fix, prettier --write

Fix linting
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  docs/repl/stores/options.ts
  src/Chunk.ts
  src/ast/NodeInteractions.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/values.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeOutputOptions.ts
Due: eslint --fix

docs: clarify sideEffects and moduleSideEffects (#6433)
  docs/configuration-options/index.md
Due: none

Add deprecation and error for importerAttributes
  docs/plugin-development/index.md
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/urls.ts
  test/chunking-form/samples/chunk-assigment-in-dynamic/_config.js
  test/chunking-form/samples/option-virtual-dirname/_config.js
  test/chunking-form/samples/preserve-modules-commonjs/_config.js
  test/chunking-form/samples/preserve-modules-root/_config.js
  test/form/samples/supports-core-js/_config.js
  test/form/samples/supports-es5-shim/_config.js
  test/form/samples/supports-es6-shim/_config.js
  test/function/samples/context-resolve-importer-attributes-conflict/_config.js
  test/function/samples/context-resolve-importer-attributes-conflict/main.js
  test/function/samples/context-resolve-importer-attributes-deprecated/_config.js
  test/function/samples/context-resolve-importer-attributes-deprecated/main.js
  test/function/samples/module-side-effects/writable/_config.js
  test/function/samples/no-treeshake-react/_config.js
  test/function/samples/preload-cyclic-module/_config.js
  test/function/samples/preload-module/_config.js
  test/function/samples/strip-bom-1/_config.js
Due: eslint --fix, prettier --write

Avoid encoded attributes in external variable names
  src/ExternalModule.ts
Due: eslint --fix

Preserve query-like module raw id when adding attributes
  src/utils/moduleId.ts
  test/function/samples/context-resolve-importer-attributes-deprecated/_config.js
  test/function/samples/deprecated/load-attributes/_config.js
  test/function/samples/deprecated/transform-attributes/_config.js
  test/function/samples/same-module-with-diff-attributes/export/_config.js
  test/function/samples/same-module-with-diff-attributes/import/main.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/_config.js
  test/function/samples/same-module-with-diff-attributes/query-like-ids/_config.js
Due: eslint --fix, prettier --write

Update audit-resolve exceptions
  audit-resolve.json
Due: none

Fix Pinia build
  docs/.vitepress/config.ts
Due: none

ci: use lld linker for clang cross-compile targets
  .github/workflows/build-and-tests.yml
Due: none

feat: smarter literal value inference on assign
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionBase.ts
  test/form/samples/tree-shake-if-statements/_expected.js
  test/form/samples/tree-shake-if-statements/main.js
Due: eslint --fix

feat: make `Method` truthy
  src/ast/nodes/shared/MethodTypes.ts
  test/form/samples/supports-core-js/_expected.js
Due: eslint --fix

feat: improve function return value tracking
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/ThrowStatement.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ReturnValueScope.ts
  test/form/samples/literals-from-return-expressions-branches/_config.js
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-complex/main.js
Due: eslint --fix, prettier --write

refactor: improve reachability check
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/BreakStatement.ts
Due: eslint --fix

tests: improve coverage a bit
  src/ast/nodes/IfStatement.ts
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
Due: eslint --fix

refactor: improve value resolution in MultiExpression
  src/ast/nodes/shared/MultiExpression.ts
Due: eslint --fix

perf: improve multi-return-value tracking performance
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  test/form/samples/literals-from-return-expressions-deopt/_config.js
  test/form/samples/literals-from-return-expressions-deopt/_expected.js
  test/form/samples/literals-from-return-expressions-deopt/main.js
  test/form/samples/literals-from-return-expressions-perf/_config.js
  test/form/samples/literals-from-return-expressions-perf/_expected.js
  test/form/samples/literals-from-return-expressions-perf/main.js
Due: eslint --fix, prettier --write

refactor: minor nit with blank object
  src/ast/nodes/Literal.ts
  src/ast/values.ts
Due: eslint --fix

refactor: improve handling of complex cases
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/SwitchCase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/values.ts
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
Due: eslint --fix

chore: get rid of unwanted refactor
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

refactor: separate child and self reachability
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
Due: eslint --fix

revert: reachability analysis before treeshaking
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/SwitchCase.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/ThrowStatement.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
Due: eslint --fix

refactor: shared unassigned symbol
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/utils/unassigned.ts
Due: eslint --fix

docs: fix broken commonjs namedExports link in troubleshooting
  docs/troubleshooting/index.md
Due: none

feat: instanceof treeshaking
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodTypes.ts
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/tree-shake-instanceof/_config.js
  test/form/samples/tree-shake-instanceof/_expected.js
  test/form/samples/tree-shake-instanceof/main.js
  test/function/samples/instanceof/left-hand-effect/main.js
  test/function/samples/instanceof/used-parameter/main.js
  test/function/samples/instanceof/used/main.js
Due: eslint --fix, prettier --write

Update types and tests
  src/rollup/types.d.ts
  src/utils/renderChunks.ts
  src/utils/transform.ts
  test/form/samples/log-side-effects/_config.js
  test/function/samples/error-after-transform-should-throw-correct-location/_config.js
  test/function/samples/plugin-parse/_config.js
  test/sourcemaps/samples/names-transformed-render-chunk/_config.js
Due: eslint --fix, prettier --write

Update types and tests
  src/rollup/types.d.ts
  src/utils/renderChunks.ts
  src/utils/transform.ts
  test/form/samples/log-side-effects/_config.js
  test/function/samples/error-after-transform-should-throw-correct-location/_config.js
  test/function/samples/plugin-parse/_config.js
  test/sourcemaps/samples/combined-sourcemap-with-loader/_config.js
  test/sourcemaps/samples/combined-sourcemap/_config.js
  test/sourcemaps/samples/names-transformed-render-chunk/_config.js
  test/sourcemaps/samples/transform-low-resolution/_config.js
  test/sourcemaps/samples/transforms/_config.js
  test/sourcemaps/samples/untransformed-modules/_config.js
Due: eslint --fix, prettier --write

docs: fix broken commonjs namedExports link in troubleshooting (#6455)
  docs/troubleshooting/index.md
Due: none

feat: instanceof treeshaking
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodTypes.ts
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/tree-shake-instanceof/_config.js
  test/form/samples/tree-shake-instanceof/_expected.js
  test/form/samples/tree-shake-instanceof/main.js
  test/function/samples/instanceof/left-hand-effect/main.js
  test/function/samples/instanceof/used-parameter/main.js
  test/function/samples/instanceof/used/main.js
Due: eslint --fix, prettier --write

feat: improve function return value tracking
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/values.ts
  test/form/samples/literals-from-return-expressions-branches/_config.js
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
  test/form/samples/literals-from-return-expressions-deopt/_config.js
  test/form/samples/literals-from-return-expressions-deopt/_expected.js
  test/form/samples/literals-from-return-expressions-deopt/main.js
  test/form/samples/literals-from-return-expressions-perf/_config.js
  test/form/samples/literals-from-return-expressions-perf/_expected.js
  test/form/samples/literals-from-return-expressions-perf/main.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-complex/main.js
Due: eslint --fix, prettier --write

feat: return statement treeshaking
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
