Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Reinstate global styles
  docs/repl/components/BundleOptions.vue
  docs/repl/components/InputHeader.vue
  docs/repl/components/OutputStatus.vue
  docs/repl/components/ReplInput.vue
  docs/repl/components/ReplMain.vue
  docs/repl/components/ReplModule.vue
  docs/repl/components/SelectOption.vue
  docs/repl/components/StatusMessage.vue
Due: none

feat: update vitepress config
  docs/.vitepress/config.ts
Due: none

Add a test for reserved keywords used as import/export specifiers
  test/form/samples/reserved-keywords-in-imports-exports/_config.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/amd.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/cjs.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/es.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/iife.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/system.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/umd.js
  test/form/samples/reserved-keywords-in-imports-exports/main.js
Due: eslint --fix, prettier --write

Revert #4939 for now
  src/finalisers/es.ts
  src/utils/generateCodeSnippets.ts
  src/utils/isValidIdentifier.ts
  src/utils/safeName.ts
  test/form/samples/illegal-identifiers-in-imports-exports/_config.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/amd.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/cjs.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/es.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/iife.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/system.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/umd.js
  test/form/samples/illegal-identifiers-in-imports-exports/main.js
Due: eslint --fix, prettier --write

Deoptimize right side in for-of loops
  src/ast/nodes/ForOfStatement.ts
  test/function/samples/deoptimize-loop-element/_config.js
  test/function/samples/deoptimize-loop-element/main.js
Due: eslint --fix, prettier --write

Support default exported classes that extend other classes
  src/ast/nodes/ExportDefaultDeclaration.ts
  test/form/samples/default-export-anonymous-class-extends/_config.js
  test/form/samples/default-export-anonymous-class-extends/_expected.js
  test/form/samples/default-export-anonymous-class-extends/main.js
Due: eslint --fix, prettier --write

chore: init
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/form/samples/treeshake-static-dynamic-import/_config.js
  test/form/samples/treeshake-static-dynamic-import/_expected.js
  test/form/samples/treeshake-static-dynamic-import/main.js
  test/form/samples/treeshake-static-dynamic-import/sub1.js
  test/form/samples/treeshake-static-dynamic-import/sub2.js
Due: eslint --fix, prettier --write

feat: progress!
  src/Module.ts
  src/ast/nodes/ImportExpression.ts
  test/form/samples/treeshake-static-dynamic-import/_expected.js
Due: eslint --fix

chore: refactor
  src/Module.ts
  test/form/samples/treeshake-static-dynamic-import/_expected.js
  test/form/samples/treeshake-static-dynamic-import/main.js
Due: eslint --fix

feat: it works!
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
  test/form/samples/treeshake-static-dynamic-import/_expected.js
Due: eslint --fix

feat: support one more case
  src/Module.ts
  src/ast/nodes/ImportExpression.ts
  test/form/samples/treeshake-static-dynamic-import/_expected.js
  test/form/samples/treeshake-static-dynamic-import/main.js
  test/form/samples/treeshake-static-dynamic-import/sub3.js
Due: eslint --fix

chore: update
  test/form/samples/treeshake-static-dynamic-import/_config.js
Due: eslint --fix, prettier --write

chore: rename
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
Due: eslint --fix

chore: rename
  src/Module.ts
  src/ast/nodes/ImportExpression.ts
Due: eslint --fix

feat: add more case
  test/form/samples/treeshake-static-dynamic-import/_expected.js
  test/form/samples/treeshake-static-dynamic-import/main.js
  test/form/samples/treeshake-static-dynamic-import/sub3.js
  test/form/samples/treeshake-static-dynamic-import/sub4.js
Due: none

chore: improve coverage
  test/form/samples/treeshake-static-dynamic-import/_config.js
  test/form/samples/treeshake-static-dynamic-import/_expected.js
  test/form/samples/treeshake-static-dynamic-import/bail1.js
  test/form/samples/treeshake-static-dynamic-import/bail2.js
  test/form/samples/treeshake-static-dynamic-import/bail3.js
  test/form/samples/treeshake-static-dynamic-import/bail4.js
  test/form/samples/treeshake-static-dynamic-import/main.js
  test/form/samples/treeshake-static-dynamic-import/sub2.js
  test/form/samples/treeshake-static-dynamic-import/sub3.js
  test/form/samples/treeshake-static-dynamic-import/sub4.js
Due: eslint --fix, prettier --write

chore: revert solo flag
  test/form/samples/treeshake-static-dynamic-import/_config.js
Due: eslint --fix, prettier --write

chore: refactor
  src/ast/nodes/ImportExpression.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_config.js
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/bail1.js
  test/form/samples/treeshake-deterministic-dynamic-import/bail2.js
  test/form/samples/treeshake-deterministic-dynamic-import/bail3.js
  test/form/samples/treeshake-deterministic-dynamic-import/bail4.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub1.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub2.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub3.js
Due: eslint --fix, prettier --write

feat: support more case
  src/Module.ts
  src/ast/nodes/ImportExpression.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_config.js
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/bail1.js
  test/form/samples/treeshake-deterministic-dynamic-import/bail2.js
  test/form/samples/treeshake-deterministic-dynamic-import/bail3.js
  test/form/samples/treeshake-deterministic-dynamic-import/bail4.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub2.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub3.js
Due: eslint --fix, prettier --write

chore: clean up
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/form/samples/no-treeshake/_config.js
  test/form/samples/no-treeshake/_expected.js
  test/form/samples/no-treeshake/dynamic-imported.js
  test/form/samples/no-treeshake/main.js
Due: eslint --fix, prettier --write

feat: support side-effect only dynamic import
  src/ast/nodes/ImportExpression.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_config.js
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
Due: eslint --fix, prettier --write

chore: clean up
  src/Module.ts
  src/ast/nodes/ImportExpression.ts
Due: eslint --fix

fix: side-effects
  src/Module.ts
  test/form/samples/dynamic-import-inlining/_expected.js
  test/function/samples/perf-adds-plugin-context-to-plugins/foo.js
Due: eslint --fix

chore: update snapshot
  test/chunking-form/samples/deprecated/dynamic-import-inlining-object/_expected/amd/entry.js
  test/chunking-form/samples/deprecated/dynamic-import-inlining-object/_expected/cjs/entry.js
  test/chunking-form/samples/deprecated/dynamic-import-inlining-object/_expected/es/entry.js
  test/chunking-form/samples/deprecated/dynamic-import-inlining-object/_expected/system/entry.js
  test/chunking-form/samples/dynamic-import-inlining-object/_expected/amd/entry.js
  test/chunking-form/samples/dynamic-import-inlining-object/_expected/cjs/entry.js
  test/chunking-form/samples/dynamic-import-inlining-object/_expected/es/entry.js
  test/chunking-form/samples/dynamic-import-inlining-object/_expected/system/entry.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/amd/main.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/cjs/main.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/es/main.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/system/main.js
  test/form/samples/deprecated/dynamic-import-inlining-array/_expected.js
  test/form/samples/deprecated/dynamic-import-inlining/_expected.js
  test/form/samples/dynamic-import-inlining-array/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
Due: none

chore: cleanup
  src/Module.ts
Due: eslint --fix

chore: apply suggestions
  src/ast/nodes/ImportExpression.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
Due: eslint --fix

fix: auto includeNamespaceMembers
  src/Module.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_config.js
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub4.js
Due: eslint --fix, prettier --write

fix: coverage missing variable
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
Due: none
