Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Cache node_modules
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

Clean caches on close
  .github/workflows/clean-cache.yml
Due: none

safe hasOwnProperty call
  src/finalisers/shared/getExportBlock.ts
Due: eslint --fix

fix: add a trailing slash automatically
  src/utils/options/normalizeOutputOptions.ts
  src/utils/url.ts
  test/sourcemaps/samples/sourcemap-base-url-without-trailing-slash/_config.js
  test/sourcemaps/samples/sourcemap-base-url-without-trailing-slash/main.js
Due: eslint --fix, prettier --write

feat: init
  src/ast/nodes/shared/FunctionNode.ts
  src/utils/pureComments.ts
  test/form/samples/pure-comment-function-declaration/_config.js
  test/form/samples/pure-comment-function-declaration/_expected.js
  test/form/samples/pure-comment-function-declaration/functions.js
  test/form/samples/pure-comment-function-declaration/main.js
Due: eslint --fix, prettier --write

chore: update
  src/ast/nodes/ArrowFunctionExpression.ts
  src/utils/pureComments.ts
  test/form/samples/pure-comment-function-declaration/_expected.js
Due: eslint --fix

chore: updates
  src/utils/pureComments.ts
  test/form/samples/pure-comment-function-declaration/_expected.js
  test/form/samples/pure-comment-function-declaration/functions.js
  test/form/samples/pure-comment-function-declaration/main.js
  test/form/samples/pure-comment-function-declaration/sub-functions.js
Due: eslint --fix

chore: update
  test/form/samples/pure-comment-function-declaration-preserve/_config.js
  test/form/samples/pure-comment-function-declaration-preserve/_expected.js
  test/form/samples/pure-comment-function-declaration-preserve/functions.js
  test/form/samples/pure-comment-function-declaration-preserve/main.js
  test/form/samples/pure-comment-function-declaration-preserve/sub-functions.js
Due: eslint --fix, prettier --write

test: add test for jsdoc
  test/form/samples/pure-comment-function-declaration-preserve/_expected.js
  test/form/samples/pure-comment-function-declaration-preserve/functions.js
  test/form/samples/pure-comment-function-declaration/functions.js
  test/form/samples/pure-comment-function-declaration/main.js
Due: none

chore: coverage
  src/utils/pureComments.ts
Due: eslint --fix

Fix TypeScript test
  test/typescript/index.ts
Due: none

feat: change the anntation to `__NO_SIDE_EFFECTS__`
  src/Graph.ts
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/Node.ts
  src/utils/commentAnnotations.ts
  test/form/samples/no-side-effects-function-declaration-preserve/_config.js
  test/form/samples/no-side-effects-function-declaration-preserve/_expected.js
  test/form/samples/no-side-effects-function-declaration-preserve/functions.js
  test/form/samples/no-side-effects-function-declaration-preserve/main.js
  test/form/samples/no-side-effects-function-declaration-preserve/sub-functions.js
  test/form/samples/no-side-effects-function-declaration/_config.js
  test/form/samples/no-side-effects-function-declaration/_expected.js
  test/form/samples/no-side-effects-function-declaration/functions.js
  test/form/samples/no-side-effects-function-declaration/main.js
  test/form/samples/no-side-effects-function-declaration/sub-functions.js
Due: eslint --fix, prettier --write

chore: coverage
  src/utils/commentAnnotations.ts
  test/form/samples/no-side-effects-function-declaration-preserve/_expected.js
  test/form/samples/no-side-effects-function-declaration-preserve/functions.js
Due: eslint --fix

chore: update suggestions
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/Node.ts
  src/utils/commentAnnotations.ts
  test/form/samples/no-side-effects-function-declaration-preserve/_expected.js
  test/form/samples/no-side-effects-function-declaration-preserve/functions.js
Due: eslint --fix

docs: add docs
  docs/configuration-options/index.md
Due: none

Slightly clarify wording
  docs/configuration-options/index.md
Due: none

fix turbo
  cli/run/watch-cli.ts
Due: none

fix: get right SideEffectModules
  src/Module.ts
  test/chunking-form/samples/chunk-assigment-in-dynamic/_config.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/main.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/main.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/main.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/main.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/main.js
Due: eslint --fix, prettier --write

chore: remove field solo in tests
  test/chunking-form/samples/chunk-assigment-in-dynamic/_config.js
Due: eslint --fix, prettier --write

Fix linter
  cli/run/watch-cli.ts
Due: none

add conditions
  src/Module.ts
Due: eslint --fix

Add basic this.log support without position
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  test/function/samples/logging/log-from-plugin-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-onlog-onwarn/main.js
  test/function/samples/logging/log-from-plugin-onlog/_config.js
  test/function/samples/logging/log-from-plugin-onlog/main.js
  test/function/samples/logging/log-from-plugin-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-onwarn/main.js
  test/function/samples/logging/log-from-plugin-simple/_config.js
  test/function/samples/logging/log-from-plugin-simple/main.js
Due: eslint --fix, prettier --write

Test type fixes
  test/function/samples/custom-module-options/_config.js
  test/function/samples/import-empty-from-external/_config.js
  test/function/samples/named-external-method-in-prototype/_config.js
  test/function/samples/warns-for-invalid-options/_config.js
Due: eslint --fix, prettier --write

Separate level from logs
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/error.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
  src/utils/transform.ts
  test/function/index.js
  test/function/samples/logging/log-from-plugin-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-onlog/_config.js
  test/function/samples/logging/log-from-plugin-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog/_config.js
  test/function/samples/logging/log-from-plugin-options-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-simple/_config.js
  test/function/samples/logging/log-from-plugin-simple/_config.js
  test/function/samples/logging/no-log-with-position/_config.js
  test/function/samples/logging/transform-log-with-position/_config.js
  test/function/samples/validate-output/_config.js
Due: eslint --fix, prettier --write

Replace warn with log in AST context
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/ThisExpression.ts
Due: eslint --fix

Replace RollupWarning with RollupLog type
  cli/run/batchWarnings.ts
  cli/run/loadConfigFileType.d.ts
  docs/configuration-options/index.md
  docs/plugin-development/index.md
  docs/repl/components/ReplEditor.vue
  docs/repl/stores/rollupOutput.ts
  src/Module.ts
  src/rollup/types.d.ts
Due: eslint --fix

Unify log handling to use onLog
  src/Bundle.ts
  src/Chunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/finalisers/amd.ts
  src/finalisers/iife.ts
  src/finalisers/index.ts
  src/finalisers/shared/warnOnBuiltins.ts
  src/finalisers/umd.ts
  src/utils/FileEmitter.ts
  src/utils/PluginDriver.ts
  src/utils/collapseSourcemaps.ts
  src/utils/error.ts
  src/utils/getExportMode.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
  src/utils/renderChunks.ts
  src/utils/transform.ts
  test/function/samples/logging/log-from-plugin-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-onlog/_config.js
  test/function/samples/logging/log-from-plugin-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog/_config.js
  test/function/samples/logging/log-from-plugin-options-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-simple/_config.js
  test/function/samples/logging/log-from-plugin-simple/_config.js
  test/function/samples/logging/no-log-with-position/_config.js
  test/function/samples/logging/transform-log-with-position/_config.js
Due: eslint --fix, prettier --write

Allow to turn logs into errors in default handler
  src/rollup/types.d.ts
  src/utils/logging.ts
  src/utils/options/options.ts
  test/function/samples/logging/promote-log-to-error/_config.js
  test/function/samples/logging/promote-log-to-error/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
