Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Use Super instead of SuperElement
  rust/parse_ast/src/ast_nodes/call_expression.rs
  rust/parse_ast/src/ast_nodes/member_expression.rs
  rust/parse_ast/src/ast_nodes/super_element.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.ts
  scripts/generate-buffer-parsers.ts
  scripts/generate-buffer-to-ast.ts
  src/rollup/ast-types.d.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Get rid of StatementBase in favor of NodeBase
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/ContinueStatement.ts
  src/ast/nodes/DebuggerStatement.ts
  src/ast/nodes/DoWhileStatement.ts
  src/ast/nodes/EmptyStatement.ts
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/ForStatement.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/LabeledStatement.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/StaticBlock.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/ThrowStatement.ts
  src/ast/nodes/TryStatement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/WhileStatement.ts
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

Replace LeftHandSideExpression with Expression
  scripts/ast-types.ts
  src/rollup/ast-types.d.ts
Due: eslint --fix

Remove small and little-used interfaces
  scripts/ast-types.ts
  src/rollup/ast-types.d.ts
Due: eslint --fix

Improve types
  src/Module.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

Remove many node identifiers
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/JSXElementBase.ts
  src/ast/utils/identifyNode.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

feat: track full object paths for parameter variable
  src/ast/utils/PathTracker.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/object-expression-treeshaking/remove-unused-parameter-props/_expected.js
Due: eslint --fix

Add support for linux s390x musl
  native.js
  npm/linux-s390x-musl/README.md
  npm/linux-s390x-musl/package.json
  package.json
Due: none

Add support for linux powerpc64le musl
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-powerpc64le-musl/README.md
  npm/linux-powerpc64le-musl/package.json
  package.json
Due: none

Add support for linux loongarch64 musl
  native.js
  npm/linux-loongarch64-musl/README.md
  npm/linux-loongarch64-musl/package.json
  package.json
Due: none

Add location info for closing brace of block statement
  src/ast/nodes/BlockStatement.ts
  test/sourcemaps/samples/combined-sourcemap-2/_config.js
  test/sourcemaps/samples/combined-sourcemap-3/_config.js
Due: eslint --fix, prettier --write

update snapshots
  test/chunking-form/samples/chunking-source-maps/_expected/amd/main1.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/amd/main2.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/cjs/main1.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/cjs/main2.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/es/main1.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/es/main2.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/system/main1.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/system/main2.js.map
Due: none

Support @__PURE__ when nested after new in constructor invocations
  rust/parse_ast/src/ast_nodes/new_expression.rs
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/pure-comment-scenarios-simple/main.js
Due: none

feat: improve get literal value for conditional expression
  src/ast/nodes/ConditionalExpression.ts
  test/form/samples/treeshake-if-statement/_expected.js
  test/form/samples/treeshake-if-statement/main.js
Due: eslint --fix

more tests
  test/form/samples/treeshake-if-statement/_expected.js
  test/form/samples/treeshake-if-statement/main.js
Due: none

Add test
  test/function/samples/class-static-block-tree-shaking/_config.js
  test/function/samples/class-static-block-tree-shaking/main.js
Due: eslint --fix, prettier --write

Correct the parent scope for static blocks
  scripts/ast-types.js
  src/ast/bufferParsers.ts
Due: eslint --fix

Update to latest versions
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

Pin hstr
  CHANGELOG.md
  LICENSE.md
  docs/configuration-options/index.md
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Fix type conflicts
  package-lock.json
  package.json
Due: none

Directly compare node code to improve performance
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
Due: eslint --fix

Initial skeleton for ast to binary converter
  scripts/generate-ast-converters.ts
  scripts/generate-ast-to-buffer.ts
  src/Module.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/nonCanonicalNodesToBuffer.ts
  src/utils/polymorphicNodesToBuffer.ts
Due: eslint --fix

fix: export field order prefer esm
  browser/package.json
  package.json
Due: none

Remove unnecessary comparison
  src/ast/nodes/ConditionalExpression.ts
Due: eslint --fix

Add test
  test/function/samples/conditional-expression-literal-value/_config.js
  test/function/samples/conditional-expression-literal-value/main.js
Due: eslint --fix, prettier --write

Add hasDeoptimizedCache flag for ConditionalExpression
  src/ast/nodes/ConditionalExpression.ts
Due: eslint --fix
