Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Potential fix for code scanning alert no. 6: Incomplete string escaping or encoding
  test/cli/samples/config-mjs-plugins/plugin.mjs
Due: none

Potential fix for code scanning alert no. 3: Incomplete URL substring sanitization
  docs/repl/components/StatusMessage.vue
Due: none

4.60.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Support importing the same module with different import attributes
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/finalisers/shared/setupNamespace.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/blank.ts
  src/utils/logs.ts
  src/utils/moduleId.ts
  src/utils/options/mergeOptions.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  src/utils/transform.ts
Due: eslint --fix

Add tests
  test/function/samples/import-image-with-different-attributes/_config.js
  test/function/samples/import-image-with-different-attributes/main.js
Due: eslint --fix, prettier --write

Temporarily mock @rollup/plugin-json
  build-plugins/json.ts
  rollup.config.ts
Due: none

Resolve audit
  audit-resolve.json
  package-lock.json
Due: none

fix: reset variable render names between outputs in the same generate
  src/Chunk.ts
  test/misc/misc.js
Due: eslint --fix

Use release build for OpenBSD to reduce size
  .github/workflows/build-and-tests.yml
Due: none

Explain why @napi-rs/cli cannot be updated
  renovate.json
Due: none

Update lockfile
  package-lock.json
Due: none

chore: remove cross-env from devDeps
  package-lock.json
  package.json
Due: none

fix: preserve nested exports bindings in child scopes
  src/ast/scopes/ChildScope.ts
  test/form/samples/deconflict-format-specific-exports/_expected/amd.js
  test/form/samples/deconflict-format-specific-exports/_expected/cjs.js
  test/form/samples/deconflict-format-specific-exports/_expected/es.js
  test/form/samples/deconflict-format-specific-exports/_expected/iife.js
  test/form/samples/deconflict-format-specific-exports/_expected/system.js
  test/form/samples/deconflict-format-specific-exports/_expected/umd.js
  test/form/samples/eval-shadowed-exports-amd/_config.js
  test/form/samples/eval-shadowed-exports-amd/_expected/amd.js
  test/form/samples/eval-shadowed-exports-amd/main.js
Due: eslint --fix, prettier --write

fix deconfliction for shadowed exports in eval scopes
  src/ast/nodes/CallExpression.ts
  src/ast/scopes/ChildScope.ts
  test/form/samples/deconflict-format-specific-exports/_expected/amd.js
  test/form/samples/deconflict-format-specific-exports/_expected/cjs.js
  test/form/samples/deconflict-format-specific-exports/_expected/es.js
  test/form/samples/deconflict-format-specific-exports/_expected/iife.js
  test/form/samples/deconflict-format-specific-exports/_expected/system.js
  test/form/samples/deconflict-format-specific-exports/_expected/umd.js
Due: eslint --fix

fix: do not rename nested "exports" bindings that do not conflict
  src/ast/scopes/ChildScope.ts
  src/utils/RESERVED_NAMES.ts
  src/utils/deconflictChunk.ts
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-c.js
  test/form/samples/deconflict-format-specific-exports/_expected/amd.js
  test/form/samples/deconflict-format-specific-exports/_expected/cjs.js
  test/form/samples/deconflict-format-specific-exports/_expected/es.js
  test/form/samples/deconflict-format-specific-exports/_expected/iife.js
  test/form/samples/deconflict-format-specific-exports/_expected/system.js
  test/form/samples/deconflict-format-specific-exports/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/amd.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/es.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/system.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/no-rename-unrelated-exports-parameter/_config.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/amd.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/cjs.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/es.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/iife.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/system.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/umd.js
  test/form/samples/no-rename-unrelated-exports-parameter/main.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: eslint --fix, prettier --write

chore: remove cross-env from devDeps (#6358)
  package-lock.json
  package.json
Due: none

fix: reset variable render names between outputs in the same generate (#6350)
  src/Chunk.ts
  test/misc/misc.js
Due: eslint --fix

4.60.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore: remove tslib from devDeps
  package-lock.json
  package.json
Due: none

chore: exclude tslib from generated LICENSE.md
  LICENSE.md
  build-plugins/generate-license-file.ts
Due: none

docs: fix typo 'interations' -> 'iterations' in chunkAssignment comment
  src/utils/chunkAssignment.ts
Due: eslint --fix

fix: make chunk assignment and export naming deterministic (#5902)
  src/Bundle.ts
  src/utils/exportNames.ts
  test/chunking-form/samples/allow-extension-exports/_expected/es/generated-lib1.js
  test/chunking-form/samples/allow-extension-exports/_expected/es/generated-lib2.js
  test/chunking-form/samples/allow-extension-exports/_expected/es/main.js
  test/chunking-form/samples/allow-extension-exports/_expected/system/generated-lib1.js
  test/chunking-form/samples/allow-extension-exports/_expected/system/generated-lib2.js
  test/chunking-form/samples/allow-extension-exports/_expected/system/main.js
  test/chunking-form/samples/chunk-export-renaming/_expected/es/generated-main1.js
  test/chunking-form/samples/chunk-export-renaming/_expected/es/main1.js
  test/chunking-form/samples/chunk-export-renaming/_expected/es/main2.js
  test/chunking-form/samples/chunk-export-renaming/_expected/system/generated-main1.js
  test/chunking-form/samples/chunk-export-renaming/_expected/system/main1.js
  test/chunking-form/samples/chunk-export-renaming/_expected/system/main2.js
  test/chunking-form/samples/dynamic-import-facade/_expected/es/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-facade/_expected/es/main2.js
  test/chunking-form/samples/dynamic-import-facade/_expected/system/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-facade/_expected/system/main2.js
  test/chunking-form/samples/manual-chunks-dynamic-facades/_expected/es/generated-dynamic.js
  test/chunking-form/samples/manual-chunks-dynamic-facades/_expected/es/main.js
  test/chunking-form/samples/manual-chunks-dynamic-facades/_expected/system/generated-dynamic.js
  test/chunking-form/samples/manual-chunks-dynamic-facades/_expected/system/main.js
  test/chunking-form/samples/manual-chunks-dynamic-name-conflict/_expected/es/generated-dynamic.js
  test/chunking-form/samples/manual-chunks-dynamic-name-conflict/_expected/es/main.js
  test/chunking-form/samples/manual-chunks-dynamic-name-conflict/_expected/system/generated-dynamic.js
  test/chunking-form/samples/manual-chunks-dynamic-name-conflict/_expected/system/main.js
  test/misc/misc.js
Due: eslint --fix

docs: add missing backticks in `plugin-development`
  docs/plugin-development/index.md
Due: none

Add more tests
  browser/LICENSE.md
  package-lock.json
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/resolveIdViaPlugins.ts
  test/form/samples/import-attributes/plugin-attributes-resolveid/_config.js
  test/function/samples/same-module-with-diff-attributes/config-options/_config.js
  test/function/samples/same-module-with-diff-attributes/config-options/main.js
  test/function/samples/same-module-with-diff-attributes/export/_config.js
  test/function/samples/same-module-with-diff-attributes/export/lib.js
  test/function/samples/same-module-with-diff-attributes/export/main.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/_config.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/bar.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/foo.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/main.js
  test/function/samples/same-module-with-diff-attributes/import/_config.js
  test/function/samples/same-module-with-diff-attributes/import/main.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/_config.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/main.js
Due: eslint --fix, prettier --write

Fix Vite type-compatibility
  docs/.vitepress/config.ts
  package.json
  src/rollup/types.d.ts
Due: eslint --fix

Update docs
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Remove unnecessary options in the test
  test/misc/misc.js
Due: none

fix: pin stacker to 0.1.23 and windows-sys to 0.59.0 in Cargo.lock
  rust/Cargo.lock
Due: none

docs: add missing backticks in `plugin-development` (#6368)
  docs/plugin-development/index.md
Due: none

Migrate instructions to AGENTS.md
  .github/copilot-instructions.md
  .github/instructions/TESTS.instructions.md
  AGENTS.md
Due: none

fix: do not rename nested "exports" bindings that do not conflict (#6360)
  src/ast/scopes/ChildScope.ts
  src/utils/RESERVED_NAMES.ts
  src/utils/deconflictChunk.ts
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-c.js
  test/form/samples/deconflict-format-specific-exports/_expected/amd.js
  test/form/samples/deconflict-format-specific-exports/_expected/cjs.js
  test/form/samples/deconflict-format-specific-exports/_expected/es.js
  test/form/samples/deconflict-format-specific-exports/_expected/iife.js
  test/form/samples/deconflict-format-specific-exports/_expected/system.js
  test/form/samples/deconflict-format-specific-exports/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/amd.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/es.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/system.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/no-rename-unrelated-exports-parameter/_config.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/amd.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/cjs.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/es.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/iife.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/system.js
  test/form/samples/no-rename-unrelated-exports-parameter/_expected/umd.js
  test/form/samples/no-rename-unrelated-exports-parameter/main.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: eslint --fix, prettier --write

Downgrade stacker to resolve windows-sys linking issue
  renovate.json
  rust/Cargo.lock
Due: none

Remove lru-cache exception
  package-lock.json
  package.json
Due: none

Also add a test with mangled exports
  test/misc/misc.js
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
