Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

revert changes to package-lock.json.
  package-lock.json
Due: none

fix: revert newline at end of file.
  package-lock.json
Due: none

chor(package.json): allow to import modules from dist without extension
  package.json
Due: none

Update package.json
  package.json
Due: none

Fix: missing , the magic
  package.json
Due: none

added error handling for execSync
  cli/run/watch-cli.ts
Due: none

now get hooks from config, abstracted into own file, with typings added
  cli/run/runWatchHook.ts
  cli/run/watch-cli.ts
  src/rollup/types.d.ts
Due: eslint --fix

CLI only
  cli/run/runWatchHook.ts
  cli/run/watch-cli.ts
  cli/run/watchHooks.ts
  src/rollup/types.d.ts
Due: eslint --fix

removing an unintended import in types.d.ts
  src/rollup/types.d.ts
Due: eslint --fix

use void for options hook instead of undefined
  src/rollup/types.d.ts
Due: eslint --fix

Use void in more places
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
Due: eslint --fix

Update dependencies
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
  test/watch/index.js
Due: eslint --fix, prettier --write

docs: update deprecated option in tools.md
  docs/07-tools.md
Due: none

Fix: tsc did not build
  cli/run/loadConfigFile.ts
Due: none

Throw proper error when indirectly reexporting a recursive binding
  src/Module.ts
  test/function/samples/circular-reexport/_config.js
  test/function/samples/circular-reexport/main.js
Due: eslint --fix, prettier --write

chore: bump deps
  package-lock.json
  package.json
Due: none

chore: bump core-js
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

chore: bump es5-shim
  package-lock.json
  package.json
  test/form/samples/supports-es5-shim/_expected.js
Due: none

chore: buimp @typescript-eslint
  package-lock.json
  package.json
Due: none

chore: bump @rollup/plugin-commonjs
  package-lock.json
  package.json
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main2.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/under-build2.js
  test/cli/samples/plugin/advanced-esm/_expected/cjs.js
  test/cli/samples/plugin/advanced-esm/_expected/es.js
  test/cli/samples/stdin/commonjs/_expected.js
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: none

chore: bump github actions
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

ci: test with node.js v18, remove v17
  .github/workflows/tests.yml
Due: none

chore(repo): replace `git.io` in the issue template
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

ci: temporary workaround for node.js v18 with source maps mdoule
  .github/workflows/tests.yml
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
