Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Make sorting more stable
  src/utils/exportNames.ts
Due: eslint --fix

Resolve vulnerabilities
  audit-resolve.json
  package-lock.json
Due: none

Downgrade wasm-pack until CI issue is resolved
  package-lock.json
  package.json
  renovate.json
Due: none

Fix tests
  test/chunking-form/samples/chunk-export-deshadowing/_expected/es/generated-dep1.js
  test/chunking-form/samples/chunk-export-deshadowing/_expected/es/main1.js
  test/chunking-form/samples/chunk-export-deshadowing/_expected/es/main2.js
  test/chunking-form/samples/chunk-export-deshadowing/_expected/system/generated-dep1.js
  test/chunking-form/samples/chunk-export-deshadowing/_expected/system/main1.js
  test/chunking-form/samples/chunk-export-deshadowing/_expected/system/main2.js
  test/chunking-form/samples/chunk-live-bindings/_expected/es/generated-dep1.js
  test/chunking-form/samples/chunk-live-bindings/_expected/es/main1.js
  test/chunking-form/samples/chunk-live-bindings/_expected/es/main2.js
  test/chunking-form/samples/chunk-live-bindings/_expected/system/generated-dep1.js
  test/chunking-form/samples/chunk-live-bindings/_expected/system/main1.js
  test/chunking-form/samples/chunk-live-bindings/_expected/system/main2.js
  test/chunking-form/samples/dynamic-import-facade/_expected/es/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-facade/_expected/es/main1.js
  test/chunking-form/samples/dynamic-import-facade/_expected/es/main2.js
  test/chunking-form/samples/dynamic-import-facade/_expected/system/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-facade/_expected/system/main1.js
  test/chunking-form/samples/dynamic-import-facade/_expected/system/main2.js
  test/chunking-form/samples/manual-chunks/_expected/es/generated-deps2and3.js
  test/chunking-form/samples/manual-chunks/_expected/es/main.js
  test/chunking-form/samples/manual-chunks/_expected/system/generated-deps2and3.js
  test/chunking-form/samples/manual-chunks/_expected/system/main.js
  test/chunking-form/samples/minify-internal-exports/_expected/amd/generated-shared2.js
  test/chunking-form/samples/minify-internal-exports/_expected/amd/main1.js
  test/chunking-form/samples/minify-internal-exports/_expected/amd/main2.js
  test/chunking-form/samples/minify-internal-exports/_expected/cjs/generated-shared2.js
  test/chunking-form/samples/minify-internal-exports/_expected/cjs/main1.js
  test/chunking-form/samples/minify-internal-exports/_expected/cjs/main2.js
  test/chunking-form/samples/minify-internal-exports/_expected/es/generated-shared2.js
  test/chunking-form/samples/minify-internal-exports/_expected/es/main1.js
  test/chunking-form/samples/minify-internal-exports/_expected/es/main2.js
  test/chunking-form/samples/minify-internal-exports/_expected/system/generated-shared2.js
  test/chunking-form/samples/minify-internal-exports/_expected/system/main1.js
  test/chunking-form/samples/minify-internal-exports/_expected/system/main2.js
Due: none

Fix windows gnu issues
  rust/.cargo/config.toml
Due: none

Revert and add renovate exception
  package-lock.json
  package.json
  renovate.json
Due: none

Separate and limit pull_request_target flow to absolute minimum
  .github/workflows/repl-artefacts-upload.yml
  .github/workflows/repl-artefacts.yml
Due: none

Improve handling of skipped flow
  .github/workflows/repl-artefacts-upload.yml
Due: none

More improvement
  .github/workflows/repl-artefacts-upload.yml
  .github/workflows/repl-artefacts.yml
Due: none

More refinements
  .github/workflows/repl-artefacts-upload.yml
  .github/workflows/repl-artefacts.yml
Due: none

fix: only remove build label when PR was actually labeled
  .github/workflows/repl-artefacts-upload.yml
  .github/workflows/repl-artefacts.yml
Due: none

fix: resolve PR number from trusted workflow_run API instead of artifact file
  .github/workflows/repl-artefacts-upload.yml
  .github/workflows/repl-artefacts.yml
Due: none

fix: add has-artefacts guard to update Vercel comment step
  .github/workflows/repl-artefacts-upload.yml
Due: none

Potential fix for pull request finding
  .github/workflows/repl-artefacts-upload.yml
Due: none

Update npm and hopefully resolve react issue
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  .tool-versions
  audit-resolve.json
  package-lock.json
  package.json
  renovate.json
Due: none

fix: repair asset mode preservation branch
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  test/misc/fs-override.js
Due: eslint --fix

fix: tree-shake pure awaited imports
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/Program.ts
  test/chunking-form/samples/pure-top-level-await-import-then/_config.js
  test/chunking-form/samples/pure-top-level-await-import-then/_expected/es/generated-all.js
  test/chunking-form/samples/pure-top-level-await-import-then/_expected/es/main.js
  test/chunking-form/samples/pure-top-level-await-import-then/all.js
  test/chunking-form/samples/pure-top-level-await-import-then/main.js
  test/chunking-form/samples/pure-top-level-await-import-then/mix.js
Due: eslint --fix, prettier --write

fix: handle invalid original asset paths
  src/rollup/rollup.ts
  test/misc/fs-override.js
Due: eslint --fix

Sort entry modules to make chunk hash names deterministic
  src/Module.ts
  src/ModuleLoader.ts
  src/utils/exportNames.ts
Due: eslint --fix

Use import attributes for importing JSON
  cli/cli.ts
  src/browser-entry.ts
  src/node-entry.ts
  src/rollup/rollup.ts
  src/utils/PluginContext.ts
  src/utils/logger.ts
Due: eslint --fix

Resolve audit
  package-lock.json
Due: none

Do not automatically update toolchain
  renovate.json
  rust-toolchain.toml
Due: none

Update to latest SWC
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Pin previous react
  package-lock.json
  package.json
  renovate.json
Due: none

docs: fix broken links
  CHANGELOG-0.md
  CONTRIBUTING.md
Due: none

docs: fix broken links (#6400)
  CHANGELOG-0.md
  CONTRIBUTING.md
Due: none

4.61.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Remove the leading LF for addon functions
  src/utils/addons.ts
Due: eslint --fix

Improve documentation for manualPureFunctions
  docs/configuration-options/index.md
Due: none

Add a regression test
  test/form/samples/addon-functions-no-extra-leading-line-feed/_config.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/amd.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/cjs.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/es.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/iife.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/system.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/umd.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/main.js
  test/form/samples/enforce-addon-order/_expected.js
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  docs/configuration-options/index.md
Due: none

Tweaks the code
  src/utils/addons.ts
Due: eslint --fix

fix: set report.excludeNetwork=true before getReport() to avoid blocking PTR lookups
  native.js
  test/misc/misc.js
Due: none

Does not add an extra leading line feed for addons (#6403)
  src/utils/addons.ts
  test/form/samples/addon-functions-no-extra-leading-line-feed/_config.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/amd.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/cjs.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/es.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/iife.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/system.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/_expected/umd.js
  test/form/samples/addon-functions-no-extra-leading-line-feed/main.js
  test/form/samples/enforce-addon-order/_expected.js
Due: eslint --fix, prettier --write

test: skip excludeNetwork test on Windows where getReport() runs in a child process
  test/misc/misc.js
Due: none

feat: add native FreeBSD/powerpc64le binding
  .github/workflows/build-and-tests.yml
  native.js
  npm/freebsd-ppc64/README.md
  npm/freebsd-ppc64/package.json
  package.json
Due: none

Improve documentation for manualPureFunctions (#6402)
  docs/configuration-options/index.md
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
