Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Isolate and cache `process.report.getReport()` calls in a child process for robust environment detection.
  native.js
Due: none

Fully include dynamic imports in a try-catch
  src/ast/nodes/ImportExpression.ts
  test/function/samples/try-catch-dynamic-import/_config.js
  test/function/samples/try-catch-dynamic-import/dep.js
  test/function/samples/try-catch-dynamic-import/main.js
Due: eslint --fix, prettier --write

Resolve audit
  audit-resolve.json
  package-lock.json
Due: none

fix: Isolate and cache `process.report.getReport()` calls in a child process for robust environment detection (#6251)
  native.js
Due: none

Fully include dynamic imports in a try-catch (#6254)
  src/ast/nodes/ImportExpression.ts
  test/function/samples/try-catch-dynamic-import/_config.js
  test/function/samples/try-catch-dynamic-import/dep.js
  test/function/samples/try-catch-dynamic-import/main.js
Due: eslint --fix, prettier --write

4.57.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

Use proper reserved sizes
  scripts/generate-ast-to-buffer.ts
  scripts/generate-rust-constants.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Consolidate logic into single file
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
  src/utils/nonCanonicalNodesToBuffer.ts
  src/utils/polymorphicNodesToBuffer.ts
Due: eslint --fix

Include string and list conversion
  scripts/generate-buffer-to-ast.ts
  src/utils/astToBuffer.ts
  src/utils/bufferToAst.ts
  src/utils/getAstBuffer.ts
  src/utils/nonCanonicalNodesToBuffer.ts
  src/utils/polymorphicNodesToBuffer.ts
Due: eslint --fix

Initial skeleton for ast to binary converter
  scripts/generate-ast-converters.ts
  scripts/generate-ast-to-buffer.ts
  src/Module.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/nonCanonicalNodesToBuffer.ts
  src/utils/polymorphicNodesToBuffer.ts
Due: eslint --fix

Add flags and annotations
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Convert fixed strings
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Resolve remaining AST differences.
  rust/parse_ast/src/ast_nodes/import_attribute.rs
  rust/parse_ast/src/ast_nodes/template_literal.rs
  scripts/generate-ast-to-buffer.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
  test/function/samples/enforce-plugin-order/_config.js
  test/testHelpers.js
Due: eslint --fix, prettier --write

Expose converter and serializer
  scripts/generate-ast-to-buffer.ts
  scripts/generate-buffer-to-ast.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/bufferToAst.ts
  src/utils/getAstBuffer.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
Due: eslint --fix

Deduplicate fixed strings
  rust/parse_ast/src/ast_nodes/assignment_expression.rs
  rust/parse_ast/src/ast_nodes/binary_expression.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  scripts/generate-string-constants.ts
  src/utils/convert-ast-strings.ts
  src/utils/serialize-ast-strings.ts
Due: eslint --fix

Add manual comparison
  scripts/generate-ast-to-buffer.ts
  src/rollup/types.d.ts
  src/utils/astToBuffer.ts
  src/utils/getAstBuffer.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
  test/testHelpers.js
Due: eslint --fix

Adapt test
  test/function/samples/extend-more-hooks-to-include-import-attributes/_config.js
Due: eslint --fix, prettier --write

Add some field types
  scripts/ast-types.ts
  scripts/generate-ast-to-buffer.ts
  scripts/generate-ast-types.ts
  scripts/generate-buffer-parsers.ts
  scripts/generate-buffer-to-ast.ts
  scripts/generate-string-constants.ts
  scripts/helpers.js
  src/utils/astToBuffer.ts
  src/utils/serialize-ast-strings.ts
Due: eslint --fix

Auto-extend buffer
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
  src/utils/getAstBuffer.ts
Due: eslint --fix

docs: document PreRenderedChunk properties
  docs/configuration-options/index.md
Due: none

Correct typo and improve sentence structure
  docs/configuration-options/index.md
Due: none

Work around currently vulnerabilities
  audit-resolve.json
  package-lock.json
  package.json
  renovate.json
Due: none

Update docs/configuration-options/index.md
  docs/configuration-options/index.md
Due: none

docs: document PreRenderedChunk properties including isDynamicEntry and isImplicitEntry (#6256)
  docs/configuration-options/index.md
Due: none

docs: Correct typo and improve sentence structure in docs for `output.experimentalMinChunkSize` (#6259)
  docs/configuration-options/index.md
Due: none

Slightly clarify types for JSON modules
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/transform.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
