Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Set linker via environment
  .github/workflows/build-and-tests.yml
Due: none

Remove safeguards as we are converting a hand-picked list
  src/utils/getter.ts
Due: eslint --fix

style: revert export default change since deoptimizePath will detect
  src/ast/variables/ExportDefaultVariable.ts
Due: eslint --fix

feat: support foo(bar);foo(bar);
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

test: add more side-effect and top-level test
  test/form/samples/tree-shake-literal-parameter/side-effect/_expected.js
  test/form/samples/tree-shake-literal-parameter/side-effect/main.js
  test/form/samples/tree-shake-literal-parameter/top-level-export/_config.js
  test/form/samples/tree-shake-literal-parameter/top-level-export/_expected.js
  test/form/samples/tree-shake-literal-parameter/top-level-export/main.js
  test/form/samples/tree-shake-literal-parameter/top-level/_config.js
  test/form/samples/tree-shake-literal-parameter/top-level/_expected.js
  test/form/samples/tree-shake-literal-parameter/top-level/main.js
Due: eslint --fix, prettier --write

4.13.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Use long cpu name as Rust needs it
  native.js
  npm/linux-powerpc64le-gnu/README.md
  npm/linux-powerpc64le-gnu/package.json
  npm/linux-ppc64le-gnu/README.md
Due: none

test: add export default test
  test/form/samples/tree-shake-literal-parameter/import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/import-function/lib.js
  test/form/samples/tree-shake-literal-parameter/import-function/main.js
Due: none

feat: support using keyword
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  rust/parse_ast/src/lib.rs
  src/ast/nodes/Identifier.ts
  src/ast/nodes/shared/VariableKinds.ts
  src/utils/convert-ast-strings.ts
  test/form/samples/support-using-keyword/_config.js
  test/form/samples/support-using-keyword/_expected.js
  test/form/samples/support-using-keyword/main.js
Due: eslint --fix, prettier --write

Tweak test, update swc_ecma_parser version
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  test/form/samples/support-using-keyword/_expected.js
  test/form/samples/support-using-keyword/main.js
Due: none

refactor FunctionParameterState and remove initalization
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

docs: fix output.format
  docs/configuration-options/index.md
Due: none

docs: fix format
  docs/configuration-options/index.md
Due: none

Detect 'using' in VariableDeclaration
  src/ast/nodes/Identifier.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  test/form/samples/support-using-keyword/main.js
Due: eslint --fix

refactor IIFE
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/tree-shake-literal-parameter/iife/_expected.js
  test/form/samples/tree-shake-literal-parameter/iife/main.js
Due: eslint --fix

feat: support export default anonymous
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/form/samples/tree-shake-literal-parameter/import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/import-function/arrow_lib.js
  test/form/samples/tree-shake-literal-parameter/import-function/main.js
Due: eslint --fix

fix: nested namespace tracking
  src/ast/nodes/MemberExpression.ts
Due: eslint --fix

feat: support define then export default
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/FunctionDeclaration.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/variables/Variable.ts
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/_expected.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/define_and_export_default.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/import_then_export.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/import_then_export_sub.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/main.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/module1.js
  test/form/samples/tree-shake-literal-parameter/indirect-import-function/module2.js
Due: eslint --fix

performance
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/Variable.ts
Due: eslint --fix

refactor: UNKNOWN_EXPRESSION
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

refactor: reduce complexity
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

Add indentation
  cli/logging.ts
  test/cli/samples/handles-errors-cause/_config.js
  test/cli/samples/handles-errors-cause/rollup.config.js
  test/cli/samples/handles-errors-cause/rollup.config.mjs
Due: eslint --fix, prettier --write

fix: export default function foo and foo called from same mod
  src/ast/nodes/FunctionDeclaration.ts
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

style: NodeType
  src/ast/nodes/FunctionDeclaration.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/Variable.ts
Due: eslint --fix

chore: generate string constants from config
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  scripts/generate-ast-converters.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-child-node-keys.js
  scripts/generate-rust-constants.js
  scripts/generate-string-constants.js
  scripts/helpers.js
  src/ast/bufferParsers.ts
  src/utils/astConverterHelpers.ts
  src/utils/bufferToAst.ts
  src/utils/convert-ast-strings.ts
Due: eslint --fix

style: remove counter
  src/ast/variables/Variable.ts
Due: eslint --fix

perf: cache onlyfunctioncall result
  src/ast/variables/Variable.ts
Due: eslint --fix

Do not inline attributes to reduce complexity
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/ast/bufferParsers.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/shared/Node.ts
  src/utils/astConverterHelpers.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

If the reference of a list is 0, treat it as an empty list
  rust/parse_ast/src/convert_ast/converter.rs
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  src/ast/bufferParsers.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Extend zero logic to stateful lists
  rust/parse_ast/src/convert_ast/converter.rs
Due: none
