Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Switch to using the typescript-estree parser
  package-lock.json
  package.json
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/nodes/VariableDeclarator.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-number-declaration/_config.js
  test/form/samples/typescript/preserve-undefined-declaration/_config.js
  test/utils.js
  typings/declarations.d.ts
Due: eslint --fix, prettier --write

Support "declare" keyword
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/nodes/VariableDeclaration.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-global-declaration/_config.js
  test/form/samples/typescript/preserve-global-declaration/_expected.js
  test/form/samples/typescript/preserve-global-declaration/main.ts
  test/utils.js
Due: eslint --fix, prettier --write

Test support of definite declarations
  test/form/samples/typescript/preserve-definite-declaration/_config.js
  test/form/samples/typescript/preserve-definite-declaration/_expected.js
  test/form/samples/typescript/preserve-definite-declaration/main.ts
Due: eslint --fix, prettier --write

Start work on type export support
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  scripts/ast-types.js
  scripts/generate-string-constants.js
  src/ast/bufferParsers.ts
  src/ast/nodes/ExportNamedDeclaration.ts
  src/utils/bufferToAst.ts
  src/utils/convert-ast-strings.ts
Due: eslint --fix

Fix position issues
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/typescript/preserve-definite-declaration/_expected.js
  test/form/samples/typescript/preserve-global-declaration/_config.js
  test/form/samples/typescript/preserve-global-declaration/_expected.js
Due: eslint --fix, prettier --write

Support conversion of boolean keyword
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/TSBooleanKeyword.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-boolean-declaration/_config.js
  test/form/samples/typescript/preserve-boolean-declaration/_expected.js
  test/form/samples/typescript/preserve-boolean-declaration/main.ts
Due: eslint --fix, prettier --write

Support conversion of string keyword
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/TSStringKeyword.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-string-declaration/_config.js
  test/form/samples/typescript/preserve-string-declaration/_expected.js
  test/form/samples/typescript/preserve-string-declaration/main.ts
Due: eslint --fix, prettier --write

Move enum unwrappers to suitable AST nodes
  rust/parse_ast/src/ast_nodes/assignment_pattern.rs
  rust/parse_ast/src/ast_nodes/call_expression.rs
  rust/parse_ast/src/ast_nodes/export_all_declaration.rs
  rust/parse_ast/src/ast_nodes/export_default_declaration.rs
  rust/parse_ast/src/ast_nodes/export_named_declaration.rs
  rust/parse_ast/src/ast_nodes/identifier.rs
  rust/parse_ast/src/ast_nodes/import_attribute.rs
  rust/parse_ast/src/ast_nodes/member_expression.rs
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/property.rs
  rust/parse_ast/src/ast_nodes/property_definition.rs
  rust/parse_ast/src/ast_nodes/spread_element.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Restructure convert_type_annotation: add type annotation info outside of match
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Restructure convert_type_annotation: extract convert_ts_type
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Restructure convert_type_annotation: Inline convert_ts_keyword_type
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Convert type in type alias declaration
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Support type alias declaration
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/TSTypeAliasDeclaration.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-number-type-alias-declaration/_config.js
  test/form/samples/typescript/preserve-number-type-alias-declaration/_expected.js
  test/form/samples/typescript/preserve-number-type-alias-declaration/main.ts
Due: eslint --fix, prettier --write

Restructure convert_type_annotation: Fix end position
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Update usage
  src/finalisers/shared/warnOnBuiltins.ts
Due: eslint --fix

Update linting
  .eslintrc.js
  docs/repl/stores/rollupOutput.ts
Due: none

Add missing semver types
  package-lock.json
  package.json
Due: none

Unify keywords into single method
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
Due: none

Move TypeScript code into separate files
  rust/parse_ast/src/ast_nodes/identifier.rs
  rust/parse_ast/src/ast_nodes/mod.rs
  rust/parse_ast/src/ast_nodes/ts_interface_body.rs
  rust/parse_ast/src/ast_nodes/ts_interface_declaration.rs
  rust/parse_ast/src/ast_nodes/ts_property_signature.rs
  rust/parse_ast/src/ast_nodes/ts_type_alias_declaration.rs
  rust/parse_ast/src/ast_nodes/ts_type_annotation.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Use correct import.meta.{filename,dirname} in relative imports from transpiled config files
  cli/run/loadConfigFile.ts
  test/cli/samples/config-import-meta/_config.js
  test/cli/samples/config-import-meta/plugin/plugin.js
Due: eslint --fix, prettier --write

docs: correct base32 to base36 in documentation
  docs/configuration-options/index.md
Due: none

Fix tests
  rust/parse_ast/src/ast_nodes/identifier.rs
  rust/parse_ast/src/ast_nodes/ts_type_alias_declaration.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/TSTypeAliasDeclaration.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-number-type-alias-declaration/_expected.js
  test/form/samples/typescript/preserve-number-type-alias-declaration/main.ts
  test/form/samples/typescript/preserve-type-alias-declaration/_config.js
  test/form/samples/typescript/preserve-type-alias-declaration/_expected.js
  test/form/samples/typescript/preserve-type-alias-declaration/main.ts
Due: eslint --fix, prettier --write

Properly pass on typescript flag
  browser/src/wasm.ts
  native.d.ts
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  src/Bundle.ts
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/parseAst.ts
  wasm/bindings_wasm.d.ts
Due: eslint --fix

Use ts extension in tests
  .gitignore
  test/form/index.js
  test/form/samples/typescript/preserve-boolean-declaration/_expected.ts
  test/form/samples/typescript/preserve-definite-declaration/_expected.ts
  test/form/samples/typescript/preserve-global-declaration/_expected.ts
  test/form/samples/typescript/preserve-number-declaration/_expected.ts
  test/form/samples/typescript/preserve-string-declaration/_expected.ts
  test/form/samples/typescript/preserve-type-alias-declaration/_expected.ts
  test/form/samples/typescript/preserve-undefined-declaration/_expected.ts
Due: eslint --fix, prettier --write

Prepare interface types
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-interface/_config.js
  test/form/samples/typescript/preserve-interface/_expected.ts
  test/form/samples/typescript/preserve-interface/main.ts
Due: eslint --fix, prettier --write

Add basic TS interface declaration support
  rust/parse_ast/src/ast_nodes/ts_interface_body.rs
  rust/parse_ast/src/ast_nodes/ts_interface_declaration.rs
  rust/parse_ast/src/convert_ast/converter.rs
  src/ast/nodes/TSInterfaceDeclaration.ts
Due: eslint --fix

Support declare on ts interface declarations
  rust/parse_ast/src/ast_nodes/ts_interface_declaration.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/TSInterfaceDeclaration.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-interface/_expected.ts
  test/form/samples/typescript/preserve-interface/main.ts
Due: eslint --fix

format rust code
  rust/parse_ast/src/ast_nodes/export_named_declaration.rs
  rust/parse_ast/src/ast_nodes/ts_interface_body.rs
  rust/parse_ast/src/ast_nodes/ts_interface_declaration.rs
  rust/parse_ast/src/ast_nodes/ts_number_keyword.rs
  rust/parse_ast/src/ast_nodes/ts_type_alias_declaration.rs
  rust/parse_ast/src/ast_nodes/ts_type_annotation.rs
  rust/parse_ast/src/ast_nodes/variable_declaration.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
Due: none

Implement interface heritage
  .vscode/settings.json
  rust/parse_ast/src/ast_nodes/mod.rs
  rust/parse_ast/src/ast_nodes/ts_interface_declaration.rs
  rust/parse_ast/src/ast_nodes/ts_interface_heritage.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/TSInterfaceDeclaration.ts
  src/ast/nodes/TSInterfaceHeritage.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  test/form/samples/typescript/preserve-interface/_expected.ts
  test/form/samples/typescript/preserve-interface/main.ts
Due: eslint --fix

implement handling for type elements
  rust/parse_ast/src/ast_nodes/ts_interface_body.rs
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/typescript/preserve-interface/_expected.ts
  test/form/samples/typescript/preserve-interface/main.ts
Due: none

type property signatures
  rust/parse_ast/src/ast_nodes/ts_interface_body.rs
  rust/parse_ast/src/ast_nodes/ts_property_signature.rs
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/typescript/preserve-interface/main.ts
Due: none

Prepare for TypeScript tests
  test/utils.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
