Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Avoid some property accesses and improve names
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/PanicError.ts
  src/ast/nodes/ParseError.ts
  src/ast/scopes/ModuleScope.ts
  src/ast/variables/NamespaceVariable.ts
Due: eslint --fix

Add instruction to improve code review
  .github/copilot-instructions.md
Due: none

Dynamically include dynamic import members
  src/Module.ts
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/utils/identifyNode.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/PromiseHandler.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_config.js
  test/function/samples/dynamic-import-mutate-namespace-await/_config.js
  test/function/samples/dynamic-import-mutate-namespace-await/dep.js
  test/function/samples/dynamic-import-mutate-namespace-await/main.js
  test/function/samples/dynamic-import-mutate-namespace-then/_config.js
  test/function/samples/dynamic-import-mutate-namespace-then/dep.js
  test/function/samples/dynamic-import-mutate-namespace-then/main.js
Due: eslint --fix, prettier --write

Add test for deep object property tree-shaking
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_config.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/amd/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/amd/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/cjs/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/es/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/system/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/system/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_config.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/amd/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/amd/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/cjs/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/es/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/system/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/system/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/main.js
  test/form/samples/treeshake-deterministic-dynamic-import/_config.js
  wasm/bindings_wasm.d.ts
Due: eslint --fix, prettier --write

Refine namespace inclusion
  src/Module.ts
Due: eslint --fix

Ensure Promise handler return value is deoptimized for now
  src/Module.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/PromiseHandler.ts
  test/function/samples/dynamic-import-mutate-then-return/_config.js
  test/function/samples/dynamic-import-mutate-then-return/dep.js
  test/function/samples/dynamic-import-mutate-then-return/main.js
Due: eslint --fix, prettier --write

Use cached exports to replace list of export names
  src/Module.ts
Due: eslint --fix

Clarify synthetic named export test
  test/form/samples/synthetic-named-exports/_config.js
Due: eslint --fix, prettier --write

Ensure catch and finally handlers are always included and deoptimized
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/variables/PromiseHandler.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/function/samples/dynamic-import-include-catch-handler/_config.js
  test/function/samples/dynamic-import-include-catch-handler/dep.js
  test/function/samples/dynamic-import-include-catch-handler/main.js
Due: eslint --fix, prettier --write

Reinstate system default export test
  test/chunking-form/samples/deconflict-system-default-export-variable/_config.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/amd/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/cjs/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/es/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/system/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/main.js
Due: eslint --fix, prettier --write

Remove TODO
  src/ast/nodes/AwaitExpression.ts
Due: eslint --fix

Add test
  test/function/samples/manual-chunks-order/_config.js
  test/function/samples/manual-chunks-order/main.js
  test/function/samples/manual-chunks-order/module1.js
  test/function/samples/manual-chunks-order/module2.js
  test/function/samples/manual-chunks-order/util.js
Due: eslint --fix, prettier --write

Regression
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-chunk-c.js
  test/function/samples/circular-namespace-reexport-manual-chunks/_config.js
Due: eslint --fix, prettier --write

Sort manual chunks by module execution order
  src/Bundle.ts
  src/utils/chunkAssignment.ts
Due: eslint --fix

Fix semicolon insertion by never moving to the end
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/JSXElement.ts
  test/form/samples/jsx/react-jsx-declarations-with-key-attribute/_config.js
  test/form/samples/jsx/react-jsx-declarations-with-key-attribute/_expected.js
  test/form/samples/jsx/react-jsx-declarations-with-key-attribute/main.js
Due: eslint --fix, prettier --write

Extend instruction file
  .github/copilot-instructions.md
Due: none

Sort manual chunks by module execution order (#6240)
  src/Bundle.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-chunk-c.js
  test/function/samples/circular-namespace-reexport-manual-chunks/_config.js
  test/function/samples/manual-chunks-order/_config.js
  test/function/samples/manual-chunks-order/main.js
  test/function/samples/manual-chunks-order/module1.js
  test/function/samples/manual-chunks-order/module2.js
  test/function/samples/manual-chunks-order/util.js
Due: eslint --fix, prettier --write

Update generated WASM adapter code
  wasm/bindings_wasm.d.ts
Due: none

4.55.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix JSX semicolon insertion (#6241)
  .github/copilot-instructions.md
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/JSXElement.ts
  test/form/samples/jsx/react-jsx-declarations-with-key-attribute/_config.js
  test/form/samples/jsx/react-jsx-declarations-with-key-attribute/_expected.js
  test/form/samples/jsx/react-jsx-declarations-with-key-attribute/main.js
Due: eslint --fix, prettier --write

Update audit resolver exclusions
  audit-resolve.json
Due: none

4.55.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Do not always include entire namespace when used as variable
  src/Graph.ts
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/amd/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/amd/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/cjs/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/cjs/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/es/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/es/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/system/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/system/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/other.js
  test/form/samples/namespace-mutation/_config.js
  test/form/samples/namespace-mutation/_expected.js
  test/form/samples/namespace-mutation/dep.js
  test/form/samples/namespace-mutation/dep2.js
  test/form/samples/namespace-mutation/main.js
  test/function/samples/namespace-include-external-by-name/_config.js
  test/function/samples/namespace-include-external-by-name/dep.js
  test/function/samples/namespace-include-external-by-name/main.js
  test/function/samples/namespace-include-external/_config.js
  test/function/samples/namespace-include-external/dep.js
  test/function/samples/namespace-include-external/main.js
  test/function/samples/namespace-mutation-unresolvable/_config.js
  test/function/samples/namespace-mutation-unresolvable/dep.js
  test/function/samples/namespace-mutation-unresolvable/dep2.js
  test/function/samples/namespace-mutation-unresolvable/main.js
  test/function/samples/namespace-mutation/_config.js
  test/function/samples/namespace-mutation/dep.js
  test/function/samples/namespace-mutation/dep2.js
  test/function/samples/namespace-mutation/main.js
Due: eslint --fix, prettier --write

Refine export handling in module
  src/Module.ts
  test/chunking-form/samples/missing-export-compact/_expected/amd/main.js
  test/chunking-form/samples/missing-export-compact/_expected/cjs/main.js
  test/chunking-form/samples/missing-export-compact/_expected/es/main.js
  test/chunking-form/samples/missing-export-compact/_expected/system/main.js
  test/chunking-form/samples/missing-export/_expected/amd/main.js
  test/chunking-form/samples/missing-export/_expected/cjs/main.js
  test/chunking-form/samples/missing-export/_expected/es/main.js
  test/chunking-form/samples/missing-export/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/amd/main1.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/amd/main2.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/cjs/main1.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/cjs/main2.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/es/main1.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/es/main2.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/system/dep.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/system/main1.js
  test/chunking-form/samples/preserve-modules-export-alias/_expected/system/main2.js
  test/cli/samples/generated-code-preset-override/_expected.js
  test/cli/samples/warn-import-export/_config.js
  test/form/samples/generated-code-compact/object-shorthand-false/_expected.js
  test/form/samples/generated-code-compact/object-shorthand-true/_expected.js
  test/form/samples/generated-code-presets/es2015/_expected.js
  test/form/samples/generated-code-presets/es5/_expected.js
  test/form/samples/generated-code-presets/preset-with-override/_expected.js
  test/form/samples/generated-code/object-shorthand-false/_expected.js
  test/form/samples/generated-code/object-shorthand-true/_expected.js
  test/function/samples/circular-missed-reexports/_config.js
Due: eslint --fix, prettier --write

Use cached exports in NamespaceVariable
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
  test/chunking-form/samples/chunking-star-external/_expected/amd/main2.js
  test/chunking-form/samples/chunking-star-external/_expected/cjs/main2.js
  test/chunking-form/samples/chunking-star-external/_expected/es/main2.js
  test/chunking-form/samples/chunking-star-external/_expected/system/main2.js
Due: eslint --fix

Replace usages of cached namespace variables
  src/Chunk.ts
  src/ast/variables/NamespaceVariable.ts
Due: eslint --fix

Add test for deep object property tree-shaking
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_config.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/amd/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/amd/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/cjs/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/es/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/system/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/_expected/system/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-await/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_config.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/amd/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/amd/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/cjs/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/es/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/system/generated-dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/_expected/system/main.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/dep.js
  test/chunking-form/samples/dynamic-import-object-property-tree-shaking-then/main.js
  test/form/samples/treeshake-deterministic-dynamic-import/_config.js
Due: eslint --fix, prettier --write

Store ImportExpression resolution only on Node
  src/Chunk.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/utils/chunkAssignment.ts
  src/utils/executionOrder.ts
Due: eslint --fix

Break early in some loop
  src/Chunk.ts
Due: eslint --fix

Use cached map in more places
  src/Module.ts
Due: eslint --fix

Separate namespace- and all-export-inclusion
  src/Graph.ts
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
Due: eslint --fix

Use cached map to get export names for variables
  src/Module.ts
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-chain-3.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
