Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Update license
  LICENSE.md
Due: none

Use spans from trait
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/property.rs
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Do not pass spans around but get them from the Spanned trait
  rust/parse_ast/src/ast_nodes/import_attribute.rs
  rust/parse_ast/src/ast_nodes/property.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Improve handling for spread and rest elements
  rust/parse_ast/src/ast_nodes/rest_element.rs
  rust/parse_ast/src/ast_nodes/spread_element.rs
Due: none

Fix lint errors
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/property.rs
  rust/parse_ast/src/ast_nodes/return_statement.rs
  rust/parse_ast/src/ast_nodes/switch_case.rs
  rust/parse_ast/src/ast_nodes/yield_expression.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Fix typos in ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

fix: escape % if URI malformed
  src/utils/sanitizeFileName.ts
  test/chunking-form/samples/sanitize-chunk-names/_config.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/foo%20bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/foo%E3%81%82bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/foo_E3_81bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/foo_bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/foo%20bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/foo%E3%81%82bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/foo_E3_81bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/foo_bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/foo%20bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/foo%E3%81%82bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/foo_E3_81bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/foo_bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/foo%20bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/foo%E3%81%82bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/foo_E3_81bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/foo_bar.js
Due: eslint --fix, prettier --write

refactor: We recognize that decodeURIComponent exists in most of environment
  src/utils/sanitizeFileName.ts
Due: eslint --fix

revert sanitize-chunk-names test
  test/chunking-form/samples/sanitize-chunk-names/_config.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/foo%20bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/foo%E3%81%82bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/foo_E3_81bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/foo_bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/foo%20bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/foo%E3%81%82bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/foo_E3_81bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/foo_bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/foo%20bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/foo%E3%81%82bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/foo_E3_81bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/foo_bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/foo%20bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/foo%E3%81%82bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/foo_E3_81bar.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/foo_bar.js
Due: eslint --fix, prettier --write

fix: define internal functions to prevent being tree-shaken
  src/utils/sanitizeFileName.ts
Due: eslint --fix

Switch to stable channel
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  rust/rust-toolchain.toml
Due: none

Try to fix REPL build
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
Due: none

Create basic macro for simple types
  rust/parse_ast/src/ast_nodes/break_statement.rs
  rust/parse_ast/src/ast_nodes/continue_statement.rs
  rust/parse_ast/src/ast_nodes/debugger_statement.rs
  rust/parse_ast/src/ast_nodes/empty_statement.rs
  rust/parse_ast/src/ast_nodes/return_statement.rs
  rust/parse_ast/src/ast_nodes/this_expression.rs
  rust/parse_ast/src/ast_nodes/yield_expression.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  scripts/generate-ast-macros.js
  scripts/generate-rust-constants.js
Due: none

Use if-let intead of .map
  rust/parse_ast/src/ast_nodes/property_definition.rs
Due: none

Use macro for flags
  rust/parse_ast/src/ast_nodes/arrow_function_expression.rs
  rust/parse_ast/src/ast_nodes/call_expression.rs
  rust/parse_ast/src/ast_nodes/for_of_statement.rs
  rust/parse_ast/src/ast_nodes/literal_boolean.rs
  rust/parse_ast/src/ast_nodes/member_expression.rs
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/property.rs
  rust/parse_ast/src/ast_nodes/property_definition.rs
  rust/parse_ast/src/ast_nodes/shared/function_node.rs
  rust/parse_ast/src/ast_nodes/template_element.rs
  rust/parse_ast/src/ast_nodes/update_expression.rs
  rust/parse_ast/src/ast_nodes/yield_expression.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/generate-ast-converters.js
  scripts/generate-ast-macros.js
  scripts/generate-rust-constants.js
  scripts/helpers.js
Due: none

Convert node list
  rust/parse_ast/src/ast_nodes/literal_boolean.rs
  rust/parse_ast/src/ast_nodes/literal_null.rs
  rust/parse_ast/src/ast_nodes/literal_reg_exp.rs
  rust/parse_ast/src/ast_nodes/literal_string.rs
  rust/parse_ast/src/ast_nodes/object_expression.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  scripts/generate-ast-macros.js
Due: none

Support simple nodes
  rust/parse_ast/src/ast_nodes/await_expression.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  scripts/generate-ast-macros.js
Due: none

Support fixed strings
  rust/parse_ast/src/ast_nodes/assignment_expression.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  scripts/generate-ast-macros.js
Due: none

Fix linting
  rust/parse_ast/src/ast_nodes/assignment_expression.rs
  rust/parse_ast/src/ast_nodes/for_of_statement.rs
  rust/parse_ast/src/ast_nodes/literal_boolean.rs
  rust/parse_ast/src/ast_nodes/template_element.rs
  rust/parse_ast/src/ast_nodes/unary_expression.rs
  rust/parse_ast/src/ast_nodes/update_expression.rs
  rust/parse_ast/src/ast_nodes/yield_expression.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Use more macros
  rust/parse_ast/src/ast_nodes/do_while_statement.rs
  rust/parse_ast/src/ast_nodes/export_specifier.rs
  rust/parse_ast/src/ast_nodes/expression_statement.rs
  rust/parse_ast/src/ast_nodes/for_in_statement.rs
  rust/parse_ast/src/ast_nodes/for_of_statement.rs
  rust/parse_ast/src/ast_nodes/for_statement.rs
  rust/parse_ast/src/ast_nodes/if_statement.rs
  rust/parse_ast/src/ast_nodes/import_default_specifier.rs
  rust/parse_ast/src/ast_nodes/import_namespace_specifier.rs
  rust/parse_ast/src/ast_nodes/import_specifier.rs
  rust/parse_ast/src/ast_nodes/labeled_statement.rs
  rust/parse_ast/src/ast_nodes/literal_big_int.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
Due: none

Support variable strings
  rust/parse_ast/src/ast_nodes/conditional_expression.rs
  rust/parse_ast/src/ast_nodes/directive.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  scripts/generate-ast-macros.js
Due: none

Add remaining macros
  rust/parse_ast/src/ast_nodes/object_pattern.rs
  rust/parse_ast/src/ast_nodes/private_identifier.rs
  rust/parse_ast/src/ast_nodes/sequence_expression.rs
  rust/parse_ast/src/ast_nodes/static_block.rs
  rust/parse_ast/src/ast_nodes/super_element.rs
  rust/parse_ast/src/ast_nodes/switch_case.rs
  rust/parse_ast/src/ast_nodes/switch_statement.rs
  rust/parse_ast/src/ast_nodes/tagged_template_expression.rs
  rust/parse_ast/src/ast_nodes/template_element.rs
  rust/parse_ast/src/ast_nodes/throw_statement.rs
  rust/parse_ast/src/ast_nodes/unary_expression.rs
  rust/parse_ast/src/ast_nodes/update_expression.rs
  rust/parse_ast/src/ast_nodes/while_statement.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
Due: none

Support float and optional strings
  rust/parse_ast/src/ast_nodes/break_statement.rs
  rust/parse_ast/src/ast_nodes/continue_statement.rs
  rust/parse_ast/src/ast_nodes/literal_number.rs
  rust/parse_ast/src/ast_nodes/return_statement.rs
  rust/parse_ast/src/ast_nodes/yield_expression.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  scripts/generate-ast-macros.js
Due: none

add % to INVALID_CHAR_REGEX
  src/utils/sanitizeFileName.ts
  test/chunking-form/samples/sanitize-percent-encoding1/_config.js
  test/chunking-form/samples/sanitize-percent-encoding2/_config.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/amd/generated-foo_20bar.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/amd/generated-foo_E3_81_82bar.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/amd/main.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/cjs/generated-foo_20bar.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/cjs/generated-foo_E3_81_82bar.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/cjs/main.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/es/generated-foo_20bar.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/es/generated-foo_E3_81_82bar.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/es/main.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/system/generated-foo_20bar.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/system/generated-foo_E3_81_82bar.js
  test/chunking-form/samples/sanitize-percent-encoding2/_expected/system/main.js
  test/chunking-form/samples/sanitize-percent-encoding3/_config.js
  test/chunking-form/samples/sanitize-percent-encoding3/_expected/amd/foo_20bar.js
  test/chunking-form/samples/sanitize-percent-encoding3/_expected/amd/foo_E3_81_82bar.js
  test/chunking-form/samples/sanitize-percent-encoding3/_expected/cjs/foo_20bar.js
  test/chunking-form/samples/sanitize-percent-encoding3/_expected/cjs/foo_E3_81_82bar.js
  test/chunking-form/samples/sanitize-percent-encoding3/_expected/es/foo_20bar.js
  test/chunking-form/samples/sanitize-percent-encoding3/_expected/es/foo_E3_81_82bar.js
  test/chunking-form/samples/sanitize-percent-encoding3/_expected/system/foo_20bar.js
  test/chunking-form/samples/sanitize-percent-encoding3/_expected/system/foo_E3_81_82bar.js
  test/function/samples/emit-file/file-references-in-bundle/_config.js
Due: eslint --fix, prettier --write

Fix vulnerabilities
  package-lock.json
  package.json
Due: none

Fix lint issues
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  rust/parse_ast/src/lib.rs
Due: none

Watch rust files and rebuild during dev
  package-lock.json
  package.json
Due: none

Fix lint issues
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Use absolute offset in bufferToAst
  scripts/generate-buffer-to-ast.js
  src/utils/bufferToAst.ts
Due: eslint --fix

Do not pass readString as an argument
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  src/ast/bufferParsers.ts
  src/utils/astConverterHelpers.ts
  src/utils/bufferToAst.ts
  src/utils/getAstBuffer.ts
  src/utils/getReadStringFunction.ts
  src/utils/parseAst.ts
Due: eslint --fix

Inline fields if possible
  scripts/ast-types.js
  scripts/generate-buffer-to-ast.js
  src/utils/bufferToAst.ts
Due: eslint --fix

Inline flags if possible
  scripts/ast-types.js
  scripts/generate-buffer-to-ast.js
  src/utils/bufferToAst.ts
Due: eslint --fix

Inline start and end
  scripts/generate-buffer-to-ast.js
  src/utils/bufferToAst.ts
Due: eslint --fix
