Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix(rust): fix compiler-rt path
  .github/workflows/build-and-tests.yml
Due: none

fix(rust): use prebuilt std when it is available
  .github/workflows/build-and-tests.yml
  rust/bindings_napi/.cargo/config.toml
Due: none

fix(rust): target does matter again
  .github/workflows/build-and-tests.yml
Due: none

fix(rust): properly define toolchain action
  .github/workflows/build-and-tests.yml
Due: none

fix(rust): actually get the syntax right
  .github/workflows/build-and-tests.yml
Due: none

There appear to be compile issues when there is an Android cargo cache
  .github/workflows/build-and-tests.yml
Due: none

Disable local_dynamic_tls for OpenHarmony
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
Due: none

fix(rust): misc tweaks to ci pipeline
  .github/workflows/build-and-tests.yml
Due: none

fix: manualChunks and non manualChunks shared dependencies are merged with the first manualChunk encountered alphabetically
  src/Bundle.ts
  src/rollup/types.d.ts
  src/utils/chunkAssignment.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/cli/samples/warn-unknown-options/rollup.config.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

test: manual chunks function form with onlyExplicitManualChunks flag
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_config.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/amd/generated-dep.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/amd/generated-manual.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/amd/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/cjs/generated-dep.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/cjs/generated-manual.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/cjs/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/es/generated-dep.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/es/generated-manual.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/es/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/system/generated-dep.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/system/generated-manual.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/_expected/system/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/dep.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/manual1.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/function-form/manual2.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_config.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_expected/amd/generated-manual.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_expected/amd/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_expected/cjs/generated-manual.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_expected/cjs/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_expected/es/generated-manual.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_expected/es/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_expected/system/generated-manual.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/_expected/system/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/dep.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/main.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/manual1.js
  test/chunking-form/samples/manual-chunks-only-explicit-dependencies/object-form/manual2.js
Due: eslint --fix, prettier --write

docs(configuration-options): add onlyexplicitmanualchunks section
  docs/configuration-options/index.md
  test/cli/samples/warn-unknown-options/rollup.config.js
Due: none

chore: add depecretad type
  src/rollup/types.d.ts
Due: eslint --fix

Add support for windows x64 gnu target
  .github/workflows/build-and-tests.yml
  native.js
  npm/win32-x64-gun/README.md
  npm/win32-x64-gun/package.json
Due: none

Fix path name
  npm/win32-x64-gnu/README.md
  npm/win32-x64-gnu/package.json
  package.json
Due: none

fix: types
  src/rollup/types.d.ts
  src/utils/chunkAssignment.ts
Due: eslint --fix

fix: markdown link
  docs/configuration-options/index.md
Due: none

Only run when label is added and directly remove the label afterward
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

Always deoptimize all dynamic imports in a file with top-level await
  src/Module.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/top-level-await-import-3/_config.js
  test/chunking-form/samples/top-level-await-import-3/_expected/es/generated-maths.js
  test/chunking-form/samples/top-level-await-import-3/_expected/es/generated-square.js
  test/chunking-form/samples/top-level-await-import-3/_expected/es/main.js
  test/chunking-form/samples/top-level-await-import-3/_expected/system/generated-maths.js
  test/chunking-form/samples/top-level-await-import-3/_expected/system/generated-square.js
  test/chunking-form/samples/top-level-await-import-3/_expected/system/main.js
  test/chunking-form/samples/top-level-await-import-3/main.js
  test/chunking-form/samples/top-level-await-import-3/maths.js
  test/chunking-form/samples/top-level-await-import-3/square.js
Due: eslint --fix, prettier --write

Improve name
  src/Module.ts
  src/utils/chunkAssignment.ts
Due: eslint --fix

Remove unused flag
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/utils/executionOrder.ts
Due: eslint --fix

fix(native-loader): safely handle report.getReport() on Termux/Android
  native.js
Due: none

Import expression effect check considers moduleSideEffects
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
Due: eslint --fix

Add test
  test/chunking-form/samples/dynamic-imports-without-side-effects/_config.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/es/generated-sub2.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/es/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/system/generated-sub2.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/system/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/sub.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/sub2.js
Due: eslint --fix, prettier --write

Replace no-effect awaiting import() expressions with 0
  src/ast/nodes/AwaitExpression.ts
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/es/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/system/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/main.js
Due: eslint --fix

Use optional catch binding
  native.js
Due: none

Fix formatting
  native.js
Due: none
