Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Limit number of tracked deoptimized fields for parameters
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

4.31.0-0
  browser/package.json
  package-lock.json
  package.json
Due: none

Add 'onInvalidate' watch option
  src/rollup/types.d.ts
  src/watch/watch.ts
Due: eslint --fix

Add documentation
  docs/configuration-options/index.md
Due: none

Add test
  test/watch/index.js
Due: eslint --fix, prettier --write

Support watch mode in yarn, gradle and containers
  cli/run/watch-cli.ts
  test/cli/samples/watch/close-stdin/_config.js
  test/cli/samples/watch/close-stdin/wrapper.js
  test/cli/samples/watch/watch-config-no-update/_config.js
Due: eslint --fix, prettier --write

Allow to use spawn to fix killing the child process with a signal
  test/cli/index.js
  test/cli/samples/unfulfilled-hook-actions-error/_config.js
  test/cli/samples/watch/signal-close-watcher/_config.js
  test/types.d.ts
Due: eslint --fix, prettier --write

fix: strip all BOMs
  src/ModuleLoader.ts
  src/utils/stripBom.ts
  test/function/samples/strip-bom-2/_config.js
  test/function/samples/strip-bom-2/main.js
Due: eslint --fix, prettier --write

feat!: update to chokidar v4
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.d.ts
Due: eslint --fix

ci: remove `test:package` from ci jobs
  .github/workflows/build-and-tests.yml
Due: none

Update anchor mapping
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
Due: none

Use optional chaining for conciseness
  src/watch/watch.ts
Due: eslint --fix

Refine documentation
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

fix: avoid duplicate rollupjs.org prefix
  cli/run/batchWarnings.ts
Due: none

Adapt test
  test/cli/samples/logs/_config.js
Due: eslint --fix, prettier --write

add test
  test/function/samples/deoptimize-logical-expressions-2/_config.js
  test/function/samples/deoptimize-logical-expressions-2/main.js
Due: eslint --fix, prettier --write

Set hasDeoptimizedCache to true as early as possible
  src/ast/nodes/LogicalExpression.ts
Due: eslint --fix

Fix typo
  docs/configuration-options/index.md
Due: none

Remove unnecessary array conversion
  src/ast/nodes/shared/ObjectEntity.ts
Due: eslint --fix

Only track top-level inclusions for parameters
  src/ast/scopes/ParameterScope.ts
  src/ast/utils/PathTracker.ts
  src/ast/variables/ArgumentsVariable.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/object-expression-treeshaking/remove-unused-parameter-props/_expected.js
  test/function/samples/recursive-property-access/_config.js
  test/function/samples/recursive-property-access/main.js
Due: eslint --fix, prettier --write

Only track arguments in the ArgumentsVariable if referenced
  src/ast/nodes/shared/Node.ts
  src/ast/variables/ArgumentsVariable.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

4.33.0-0
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: optimize the literal value of unary expressions
  src/ast/nodes/UnaryExpression.ts
  test/form/samples/nested-member-access/_expected.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/unary-expressions-literal-value/_config.js
  test/form/samples/unary-expressions-literal-value/_expected.js
  test/form/samples/unary-expressions-literal-value/main.js
Due: eslint --fix, prettier --write

correct the return value
  src/ast/nodes/UnaryExpression.ts
Due: eslint --fix

Manually update further
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

return UnknownValue if getLiteralValueAtPath is called recursively within logical expressions
  src/ast/nodes/LogicalExpression.ts
  test/function/samples/logical-expressions-literal-value/_config.js
  test/function/samples/logical-expressions-literal-value/main.js
Due: eslint --fix, prettier --write

support for changing the attributes key for dynamic imports
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ast/nodes/ImportExpression.ts
  src/utils/renderHelpers.ts
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes/main.js
Due: eslint --fix, prettier --write

Revert update as that needs to match the transitive dependency
  renovate.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
Due: none

tweak test
  test/function/samples/logical-expressions-literal-value/main.js
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
