Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix type
  rust/parse_ast/src/error_emit.rs
Due: none

fix(assetFileNames): reduce max hash size to 21
  src/utils/FileEmitter.ts
  src/utils/hashPlaceholders.ts
  test/chunking-form/samples/hashing/hash-size/_config.js
  test/chunking-form/samples/hashing/hash-size/_expected/amd/test-C4X7hChnUe0FjTUb3j4Hh.txt
  test/chunking-form/samples/hashing/hash-size/_expected/cjs/test-C4X7hChnUe0FjTUb3j4Hh.txt
  test/chunking-form/samples/hashing/hash-size/_expected/es/test-C4X7hChnUe0FjTUb3j4Hh.txt
  test/chunking-form/samples/hashing/hash-size/_expected/system/test-C4X7hChnUe0FjTUb3j4Hh.txt
Due: eslint --fix, prettier --write

fix: generate the separate chunk for the entry module with explicated chunk filename or name
  src/Chunk.ts
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_config.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/amd/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/amd/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/amd/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/cjs/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/cjs/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/cjs/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/es/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/es/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/es/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/system/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/system/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/_expected/system/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-file-name/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_config.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_expected/amd/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_expected/amd/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_expected/cjs/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_expected/cjs/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_expected/es/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_expected/es/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_expected/system/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/_expected/system/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicated-name/otherEntry.js
Due: eslint --fix, prettier --write

avoid chunks TLA dynamic import circular when TLA dynamic import used in non-entry modules
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/top-level-await-import-2/_config.js
  test/chunking-form/samples/top-level-await-import-2/_expected/es/generated-foo-prefix.js
  test/chunking-form/samples/top-level-await-import-2/_expected/es/generated-foo.js
  test/chunking-form/samples/top-level-await-import-2/_expected/es/main.js
  test/chunking-form/samples/top-level-await-import-2/_expected/system/generated-foo-prefix.js
  test/chunking-form/samples/top-level-await-import-2/_expected/system/generated-foo.js
  test/chunking-form/samples/top-level-await-import-2/_expected/system/main.js
  test/chunking-form/samples/top-level-await-import-2/foo-prefix.js
  test/chunking-form/samples/top-level-await-import-2/foo.js
  test/chunking-form/samples/top-level-await-import-2/lib.js
  test/chunking-form/samples/top-level-await-import-2/main.js
Due: eslint --fix, prettier --write

chore: add new `./package.json` entry
  package.json
Due: none

fix(exports): avoid "exports is not defined" `ReferenceError` (#5925)
  src/finalisers/amd.ts
  src/finalisers/iife.ts
  src/finalisers/umd.ts
  test/form/samples/deconflict-format-specific-globals/_expected/amd.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
Due: eslint --fix

consider TLA imports have higher execution priority
  src/ast/ExecutionContext.ts
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/utils/executionOrder.ts
  test/form/samples/cycles-dependency-with-TLA-await-import/_config.js
  test/form/samples/cycles-dependency-with-TLA-await-import/_expected.js
  test/form/samples/cycles-dependency-with-TLA-await-import/lib.js
  test/form/samples/cycles-dependency-with-TLA-await-import/main.js
  test/form/samples/no-treeshake/_expected.js
Due: eslint --fix, prettier --write

adjust the condition
  src/Chunk.ts
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_config.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/amd/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/amd/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/amd/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/cjs/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/cjs/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/cjs/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/es/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/es/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/es/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/system/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/system/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/system/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_config.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/amd/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/amd/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/cjs/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/cjs/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/es/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/es/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/system/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/system/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/otherEntry.js
Due: eslint --fix, prettier --write

rename variable modulesToHandle to staticDependencies in function analyzeModuleGraph
  src/utils/chunkAssignment.ts
Due: eslint --fix

fix: watch mode input should not be an output subpath
  src/watch/watch-proxy.ts
Due: eslint --fix

chore: test
  test/cli/samples/watch/watch-output-contain-input/_config.js
  test/cli/samples/watch/watch-output-contain-input/main.js
  test/cli/samples/watch/watch-output-contain-input/rollup.config.mjs
Due: eslint --fix, prettier --write

fix: update
  src/watch/watch-proxy.ts
Due: eslint --fix

test: update
  test/cli/samples/watch/watch-output-contain-input/_config.js
Due: eslint --fix, prettier --write

fix: update
  src/watch/watch-proxy.ts
  test/cli/samples/watch/watch-output-contain-input/_config.js
Due: eslint --fix, prettier --write

refactor: update
  src/watch/watch-proxy.ts
Due: eslint --fix

add dedicated form test
  src/finalisers/umd.ts
  test/form/samples/export-default-binding/_config.js
  test/form/samples/export-default-binding/_expected/amd.js
  test/form/samples/export-default-binding/_expected/cjs.js
  test/form/samples/export-default-binding/_expected/es.js
  test/form/samples/export-default-binding/_expected/iife.js
  test/form/samples/export-default-binding/_expected/system.js
  test/form/samples/export-default-binding/_expected/umd.js
  test/form/samples/export-default-binding/main.js
Due: eslint --fix, prettier --write

test: update
  test/cli/samples/watch/watch-output-contain-input/rollup.config.mjs
Due: none

test: cover
  test/cli/samples/watch/watch-output-contain-input/rollup.config.mjs
  test/watch/index.js
Due: eslint --fix, prettier --write

feat(config): add an fs config to the JS api (#5880)
  package-lock.json
  package.json
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/resolveId.ts
  test/chunking-form/samples/max-parallel-file-operations/_config.js
  test/function/samples/max-parallel-file-operations/default/_config.js
  test/function/samples/max-parallel-file-operations/error/_config.js
  test/function/samples/max-parallel-file-operations/infinity/_config.js
  test/function/samples/max-parallel-file-operations/set/_config.js
  test/function/samples/options-hook/_config.js
  test/misc/fs-override.js
  test/misc/index.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

feat(config): make fs option typesafe (#5880)
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/resolveId.ts
Due: eslint --fix

feat(config): pass the fs option as plugin context (#5880)
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  test/misc/fs-override.js
Due: eslint --fix

feat(config): add documentation about the fs option (#5880)
  docs/configuration-options/index.md
  docs/javascript-api/index.md
Due: none

test: add tests
  test/function/samples/resolveid-recursive-call/_config.js
  test/function/samples/resolveid-recursive-call/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
