Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Convert to new import attributes AST format
  rust/parse_ast/src/convert_ast/converter.rs
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/keys.ts
  src/ast/nodes/ExportAllDeclaration.ts
  src/ast/nodes/ExportNamedDeclaration.ts
  src/ast/nodes/ImportDeclaration.ts
  src/ast/nodes/ImportExpression.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/parseImportAttributes.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/import-assertions/warn-unresolvable-assertions/_config.js
  test/function/samples/import-assertions/warn-unresolvable-assertions/main.js
  test/incremental/index.js
  test/utils.js
Due: eslint --fix, prettier --write

Rename assertions to attributes
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ExternalModule.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportDeclaration.ts
  src/ast/nodes/ImportExpression.ts
  src/finalisers/es.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/logs.ts
  src/utils/parseImportAttributes.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/form/samples/import-assertions/assertion-shapes/_config.js
  test/form/samples/import-assertions/keep-dynamic-assertions/_config.js
  test/form/samples/import-assertions/keeps-static-assertions/_config.js
  test/form/samples/import-assertions/plugin-assertions-resolvedynamicimport/_config.js
  test/form/samples/import-assertions/plugin-assertions-resolveid/_config.js
  test/form/samples/import-assertions/removes-dynamic-assertions/_config.js
  test/form/samples/import-assertions/removes-static-assertions/_config.js
  test/function/samples/context-resolve/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/import-assertions/plugin-assertions-this-resolve/_config.js
  test/function/samples/import-assertions/warn-assertion-conflicts/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information-no-cache/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
  test/function/samples/resolve-relative-external-id/_config.js
  test/incremental/index.js
Due: eslint --fix, prettier --write

feat(types): add generic for plugin api
  src/rollup/types.d.ts
Due: eslint --fix

fix(perf): avoid superfluous timer wrappings in watch mode
  src/utils/timers.ts
Due: eslint --fix

Update SWC version
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
Due: none

Exclude fsevents from updates
  package-lock.json
  package.json
  renovate.json
Due: none

Revert changes to see if this fixes coverage
  package-lock.json
  package.json
Due: none

Re-apply some changes
  package-lock.json
  package.json
Due: none

Only skip TypeScript plugin update
  package-lock.json
  package.json
  renovate.json
Due: none

fix: access document.currentScript at the top level
  src/Chunk.ts
  src/Module.ts
  src/ast/nodes/MetaProperty.ts
  src/utils/interopHelpers.ts
  test/chunking-form/samples/import-meta-numeric-paths/_expected/cjs/0/1/nested.js
  test/chunking-form/samples/import-meta-url/_expected/cjs/main.js
  test/chunking-form/samples/import-meta-url/_expected/cjs/nested/chunk.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/import-meta-url/_expected/cjs.js
  test/form/samples/import-meta-url/_expected/iife.js
  test/form/samples/import-meta-url/_expected/umd.js
  test/form/samples/import-meta/_expected/cjs.js
  test/form/samples/import-meta/_expected/iife.js
  test/form/samples/import-meta/_expected/umd.js
  test/form/samples/resolve-import-meta-url/_expected/cjs.js
  test/form/samples/resolve-import-meta-url/_expected/iife.js
  test/form/samples/resolve-import-meta-url/_expected/umd.js
Due: eslint --fix

add test
  test/function/samples/import-meta-url-b/_config.js
  test/function/samples/import-meta-url-b/main.js
Due: eslint --fix, prettier --write

Remove max-call-stack test
  test/misc/misc.js
Due: none

update snapshots
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
Due: none

Improve coverage
  .nycrc
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/shared/Node.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Added chunkhash placeholder to sourcemap names
  docs/configuration-options/index.md
  src/Chunk.ts
  test/sourcemaps/samples/sourcemap-file-names/_config.js
Due: eslint --fix, prettier --write

Deoptimize custom event detail
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/custom-event-detail/_config.js
  test/form/samples/custom-event-detail/_expected.js
  test/form/samples/custom-event-detail/main.js
Due: eslint --fix, prettier --write

build(ci): factor out test jobs into a unique job
  .github/workflows/tests.yml
Due: none

build(ci): cleanup tests workflow
  .github/workflows/tests.yml
Due: none

build(ci): remove node 20 from the matrix for now
  .github/workflows/tests.yml
Due: none

add the option accessedDocumentCurrentScript to RenderOptions
  src/Chunk.ts
  src/Module.ts
  src/ast/nodes/MetaProperty.ts
  src/utils/renderHelpers.ts
  test/function/samples/import-meta-url-b/main.js
Due: eslint --fix

Fix test
  test/form/samples/supports-core-js/_expected.js
Due: none

re-enable repl-artefacts workflow
  .github/workflows/repl-artefacts.yml
Due: none

re-enbale repl-artefacts workflow for rollup-swc branch
  .github/workflows/repl-artefacts.yml
Due: none

Track timer instrumentation on plugins
  src/utils/timers.ts
Due: eslint --fix

Preload wasm file in docs
  docs/repl/stores/rollup.ts
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
