Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix: set sourcesContent to undefined instead of null when excluding sources content
  src/utils/collapseSourcemaps.ts
  test/form/index.js
  test/form/samples/sourcemaps-excludesources/_expected/amd.js.map
  test/form/samples/sourcemaps-excludesources/_expected/cjs.js.map
  test/form/samples/sourcemaps-excludesources/_expected/es.js.map
  test/form/samples/sourcemaps-excludesources/_expected/iife.js.map
  test/form/samples/sourcemaps-excludesources/_expected/system.js.map
  test/form/samples/sourcemaps-excludesources/_expected/umd.js.map
Due: eslint --fix, prettier --write

Fix syntax error in manualChunks example (#6190)
  docs/configuration-options/index.md
Due: none

Fix riscv64gc-unknown-linux-musl build
  .github/workflows/build-and-tests.yml
  package-lock.json
Due: none

Downgrade inquirer to fix the build for now
  package-lock.json
  package.json
  renovate.json
Due: none

Do not tree-shake handlers for "using"
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/VariableDeclarator.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/PathTracker.ts
  test/function/samples/using-statement-symbol-dispose/_config.js
  test/function/samples/using-statement-symbol-dispose/main.js
Due: eslint --fix, prettier --write

Also add special handling for asyncDispose
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/PathTracker.ts
  test/function/samples/using-statement-symbol-async-dispose/_config.js
  test/function/samples/using-statement-symbol-async-dispose/main.js
Due: eslint --fix, prettier --write

Do not tree-shake handlers for "using" (#6209)
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/PathTracker.ts
  test/function/samples/using-statement-symbol-async-dispose/_config.js
  test/function/samples/using-statement-symbol-async-dispose/main.js
  test/function/samples/using-statement-symbol-dispose/_config.js
  test/function/samples/using-statement-symbol-dispose/main.js
Due: eslint --fix, prettier --write

4.53.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Add test
  test/form/samples/jsx/transpiles-react-jsx-expression-semicolon/_config.js
  test/form/samples/jsx/transpiles-react-jsx-expression-semicolon/_expected.js
  test/form/samples/jsx/transpiles-react-jsx-expression-semicolon/main.js
Due: eslint --fix, prettier --write

fix: use appendLeft+remove instead of move to fix semicolon order in JSX
  src/ast/nodes/JSXElement.ts
Due: eslint --fix

fix: use appendRight instead of appendLeft for ExpressionStatement, revert the change for JSXElement
  src/ast/nodes/ExpressionStatement.ts
  src/ast/nodes/JSXElement.ts
Due: eslint --fix

fix: set sourcesContent to undefined instead of null when excluding sources content (#6196)
  src/utils/collapseSourcemaps.ts
  test/form/index.js
  test/form/samples/sourcemaps-excludesources/_expected/amd.js.map
  test/form/samples/sourcemaps-excludesources/_expected/cjs.js.map
  test/form/samples/sourcemaps-excludesources/_expected/es.js.map
  test/form/samples/sourcemaps-excludesources/_expected/iife.js.map
  test/form/samples/sourcemaps-excludesources/_expected/system.js.map
  test/form/samples/sourcemaps-excludesources/_expected/umd.js.map
Due: eslint --fix, prettier --write

Fix semicolon order in JSX (#6206)
  src/ast/nodes/ExpressionStatement.ts
  test/form/samples/jsx/transpiles-react-jsx-expression-semicolon/_config.js
  test/form/samples/jsx/transpiles-react-jsx-expression-semicolon/_expected.js
  test/form/samples/jsx/transpiles-react-jsx-expression-semicolon/main.js
Due: eslint --fix, prettier --write

Fix lockfile
  package-lock.json
Due: none

4.53.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: include namespace variable paths during try-catch deoptimization
  src/ast/nodes/MemberExpression.ts
  test/function/samples/namespace-import-deoptimization/_config.js
  test/function/samples/namespace-import-deoptimization/dep.js
  test/function/samples/namespace-import-deoptimization/main.js
  test/function/samples/namespace-reexport-deoptimization/_config.js
  test/function/samples/namespace-reexport-deoptimization/dep.js
  test/function/samples/namespace-reexport-deoptimization/main.js
  test/function/samples/namespace-reexport-deoptimization/values.js
Due: eslint --fix, prettier --write

Extend tree-shaking to handle explicit resource managment symbols
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/utils/PathTracker.ts
  test/form/samples/using-statement-symbol-usage/_config.js
  test/form/samples/using-statement-symbol-usage/_expected.js
  test/form/samples/using-statement-symbol-usage/main.js
  test/function/samples/using-statement-symbol-async-dispose/_config.js
Due: eslint --fix, prettier --write

fix: correctly handle wellknown protocols (#6046)
  package-lock.json
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/PathTracker.ts
  test/form/samples/object-expression-treeshaking/preserve-unknown-wellknown/_config.js
  test/form/samples/object-expression-treeshaking/preserve-unknown-wellknown/_expected.js
  test/form/samples/object-expression-treeshaking/preserve-unknown-wellknown/main.js
  test/form/samples/object-expression-treeshaking/remove-unused-wellknown-hasInstance/_config.js
  test/form/samples/object-expression-treeshaking/remove-unused-wellknown-hasInstance/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-wellknown-hasInstance/main.js
  test/form/samples/using-statement-symbol-usage/_config.js
  test/form/samples/using-statement-symbol-usage/_expected.js
  test/form/samples/using-statement-symbol-usage/main.js
  test/function/samples/array-deoptimization/_config.js
  test/function/samples/array-deoptimization/main.js
  test/function/samples/using-statement-symbol-async-dispose/_config.js
  test/function/samples/wellknown-protocols/hasInstance/class-instance/_config.js
  test/function/samples/wellknown-protocols/hasInstance/class-instance/main.js
  test/function/samples/wellknown-protocols/hasInstance/class-static/_config.js
  test/function/samples/wellknown-protocols/hasInstance/class-static/main.js
  test/function/samples/wellknown-protocols/hasInstance/object/_config.js
  test/function/samples/wellknown-protocols/hasInstance/object/main.js
  test/function/samples/wellknown-protocols/toStringTag/class-instance/_config.js
  test/function/samples/wellknown-protocols/toStringTag/class-instance/main.js
  test/function/samples/wellknown-protocols/toStringTag/object/_config.js
  test/function/samples/wellknown-protocols/toStringTag/object/main.js
Due: eslint --fix, prettier --write

fix: include namespace variable paths during try-catch deoptimization (#6216)
  src/ast/nodes/MemberExpression.ts
  test/function/samples/namespace-import-deoptimization/_config.js
  test/function/samples/namespace-import-deoptimization/dep.js
  test/function/samples/namespace-import-deoptimization/main.js
  test/function/samples/namespace-reexport-deoptimization/_config.js
  test/function/samples/namespace-reexport-deoptimization/dep.js
  test/function/samples/namespace-reexport-deoptimization/main.js
  test/function/samples/namespace-reexport-deoptimization/values.js
Due: eslint --fix, prettier --write

4.54.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Handle TLA dynamic import cycles in chunkAssignment
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_config.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/es/generated-a.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/es/generated-foo.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/es/main.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/system/generated-a.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/system/generated-foo.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/_expected/system/main.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/a.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/b.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/foo.js
  test/chunking-form/samples/splitting-cycles-module-with-TLA-and-dynamic-importer/main.js
Due: eslint --fix, prettier --write

Apply to adjust the description of the command-line parameter 'rollup -c'.
  docs/command-line-interface/index.md
Due: none

Adapt tested error messages
  test/watch/index.js
Due: eslint --fix, prettier --write

Format the CLI parameter description text.
  docs/command-line-interface/index.md
Due: none

Synchronously update the content of 'cli/help.md'.
  cli/help.md
Due: none

Correct formatting in cli/help.md
  cli/help.md
Due: none

Apply to adjust the description of the command-line parameter 'rollup… (#6222)
  cli/help.md
  docs/command-line-interface/index.md
Due: none

Deduplicate help.md
  build-plugins/load-cli-help.ts
  cli/cli.ts
  cli/help.md
  docs/command-line-interface/index.md
  package-lock.json
  package.json
  rollup.config.ts
  typings/declarations.ts
Due: eslint --fix

Update generated bindings
  build-plugins/load-cli-help.ts
  wasm/bindings_wasm.d.ts
Due: none

Update options test
  build-plugins/load-cli-help.ts
  scripts/test-options.js
Due: none

Improve plugin name
  build-plugins/load-cli-help.ts
Due: none

Add test to improve coverage
  test/cli/samples/help/_config.js
  test/cli/samples/help/_expected.md
Due: eslint --fix, prettier --write

Apply Copilot suggestions
  build-plugins/load-cli-help.ts
Due: none

Fix test
  test/cli/samples/help/_config.js
  test/cli/samples/help/_expected
  test/cli/samples/help/_expected.md
Due: eslint --fix, prettier --write

Deduplicate CLI help file (#6223)
  build-plugins/load-cli-help.ts
  cli/cli.ts
  docs/command-line-interface/index.md
  package-lock.json
  package.json
  rollup.config.ts
  scripts/test-options.js
  test/cli/samples/help/_config.js
  test/cli/samples/help/_expected
  typings/declarations.ts
  wasm/bindings_wasm.d.ts
Due: eslint --fix, prettier --write

Import expression effect check considers moduleSideEffects
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
Due: eslint --fix

Replace no-effect awaiting import() expressions with 0
  src/ast/nodes/AwaitExpression.ts
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/es/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/system/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/main.js
Due: eslint --fix

Add test
  test/chunking-form/samples/dynamic-imports-without-side-effects/_config.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/es/generated-sub2.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/es/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/system/generated-sub2.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/_expected/system/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/main.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/sub.js
  test/chunking-form/samples/dynamic-imports-without-side-effects/sub2.js
Due: eslint --fix, prettier --write

Add support for ppc64 & loong64 musl linux
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-loong64-musl/README.md
  npm/linux-loong64-musl/package.json
  npm/linux-ppc64-musl/README.md
  npm/linux-ppc64-musl/package.json
  package.json
Due: none
