Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

4.62.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Support importing the same module with different import attributes
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/finalisers/shared/setupNamespace.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/blank.ts
  src/utils/logs.ts
  src/utils/moduleId.ts
  src/utils/options/mergeOptions.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  src/utils/transform.ts
Due: eslint --fix

Add tests
  test/function/samples/import-image-with-different-attributes/_config.js
  test/function/samples/import-image-with-different-attributes/main.js
Due: eslint --fix, prettier --write

Temporarily mock @rollup/plugin-json
  build-plugins/json.ts
  rollup.config.ts
Due: none

Add more tests
  package-lock.json
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/resolveIdViaPlugins.ts
  test/form/samples/import-attributes/plugin-attributes-resolveid/_config.js
  test/function/samples/same-module-with-diff-attributes/config-options/_config.js
  test/function/samples/same-module-with-diff-attributes/config-options/main.js
  test/function/samples/same-module-with-diff-attributes/export/_config.js
  test/function/samples/same-module-with-diff-attributes/export/lib.js
  test/function/samples/same-module-with-diff-attributes/export/main.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/_config.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/bar.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/foo.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/main.js
  test/function/samples/same-module-with-diff-attributes/import/_config.js
  test/function/samples/same-module-with-diff-attributes/import/main.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/_config.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/main.js
Due: eslint --fix, prettier --write

Fix Vite type-compatibility
  docs/.vitepress/config.ts
  package.json
  src/rollup/types.d.ts
Due: eslint --fix

Update docs
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Add documentation
  docs/javascript-api/index.md
  docs/plugin-development/index.md
Due: none

Remove scope type discriminator
  rust/parse_ast/src/convert_ast/converter.rs
  src/utils/parseAndWalk.ts
Due: eslint --fix

Auto-generate scope constants
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/ast_nodes/shared/function_node.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/scope_constants.rs
  scripts/ast-types.ts
  scripts/generate-ast-converters.ts
  scripts/generate-scope-constants.ts
  src/utils/parseAndWalk.ts
  src/utils/scopeConstants.ts
  test/parse-and-walk/samples/collectScopes/_config.js
Due: eslint --fix, prettier --write

Actually use scope constants
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

docs: update x_google_ignoreList link to canonical URL
  docs/configuration-options/index.md
Due: none

Resolve audit
  audit-resolve.json
Due: none

Roll back toolchain update and prevent further ones
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  renovate.json
Due: none

Fix linting and shorten pkg again
  build-plugins/get-banner.ts
  eslint.config.mjs
  scripts/declarations.d.ts
  scripts/helpers.js
  scripts/test-package.js
  src/Chunk.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/browser-entry.ts
  src/finalisers/iife.ts
  src/finalisers/shared/getExportBlock.ts
  src/finalisers/umd.ts
  src/node-entry.ts
  src/rollup/rollup.ts
  src/utils/PluginContext.ts
  src/utils/logger.ts
  src/watch/watch.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/cli/samples/config-json/rollup.config.js
  test/function/samples/plugin-parse/_config.js
Due: eslint --fix, prettier --write

docs: update x_google_ignoreList link to canonical URL (#6421)
  docs/configuration-options/index.md
Due: none

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/destructure-function-length/_config.js
  test/function/samples/destructure-function-length/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

Create stub and basic test
  src/utils/PluginContext.ts
  test/function/samples/parse-and-walk-basic/_config.js
  test/function/samples/parse-and-walk-basic/main.js
Due: eslint --fix, prettier --write

Add nodeIds to JavaScript
  scripts/generate-ast-converters.ts
  scripts/generate-node-ids.ts
  src/ast/nodeIds.ts
Due: eslint --fix

Define type for parse function
  scripts/generate-ast-types.ts
  src/rollup/ast-types.d.ts
  src/rollup/types.d.ts
Due: eslint --fix

Provide stub for parseAndWalk
  native.d.ts
  native.js
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  test/function/samples/parse-and-walk-basic/_config.js
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: eslint --fix, prettier --write

Hand over node selection to parseAndWalk
  browser/src/wasm.ts
  native.d.ts
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  src/utils/PluginContext.ts
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: eslint --fix

Use a single parse function
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
Due: none

Unify bitset parameter between Napi and WASM
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  wasm/bindings_wasm.d.ts
Due: none

Improve naming slightly
  browser/src/wasm.ts
  native.d.ts
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  wasm/bindings_wasm.d.ts
Due: eslint --fix

First attempt at Rust walking index generation
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/variable_declarator.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  rust/parse_ast/src/lib.rs
  scripts/generate-ast-macros.ts
  scripts/generate-rust-constants.ts
  src/utils/PluginContext.ts
Due: eslint --fix

Extract nodeTypeStrings from bufferParsers
  scripts/generate-ast-converters.ts
  scripts/generate-buffer-parsers.ts
  scripts/generate-node-type-strings.ts
  src/ast/bufferParsers.ts
  src/ast/nodeTypeStrings.ts
Due: eslint --fix

Implement initial walking implementation
  rust/parse_ast/src/convert_ast/converter.rs
  scripts/generate-buffer-to-ast.ts
  scripts/generate-buffer-to-lazy-ast.ts
  scripts/helpers.js
  src/Module.ts
  src/utils/PluginContext.ts
  src/utils/bufferToAst.ts
  src/utils/bufferToLazyAst.ts
  src/utils/parseAst.ts
Due: eslint --fix

Directly use BigUint64 for bitset
  browser/src/wasm.ts
  native.d.ts
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk-basic/_config.js
  test/function/samples/parse-and-walk-basic/main.js
  wasm/bindings_wasm.d.ts
Due: eslint --fix, prettier --write

Add test we do not forget to extend the parseAndWalk tests as needed
  scripts/generate-ast-converters.ts
Due: none

Implement parseChildren logic
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/parseChildren/_config.js
  test/function/samples/parse-and-walk/parseChildren/main.js
Due: eslint --fix, prettier --write

Make parseAndWalk throw PARSE_ERROR on invalid syntax
  rust/parse_ast/src/ast_nodes/panic_error.rs
  rust/parse_ast/src/ast_nodes/parse_error.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  src/utils/parseAndWalk.ts
  test/cli/samples/watch/bundle-error/_config.js
  test/function/samples/parse-and-walk/parse-ArrayExpression/_config.js
  test/function/samples/parse-and-walk/parse-ParseError/_config.js
  test/function/samples/parse-and-walk/parse-ParseError/main.js
  test/misc/parse-ast.js
Due: eslint --fix, prettier --write

Implement skipChildren logic
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/skipChildren/_config.js
  test/function/samples/parse-and-walk/skipChildren/main.js
Due: eslint --fix, prettier --write
