Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Refactor cache check
  src/Graph.ts
  src/Module.ts
  src/rollup/rollup.ts
Due: eslint --fix

Fix handling of namespace reexports when preserving modules
  src/Chunk.ts
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_config.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/amd/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/amd/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/cjs/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/cjs/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/es/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/es/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/system/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/system/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/reexport2.js
Due: eslint --fix, prettier --write

Fix small typo in 999-big-list-of-options.md
  docs/999-big-list-of-options.md
Due: none

docs: add a instruction about how to run one test on your local computer
  CONTRIBUTING.md
Due: none

Add support for arbitrary module namespace identifiers
  src/Module.ts
  src/ast/nodes/ExportSpecifier.ts
  src/ast/nodes/ImportSpecifier.ts
  test/function/samples/arbitrary-module-namespace-identifiers/_config.js
  test/function/samples/arbitrary-module-namespace-identifiers/foo.js
  test/function/samples/arbitrary-module-namespace-identifiers/main.js
  test/function/samples/arbitrary-module-namespace-identifiers/reexport.js
Due: eslint --fix, prettier --write

Add `version` property to Plugin type
  docs/05-plugin-development.md
  src/rollup/types.d.ts
Due: eslint --fix

Import from node:fs/promises
  browser/src/fs.ts
  build-plugins/generate-license-file.ts
  build-plugins/get-banner.ts
  cli/run/getConfigPath.ts
  cli/run/loadConfigFile.ts
  cli/run/watch-cli.ts
  scripts/find-config.js
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/utils/fs.ts
  src/utils/resolveId.ts
Due: eslint --fix

Use node: protocol, use destructuring
  test/cli/samples/watch/close-stdin/wrapper.js
Due: none

Bump minor and patch versions
  package-lock.json
  package.json
Due: none

Fix generated license file
  LICENSE.md
  browser/LICENSE.md
Due: none

Bump fs-extra (major)
  package-lock.json
  package.json
Due: none

Bump fixturify (major)
  package-lock.json
  package.json
Due: none

Bump eslint-plugin-unicorn (major)
  package-lock.json
  package.json
Due: none

Bump rollup-plugin-license (major)
  package-lock.json
  package.json
Due: none

Bump @rollup/plugin-json (major)
  package-lock.json
  package.json
Due: none

Bump @rollup/plugin-typescript (major)
  package-lock.json
  package.json
Due: none

Bump @rollup/plugin-commonjs (major)
  package-lock.json
  package.json
Due: none

Bump core-js, es6-shim, transitive dependencies, fix tests
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: none

Remove array grouping (web compat issue)
  src/ast/nodes/shared/ArrayPrototype.ts
  test/form/samples/builtin-prototypes/array-expression/_expected.js
  test/form/samples/builtin-prototypes/array-expression/main.js
Due: eslint --fix

Sort namespace object keys
  src/ast/variables/NamespaceVariable.ts
Due: eslint --fix

Use Set and builtin-modules package
  LICENSE.md
  browser/LICENSE.md
  package-lock.json
  package.json
  src/finalisers/shared/warnOnBuiltins.ts
Due: eslint --fix

Ad comment
  src/finalisers/shared/warnOnBuiltins.ts
Due: eslint --fix

Make parameter readonly
  src/finalisers/shared/warnOnBuiltins.ts
Due: eslint --fix

add test
  test/function/samples/namespace-keys-are-sorted/_config.js
  test/function/samples/namespace-keys-are-sorted/bar.js
  test/function/samples/namespace-keys-are-sorted/foo.js
  test/function/samples/namespace-keys-are-sorted/main.js
Due: eslint --fix, prettier --write

Use more readonly
  src/Bundle.ts
  src/ast/scopes/ClassBodyScope.ts
  src/ast/scopes/ModuleScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/scopes/Scope.ts
  src/ast/scopes/TrackingScope.ts
  src/ast/variables/ExportShimVariable.ts
  src/ast/variables/ExternalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
  src/finalisers/cjs.ts
  src/finalisers/es.ts
  src/finalisers/shared/getExportBlock.ts
Due: eslint --fix

Simplify, remove non-null assertion operator
  src/utils/FileEmitter.ts
Due: eslint --fix

Add generic type parameters to Map
  src/utils/FileEmitter.ts
Due: eslint --fix
