Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Improve performance with BigInt
  src/utils/chunkAssignment.ts
Due: eslint --fix

Move atomsByEntry to a more convenient place
  src/utils/chunkAssignment.ts
Due: eslint --fix

Rename variable
  src/utils/chunkAssignment.ts
Due: eslint --fix

Tests
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/entry-without-code-dynamic/_config.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/amd/generated-dynamic.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/amd/main1.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/amd/main2.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/cjs/generated-dynamic.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/cjs/main1.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/cjs/main2.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/es/generated-dynamic.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/es/main1.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/es/main2.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/system/generated-dynamic.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/system/main1.js
  test/chunking-form/samples/entry-without-code-dynamic/_expected/system/main2.js
  test/chunking-form/samples/entry-without-code-dynamic/dynamic.js
  test/chunking-form/samples/entry-without-code-dynamic/foo.js
  test/chunking-form/samples/entry-without-code-dynamic/main1.js
  test/chunking-form/samples/entry-without-code-dynamic/main2.js
  test/chunking-form/samples/entry-without-code/_config.js
  test/chunking-form/samples/entry-without-code/_expected/amd/main1.js
  test/chunking-form/samples/entry-without-code/_expected/amd/main2.js
  test/chunking-form/samples/entry-without-code/_expected/cjs/main1.js
  test/chunking-form/samples/entry-without-code/_expected/cjs/main2.js
  test/chunking-form/samples/entry-without-code/_expected/es/main1.js
  test/chunking-form/samples/entry-without-code/_expected/es/main2.js
  test/chunking-form/samples/entry-without-code/_expected/system/main1.js
  test/chunking-form/samples/entry-without-code/_expected/system/main2.js
  test/chunking-form/samples/entry-without-code/foo.js
  test/chunking-form/samples/entry-without-code/main1.js
  test/chunking-form/samples/entry-without-code/main2.js
Due: eslint --fix, prettier --write

Track atoms over side effects
  src/utils/chunkAssignment.ts
Due: eslint --fix

Improve size calculation
  docs/configuration-options/index.md
  src/Module.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/min-chunk-size/tree-shaking/_config.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/_expected/amd/main1.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/_expected/amd/main2.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/_expected/cjs/main1.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/_expected/cjs/main2.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/_expected/es/main1.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/_expected/es/main2.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/_expected/system/main1.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/_expected/system/main2.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/main1.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/main2.js
  test/chunking-form/samples/min-chunk-size/tree-shaking/shared.js
  test/cli/samples/empty-chunk-multiple/_config.js
  test/cli/samples/empty-chunk-multiple/a.js
  test/cli/samples/empty-chunk-multiple/b.js
  test/cli/samples/empty-chunk-multiple/main.js
  test/cli/samples/empty-chunk-multiple/main1.js
  test/cli/samples/empty-chunk-multiple/main2.js
  test/cli/samples/empty-chunk-multiple/rollup.config.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

Set default of experimentalMinChunkSize to 1 and fix calculations
  docs/configuration-options/index.md
  src/utils/chunkAssignment.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/amd/generated-other-effect.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/amd/generated-small1.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/amd/generated-small2.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/amd/main1.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/amd/main2.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/amd/main3.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/amd/main4.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/amd/main5.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/cjs/generated-other-effect.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/cjs/generated-small1.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/cjs/generated-small2.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/cjs/main1.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/cjs/main2.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/cjs/main3.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/cjs/main4.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/cjs/main5.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/es/generated-other-effect.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/es/generated-small1.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/es/generated-small2.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/es/main1.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/es/main2.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/es/main3.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/es/main4.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/es/main5.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/system/generated-other-effect.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/system/generated-small1.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/system/generated-small2.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/system/main1.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/system/main2.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/system/main3.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/system/main4.js
  test/chunking-form/samples/min-chunk-size/ignore-correlated-side-effects/_expected/system/main5.js
Due: eslint --fix

Abort search if perfect match is found
  src/utils/chunkAssignment.ts
Due: eslint --fix

Improve coverage
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_config.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/amd/generated-main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/amd/main1.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/amd/main2.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/amd/main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/cjs/generated-main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/cjs/main1.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/cjs/main2.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/cjs/main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/es/generated-main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/es/main1.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/es/main2.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/es/main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/system/generated-main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/system/main1.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/system/main2.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/_expected/system/main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/main1.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/main2.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/main3.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/second.js
  test/chunking-form/samples/min-chunk-size/avoid-circular-dependencies2/shared.js
Due: eslint --fix, prettier --write

Try to identify hanging builds in older Rollup
  package.json
  rollup.config.ts
  scripts/kill-timeout.js
Due: none

Skip tests
  test/test.js
Due: eslint --fix, prettier --write

feat: optimize
  src/utils/FileEmitter.ts
Due: eslint --fix

test: add more test
  src/utils/FileEmitter.ts
  test/function/samples/emit-file/invalid-file-type/_config.js
  test/function/samples/emit-file/invalid-prebuilt-chunk-filename/_config.js
  test/function/samples/emit-file/invalid-prebuilt-chunk-filename/main.js
  test/function/samples/emit-file/invalid-prebuit-chunk-code/_config.js
  test/function/samples/emit-file/invalid-prebuit-chunk-code/main.js
  test/function/samples/emit-file/prebuilt-chunk/_config.js
  test/function/samples/emit-file/prebuilt-chunk/main.js
Due: eslint --fix, prettier --write

chore: tweak
  src/utils/FileEmitter.ts
  test/function/samples/emit-file/invalid-asset-name/_config.js
  test/function/samples/emit-file/invalid-asset-name3/_config.js
  test/function/samples/emit-file/invalid-prebuilt-chunk-filename/_config.js
Due: eslint --fix, prettier --write

docs: update documentation
  docs/plugin-development/index.md
Due: none

docs: update
  docs/plugin-development/index.md
Due: none

Fix lint errors
  .eslintrc.js
  src/utils/hookActions.ts
Due: eslint --fix

Update core-js
  test/form/samples/supports-core-js/_expected.js
Due: none

feat: mark Set, Map, WeakSet and WeakMap with array arguments as pure
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/tree-shake-global-variables/_config.js
  test/form/samples/tree-shake-global-variables/_expected.js
  test/form/samples/tree-shake-global-variables/main.js
Due: eslint --fix, prettier --write

Do not force quit Rollup or close stdout
  cli/cli.ts
Due: none

Avoid memory leaks via beforeExit listeners
  src/utils/hookActions.ts
Due: eslint --fix

Reintroduce force quit
  rollup.config.ts
Due: none

Refine docs
  docs/plugin-development/index.md
Due: none

Minor type refinement
  src/utils/FileEmitter.ts
Due: eslint --fix
