Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore: bump resolve from 1.22.0 to 1.22.1
  package-lock.json
Due: none

chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Due: none

Add sourcemapBaseUrl option
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/url.ts
  test/misc/optionList.js
Due: eslint --fix

Add tests
  test/sourcemaps/samples/sourcemap-base-url/_config.js
  test/sourcemaps/samples/sourcemap-base-url/main.js
Due: eslint --fix, prettier --write

Use sourcemapBaseUrl if it's present
  src/rollup/rollup.ts
Due: eslint --fix

Run lint
  src/utils/url.ts
Due: eslint --fix

Update docs
  cli/help.md
  docs/01-command-line-reference.md
Due: none

Adapt Node versions on CI to prepare for v3
  .github/workflows/tests.yml
Due: none

Show codecov results immediately
  codecov.yml
Due: none

Remove MacOS 10 as it only causes issues anyway
  .github/workflows/tests.yml
Due: none

Deprecate Node 12
  .github/workflows/tests.yml
  LICENSE.md
  package-lock.json
  package.json
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main2.js
  test/cli/samples/plugin/advanced-esm/_expected/cjs.js
  test/cli/samples/plugin/advanced-esm/_expected/es.js
  test/form/samples/supports-core-js/_expected.js
  tsconfig.json
Due: none

Deprecate Node 12 (#4548)
  .github/workflows/tests.yml
  LICENSE.md
  package-lock.json
  package.json
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main2.js
  test/cli/samples/plugin/advanced-esm/_expected/cjs.js
  test/cli/samples/plugin/advanced-esm/_expected/es.js
  test/form/samples/supports-core-js/_expected.js
  tsconfig.json
Due: none

Try to make test more stable
  test/watch/index.js
Due: eslint --fix, prettier --write

Update CLI help screen
  cli/help.md
  docs/01-command-line-reference.md
  src/rollup/types.d.ts
Due: eslint --fix

Reintroduce augmentChunkHash and get OutputChunk by converting RenderedChunk
  src/Bundle.ts
  src/Chunk.ts
  src/utils/hashPlaceholders.ts
  test/file-hashes/samples/augment-chunk-hash/_config.js
Due: eslint --fix, prettier --write

Handle hash collisions
  src/Bundle.ts
  src/finalisers/umd.ts
  src/utils/hashPlaceholders.ts
  test/chunking-form/samples/deconflict-hashes/_config.js
  test/chunking-form/samples/deconflict-hashes/_expected/amd/entry-7061c38c.js
  test/chunking-form/samples/deconflict-hashes/_expected/amd/entry-82a5a8a4.js
  test/chunking-form/samples/deconflict-hashes/_expected/cjs/entry-8011025d.js
  test/chunking-form/samples/deconflict-hashes/_expected/cjs/entry-fc7b26ff.js
  test/chunking-form/samples/deconflict-hashes/_expected/es/entry-2b8647b5.js
  test/chunking-form/samples/deconflict-hashes/_expected/es/entry-369b04c8.js
  test/chunking-form/samples/deconflict-hashes/_expected/system/entry-54240e14.js
  test/chunking-form/samples/deconflict-hashes/_expected/system/entry-ed8fdbb3.js
  test/chunking-form/samples/deconflict-hashes/main1.js
  test/chunking-form/samples/deconflict-hashes/main2.js
Due: eslint --fix, prettier --write

Update documentation
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
  src/rollup/types.d.ts
Due: eslint --fix

Initial new hashing idea
  src/Bundle.ts
  src/Chunk.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/finalisers/umd.ts
  src/rollup/types.d.ts
  src/utils/hashPlaceholders.ts
  src/utils/renderChunk.ts
  test/file-hashes/samples/render-chunk-changes/_config.js
  test/file-hashes/samples/render-chunk-changes/main.js
  test/misc/bundle-information.js
Due: eslint --fix, prettier --write

Implement first draft for hashing algorithm
  src/Bundle.ts
  src/Chunk.ts
  src/utils/hashPlaceholders.ts
Due: eslint --fix

Simplify external import path generation
  src/Chunk.ts
  src/ExternalModule.ts
Due: eslint --fix

Always scan all chunks for hashes
  src/Bundle.ts
  src/Chunk.ts
  src/utils/hashPlaceholders.ts
  test/misc/bundle-information.js
  test/misc/misc.js
Due: eslint --fix

Reduce render parameters
  src/Bundle.ts
  src/Chunk.ts
Due: eslint --fix

Remove active deprecations
  src/ast/nodes/MetaProperty.ts
Due: eslint --fix

Remove deprecated hacky asset emission
  src/Bundle.ts
  src/Chunk.ts
  src/ExternalModule.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginDriver.ts
Due: eslint --fix

Use correct file names in chunk info
  src/Chunk.ts
  src/ExternalModule.ts
  test/misc/bundle-information.js
  test/misc/misc.js
Due: eslint --fix

Reduce this. property access
  src/Chunk.ts
  src/finalisers/amd.ts
  src/finalisers/iife.ts
  src/finalisers/index.ts
  src/finalisers/umd.ts
Due: eslint --fix

Clean up hashing logic
  src/Bundle.ts
  src/Chunk.ts
  src/utils/hashPlaceholders.ts
  src/utils/renderChunks.ts
Due: eslint --fix
