Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[v5.0] Add Mocha GitHub Actions test reports (#6548)
  .mocharc.cjs
  CHANGELOG.md
  test/testHelpers.js
Due: none

Remove all consumers of the vulnerable braces dependency
  .github/workflows/build-and-tests.yml
  audit-resolve.json
  package-lock.json
  package.json
  scripts/bootstrap-build.ts
  scripts/clean-wasm-output.ts
  scripts/copy-native-artifacts.ts
  scripts/rebuild-wasm-on-change.ts
  scripts/tsconfig.json
  stubs/find-yarn-workspace-root/index.js
  stubs/find-yarn-workspace-root/package.json
Due: none

Replace tsx with Node.js type stripping
  .github/workflows/build-and-tests.yml
  CHANGELOG.md
  docs/migration/index.md
  package-lock.json
  package.json
  scripts/clean-wasm-output.ts
  scripts/generate-ast-converters.ts
  scripts/generate-ast-macros.ts
  scripts/generate-ast-to-buffer.ts
  scripts/generate-ast-types.ts
  scripts/generate-buffer-parsers.ts
  scripts/generate-buffer-to-ast.ts
  scripts/generate-buffer-to-lazy-ast.ts
  scripts/generate-child-node-keys.ts
  scripts/generate-node-ids.ts
  scripts/generate-node-type-strings.ts
  scripts/generate-node-types.ts
  scripts/generate-node-unions.ts
  scripts/generate-rust-constants.ts
  scripts/generate-scope-constants.ts
  scripts/tsconfig.json
Due: none

[v5.0] Rename changelog and allow v5 releases
  .github/workflows/build-and-tests.yml
  CHANGELOG-4.md
Due: none

[v5.0] Update chokidar to v5 (#6531)
  CHANGELOG.md
  LICENSE.md
  package-lock.json
  package.json
  rollup.config.ts
Due: none

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  CHANGELOG.md
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  CHANGELOG.md
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/urls.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/escapes-attribute-values/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_config.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_config.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_config.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/deprecations/importAttributesKey/_config.js
  test/function/samples/deprecations/importAttributesKey/main.js
  test/function/samples/destructure-function-length/_config.js
  test/function/samples/destructure-function-length/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

[v5.0] Clean up vulnerability exceptions (#6557)
  .github/workflows/build-and-tests.yml
  CHANGELOG.md
  audit-resolve.json
  docs/migration/index.md
  package-lock.json
  package.json
  scripts/bootstrap-build.ts
  scripts/clean-wasm-output.ts
  scripts/copy-native-artifacts.ts
  scripts/generate-ast-converters.ts
  scripts/generate-ast-macros.ts
  scripts/generate-ast-to-buffer.ts
  scripts/generate-ast-types.ts
  scripts/generate-buffer-parsers.ts
  scripts/generate-buffer-to-ast.ts
  scripts/generate-buffer-to-lazy-ast.ts
  scripts/generate-child-node-keys.ts
  scripts/generate-node-ids.ts
  scripts/generate-node-type-strings.ts
  scripts/generate-node-types.ts
  scripts/generate-node-unions.ts
  scripts/generate-rust-constants.ts
  scripts/generate-scope-constants.ts
  scripts/rebuild-wasm-on-change.ts
  scripts/tsconfig.json
  stubs/find-yarn-workspace-root/index.js
  stubs/find-yarn-workspace-root/package.json
Due: none

Fix type errors and lint failures from dependency updates
  docs/repl/components/ReplEditor.vue
  docs/repl/components/ReplModule.vue
  docs/repl/components/StatusMessage.vue
  patches/vitepress+1.6.4.patch
  tsconfig.json
Due: none

Update audit resolve
  audit-resolve.json
Due: none

Convert release scripts to TypeScript
  ARCHITECTURE.md
  package.json
  scripts/check-release.ts
  scripts/colors.ts
  scripts/declarations.d.ts
  scripts/generate-ast-macros.ts
  scripts/generate-ast-to-buffer.ts
  scripts/generate-ast-types.ts
  scripts/generate-buffer-parsers.ts
  scripts/generate-buffer-to-ast.ts
  scripts/generate-buffer-to-lazy-ast.ts
  scripts/generate-child-node-keys.ts
  scripts/generate-node-ids.ts
  scripts/generate-node-type-strings.ts
  scripts/generate-node-types.ts
  scripts/generate-node-unions.ts
  scripts/generate-rust-constants.ts
  scripts/generate-scope-constants.ts
  scripts/generate-string-constants.ts
  scripts/helpers.js
  scripts/helpers.ts
  scripts/perf-report/index.js
  scripts/postpublish.ts
  scripts/prepare-release.ts
  scripts/prepublish.ts
  scripts/publish-wasm-node-package.ts
  scripts/rebuild-wasm-on-change.ts
  scripts/release-constants.ts
  scripts/release-helpers.ts
Due: none

Add Mocha test suite for release scripts
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
  scripts/test/check-release.test.ts
  scripts/test/fixtures.ts
  scripts/test/postpublish.test.ts
  scripts/test/prepare-release.test.ts
  scripts/test/prepublish.test.ts
  scripts/test/publish-wasm-node-package.test.ts
Due: none

Rework previous-release detection and changelog handling
  scripts/declarations.d.ts
  scripts/postpublish.ts
  scripts/prepare-release.ts
  scripts/prepublish.ts
  scripts/release-helpers.ts
  scripts/test/fixtures.ts
  scripts/test/postpublish.test.ts
  scripts/test/prepare-release.test.ts
  scripts/test/prepublish.test.ts
  scripts/test/release-helpers.test.ts
Due: none

Make node_modules cache reuse depend on the patch files
  .github/actions/install-and-cache-node-deps/action.yml
Due: none

Resolve audit
  audit-resolve.json
  package-lock.json
Due: none

5.0.0-0
  browser/package.json
  package-lock.json
  package.json
Due: none

chore: update Rust nightly to 2026-10-03 for Rollup 5
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  rust-toolchain.toml
  rust/AGENTS.md
  rust/bindings_wasm/.cargo/config.toml
Due: none

Pin Rust nightly to 2026-09-11 for LoongArch compatibility
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  rust-toolchain.toml
Due: none

Resolve audit
  audit-resolve.json
Due: none

Avoid repeated export name scans when rendering ES chunks (#6534)
  src/Chunk.ts
Due: eslint --fix

4.64.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Rework REPL artefacts and performance report workflows
  .github/workflows/performance-report.yml
  .github/workflows/pr-artefacts-authorize.yml
  .github/workflows/pr-artefacts-build.yml
  .github/workflows/pr-artefacts-publish.yml
  .github/workflows/repl-artefacts-upload.yml
  .github/workflows/repl-artefacts.yml
  AGENTS.md
Due: none

Do not resolve values of assigned variables returned on all paths
  src/ast/nodes/Identifier.ts
  src/ast/nodes/shared/ReturnedIdentifier.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/variables/Variable.ts
  test/form/samples/same-variable-returns/_expected.js
  test/form/samples/same-variable-returns/main.js
  test/function/samples/argument-deoptimization/return-function-reassigned/_config.js
  test/function/samples/argument-deoptimization/return-function-reassigned/main.js
Due: eslint --fix, prettier --write

Rework REPL artefacts and performance report workflows (#6561)
  .github/workflows/performance-report.yml
  .github/workflows/pr-artefacts-authorize.yml
  .github/workflows/pr-artefacts-build.yml
  .github/workflows/pr-artefacts-publish.yml
  .github/workflows/repl-artefacts-upload.yml
  .github/workflows/repl-artefacts.yml
  AGENTS.md
Due: none

fix: make the WASM build work on big-endian hosts
  .github/workflows/build-and-tests.yml
  browser/src/wasm.ts
  native.wasm.js
  rust/AGENTS.md
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/ast_nodes/arrow_function_expression.rs
  rust/parse_ast/src/ast_nodes/call_expression.rs
  rust/parse_ast/src/ast_nodes/new_expression.rs
  rust/parse_ast/src/ast_nodes/panic_error.rs
  rust/parse_ast/src/ast_nodes/parse_error.rs
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/shared/function_node.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  scripts/generate-ast-macros.js
  wasm/bindings_wasm.d.ts
Due: eslint --fix

Track destructuring assignments of variables returned on all paths
  src/ast/nodes/ArrayPattern.ts
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/ObjectPattern.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/RestElement.ts
  test/form/samples/same-variable-returns/_expected.js
  test/form/samples/same-variable-returns/main.js
Due: eslint --fix

Do not resolve values of assigned variables returned in a single return
  src/ast/scopes/ReturnValueScope.ts
  test/form/samples/same-variable-returns/_expected.js
  test/form/samples/same-variable-returns/main.js
  test/function/samples/argument-deoptimization/return-function-reassigned-single-return/_config.js
  test/function/samples/argument-deoptimization/return-function-reassigned-single-return/main.js
Due: eslint --fix, prettier --write

Preserve build errors when closeBundle fails (#6554)
  docs/plugin-development/index.md
  src/rollup/rollup.ts
  test/function/samples/close-bundle-error/build-end/_config.js
  test/function/samples/close-bundle-error/build-end/main.js
  test/function/samples/close-bundle-error/build/_config.js
  test/function/samples/close-bundle-error/build/main.js
  test/function/samples/close-bundle-error/compound/_config.js
  test/function/samples/close-bundle-error/compound/main.js
  test/function/samples/close-bundle-error/standalone/_config.js
  test/function/samples/close-bundle-error/standalone/main.js
  test/function/samples/close-bundle-error/successful-cleanup/_config.js
  test/function/samples/close-bundle-error/successful-cleanup/main.js
Due: eslint --fix, prettier --write

Do not resolve values of assigned variables returned on all paths (#6562)
  src/ast/nodes/ArrayPattern.ts
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/ObjectPattern.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/RestElement.ts
  src/ast/nodes/shared/ReturnedIdentifier.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/variables/Variable.ts
  test/form/samples/same-variable-returns/_expected.js
  test/form/samples/same-variable-returns/main.js
  test/function/samples/argument-deoptimization/return-function-reassigned-single-return/_config.js
  test/function/samples/argument-deoptimization/return-function-reassigned-single-return/main.js
  test/function/samples/argument-deoptimization/return-function-reassigned/_config.js
  test/function/samples/argument-deoptimization/return-function-reassigned/main.js
Due: eslint --fix, prettier --write

4.64.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Avoid unnecessary allocation in error cases
  rust/parse_ast/src/ast_nodes/panic_error.rs
  rust/parse_ast/src/ast_nodes/parse_error.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
