Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: avoid infinite resolveid hooks calling
  src/utils/resolveIdViaPlugins.ts
Due: eslint --fix

fix: remove solo option from resolveId test configuration
  test/function/samples/resolveid-recursive-call/_config.js
Due: eslint --fix, prettier --write

init
  package.json
  src/Chunk.ts
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/deconflictChunk.ts
  src/utils/timers.ts
  src/utils/transform.ts
Due: eslint --fix

remove some of the diff
  src/Chunk.ts
  src/utils/deconflictChunk.ts
Due: eslint --fix

remove some of the diff
  package.json
  src/utils/timers.ts
Due: eslint --fix

ci: use node 24
  .github/workflows/build-and-tests.yml
Due: none

ci: update
  .github/workflows/build-and-tests.yml
Due: none

test: update
  test/load-config-file/index.js
  test/testHelpers.js
Due: eslint --fix, prettier --write

Add test to demonstrate missing deconflicting
  test/incremental/index.js
Due: eslint --fix, prettier --write

test: remove console.log in test
  test/function/samples/resolveid-recursive-call/_config.js
Due: eslint --fix, prettier --write

fix: return Promise.resolve(null) instead of null
  src/utils/resolveIdViaPlugins.ts
  test/function/samples/resolveid-recursive-call/_config.js
Due: eslint --fix, prettier --write

docs: update doc
  docs/plugin-development/index.md
Due: none

chore: update comments
  src/utils/resolveIdViaPlugins.ts
Due: eslint --fix

Update lockfile
  rust/Cargo.lock
Due: none

fix: update
  cli/run/loadConfigFile.ts
  test/load-config-file/index.js
  test/testHelpers.js
Due: eslint --fix, prettier --write

enhance tree-shaking for dynamic imports
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/utils/identifyNode.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
Due: eslint --fix

Explicitly enable WASM features to fix compilation broken with Rust 1.87.0
  rust/bindings_wasm/Cargo.toml
Due: none

Remove unneeded getrandom
  renovate.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
Due: none

Get rid of Node 22 to reduce needed runners
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

Fix code for update
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/lib.rs
  scripts/check-release.js
Due: none

Disable require module as it messes up coverage tests
  package.json
Due: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Rename dependabot.yml to 1dependabot.yml
  .github/1dependabot.yml
Due: none

Update README.md
  README.md
Due: none

installation
  .devcontainer/# Example command or script [Insert usage example or script]
  .devcontainer/# Example for Node.js projects npm install
  .devcontainer/[Insert command, e.g., npm install, pip install -r requirements.txt]
  .devcontainer/cd Nodoubtz_Base
  .devcontainer/git clone https:/github.com/nodoubtz/Nodoubtz_Base.git
  .devcontainer/npm install -g rollup
  git clone https:/github.com/nodoubtz/Nodoubtz_Base-.git cd Nodoubtz_Base-
Due: none

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
