Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Rename deoptimizeThis to refer to arguments and make thisArg optional
  src/ast/NodeInteractions.ts
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/SpreadElement.ts
  src/ast/nodes/Super.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/TemplateLiteral.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/ThisVariable.ts
Due: eslint --fix

New approach with better performance
  src/ast/NodeInteractions.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/ParameterVariable.ts
  test/function/samples/argument-deoptimization/parameter-access-mutation/_config.js
  test/function/samples/argument-deoptimization/parameter-access-mutation/main.js
  test/function/samples/argument-deoptimization/parameter-call-mutation/_config.js
  test/function/samples/argument-deoptimization/parameter-call-mutation/main.js
  test/function/samples/argument-deoptimization/parameter-deep-access-mutation/_config.js
  test/function/samples/argument-deoptimization/parameter-deep-access-mutation/main.js
Due: eslint --fix, prettier --write

Improve handling of functions returned by functions
  src/ast/nodes/shared/CallExpressionBase.ts
  test/form/samples/argument-deoptimization/no-default-deoptimization/_config.js
  test/form/samples/argument-deoptimization/no-default-deoptimization/_expected.js
  test/form/samples/argument-deoptimization/no-default-deoptimization/main.js
  test/form/samples/argument-deoptimization/return-function-deoptimization/_config.js
  test/form/samples/argument-deoptimization/return-function-deoptimization/_expected.js
  test/form/samples/argument-deoptimization/return-function-deoptimization/main.js
  test/function/samples/argument-deoptimization/return-function-known/_config.js
  test/function/samples/argument-deoptimization/return-function-known/main.js
  test/function/samples/argument-deoptimization/return-function-unknown/_config.js
  test/function/samples/argument-deoptimization/return-function-unknown/main.js
Due: eslint --fix, prettier --write

Clear some TODOs
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/variables/ThisVariable.ts
Due: eslint --fix

Fix linting
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/Super.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/ObjectMember.ts
Due: eslint --fix

Improve coverage
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

Sometimes, we need to do nothing
  src/utils/doNothing.ts
  src/utils/timers.ts
Due: eslint --fix

First attempt at selective parameter deoptimization
  src/ast/NodeInteractions.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/argument-deoptimization/_config.js
  test/form/samples/argument-deoptimization/_expected.js
  test/form/samples/argument-deoptimization/main.js
  test/function/samples/argument-deoptimization/parameter-mutation-destructured/_config.js
  test/function/samples/argument-deoptimization/parameter-mutation-destructured/main.js
  test/function/samples/argument-deoptimization/parameter-mutation-spread/_config.js
  test/function/samples/argument-deoptimization/parameter-mutation-spread/main.js
  test/function/samples/argument-deoptimization/parameter-mutation/_config.js
  test/function/samples/argument-deoptimization/parameter-mutation/main.js
  test/function/samples/track-parameter-return-reassignments/main.js
Due: eslint --fix, prettier --write

Do not deoptimize arguments to global calls by default
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/variables/GlobalVariable.ts
  test/form/samples/argument-deoptimization/no-global-call-deoptimization/_config.js
  test/form/samples/argument-deoptimization/no-global-call-deoptimization/_expected.js
  test/form/samples/argument-deoptimization/no-global-call-deoptimization/main.js
  test/function/samples/argument-deoptimization/global-calls/_config.js
  test/function/samples/argument-deoptimization/global-calls/main.js
  test/function/samples/argument-deoptimization/unknown-global-assignment/_config.js
  test/function/samples/argument-deoptimization/unknown-global-assignment/main.js
  test/function/samples/argument-deoptimization/unknown-global-call/_config.js
  test/function/samples/argument-deoptimization/unknown-global-call/main.js
Due: eslint --fix, prettier --write

Improve coverage and simplify code
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/Pattern.ts
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/CatchScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/Scope.ts
  src/ast/scopes/TrackingScope.ts
  src/ast/variables/GlobalVariable.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/ThisVariable.ts
  test/function/samples/argument-deoptimization/parameter-variable-merge/_config.js
  test/function/samples/argument-deoptimization/parameter-variable-merge/main.js
Due: eslint --fix, prettier --write

fix: set a correct body location for static blocks
  src/ast/nodes/StaticBlock.ts
  test/form/samples/static-block-render/_config.js
  test/form/samples/static-block-render/_expected.js
  test/form/samples/static-block-render/main.js
Due: eslint --fix, prettier --write

Update dependencies
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

docs: fix table at `output.sanitizeFileName` section
  docs/configuration-options/index.md
Due: none

feat: use findFirstOccurrenceOutsideComment function
  src/ast/nodes/StaticBlock.ts
  test/form/samples/static-block-render/_expected.js
  test/form/samples/static-block-render/main.js
Due: eslint --fix

chore: switch to pnpm
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

ci: fix
  .github/workflows/deploy-website.yml
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

fix: shamefully hoist
  .npmrc
Due: none

fix: deoptimize right of for of stmt when assign in for of
  src/ast/nodes/VariableDeclaration.ts
  test/form/samples/tree-shake-for-of-statements/_config.js
  test/form/samples/tree-shake-for-of-statements/_expected.js
  test/form/samples/tree-shake-for-of-statements/main.js
Due: eslint --fix, prettier --write

fix: namespaces without exported name stops build
  src/Chunk.ts
Due: eslint --fix

fix: make file name deterministic in parallel emits (fix #4909)
  src/utils/FileEmitter.ts
  test/chunking-form/samples/emit-file/deduplicate-assets/_config.js
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/amd/assets/string1-473287f8.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/cjs/assets/string1-473287f8.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/es/assets/string1-473287f8.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/system/assets/string1-473287f8.txt
Due: eslint --fix, prettier --write

Provide synthetic namespace for dynamic imports when perserving modules
  src/Chunk.ts
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_config.js
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_expected/amd/lib.js
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_expected/amd/main.js
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_expected/cjs/lib.js
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_expected/es/lib.js
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_expected/system/lib.js
  test/chunking-form/samples/dynamic-import-synthetic-exports-preserve-modules/_expected/system/main.js
  test/function/samples/synthetic-named-exports/preserve-modules/_config.js
  test/function/samples/synthetic-named-exports/preserve-modules/main.js
  test/function/samples/synthetic-named-exports/preserve-modules/other.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-entry/_config.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-entry/hiddenNamespace.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-entry/main.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-entry/noOverride.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-entry/override.js
Due: eslint --fix, prettier --write

refactor: use > determine emit file name
  src/utils/FileEmitter.ts
  test/chunking-form/samples/emit-file/deduplicate-assets/_config.js
Due: eslint --fix, prettier --write

test: emit file in a random order
  test/chunking-form/samples/emit-file/deduplicate-assets/_config.js
Due: eslint --fix, prettier --write

docs: add locales in vitepress config
  docs/.vitepress/config.ts
Due: none

docs: format
  docs/.vitepress/config.ts
Due: none

Only set asset names when finalizing
  src/utils/FileEmitter.ts
  test/chunking-form/samples/emit-file/deduplicate-assets/_config.js
Due: eslint --fix, prettier --write
