Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Only call moduleParsed once importedIds and dynamicallyImportedIds are available
  src/Module.ts
  src/ModuleLoader.ts
  test/function/samples/module-parsed-imported-ids/_config.js
  test/function/samples/module-parsed-imported-ids/dynamic.js
  test/function/samples/module-parsed-imported-ids/main.js
  test/function/samples/module-parsed-imported-ids/static.js
Due: eslint --fix, prettier --write

Update documentation
  docs/05-plugin-development.md
  test/function/samples/module-parsed-imported-ids/_config.js
Due: eslint --fix, prettier --write

chore: remove unused ambient types
  typings/declarations.d.ts
Due: eslint --fix

Rollup static build
  .gitignore
  package.json
  rollup.config.static.ts
Due: none

chore: bump rollup plugin deps
  LICENSE.md
  package-lock.json
  package.json
  rollup.config.ts
  src/Module.ts
  src/watch/watch.ts
Due: eslint --fix

fix(fsevents): use any
  src/watch/fsevents-importer.ts
Due: eslint --fix

fix: remove unused micromatch module
  LICENSE.md
  package-lock.json
  package.json
Due: none

chore: bump rollup
  package-lock.json
  package.json
Due: none

chore: use forceConsistentCasingInFileNames in ts-config
  tsconfig.json
Due: none

nit
  tsconfig.json
Due: none

feature: resolveId support dir by default
  src/utils/resolveId.ts
Due: eslint --fix

remove any, use unknown instead
  src/watch/fsevents-importer.ts
Due: eslint --fix

rename variable
  src/watch/fsevents-importer.ts
Due: eslint --fix

remove deprecated diagnostics flag
  tsconfig.json
Due: none

bump remaining @rollup/plugins
  LICENSE.md
  package-lock.json
  package.json
Due: none

Fix license file
  LICENSE.md
Due: none

fix: use useDefineForClassFields in ts-config
  tsconfig.json
Due: none

fix: prevent UnhandledPromiseRejectionWarning from module resolution/parsing fails
  src/ModuleLoader.ts
Due: eslint --fix

Account for changed Node 16 error messages
  src/ModuleLoader.ts
  test/function/samples/es5-class-called-without-new/main.js
  test/function/samples/object-deep-access-effect/_config.js
  test/function/samples/object-deep-access-effect/main.js
  test/function/samples/warn-on-top-level-this/_config.js
Due: eslint --fix, prettier --write

Disable useDefineForClassFields for now
  tsconfig.json
Due: none

Improve test cleanup
  test/utils.js
Due: eslint --fix, prettier --write

Add generatedCode option stub
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
Due: eslint --fix

Introduce snippets to finalizers
  src/Bundle.ts
  src/Chunk.ts
  src/finalisers/amd.ts
  src/finalisers/cjs.ts
  src/finalisers/iife.ts
  src/finalisers/index.ts
  src/finalisers/shared/getExportBlock.ts
  src/finalisers/shared/setupNamespace.ts
  src/finalisers/umd.ts
  src/utils/systemJsRendering.ts
Due: eslint --fix

Ensure tests have a description
  test/form/samples/side-effect-m/_config.js
  test/function/samples/es5-class-called-without-new/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

Prepare improved SystemJS exports
  src/Chunk.ts
  src/ast/nodes/FunctionExpression.ts
  src/ast/variables/NamespaceVariable.ts
  src/rollup/types.d.ts
  src/utils/generateCodeSnippets.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderHelpers.ts
  src/utils/systemJsRendering.ts
  test/form/samples/generated-code/arrow-functions-false/_config.js
  test/form/samples/generated-code/arrow-functions-false/_expected/amd.js
  test/form/samples/generated-code/arrow-functions-false/_expected/cjs.js
  test/form/samples/generated-code/arrow-functions-false/_expected/es.js
  test/form/samples/generated-code/arrow-functions-false/_expected/iife.js
  test/form/samples/generated-code/arrow-functions-false/_expected/system.js
  test/form/samples/generated-code/arrow-functions-false/_expected/umd.js
  test/form/samples/generated-code/arrow-functions-false/main.js
  test/form/samples/generated-code/arrow-functions-true/_config.js
  test/form/samples/generated-code/arrow-functions-true/_expected/amd.js
  test/form/samples/generated-code/arrow-functions-true/_expected/cjs.js
  test/form/samples/generated-code/arrow-functions-true/_expected/es.js
  test/form/samples/generated-code/arrow-functions-true/_expected/iife.js
  test/form/samples/generated-code/arrow-functions-true/_expected/system.js
  test/form/samples/generated-code/arrow-functions-true/_expected/umd.js
  test/form/samples/generated-code/arrow-functions-true/main.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Use object shorthand for namespaces
  src/ast/variables/NamespaceVariable.ts
  src/utils/generateCodeSnippets.ts
  src/utils/reservedNames.ts
  src/utils/systemJsRendering.ts
  test/form/samples/generated-code/object-shorthand-false/_config.js
  test/form/samples/generated-code/object-shorthand-false/_expected.js
  test/form/samples/generated-code/object-shorthand-false/main.js
  test/form/samples/generated-code/object-shorthand-false/other.js
  test/form/samples/generated-code/object-shorthand-true/_config.js
  test/form/samples/generated-code/object-shorthand-true/_expected.js
  test/form/samples/generated-code/object-shorthand-true/main.js
  test/form/samples/generated-code/object-shorthand-true/other.js
Due: eslint --fix, prettier --write

Preserve context for amd/cjs dynamic non-arrow requires
  src/ast/nodes/ImportExpression.ts
  src/utils/generateCodeSnippets.ts
  src/utils/systemJsRendering.ts
  test/chunking-form/samples/dynamic-import-dynamic/_expected/amd/main.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/amd/main.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/cjs/main.js
  test/form/samples/dynamic-import-this-arrow/_config.js
  test/form/samples/dynamic-import-this-arrow/_expected/amd.js
  test/form/samples/dynamic-import-this-arrow/_expected/cjs.js
  test/form/samples/dynamic-import-this-arrow/_expected/es.js
  test/form/samples/dynamic-import-this-arrow/_expected/iife.js
  test/form/samples/dynamic-import-this-arrow/_expected/system.js
  test/form/samples/dynamic-import-this-arrow/_expected/umd.js
  test/form/samples/dynamic-import-this-arrow/main.js
  test/form/samples/dynamic-import-this-function/_config.js
  test/form/samples/dynamic-import-this-function/_expected/amd.js
  test/form/samples/dynamic-import-this-function/_expected/cjs.js
  test/form/samples/dynamic-import-this-function/_expected/es.js
  test/form/samples/dynamic-import-this-function/_expected/iife.js
  test/form/samples/dynamic-import-this-function/_expected/system.js
  test/form/samples/dynamic-import-this-function/_expected/umd.js
  test/form/samples/dynamic-import-this-function/main.js
  test/form/samples/dynamic-import-unresolvable/_expected/amd.js
  test/form/samples/dynamic-import-unresolvable/_expected/cjs.js
  test/form/samples/import-expression/_expected/amd.js
  test/form/samples/import-expression/_expected/cjs.js
  test/form/samples/interop-per-dependency/_expected/amd.js
  test/form/samples/interop-per-dependency/_expected/cjs.js
  test/function/samples/dynamic-import-this-arrow/_config.js
  test/function/samples/dynamic-import-this-arrow/main.js
  test/function/samples/dynamic-import-this-function/_config.js
  test/function/samples/dynamic-import-this-function/main.js
Due: eslint --fix, prettier --write
