Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

wip: disallow assign to import
  src/ast/nodes/Identifier.ts
  test/function/samples/reassign-import-fails/_config.js
  test/function/samples/reassign-import-fails/foo.js
  test/function/samples/reassign-import-not-at-top-level-fails/_config.js
  test/function/samples/reassign-import-not-at-top-level-fails/foo.js
  test/function/samples/update-expression-of-import-fails/_config.js
  test/function/samples/update-expression-of-import-fails/foo.js
Due: eslint --fix, prettier --write

wip: duplicate_exports rule
  src/Module.ts
  src/utils/logs.ts
  test/function/samples/double-default-export/_config.js
  test/function/samples/double-named-export/_config.js
  test/function/samples/double-named-reexport/_config.js
Due: eslint --fix, prettier --write

wip: duplicate_bindings rule
  src/Module.ts
  src/ast/nodes/Identifier.ts
  src/utils/logs.ts
  test/function/samples/duplicate-import-fails/_config.js
  test/function/samples/duplicate-import-specifier-fails/_config.js
Due: eslint --fix, prettier --write

add forceExit test
  test/cli/samples/force-exit/_config.js
  test/cli/samples/force-exit/main.js
  test/cli/samples/force-exit/rollup.config.js
Due: eslint --fix, prettier --write

Document Vite workaround for browser build
  docs/migration/index.md
Due: none

Adapt core-cjs snapshot
  test/form/samples/supports-core-js/_expected.js
Due: none

Fix error highlight in REPL
  docs/.vitepress/config.ts
  docs/repl/components/ReplEditor.vue
Due: none

Parse in a worker
  .eslintrc.js
  browser/src/parseAstAsync.ts
  build-plugins/emit-file.ts
  build-plugins/replace-browser-modules.ts
  rollup.config.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/utils/logs.ts
  src/utils/parseAstAsync.ts
  src/utils/parseAstWorkerEntry.ts
  typings/declarations.d.ts
Due: eslint --fix

Avoid race condition when emitting implicit entry points
  browser/src/parseAstAsync.ts
  src/ModuleLoader.ts
Due: eslint --fix

Avoid race condition when emitting implicit entry points
  package-lock.json
  package.json
Due: none

Test that errors in this.parse are handled
  test/function/samples/context-parse-syntax-error/_config.js
  test/function/samples/context-parse-syntax-error/main.js
Due: eslint --fix, prettier --write

Fix timeout
  test/test.js
Due: eslint --fix, prettier --write

Improve coverage
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/amd/generated-dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/amd/generated-lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/amd/main.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/cjs/generated-dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/cjs/generated-lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/cjs/main.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/es/generated-dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/es/generated-lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/es/main.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/system/generated-dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/system/generated-lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/system/main.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/main.js
Due: eslint --fix, prettier --write

Add retry to flaky watch test
  test/test.js
  test/watch/index.js
Due: eslint --fix, prettier --write

Fix race condition when emitting implicitly dependent entries
  src/ModuleLoader.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
Due: eslint --fix, prettier --write

fix: missing `rollup/parseAst` type
  package.json
Due: none

Bump swc versions
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Fix swc update
  rust/Cargo.lock
Due: none

build: ensure rust toolchain components for linting are installed
  .github/workflows/build-and-tests.yml
  rust/rust-toolchain.toml
Due: none

Render emtpy blick comments after tree-shaken statements
  src/utils/renderHelpers.ts
  test/form/samples/empty-block-comment/_config.js
  test/form/samples/empty-block-comment/_expected.js
  test/form/samples/empty-block-comment/main.js
Due: eslint --fix, prettier --write

Specify toolchain components also in Github workflows
  .github/workflows/build-and-tests.yml
  .github/workflows/repl-artefacts.yml
Due: none

Revert added components as it breaks REPL build
  rust/rust-toolchain.toml
Due: none

Slightly improve docs
  docs/javascript-api/index.md
  src/utils/logs.ts
  test/function/samples/context-parse-syntax-error/_config.js
  test/function/samples/context-parse-syntax-error/main.js
Due: eslint --fix, prettier --write

chore: remove unused files and deps
  package-lock.json
  package.json
  tsconfig.json
  typings/hash.js.d.ts
  wasm.d.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
