Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: simplify
  cli/run/index.ts
Due: none

refactor: replace .substr with .substring
  cli/run/index.ts
Due: none

fix: replace deprecated .substr with .substring
  src/Chunk.ts
  src/ast/nodes/MetaProperty.ts
  src/utils/FileEmitter.ts
  src/utils/relativeId.ts
  src/utils/renderNamePattern.ts
Due: eslint --fix

Add documentation
  docs/05-plugin-development.md
  test/incremental/index.js
Due: eslint --fix, prettier --write

Revert "refactor: re-use Array.prototype.map, remove Array.from map function"
  src/Chunk.ts
Due: eslint --fix

add comment
  src/Chunk.ts
Due: eslint --fix

Add test for recursive reexports
  test/function/samples/recursive-reexports/_config.js
  test/function/samples/recursive-reexports/main.js
  test/function/samples/recursive-reexports/other.js
Due: eslint --fix, prettier --write

Extract some regular expressions
  browser/path.ts
  src/utils/path.ts
Due: eslint --fix

Add Typescript 4.5 nodenext node12 module resolution support
  package.json
Due: none

Revert "refactor: remove unnecessary array assignment"
  src/Module.ts
Due: eslint --fix

fix hash update
  src/utils/FileEmitter.ts
Due: eslint --fix

remove initial id base assignment
  src/utils/FileEmitter.ts
Due: eslint --fix

remove breaks, return early
  src/utils/hookActions.ts
Due: eslint --fix

remove default case
  src/ast/values.ts
Due: eslint --fix

return early
  src/utils/FileEmitter.ts
Due: eslint --fix

add generic type parameters, remove eslint-disable
  src/utils/PluginContext.ts
Due: eslint --fix

use object shorthand
  cli/run/batchWarnings.ts
Due: none

order nit
  src/Module.ts
Due: eslint --fix

reference from this
  src/Module.ts
Due: eslint --fix

simplify, use map/filter
  cli/run/batchWarnings.ts
  src/Module.ts
Due: eslint --fix

chore: bump deps
  package-lock.json
  package.json
Due: none

chore: fix tests
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
Due: none

Allow external directory imports
  src/Chunk.ts
  src/ExternalModule.ts
  src/utils/path.ts
  src/utils/relativeId.ts
  test/function/samples/external-directory-import/_config.js
  test/function/samples/external-directory-import/main.js
  test/misc/misc.js
Due: eslint --fix, prettier --write

Allow external directory imports
  test/misc/misc.js
Due: none

Fix plugin name
  build-plugins/esm-dynamic-import.ts
  test/misc/misc.js
Due: none

Make toStringTag non-enumerable for dynamic namespaces
  src/ast/variables/NamespaceVariable.ts
  src/finalisers/shared/getExportBlock.ts
  src/utils/interopHelpers.ts
  test/form/samples/compact/_expected/amd.js
  test/form/samples/compact/_expected/cjs.js
  test/form/samples/compact/_expected/es.js
  test/form/samples/compact/_expected/iife.js
  test/form/samples/compact/_expected/system.js
  test/form/samples/compact/_expected/umd.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/amd.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/es.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/iife.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/system.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/umd.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/amd.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/es.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/iife.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/system.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/umd.js
  test/form/samples/generated-code-compact/reserved-names-as-props-false/_expected/amd.js
  test/form/samples/generated-code-compact/reserved-names-as-props-false/_expected/cjs.js
  test/form/samples/generated-code-compact/reserved-names-as-props-false/_expected/es.js
  test/form/samples/generated-code-compact/reserved-names-as-props-false/_expected/iife.js
  test/form/samples/generated-code-compact/reserved-names-as-props-false/_expected/system.js
  test/form/samples/generated-code-compact/reserved-names-as-props-false/_expected/umd.js
  test/form/samples/generated-code-compact/reserved-names-as-props-true/_expected/amd.js
  test/form/samples/generated-code-compact/reserved-names-as-props-true/_expected/cjs.js
  test/form/samples/generated-code-compact/reserved-names-as-props-true/_expected/es.js
  test/form/samples/generated-code-compact/reserved-names-as-props-true/_expected/iife.js
  test/form/samples/generated-code-compact/reserved-names-as-props-true/_expected/system.js
  test/form/samples/generated-code-compact/reserved-names-as-props-true/_expected/umd.js
  test/form/samples/namespace-tostring/inlined-namespace/_expected/amd.js
  test/form/samples/namespace-tostring/inlined-namespace/_expected/cjs.js
  test/form/samples/namespace-tostring/inlined-namespace/_expected/es.js
  test/form/samples/namespace-tostring/inlined-namespace/_expected/iife.js
  test/form/samples/namespace-tostring/inlined-namespace/_expected/system.js
  test/form/samples/namespace-tostring/inlined-namespace/_expected/umd.js
Due: eslint --fix

Make toStringTag non-enumerable for interop namespaces
  src/utils/interopHelpers.ts
  test/cli/samples/watch/bundle-error/main.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/amd.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/cjs.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/iife.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/umd.js
  test/function/samples/interop-namespace-to-string-tag/_config.js
  test/function/samples/interop-namespace-to-string-tag/main.js
Due: eslint --fix, prettier --write

Generate toStringTag in merged namespaces
  src/ast/variables/NamespaceVariable.ts
  src/utils/interopHelpers.ts
  test/chunking-form/samples/synthetic-named-exports/chained-default-reexport/_expected/amd/generated-component.js
  test/chunking-form/samples/synthetic-named-exports/chained-default-reexport/_expected/cjs/generated-component.js
  test/chunking-form/samples/synthetic-named-exports/chained-default-reexport/_expected/es/generated-component.js
  test/chunking-form/samples/synthetic-named-exports/chained-default-reexport/_expected/system/generated-component.js
  test/chunking-form/samples/synthetic-named-exports/default-reexport/_expected/amd/generated-component.js
  test/chunking-form/samples/synthetic-named-exports/default-reexport/_expected/cjs/generated-component.js
  test/chunking-form/samples/synthetic-named-exports/default-reexport/_expected/es/generated-component.js
  test/chunking-form/samples/synthetic-named-exports/default-reexport/_expected/system/generated-component.js
  test/chunking-form/samples/synthetic-named-exports/dynamic-import/_expected/amd/generated-dep.js
  test/chunking-form/samples/synthetic-named-exports/dynamic-import/_expected/cjs/generated-dep.js
  test/chunking-form/samples/synthetic-named-exports/dynamic-import/_expected/es/generated-dep.js
  test/chunking-form/samples/synthetic-named-exports/dynamic-import/_expected/system/generated-dep.js
  test/chunking-form/samples/synthetic-named-exports/mixed-synthetic-named-exports/_expected/amd/main.js
  test/chunking-form/samples/synthetic-named-exports/mixed-synthetic-named-exports/_expected/cjs/main.js
  test/chunking-form/samples/synthetic-named-exports/mixed-synthetic-named-exports/_expected/es/main.js
  test/chunking-form/samples/synthetic-named-exports/mixed-synthetic-named-exports/_expected/system/main.js
  test/chunking-form/samples/synthetic-named-exports/namespace/_expected/amd/main.js
  test/chunking-form/samples/synthetic-named-exports/namespace/_expected/cjs/main.js
  test/chunking-form/samples/synthetic-named-exports/namespace/_expected/es/main.js
  test/chunking-form/samples/synthetic-named-exports/namespace/_expected/system/main.js
  test/function/samples/interop-namespace-to-string-tag/_config.js
  test/function/samples/interop-namespace-to-string-tag/dep.js
  test/function/samples/interop-namespace-to-string-tag/main.js
Due: eslint --fix, prettier --write

Simplify output by defining properties together
  src/ast/variables/NamespaceVariable.ts
  src/finalisers/amd.ts
  src/finalisers/cjs.ts
  src/finalisers/iife.ts
  src/finalisers/shared/getExportBlock.ts
  src/finalisers/umd.ts
  src/utils/interopHelpers.ts
  test/chunking-form/samples/namespace-tostring/dynamic-import/_expected/amd/generated-foo.js
  test/chunking-form/samples/namespace-tostring/dynamic-import/_expected/cjs/generated-foo.js
  test/form/samples/namespace-tostring/entry-named/_expected/amd.js
  test/form/samples/namespace-tostring/entry-named/_expected/cjs.js
  test/form/samples/namespace-tostring/entry-named/_expected/iife.js
  test/form/samples/namespace-tostring/entry-named/_expected/umd.js
  test/function/samples/namespace-tostring/dynamic-import/_config.js
  test/function/samples/namespace-tostring/entry-named/_config.js
  test/function/samples/namespace-tostring/interop-property-descriptor/_config.js
  test/function/samples/namespace-tostring/interop-property-descriptor/dep.js
  test/function/samples/namespace-tostring/interop-property-descriptor/main.js
  test/function/samples/namespace-tostring/property-descriptor/_config.js
  test/function/samples/namespace-tostring/property-descriptor/foo.js
  test/function/samples/namespace-tostring/property-descriptor/main.js
Due: eslint --fix, prettier --write

Improve the error prompt and output the error file name
  src/Chunk.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
