Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Support this.load after build without awaiting it
  src/Module.ts
  test/function/samples/preload-after-build/_config.js
  test/function/samples/preload-after-build/main.js
  test/function/samples/preload-after-build/other1.js
  test/function/samples/preload-after-build/other2.js
Due: eslint --fix, prettier --write

Do not await this.load in build as that would be the job of the plugin
  src/Module.ts
  src/ModuleLoader.ts
  test/function/samples/preload-after-build/_config.js
  test/function/samples/preload-after-build/other3.js
  test/function/samples/preload-wait/_config.js
  test/function/samples/preload-wait/other.js
Due: eslint --fix, prettier --write

Add, validate and test CLI options
  cli/help.md
  docs/01-command-line-reference.md
  package.json
  scripts/test-options.js
Due: none

Extend docs
  docs/999-big-list-of-options.md
Due: none

Add defineConfigFunction auxiliary function
  src/node-entry.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  test/load-config-file/index.js
  test/load-config-file/samples/defineconfigfn-as-cjs/rollup.config.cjs
  test/load-config-file/samples/defineconfigfn-as-esm/rollup.config.mjs
Due: eslint --fix, prettier --write

Overload defineConfig a 3rd time instead.
  src/node-entry.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  test/load-config-file/samples/defineconfigfn-as-cjs/rollup.config.cjs
  test/load-config-file/samples/defineconfigfn-as-esm/rollup.config.mjs
Due: eslint --fix

feat: add exportsInfo to Module class
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
Due: eslint --fix

test: regression test
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: eslint --fix, prettier --write

Update tests descriptions
  test/load-config-file/index.js
  test/load-config-file/samples/cjs-defineconfig-as-fn/rollup.config.cjs
  test/load-config-file/samples/esm-defineconfig-as-fn/rollup.config.mjs
Due: eslint --fix, prettier --write

feat: reimplement
  src/Module.ts
  test/function/samples/plugin-module-information/_config.js
Due: eslint --fix, prettier --write

feat: optimize
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/plugin-module-information/_config.js
Due: eslint --fix, prettier --write

test: add test
  test/function/samples/check-exports-exportedBindings-when-export-all-source/_config.js
  test/function/samples/check-exports-exportedBindings-when-export-all-source/main.js
  test/function/samples/check-exports-exportedBindings-when-export-all-source/module.js
Due: eslint --fix, prettier --write

test: tweak
  test/function/samples/check-exports-exportedBindings-when-export-all-source/main.js
Due: none

fix: avoid overwriting
  src/Module.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/check-exports-exportedBindings-when-export-all-source/_config.js
  test/function/samples/check-exports-exportedBindings-when-export-all-source/main.js
  test/function/samples/check-exports-exportedBindings-when-export-all-source/module.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: eslint --fix, prettier --write

test: change test
  test/function/samples/check-exports-exportedBindings-as-supplementary-test/_config.js
  test/function/samples/check-exports-exportedBindings-as-supplementary-test/main.js
  test/function/samples/check-exports-exportedBindings-as-supplementary-test/module.js
  test/function/samples/check-exports-exportedBindings-as-supplementary-test/module2.js
Due: eslint --fix, prettier --write

test: tweak
  test/function/samples/check-exports-exportedBindings-as-supplementary-test/module.js
Due: none

feat: tweak
  src/Module.ts
  test/function/samples/check-exports-exportedBindings-as-a-supplementary-test/_config.js
  test/function/samples/check-exports-exportedBindings-as-a-supplementary-test/main.js
  test/function/samples/check-exports-exportedBindings-as-a-supplementary-test/module.js
  test/function/samples/check-exports-exportedBindings-as-a-supplementary-test/module2.js
Due: eslint --fix, prettier --write

docs: add description about 'exports' and 'exportedBindings'
  docs/05-plugin-development.md
Due: none

feat: add sutiable RegExp prototype methods
  src/ast/values.ts
  test/form/samples/builtin-prototypes/literal/main.js
Due: eslint --fix

fix: add json hint for missing export error
  src/utils/error.ts
Due: eslint --fix

fix: tweak logical & add test
  src/utils/error.ts
  test/function/samples/adds-json-hint-for-missing-export-if-is-json-file/_config.js
  test/function/samples/adds-json-hint-for-missing-export-if-is-json-file/array.json
  test/function/samples/adds-json-hint-for-missing-export-if-is-json-file/main.js
Due: eslint --fix, prettier --write

Further refine chunking algorithm
  src/utils/chunkAssignment.ts
Due: eslint --fix

Implement new algorithm with hopefully better performance
  src/utils/chunkAssignment.ts
  src/utils/getOrCreate.ts
Due: eslint --fix

Slightly simplify graph analysis
  src/utils/chunkAssignment.ts
  test/hooks/index.js
Due: eslint --fix, prettier --write

Add cut-off condition to only back-track modules if there are few imports
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_config.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/amd/generated-dep.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/amd/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/amd/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/amd/main1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/amd/main2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/amd/main3.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/amd/main4.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/cjs/generated-dep.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/cjs/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/cjs/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/cjs/main1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/cjs/main2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/cjs/main3.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/cjs/main4.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/es/generated-dep.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/es/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/es/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/es/main1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/es/main2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/es/main3.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/es/main4.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/system/generated-dep.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/system/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/system/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/system/main1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/system/main2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/system/main3.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/_expected/system/main4.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/dep.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/main1.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/main2.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/main3.js
  test/chunking-form/samples/improved-dynamic-chunks/cut-off/main4.js
Due: eslint --fix, prettier --write

Use shared Set generator
  cli/run/batchWarnings.ts
  src/Chunk.ts
  src/Module.ts
  src/ast/utils/PathTracker.ts
  src/utils/chunkAssignment.ts
  src/utils/getOrCreate.ts
Due: eslint --fix

fix: check whether RegExp have the global or sticky flags set
  src/ast/values.ts
  test/form/samples/builtin-prototypes/literal/_expected.js
  test/form/samples/builtin-prototypes/literal/main.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
