Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

tweak logic
  src/utils/chunkAssignment.ts
Due: eslint --fix

Revert CustomPluginOptions to be an interface
  src/rollup/types.d.ts
Due: eslint --fix

Javascript to JavaScript
  docs/.vitepress/config.ts
Due: none

Include "this"-properties on member expressions like call arguments
  src/ast/ExecutionContext.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ChainExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/scopes/FunctionScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  test/form/samples/minimal-this-mutation/_expected.js
  test/form/samples/object-tree-shaking-with-this/_expected.js
  test/form/samples/side-effect-default-reexport/_expected.js
  test/form/samples/side-effect-default-reexport/main.js
  test/form/samples/side-effect-e/_expected.js
  test/form/samples/side-effect-e/main.js
  test/form/samples/side-effects-logical-expressions/_expected.js
  test/form/samples/side-effects-logical-expressions/_expected/amd.js
  test/form/samples/side-effects-logical-expressions/_expected/cjs.js
  test/form/samples/side-effects-logical-expressions/_expected/iife.js
  test/form/samples/side-effects-logical-expressions/_expected/system.js
  test/form/samples/side-effects-logical-expressions/_expected/umd.js
  test/function/samples/object-expression-treeshaking/added-method-include-arguments/_config.js
  test/function/samples/object-expression-treeshaking/added-method-include-arguments/main.js
  test/function/samples/object-expression-treeshaking/prototype-method-include-arguments/_config.js
  test/function/samples/object-expression-treeshaking/prototype-method-include-arguments/main.js
Due: eslint --fix, prettier --write

Resolve esbuild vulnerability
  package-lock.json
  package.json
Due: none

Add jsx parameter to parseAsync in native.wasm.js
  native.wasm.js
Due: none

Replace JsWord with Atom
  rust/parse_ast/src/ast_nodes/directive.rs
Due: none

feat(5858): make closeBundle hook receive the last error
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  test/hooks/index.js
Due: eslint --fix, prettier --write

keep the error chain
  src/rollup/rollup.ts
  test/hooks/index.js
Due: eslint --fix, prettier --write

dry
  src/rollup/rollup.ts
Due: eslint --fix

Revert "dry"
  src/rollup/rollup.ts
Due: eslint --fix

docs: explicit error replacement ability for buildEnd
  docs/plugin-development/index.md
Due: none

watch files (without tests for now)
  src/rollup/rollup.ts
Due: eslint --fix

compound error
  src/rollup/rollup.ts
  test/hooks/index.js
Due: eslint --fix, prettier --write

oops, watchFiles
  src/rollup/rollup.ts
Due: eslint --fix

docs: almost forgot
  docs/plugin-development/index.md
Due: none

Update docs/plugin-development/index.md
  docs/plugin-development/index.md
Due: none

indeed it works
  src/rollup/rollup.ts
  test/hooks/index.js
Due: eslint --fix, prettier --write

draft for extended renderDynamicImport hook
  src/Chunk.ts
  src/ast/nodes/ImportExpression.ts
  test/chunking-form/samples/render-dynamic-import-extended/_config.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-no-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-no-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-no-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-no-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/main.js
  test/chunking-form/samples/render-dynamic-import-extended/has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/main.js
  test/chunking-form/samples/render-dynamic-import-extended/no-dependencies.js
Due: eslint --fix, prettier --write

inline transitive imports before rendering chunks
  src/Bundle.ts
  src/Chunk.ts
  test/chunking-form/samples/render-dynamic-import-extended/_config.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-no-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-no-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/main.js
  test/chunking-form/samples/render-dynamic-import-extended/chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/has-dependencies.js
  test/chunking-form/samples/render-dynamic-import-extended/leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/main.js
  test/chunking-form/samples/render-dynamic-import-extended/no-dependencies.js
Due: eslint --fix, prettier --write

resolve import paths, also refactor
  src/Chunk.ts
  src/ast/nodes/ImportExpression.ts
  test/chunking-form/samples/render-dynamic-import-extended/_config.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/main.js
Due: eslint --fix, prettier --write

restore old name generation behavior
  src/ast/nodes/ImportExpression.ts
Due: eslint --fix

feat: support decorators before or after export
  rust/parse_ast/src/ast_nodes/class_declaration.rs
  rust/parse_ast/src/ast_nodes/class_expression.rs
  rust/parse_ast/src/ast_nodes/export_default_declaration.rs
  rust/parse_ast/src/ast_nodes/export_named_declaration.rs
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
  src/ast/nodes/ExportNamedDeclaration.ts
  test/form/samples/support-decorators-after-export/_config.js
  test/form/samples/support-decorators-after-export/_expected.js
  test/form/samples/support-decorators-after-export/main.js
  test/form/samples/support-decorators-before-export/_config.js
  test/form/samples/support-decorators-before-export/_expected.js
  test/form/samples/support-decorators-before-export/main.js
Due: eslint --fix, prettier --write

avoiding top level await circular
  src/Module.ts
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/index.js
  test/chunking-form/samples/top-level-await-mixed/_config.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib-used.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/main.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib-used.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/main.js
  test/chunking-form/samples/top-level-await-mixed/lib-used.js
  test/chunking-form/samples/top-level-await-mixed/lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/lib.js
  test/chunking-form/samples/top-level-await-mixed/main.js
  test/chunking-form/samples/top-level-await/_config.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib-used.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib-variant.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib.js
  test/chunking-form/samples/top-level-await/_expected/es/main.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib-used.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib-variant.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib.js
  test/chunking-form/samples/top-level-await/_expected/system/main.js
  test/chunking-form/samples/top-level-await/lib-used.js
  test/chunking-form/samples/top-level-await/lib-variant.js
  test/chunking-form/samples/top-level-await/lib.js
  test/chunking-form/samples/top-level-await/main.js
  test/types.d.ts
Due: eslint --fix, prettier --write

remove stack and tweak variables name
  src/Module.ts
  src/utils/chunkAssignment.ts
Due: eslint --fix

hoist transitive imports before rendering chunks
  src/Bundle.ts
  src/Chunk.ts
Due: eslint --fix
