Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix: use `colorette` instead of `turbocolor` #3391
  scripts/perf.js
Due: none

Tracks side effects of thenables
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/async-function-effects/_config.js
  test/form/samples/async-function-effects/_expected.js
  test/form/samples/async-function-effects/main.js
  test/form/samples/promises/_config.js
  test/form/samples/promises/_expected.js
  test/form/samples/promises/_expected/amd.js
  test/form/samples/promises/_expected/cjs.js
  test/form/samples/promises/_expected/es.js
  test/form/samples/promises/_expected/iife.js
  test/form/samples/promises/_expected/system.js
  test/form/samples/promises/_expected/umd.js
  test/form/samples/side-effects-await/main.js
  test/form/samples/supports-es6-shim/_expected.js
Due: eslint --fix, prettier --write

Respect propertyReadSideEffects in spread elements
  src/ast/nodes/SpreadElement.ts
  test/form/samples/ignore-property-access-side-effects/main.js
  test/form/samples/keep-property-access-side-effects/_expected.js
  test/form/samples/keep-property-access-side-effects/main.js
Due: eslint --fix

Track async arrow return effects
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/form/samples/async-function-effects/_config.js
  test/form/samples/async-function-effects/_expected.js
  test/form/samples/async-function-effects/main.js
  test/form/samples/ignore-property-access-side-effects/main.js
  test/form/samples/keep-property-access-side-effects/_expected.js
  test/form/samples/keep-property-access-side-effects/main.js
  test/function/samples/async-function-return/_config.js
  test/function/samples/async-function-return/main.js
Due: eslint --fix, prettier --write

Reference types when normalizing options
  src/rollup/rollup.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
Due: eslint --fix

Add string presets for the treeshake option
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/treeshake-presets/safest/_config.js
  test/form/samples/treeshake-presets/safest/_expected.js
  test/form/samples/treeshake-presets/safest/dep.js
  test/form/samples/treeshake-presets/safest/main.js
  test/form/samples/treeshake-presets/smallest/_config.js
  test/form/samples/treeshake-presets/smallest/_expected.js
  test/form/samples/treeshake-presets/smallest/dep.js
  test/form/samples/treeshake-presets/smallest/main.js
  test/form/samples/treeshake-presets/true/_config.js
  test/form/samples/treeshake-presets/true/_expected.js
  test/form/samples/treeshake-presets/true/dep.js
  test/form/samples/treeshake-presets/true/main.js
Due: eslint --fix, prettier --write

More precise native ESM support check
  cli/run/loadConfigFile.ts
Due: none

Use import to load .js config file if package type is module
  cli/run/loadConfigFile.ts
  package.json
Due: none

Update and add tests handling type module
  test/cli/samples/config-no-module/_config.js
  test/cli/samples/config-no-module/rollup.config.js
  test/cli/samples/config-type-module/_config.js
  test/cli/samples/config-type-module/sub/main.js
  test/cli/samples/config-type-module/sub/package.json
  test/cli/samples/config-type-module/sub/rollup.config.js
Due: eslint --fix, prettier --write

Retain TDZ violations in some common scenarios. * Fix analogous bugs with `var` variable use before declaration.
  src/ast/nodes/Identifier.ts
  test/form/samples/tdz-common/_config.js
  test/form/samples/tdz-common/_expected.js
  test/form/samples/tdz-common/main.js
  test/function/samples/use-var-before-decl/_config.js
  test/function/samples/use-var-before-decl/main.js
Due: eslint --fix, prettier --write

feat: Export define defines the auxiliary function of the configuration
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: eslint --fix

refactor: Rename define => defineConfig
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: eslint --fix

feat: Export defineConfig defines the auxiliary function of the configuration
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: eslint --fix

docs: Add some documentation for `defineConfig`
  docs/01-command-line-reference.md
Due: none

docs: Set `Config Intellisense` as the fourth-level heading
  docs/01-command-line-reference.md
Due: none

perf: User Map to optimize performance
  src/utils/collapseSourcemaps.ts
Due: eslint --fix

Add clarifying note to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add additional tests and a TODO comment for a previously/currently failing test case
  test/form/samples/tdz-common/_expected.js
  test/form/samples/tdz-common/main.js
  test/function/samples/use-var-before-decl/main.js
Due: none

fix: export `rollup.defineConfig` at Node.js runtime
  src/node-entry.ts
Due: eslint --fix

test: add test of `rollup.defineConfig` (cjs, mjs)
  test/cli/samples/config-defineConfig-cjs/_config.js
  test/cli/samples/config-defineConfig-cjs/main.js
  test/cli/samples/config-defineConfig-cjs/rollup.config.js
  test/cli/samples/config-defineConfig-mjs/_config.js
  test/cli/samples/config-defineConfig-mjs/main.js
  test/cli/samples/config-defineConfig-mjs/rollup.config.mjs
Due: eslint --fix, prettier --write

fix: export `rollup.defineConfig` at browser runtime
  src/browser-entry.ts
Due: eslint --fix
