Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

[feat-enable-workspace-packages-in-ts-config-files] Modify code in loadConfigFile.ts so that config files written in other languages than JS can use workspace packages.
  cli/run/loadConfigFile.ts
  test/cli/samples/config-ts-with-workspace-refs/_config.js
Due: eslint --fix, prettier --write

[feat-enable-workspace-packages-in-ts-config-files] Adding documentation about new CLI parameter.
  docs/command-line-interface/index.md
Due: none

[feat-enable-workspace-packages-in-ts-config-files] Better naming of functions and variables.
  cli/run/loadConfigFile.ts
Due: none

correct the logic of include in BinaryExpression
  src/ast/nodes/BinaryExpression.ts
  test/form/samples/optimization-in-operator/_config.js
  test/form/samples/optimization-in-operator/_expected.js
  test/form/samples/optimization-in-operator/foo.js
  test/form/samples/optimization-in-operator/main.js
Due: eslint --fix, prettier --write

fix(binop/in): don't optimize external references away
  src/ast/nodes/BinaryExpression.ts
  test/form/samples/external-namespace-optimzation-in-operator/_config.js
  test/form/samples/external-namespace-optimzation-in-operator/_expected.js
  test/form/samples/external-namespace-optimzation-in-operator/ext.js
  test/form/samples/external-namespace-optimzation-in-operator/main.js
  test/form/samples/external-namespace-optimzation-in-operator/passthrough.js
Due: eslint --fix, prettier --write

Improve coverage
  test/form/samples/namespace-optimization-in-operator/_expected.js
  test/form/samples/namespace-optimization-in-operator/main.js
Due: none

fix(binop/in): don't optimize external references away (#6042)
  src/ast/nodes/BinaryExpression.ts
  test/form/samples/external-namespace-optimzation-in-operator/_config.js
  test/form/samples/external-namespace-optimzation-in-operator/_expected.js
  test/form/samples/external-namespace-optimzation-in-operator/ext.js
  test/form/samples/external-namespace-optimzation-in-operator/main.js
  test/form/samples/external-namespace-optimzation-in-operator/passthrough.js
Due: eslint --fix, prettier --write

[feat-enable-workspace-packages-in-ts-config-files] When checking for externality of import resolved by plugin, ensure that 'node_modules' directory is not in path.
  cli/run/loadConfigFile.ts
Due: none

Ensure that includeNode is always called first similar to other nodes
  src/ast/nodes/BinaryExpression.ts
Due: eslint --fix

Avoid `generated by` comment diff on Windows
  scripts/helpers.js
Due: none

Add test for different sourcemap with a same content
  test/watch/index.js
Due: eslint --fix, prettier --write

fix: correctly handle wellknown protocols
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/PathTracker.ts
  test/form/samples/object-expression-treeshaking/preserve-unknown-wellknown/_config.js
  test/form/samples/object-expression-treeshaking/preserve-unknown-wellknown/_expected.js
  test/form/samples/object-expression-treeshaking/preserve-unknown-wellknown/main.js
  test/form/samples/object-expression-treeshaking/remove-unused-wellknown-hasInstance/_config.js
  test/form/samples/object-expression-treeshaking/remove-unused-wellknown-hasInstance/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-wellknown-hasInstance/main.js
  test/function/samples/wellknown-protocols/hasInstance/class-instance/_config.js
  test/function/samples/wellknown-protocols/hasInstance/class-instance/main.js
  test/function/samples/wellknown-protocols/hasInstance/class-static/_config.js
  test/function/samples/wellknown-protocols/hasInstance/class-static/main.js
  test/function/samples/wellknown-protocols/hasInstance/object/_config.js
  test/function/samples/wellknown-protocols/hasInstance/object/main.js
  test/function/samples/wellknown-protocols/toStringTag/class-instance/_config.js
  test/function/samples/wellknown-protocols/toStringTag/class-instance/main.js
  test/function/samples/wellknown-protocols/toStringTag/object/_config.js
  test/function/samples/wellknown-protocols/toStringTag/object/main.js
Due: eslint --fix, prettier --write

Update lockfile
  package-lock.json
Due: none

fix: handle whitespace according to JSX common practice
  src/ast/nodes/JSXAttribute.ts
  src/ast/nodes/JSXText.ts
  src/ast/nodes/shared/JSXElementBase.ts
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/jsx.js
Due: eslint --fix

fix: don't optimize `in` with `syntheticNamedExports`
  src/ast/nodes/BinaryExpression.ts
  test/form/samples/namespace-optimization-in-operator-synthetic/_config.js
  test/form/samples/namespace-optimization-in-operator-synthetic/_expected.js
  test/form/samples/namespace-optimization-in-operator-synthetic/main.js
Due: eslint --fix, prettier --write

test: not solo
  test/form/samples/namespace-optimization-in-operator-synthetic/_config.js
Due: eslint --fix, prettier --write

build: aggressively optimize wasm build
  package.json
  rust-toolchain.toml
  rust/Cargo.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/Cargo.toml
Due: none

chore: whitespace consistency
  rust/bindings_wasm/Cargo.toml
Due: none

build: get ci working again
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  package.json
  rust-toolchain.toml
  rust/bindings_napi/.cargo/config.toml
  rust/bindings_wasm/.cargo/config.toml
Due: none

chore: trailing whitespace
  rust-toolchain.toml
Due: none

ci: try cross-compile for FreeBSD
  .github/workflows/build-and-tests.yml
Due: none

build: target shouldn't matter anymore
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  rust-toolchain.toml
Due: none

build: trying with no cross compile flags
  .github/workflows/build-and-tests.yml
  package.json
Due: none

ci: install appropriate gcc in builds
  .github/workflows/build-and-tests.yml
  rust/bindings_napi/.cargo/config.toml
Due: none

Fix illegal instruction error on arm64 by enabling `no_opt_arch` feature for mimalloc-safe
  rust/bindings_napi/Cargo.toml
Due: none

update some tests to respect reserved names and reserved used names
  test/form/samples/deconflict-format-specific-exports/_expected/amd.js
  test/form/samples/deconflict-format-specific-exports/_expected/cjs.js
  test/form/samples/deconflict-format-specific-exports/_expected/es.js
  test/form/samples/deconflict-format-specific-exports/_expected/system.js
  test/form/samples/deconflict-format-specific-exports/_expected/umd.js
  test/form/samples/protect-cjs-globals/_expected/amd.js
  test/form/samples/protect-cjs-globals/_expected/es.js
  test/form/samples/protect-cjs-globals/_expected/iife.js
  test/form/samples/protect-cjs-globals/_expected/system.js
  test/form/samples/protect-cjs-globals/_expected/umd.js
Due: none

fix nearly 40 tests for a small change
  src/utils/deconflictChunk.ts
Due: eslint --fix

fix: tweak the fallback logic for tracing segment
  src/utils/collapseSourcemaps.ts
Due: eslint --fix

fix(types): add support for exactOptionalPropertyTypes
  src/rollup/types.d.ts
  test/typescript/index.ts
Due: eslint --fix

only 5 failing tests now
  test/form/samples/deconflict-format-specific-exports/_expected/iife.js
  test/form/samples/deconflict-format-specific-exports/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/amd.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/es.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/system.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/sequence-expression/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: none

docs: update Rust toolchain instructions
  CONTRIBUTING.md
Due: none

all tests are working now
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/utils/deconflictChunk.ts
  test/form/index.js
  test/form/samples/no-treeshake-default-export-conflict/_expected.js
  test/form/samples/system-multiple-export-bindings/_expected.js
Due: eslint --fix, prettier --write

all tests are working now
  test/form/index.js
  test/form/samples/supports-es5-shim/_expected.js
Due: eslint --fix, prettier --write

feat: improve function return value tracking
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/ThrowStatement.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ReturnValueScope.ts
  test/form/samples/literals-from-return-expressions-branches/_config.js
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-complex/main.js
Due: eslint --fix, prettier --write

refactor: improve reachability check
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/BreakStatement.ts
Due: eslint --fix
