Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Use an Option instead of checking if the bitset is empty
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/variable_declarator.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
  src/utils/parseAndWalk.ts
Due: eslint --fix

Test invalid visitor names
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/invalid-node-visitor-name/_config.js
  test/function/samples/parse-and-walk/invalid-node-visitor-name/main.js
Due: eslint --fix, prettier --write

Expose parseAndWalk as separate helper
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
Due: eslint --fix

Add documentation
  docs/javascript-api/index.md
  docs/plugin-development/index.md
Due: none

Fix test types
  eslint.config.mjs
  test/cli/samples/config-defineConfig-mjs/_config.js
  test/cli/samples/config-type-module/_config.js
  test/file-hashes/index.js
  test/form/samples/addon-functions/_config.js
  test/function/samples/custom-module-options/_config.js
  test/sourcemaps/index.js
  test/sourcemaps/samples/render-chunk-babili/_config.js
  test/sourcemaps/samples/render-chunk-babili/babili-results.js
  test/testHelpers.d.ts
  test/tsconfig.base.json
Due: eslint --fix, prettier --write

Automatically test types
  package-lock.json
  package.json
  scripts/check-typescript.sh
  test/parse-and-walk/index.js
Due: eslint --fix, prettier --write

Improve coverage
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Fix types
  patches/fixturify+3.0.0.patch
  rust/parse_ast/src/ast_nodes/parse_error.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Also run AST tests in smoke tests
  .github/workflows/build-and-tests.yml
  package.json
Due: none

Extend instructions
  AGENTS.md
Due: none

Remove scope type discriminator
  rust/parse_ast/src/convert_ast/converter.rs
  src/utils/parseAndWalk.ts
Due: eslint --fix

Auto-generate scope constants
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/ast_nodes/shared/function_node.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/scope_constants.rs
  scripts/ast-types.ts
  scripts/generate-ast-converters.ts
  scripts/generate-scope-constants.ts
  src/utils/parseAndWalk.ts
  src/utils/scopeConstants.ts
  test/parse-and-walk/samples/collectScopes/_config.js
Due: eslint --fix, prettier --write

Extend AST tests
  test/parse-and-walk/index.js
  test/parse-and-walk/samples/parse-ArrayExpression/_config.js
  test/types.d.ts
Due: eslint --fix, prettier --write

Actually use scope constants
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/convert_ast/converter.rs
  src/utils/parseAndWalk.ts
Due: eslint --fix

ci: collect Rust coverage from JS tests in dedicated job
  .github/workflows/build-and-tests.yml
  package.json
  scripts/coverage-rust.sh
Due: none

ci: use npx to invoke nyc in coverage job
  .github/workflows/build-and-tests.yml
Due: none

ci: disable experimental require module in coverage test run
  .github/workflows/build-and-tests.yml
Due: none

ci: debug instrumentation and try nyc --spawn
  .github/workflows/build-and-tests.yml
Due: none

ci: run mocha directly to debug profraw collection
  .github/workflows/build-and-tests.yml
Due: none

ci: search for profraw files anywhere
  .github/workflows/build-and-tests.yml
Due: none

Support importing the same module with different import attributes
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/finalisers/shared/setupNamespace.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/blank.ts
  src/utils/logs.ts
  src/utils/moduleId.ts
  src/utils/options/mergeOptions.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  src/utils/transform.ts
Due: eslint --fix

Temporarily mock @rollup/plugin-json
  build-plugins/json.ts
  rollup.config.ts
Due: none

Add tests
  test/function/samples/import-image-with-different-attributes/_config.js
  test/function/samples/import-image-with-different-attributes/main.js
Due: eslint --fix, prettier --write

Add more tests
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/resolveIdViaPlugins.ts
  test/form/samples/import-attributes/plugin-attributes-resolveid/_config.js
  test/function/samples/same-module-with-diff-attributes/config-options/_config.js
  test/function/samples/same-module-with-diff-attributes/config-options/main.js
  test/function/samples/same-module-with-diff-attributes/export/_config.js
  test/function/samples/same-module-with-diff-attributes/export/lib.js
  test/function/samples/same-module-with-diff-attributes/export/main.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/_config.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/bar.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/foo.js
  test/function/samples/same-module-with-diff-attributes/hooks-signature/main.js
  test/function/samples/same-module-with-diff-attributes/import/_config.js
  test/function/samples/same-module-with-diff-attributes/import/main.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/_config.js
  test/function/samples/same-module-with-diff-attributes/plugin-context-function/main.js
Due: eslint --fix, prettier --write

ci: manually flush LLVM coverage on Linux via flushLlvmCoverage
  .github/workflows/build-and-tests.yml
  native.js
  rust/bindings_napi/src/lib.rs
  scripts/coverage-flush.js
  scripts/coverage-rust.sh
Due: none

ci: rename coverage-flush to .cjs to avoid ESM conflict
  .github/workflows/build-and-tests.yml
  scripts/coverage-flush.cjs
  scripts/coverage-rust.sh
Due: none

ci: copy native module after JS build to avoid dist wipe
  .github/workflows/build-and-tests.yml
  package.json
  scripts/coverage-rust.sh
Due: none

fix: resolve lint and type errors in coverage-flush.cjs
  rust/bindings_napi/build.rs
  scripts/coverage-flush.cjs
Due: none

fix: add no-op flushLlvmCoverage to native.wasm.js for export parity
  native.wasm.js
Due: none

ci: disable coverage on #[napi] thunks to avoid misleading uncovered lines
  rust/bindings_napi/src/lib.rs
Due: none

ci: exclude bindings_napi/src/lib.rs from coverage report instead of #[coverage(off)]
  .github/workflows/build-and-tests.yml
  rust/bindings_napi/src/lib.rs
  scripts/coverage-rust.sh
Due: none

ci: include bindings_napi/src/lib.rs in coverage report
  .github/workflows/build-and-tests.yml
  scripts/coverage-rust.sh
Due: none

Fix Vite type-compatibility
  docs/.vitepress/config.ts
  scripts/check-typescript.sh
  src/rollup/types.d.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
