Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

consistency: use arrow functions to pass 'this' context
  src/Module.ts
Due: eslint --fix

consistency: use more arrow functions to pass this context
  src/utils/PluginDriver.ts
Due: eslint --fix

refactor: convert exportsByName object to map
  src/Chunk.ts
  src/utils/exportNames.ts
Due: eslint --fix

refactor: use nullish assigment, nullish coalescing
  src/Chunk.ts
Due: eslint --fix

Merge conflict detection into export resolution
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/utils/error.ts
  test/function/samples/conflicting-reexports/namespace-import/_config.js
  test/function/samples/shims-missing-exports/dep2.js
  test/function/samples/shims-missing-exports/main.js
  test/function/samples/synthetic-named-export-entry/_config.js
  test/function/samples/synthetic-named-export-entry/main.js
  test/function/samples/synthetic-named-export-entry/noOverride.js
  test/function/samples/synthetic-named-export-entry/override.js
  test/function/samples/warn-on-namespace-conflict/_config.js
Due: eslint --fix, prettier --write

Make Addons properties non-optional
  src/Chunk.ts
  src/utils/addons.ts
Due: eslint --fix

Do not warn for hidden namespace conflicts
  test/function/samples/synthetic-named-export-entry/_config.js
  test/function/samples/synthetic-named-export-entry/main.js
  test/function/samples/synthetic-named-export-entry/noOverride.js
  test/function/samples/synthetic-named-export-entry/override.js
Due: eslint --fix, prettier --write

Do not expose the synthetic namespace export in namespaces
  src/Module.ts
  src/utils/error.ts
  test/form/samples/merge-namespaces-non-live/_expected.js
  test/form/samples/merge-namespaces-non-live/reexport.js
  test/form/samples/merge-namespaces-non-live/synthetic.js
  test/form/samples/merge-namespaces/_expected.js
  test/form/samples/merge-namespaces/reexport.js
  test/form/samples/merge-namespaces/synthetic.js
  test/function/samples/synthetic-named-export-entry/_config.js
  test/function/samples/synthetic-named-export-entry/hiddenNamespace.js
  test/function/samples/synthetic-named-export-entry/main.js
  test/function/samples/synthetic-named-export-entry/noOverride.js
  test/function/samples/synthetic-named-export-entry/override.js
  test/function/samples/synthetic-named-exports/circular-synthetic-exports/_config.js
  test/function/samples/synthetic-named-exports/synthetic-exports-need-fallback-export/_config.js
Due: eslint --fix, prettier --write

Merge conflict detection into export resolution
  test/function/samples/synthetic-named-export-entry/_config.js
  test/function/samples/synthetic-named-export-entry/main.js
  test/function/samples/synthetic-named-export-entry/noOverride.js
  test/function/samples/synthetic-named-export-entry/override.js
Due: eslint --fix, prettier --write

Revert "consistency: use more arrow functions to pass this context"
  src/utils/PluginDriver.ts
Due: eslint --fix

Revert "consistency: use arrow functions to pass 'this' context"
  src/Module.ts
Due: eslint --fix

Revert "add return types, fix return values"
  src/ModuleLoader.ts
Due: eslint --fix

use type imports
  src/Chunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/utils/PluginCache.ts
  src/utils/PluginContext.ts
  src/utils/addons.ts
  src/utils/collapseSourcemaps.ts
  src/utils/deconflictChunk.ts
  src/utils/escapeId.ts
  src/utils/executionOrder.ts
  src/utils/exportNames.ts
  src/utils/generateCodeSnippets.ts
  src/utils/getExportMode.ts
  src/utils/getIndentString.ts
  src/utils/getOriginalLocation.ts
  src/utils/getStaticDependencies.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
  src/utils/pluginUtils.ts
  src/utils/pureComments.ts
  src/utils/reassignedExportsMember.ts
  src/utils/renderChunk.ts
  src/utils/renderHelpers.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  src/utils/systemJsRendering.ts
  src/utils/transform.ts
  src/utils/traverseStaticDependencies.ts
  src/utils/treeshakeNode.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
Due: eslint --fix

use more readonly
  cli/run/watch-cli.ts
  src/rollup/rollup.ts
  src/utils/FileEmitter.ts
  src/utils/PluginDriver.ts
  src/utils/collapseSourcemaps.ts
  src/utils/executionOrder.ts
  src/utils/interopHelpers.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/pureComments.ts
  src/utils/reassignedExportsMember.ts
Due: eslint --fix

replace any with unknown
  cli/run/loadConfigFromCommand.ts
  src/utils/blank.ts
  src/utils/options/options.ts
  src/utils/renderNamePattern.ts
Due: eslint --fix

use as const
  src/utils/pluginUtils.ts
Due: eslint --fix

fix: remove acorn-walk patch
  src/utils/pureComments.ts
Due: eslint --fix

fix test
  test/watch/index.js
Due: eslint --fix, prettier --write

refactor: use fs.promises in cli/run
  cli/run/getConfigPath.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/watch-cli.ts
Due: none

refactor: use fs.promises in module loader
  browser/fs.ts
  src/ModuleLoader.ts
  src/utils/fs.ts
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-error/_config.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
Due: eslint --fix, prettier --write

Fix typo in _config.js
  test/form/samples/side-effects-parameter-defaults/_config.js
Due: eslint --fix, prettier --write

refactor: simplify, add return type
  src/utils/resolveId.ts
Due: eslint --fix

use alias fs in tests
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-error/_config.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
Due: eslint --fix, prettier --write

refactor: move mkdir to writeoutputfile
  browser/fs.ts
  src/rollup/rollup.ts
  src/utils/fs.ts
Due: eslint --fix

refactor: replace indexof with includes
  src/utils/resolveId.ts
Due: eslint --fix

test: handles default export of anonymous class with correct name #4324
  test/function/samples/default-exports-of-anonymous-class/_config.js
  test/function/samples/default-exports-of-anonymous-class/foo.js
  test/function/samples/default-exports-of-anonymous-class/main.js
Due: eslint --fix, prettier --write
