Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Handle manual chunks
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_config.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/amd/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/amd/generated-manual.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/amd/main.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/cjs/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/cjs/generated-manual.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/es/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/es/generated-manual.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/system/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/system/generated-manual.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/system/main.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/dep1.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/dep2.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/main.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/manual.js
Due: eslint --fix, prettier --write

Clean up and sort
  src/utils/chunkAssignment.ts
Due: eslint --fix

Extract some functions
  src/utils/chunkAssignment.ts
Due: eslint --fix

Only intersect with what has actually changed
  src/utils/chunkAssignment.ts
Due: eslint --fix

Extract function
  src/utils/chunkAssignment.ts
Due: eslint --fix

Reference entries by index
  src/Module.ts
  src/ast/utils/PathTracker.ts
  src/utils/chunkAssignment.ts
Due: eslint --fix

Warn for deprecated option
  docs/configuration-options/index.md
  src/rollup/types.d.ts
  src/utils/chunkAssignment.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/urls.ts
  test/function/samples/deprecations/experimentalDeepDynamicChunkOptimization/_config.js
  test/function/samples/deprecations/experimentalDeepDynamicChunkOptimization/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

Add back minChunkSize optimization
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/render-chunk/_expected/amd/chunk-dep2-af768b5f.js
  test/chunking-form/samples/render-chunk/_expected/amd/entry-main1-62378d9a.js
  test/chunking-form/samples/render-chunk/_expected/amd/entry-main2-d26bed01.js
  test/chunking-form/samples/render-chunk/_expected/cjs/chunk-dep2-d1b4d6a3.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main1-7c0fb7d4.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main2-51ea6de1.js
  test/chunking-form/samples/render-chunk/_expected/es/chunk-dep2-0da9d5f1.js
  test/chunking-form/samples/render-chunk/_expected/es/entry-main1-f3f64fb9.js
  test/chunking-form/samples/render-chunk/_expected/es/entry-main2-d0add96f.js
  test/chunking-form/samples/render-chunk/_expected/system/chunk-dep2-be1287c1.js
  test/chunking-form/samples/render-chunk/_expected/system/entry-main1-f0891ef8.js
  test/chunking-form/samples/render-chunk/_expected/system/entry-main2-ef5991ab.js
  test/hooks/index.js
  test/misc/misc.js
Due: eslint --fix, prettier --write

Initial draft for new algorithm
  docs/configuration-options/index.md
  src/Bundle.ts
  src/rollup/types.d.ts
  src/utils/chunkAssignment.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

Update Rollup dependency
  build-plugins/add-cli-entry.ts
  build-plugins/conditional-fsevents-import.ts
  package-lock.json
  package.json
Due: none

Fix manual chunk handling
  rollup.config.ts
  src/utils/chunkAssignment.ts
Due: eslint --fix

tweak function name
  build-plugins/copy-types.ts
  rollup.config.ts
Due: none

Do not mark variable access in files without side effects as TDZ
  src/ast/nodes/Identifier.ts
  test/form/samples/super-class-no-side-effects/_config.js
  test/form/samples/super-class-no-side-effects/_expected.js
  test/form/samples/super-class-no-side-effects/main.js
  test/form/samples/super-class-no-side-effects/other.js
Due: eslint --fix, prettier --write

Include side effects of re-exporters unless they have moduleSideEffects: false
  src/Module.ts
  test/function/samples/module-side-effect-reexport/_config.js
  test/function/samples/module-side-effect-reexport/foo.js
  test/function/samples/module-side-effect-reexport/index.js
  test/function/samples/module-side-effect-reexport/main.js
  test/function/samples/module-side-effect-reexport/reexport-effect.js
Due: eslint --fix, prettier --write

Add `needsCodeReference` property to `EmittedAsset`
  src/rollup/types.d.ts
Due: eslint --fix

fix: style optimization in dark mode
  docs/repl/components/BundleOptions.vue
Due: none

Add logging
  src/utils/chunkAssignment.ts
Due: eslint --fix

Add logging for side effects
  src/Module.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/shared/Node.ts
  test/test.js
Due: eslint --fix, prettier --write

3.17.3-0
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix transformation of `import.meta.url` in CommonJS
  src/ast/nodes/MetaProperty.ts
  test/chunking-form/samples/asset-needs-code-reference/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk-worker/_expected/cjs/chunks/nested.js
  test/chunking-form/samples/emit-file/emit-chunk-worker/_expected/cjs/chunks/worker-proxy.js
  test/chunking-form/samples/emit-file/emit-chunk-worker/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk-worklet/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/reference-files/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/reference-files/_expected/cjs/nested/chunk.js
  test/chunking-form/samples/emit-file/set-asset-source/_expected/cjs/main.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/cjs/0/1/nested.js
  test/chunking-form/samples/import-meta-url/_expected/cjs/main.js
  test/chunking-form/samples/import-meta-url/_expected/cjs/nested/chunk.js
  test/chunking-form/samples/render-chunk/_expected/cjs/chunk-dep2-8d89c265.js
  test/chunking-form/samples/render-chunk/_expected/cjs/chunk-dep2-d1b4d6a3.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main1-5be92ae4.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main1-7c0fb7d4.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main2-20c5a0f4.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main2-51ea6de1.js
  test/chunking-form/samples/resolve-file-url/_expected/cjs/main.js
  test/form/samples/configure-file-url/_expected/cjs.js
  test/form/samples/configure-file-url/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/emit-asset-file/_expected/cjs.js
  test/form/samples/emit-asset-file/_expected/umd.js
  test/form/samples/emit-uint8array-no-buffer/_expected/cjs.js
  test/form/samples/emit-uint8array-no-buffer/_expected/umd.js
  test/form/samples/import-meta-url/_expected/cjs.js
  test/form/samples/import-meta-url/_expected/umd.js
  test/form/samples/import-meta/_expected/cjs.js
  test/form/samples/import-meta/_expected/umd.js
  test/form/samples/resolve-import-meta-url/_expected/cjs.js
  test/form/samples/resolve-import-meta-url/_expected/umd.js
  test/function/samples/emit-file/file-references-in-bundle/My%2FFile.js
  test/function/samples/emit-file/file-references-in-bundle/_config.js
Due: eslint --fix, prettier --write

Only log top-level effects
  src/Module.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

3.17.3-1
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: wrong params of the transform hook
  docs/plugin-development/index.md
Due: none

Refactor CLI test runner
  test/cli/index.js
Due: eslint --fix, prettier --write

Add retry option to tests and improve timeout handling
  test/cli/index.js
  test/cli/samples/watch/watch-event-hooks/_config.js
Due: eslint --fix, prettier --write

Fix test on Windows, add helper functions
  src/ast/nodes/MetaProperty.ts
  test/function/samples/emit-file/file-references-in-bundle/_config.js
Due: eslint --fix, prettier --write

Try using different termination signals
  test/cli/index.js
Due: eslint --fix, prettier --write
