Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Added some test for maxParallelFileReads setting.
  src/Graph.ts
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  test/function/samples/max-parallel-file-reads-unlimited-zero/1.js
  test/function/samples/max-parallel-file-reads-unlimited-zero/2.js
  test/function/samples/max-parallel-file-reads-unlimited-zero/3.js
  test/function/samples/max-parallel-file-reads-unlimited-zero/4.js
  test/function/samples/max-parallel-file-reads-unlimited-zero/5.js
  test/function/samples/max-parallel-file-reads-unlimited-zero/_config.js
  test/function/samples/max-parallel-file-reads-unlimited-zero/main.js
  test/function/samples/max-parallel-file-reads-unlimited/1.js
  test/function/samples/max-parallel-file-reads-unlimited/2.js
  test/function/samples/max-parallel-file-reads-unlimited/3.js
  test/function/samples/max-parallel-file-reads-unlimited/4.js
  test/function/samples/max-parallel-file-reads-unlimited/5.js
  test/function/samples/max-parallel-file-reads-unlimited/_config.js
  test/function/samples/max-parallel-file-reads-unlimited/main.js
  test/function/samples/max-parallel-file-reads/1.js
  test/function/samples/max-parallel-file-reads/2.js
  test/function/samples/max-parallel-file-reads/3.js
  test/function/samples/max-parallel-file-reads/4.js
  test/function/samples/max-parallel-file-reads/5.js
  test/function/samples/max-parallel-file-reads/_config.js
  test/function/samples/max-parallel-file-reads/main.js
Due: eslint --fix, prettier --write

Added tests for queue.
  package-lock.json
  package.json
  test/misc/index.js
  test/misc/queue.js
Due: eslint --fix, prettier --write

Updated tests
  package-lock.json
  package.json
  src/Graph.ts
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/fs.ts
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/max-parallel-file-reads-default/1.js
  test/function/samples/max-parallel-file-reads-default/2.js
  test/function/samples/max-parallel-file-reads-default/3.js
  test/function/samples/max-parallel-file-reads-default/4.js
  test/function/samples/max-parallel-file-reads-default/5.js
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-default/main.js
  test/function/samples/max-parallel-file-reads-error/_config.js
  test/function/samples/max-parallel-file-reads-error/dep.js
  test/function/samples/max-parallel-file-reads-infinity/1.js
  test/function/samples/max-parallel-file-reads-infinity/2.js
  test/function/samples/max-parallel-file-reads-infinity/3.js
  test/function/samples/max-parallel-file-reads-infinity/4.js
  test/function/samples/max-parallel-file-reads-infinity/5.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-infinity/main.js
  test/function/samples/max-parallel-file-reads-set/1.js
  test/function/samples/max-parallel-file-reads-set/2.js
  test/function/samples/max-parallel-file-reads-set/3.js
  test/function/samples/max-parallel-file-reads-set/4.js
  test/function/samples/max-parallel-file-reads-set/5.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-set/main.js
  test/function/samples/max-parallel-file-reads-unlimited-zero/_config.js
  test/function/samples/max-parallel-file-reads-unlimited/_config.js
  test/function/samples/max-parallel-file-reads/_config.js
  test/misc/index.js
  test/misc/queue.js
Due: eslint --fix, prettier --write

Added docs.
  docs/999-big-list-of-options.md
Due: none

Fix test on Windows
  test/function/samples/max-parallel-file-reads-error/_config.js
Due: eslint --fix, prettier --write

Generates namespace objects when not tree-shaking
  src/Module.ts
  test/form/samples/no-treeshake-namespace-object/_config.js
  test/form/samples/no-treeshake-namespace-object/_expected.js
  test/form/samples/no-treeshake-namespace-object/main.js
  test/form/samples/no-treeshake-namespace-object/namespace.js
Due: eslint --fix, prettier --write

Fix additional variable state change bugs including blockless if statement `var` declarations and let/var use before declaration within same function
  docs/999-big-list-of-options.md
  src/ast/nodes/Identifier.ts
  src/ast/scopes/TrackingScope.ts
  test/cli/samples/treeshake-preset-override/_expected.js
  test/form/samples/tdz-common/_expected.js
  test/form/samples/tdz-common/main.js
  test/form/samples/treeshake-presets/preset-with-override/_expected.js
  test/form/samples/treeshake-presets/recommended/_expected.js
  test/form/samples/treeshake-presets/smallest/_expected.js
  test/form/samples/treeshake-presets/true/_expected.js
  test/function/samples/use-var-before-decl/main.js
Due: eslint --fix

Replace negative example
  docs/999-big-list-of-options.md
Due: none

Correctly create outside variable when shadowed by catch parameter
  src/ast/nodes/CatchClause.ts
  src/ast/scopes/CatchScope.ts
  test/function/samples/catch-scope-shadowing/_config.js
  test/function/samples/catch-scope-shadowing/main.js
Due: eslint --fix, prettier --write

Improve wording
  docs/999-big-list-of-options.md
Due: none

Avoid memory issues with hoisted variables
  src/ast/nodes/Identifier.ts
  src/ast/scopes/BlockScope.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/deep-switch-declarations/_config.js
  test/form/samples/deep-switch-declarations/_expected.js
  test/form/samples/deep-switch-declarations/main.js
Due: eslint --fix, prettier --write

Fix import.meta.url on web workers
  src/ast/nodes/MetaProperty.ts
  test/form/samples/configure-file-url/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/deprecated/configure-asset-url/_expected/umd.js
  test/form/samples/deprecated/emit-asset/_expected/umd.js
  test/form/samples/emit-asset-file/_expected/umd.js
  test/form/samples/emit-uint8array-no-buffer/_expected/umd.js
  test/form/samples/import-meta-url/_expected/umd.js
  test/form/samples/import-meta/_expected/umd.js
  test/form/samples/resolve-import-meta-url/_expected/umd.js
Due: eslint --fix

Fix typo in renderHelpers.ts
  src/utils/renderHelpers.ts
Due: eslint --fix

Simplify location variable check
  src/ast/nodes/MetaProperty.ts
  test/form/samples/configure-file-url/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/deprecated/configure-asset-url/_expected/umd.js
  test/form/samples/deprecated/emit-asset/_expected/umd.js
  test/form/samples/emit-asset-file/_expected/umd.js
  test/form/samples/emit-uint8array-no-buffer/_expected/umd.js
  test/form/samples/import-meta-url/_expected/umd.js
  test/form/samples/import-meta/_expected/umd.js
  test/form/samples/resolve-import-meta-url/_expected/umd.js
Due: eslint --fix

Add normalization for location based url
  src/ast/nodes/MetaProperty.ts
  test/form/samples/configure-file-url/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/deprecated/configure-asset-url/_expected/umd.js
  test/form/samples/deprecated/emit-asset/_expected/umd.js
  test/form/samples/emit-asset-file/_expected/umd.js
  test/form/samples/emit-uint8array-no-buffer/_expected/umd.js
  test/form/samples/import-meta-url/_expected/umd.js
  test/form/samples/import-meta/_expected/umd.js
  test/form/samples/resolve-import-meta-url/_expected/umd.js
Due: eslint --fix

Stop recommending node-builtins. Closes #2881
  src/finalisers/shared/warnOnBuiltins.ts
Due: eslint --fix

Update all occurrences of node-polyfills.
  cli/run/batchWarnings.ts
  docs/08-troubleshooting.md
  test/cli/samples/warn-multiple/_config.js
  test/misc/misc.js
Due: eslint --fix, prettier --write

Move long path recursion prevention to MemberExpression
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/static-method-deoptimization/_config.js
  test/form/samples/static-method-deoptimization/_expected.js
  test/form/samples/static-method-deoptimization/main.js
Due: eslint --fix, prettier --write

Improve coverage
  src/ast/nodes/MemberExpression.ts
  test/form/samples/deep-properties-access/_config.js
  test/form/samples/deep-properties-access/_expected.js
  test/form/samples/deep-properties-access/main.js
  test/form/samples/deep-properties/_config.js
  test/form/samples/deep-properties/_expected.js
  test/form/samples/deep-properties/main.js
  test/form/samples/recursive-property-call/_config.js
  test/form/samples/recursive-property-call/_expected.js
  test/form/samples/recursive-property-call/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
