Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Fix typo
  docs/07-tools.md
Due: none

Format
  docs/07-tools.md
Due: none

build: use @rollup/plugin-replace for fsevents workaround
  build-plugins/conditional-fsevents-import.ts
  rollup.config.ts
Due: none

simplify alias plugin params
  rollup.config.ts
Due: none

fix: wrong DOM Plugin type assertion
  rollup.config.ts
Due: none

Review comments
  src/Bundle.ts
  src/utils/getOriginalLocation.ts
Due: eslint --fix

Unify reserved names
  src/utils/BUILTINS.ts
  src/utils/RESERVED_NAMES.ts
  src/utils/exportNames.ts
  src/utils/generateCodeSnippets.ts
  src/utils/identifierHelpers.ts
  src/utils/safeName.ts
Due: eslint --fix

Use atomic file writes
  test/cli/samples/wait-for-bundle-input-object/_config.js
  test/cli/samples/wait-for-bundle-input/_config.js
  test/cli/samples/watch/bundle-error/_config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/cli/samples/watch/watch-config-initial-error/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

Use atomic file writes for regular watch tests
  test/watch/index.js
Due: eslint --fix, prettier --write

refactor: use fs.readFileSync
  build-plugins/generate-license-file.ts
  cli/run/watch-cli.ts
  rollup.config.ts
  scripts/perf.js
  test/chunking-form/samples/deprecated/emit-asset/_config.js
  test/chunking-form/samples/emit-file/reference-files/_config.js
  test/cli/index.js
  test/cli/samples/config-no-output/_config.js
  test/cli/samples/sourcemap-hidden/_config.js
  test/cli/samples/watch/close-stdin/wrapper.js
  test/form/index.js
  test/form/samples/deprecated/emit-asset/_config.js
  test/form/samples/emit-asset-file/_config.js
  test/form/samples/emit-file-tree-shaken-access/_config.js
  test/function/samples/custom-loaders/_config.js
  test/function/samples/custom-path-resolver-on-entry/_config.js
  test/function/samples/export-default-anonymous-function/_config.js
  test/function/samples/transform-without-code/_config.js
  test/sourcemaps/samples/combined-sourcemap-with-loader/_config.js
  test/sourcemaps/samples/excludes-plugin-helpers/_config.js
  test/sourcemaps/samples/loaders/_config.js
  test/sourcemaps/samples/reified-namespace/_config.js
  test/sourcemaps/samples/single-length-segments/_config.js
  test/watch/index.js
Due: eslint --fix, prettier --write

refactor: use fs.existsSync
  test/cli/index.js
  test/form/index.js
  test/watch/index.js
Due: eslint --fix, prettier --write

refactor: use fs.writeFileSync
  test/cli/samples/wait-for-bundle-input-object/_config.js
  test/cli/samples/wait-for-bundle-input/_config.js
  test/cli/samples/watch/bundle-error/_config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/cli/samples/watch/watch-config-initial-error/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
  test/watch/index.js
Due: eslint --fix, prettier --write

refactor: use fs.unlinkSync
  test/cli/samples/warn-broken-sourcemap/_config.js
  test/cli/samples/warn-broken-sourcemaps/_config.js
  test/utils.js
  test/watch/index.js
Due: eslint --fix, prettier --write

refactor: use fs.readdirSync
  scripts/load-perf-config.js
  scripts/perf-init.js
  test/hooks/index.js
  test/utils.js
  test/watch/index.js
Due: eslint --fix, prettier --write

refactor: use fs-extra.removeSync
  package-lock.json
  package.json
  scripts/perf-init.js
  test/hooks/index.js
  test/utils.js
  test/watch/index.js
Due: eslint --fix, prettier --write

refactor: use fs-extra.copy/copySync
  scripts/update-snapshots.js
  test/cli/index.js
  test/watch/index.js
Due: eslint --fix, prettier --write

fix: remove operator
  src/utils/getOriginalLocation.ts
Due: eslint --fix

add comparison
  src/utils/getOriginalLocation.ts
Due: eslint --fix

feat: add object known globals
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

feat: add promise known globals
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

make queue readonly
  src/utils/queue.ts
Due: eslint --fix

extract QueueItem type, use array literal, add function return type
  src/utils/queue.ts
Due: eslint --fix

make readqueue readonly, make maxparallel private and pass via constructor
  src/ModuleLoader.ts
  src/utils/queue.ts
Due: eslint --fix

extract and re-use task type, fix load result return type
  src/ModuleLoader.ts
  src/utils/queue.ts
Due: eslint --fix

fix source description condition
  src/ModuleLoader.ts
Due: eslint --fix

make props readonly
  src/ModuleLoader.ts
  test/cli/samples/watch/watch-config-no-update/rollup.config.js
Due: eslint --fix

remove unknown from generic parameter
  src/ModuleLoader.ts
Due: eslint --fix

convert to async function, make types readonly
  src/ModuleLoader.ts
Due: eslint --fix

fix more queue types
  src/utils/queue.ts
Due: eslint --fix

remove test config file
  test/cli/samples/watch/watch-config-no-update/rollup.config.js
Due: none

remove unneeded type assertion
  src/Module.ts
Due: eslint --fix
