Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Fix tests
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/minChunkSize/best-merge-target/_config.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-distant-shared/_config.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_config.js
  test/chunking-form/samples/minChunkSize/merge-three-small-chunks-a/_config.js
  test/chunking-form/samples/minChunkSize/merge-three-small-chunks-b/_config.js
  test/chunking-form/samples/minChunkSize/merge-two-small-chunks-a/_config.js
  test/chunking-form/samples/minChunkSize/merge-two-small-chunks-b/_config.js
  test/chunking-form/samples/minChunkSize/merge-unrelated/_config.js
  test/chunking-form/samples/minChunkSize/no-merge-side-effects/_config.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Refine implementation
  src/utils/chunkAssignment.ts
Due: eslint --fix

Refine docs
  docs/999-big-list-of-options.md
Due: none

First draft for algorithm
  src/Bundle.ts
  src/Module.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_config.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/amd/generated-big.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/amd/generated-small.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/amd/main1.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/amd/main2.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/amd/main3.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/cjs/generated-big.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/cjs/generated-small.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/cjs/main1.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/cjs/main2.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/cjs/main3.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/system/generated-big.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/system/generated-small.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/system/main1.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/system/main2.js
  test/chunking-form/samples/minChunkSize/merge-chunk-into-shared/_expected/system/main3.js
  test/chunking-form/samples/minChunkSize/no-merge-side-effects/_config.js
Due: eslint --fix, prettier --write

Extract helper
  src/utils/chunkAssignment.ts
  src/utils/iterators.ts
Due: eslint --fix

3.3.0-0
  browser/package.json
  package-lock.json
  package.json
Due: none

Update terser docs
  docs/04-tutorial.md
Due: none

feat: deduplicate binary assets option
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
Due: eslint --fix

docs: deduplicateBinaryAssets option
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
Due: none

test: fix previous tests after new option
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

test: sample using deduplicateBinaryAssets
  test/function/samples/emit-file/deduplicate-binary-asset/_config.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/amd/main.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/amd/myfile
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/cjs/main.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/cjs/myfile
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/es/main.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/es/myfile
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/system/main.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/system/myfile
  test/function/samples/emit-file/deduplicate-binary-asset/main.js
Due: eslint --fix, prettier --write

chore: remove option and simplify code
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/cli/samples/watch/bundle-error/main.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

docs: update emitFile deduplication note
  docs/05-plugin-development.md
Due: none

chore: remove missplaced test case
  test/function/samples/emit-file/deduplicate-binary-asset/_config.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/amd/main.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/amd/myfile
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/cjs/main.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/cjs/myfile
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/es/main.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/es/myfile
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/system/main.js
  test/function/samples/emit-file/deduplicate-binary-asset/_expected/system/myfile
  test/function/samples/emit-file/deduplicate-binary-asset/main.js
Due: eslint --fix, prettier --write

test: extend chunking-form deduplicate-assets
  test/chunking-form/samples/emit-file/deduplicate-assets/_config.js
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/amd/assets/buffer-d0ca8c2a.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/amd/assets/otherBuffer-e8d9b528.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/amd/named/buffer.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/cjs/assets/buffer-d0ca8c2a.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/cjs/assets/otherBuffer-e8d9b528.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/cjs/named/buffer.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/es/assets/buffer-d0ca8c2a.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/es/assets/otherBuffer-e8d9b528.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/es/named/buffer.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/system/assets/buffer-d0ca8c2a.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/system/assets/otherBuffer-e8d9b528.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/system/named/buffer.txt
Due: eslint --fix, prettier --write

chore: simplify sourceHash generation
  src/utils/FileEmitter.ts
Due: eslint --fix

Improve wording in docs
  docs/999-big-list-of-options.md
Due: none

Remove debug code
  src/utils/chunkAssignment.ts
Due: eslint --fix

refactor: precompute hash then slice
  src/utils/FileEmitter.ts
Due: eslint --fix

Remove wrongly committed file
  test/cli/samples/watch/bundle-error/main.js
Due: none

Only consider Object.freeze a side effect if the argument is used
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/big-int/_config.js
  test/form/samples/object-freeze-effects/_config.js
  test/form/samples/object-freeze-effects/_expected.js
  test/form/samples/object-freeze-effects/main.js
Due: eslint --fix, prettier --write

extract pure function check
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/Identifier.ts
  src/utils/pureFunctions.ts
Due: eslint --fix

Extend types
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
Due: eslint --fix

Add docs
  docs/999-big-list-of-options.md
Due: none

Implement manualPureFunctions option
  docs/999-big-list-of-options.md
  src/Module.ts
  src/ast/nodes/Identifier.ts
  src/ast/utils/PathTracker.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  src/utils/pureFunctions.ts
  test/form/samples/manual-pure-functions/_config.js
  test/form/samples/manual-pure-functions/_expected.js
  test/form/samples/manual-pure-functions/main.js
  test/form/samples/manual-pure-functions/other.js
Due: eslint --fix, prettier --write

adapt docs
  docs/999-big-list-of-options.md
Due: none

Also mark nested functions as pure
  src/ast/nodes/Identifier.ts
  test/form/samples/manual-pure-functions/_config.js
  test/form/samples/manual-pure-functions/_expected.js
  test/form/samples/manual-pure-functions/main.js
  test/form/samples/manual-pure-functions/other.js
Due: eslint --fix, prettier --write

Add pureness flag to return expressions
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/TemplateLiteral.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/values.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

Make return expressions of pure functions pure
  docs/999-big-list-of-options.md
  src/ast/nodes/Identifier.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  test/form/samples/manual-pure-functions/_config.js
  test/form/samples/manual-pure-functions/_expected.js
  test/form/samples/manual-pure-functions/main.js
  test/form/samples/manual-pure-functions/other.js
Due: eslint --fix, prettier --write

Wait for this.load before closing bundle
  src/ModuleLoader.ts
  test/function/samples/preload-wait/_config.js
  test/function/samples/preload-wait/main.js
  test/function/samples/preload-wait/other.js
Due: eslint --fix, prettier --write
