Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Rework JSX option and global variable handling for preserving
  src/ast/nodes/JSXElement.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/form/samples/jsx/jsx-preserve-react-conflict/_config.js
  test/form/samples/jsx/jsx-preserve-react-conflict/_expected.js
  test/form/samples/jsx/jsx-preserve-react-conflict/dep1.js
  test/form/samples/jsx/jsx-preserve-react-conflict/dep2.js
  test/form/samples/jsx/jsx-preserve-react-conflict/main.js
  test/form/samples/jsx/preserves-jsx/_config.js
  test/form/samples/jsx/preserves-jsx/_expected.js
  test/form/samples/jsx/preserves-jsx/main.js
  test/form/samples/jsx/preserves-react-local/_config.js
  test/form/samples/jsx/preserves-react-local/_expected.js
  test/form/samples/jsx/preserves-react-local/jsx.js
  test/form/samples/jsx/preserves-react-local/main.js
  test/form/samples/jsx/preserves-react-local/other1.js
  test/form/samples/jsx/preserves-react-local/other2.js
  test/form/samples/jsx/preserves-react/_config.js
  test/form/samples/jsx/preserves-react/_expected.js
  test/form/samples/jsx/preserves-react/jsx.js
  test/form/samples/jsx/preserves-react/main.js
  test/form/samples/jsx/preserves-react/other1.js
  test/form/samples/jsx/preserves-react/other2.js
Due: eslint --fix, prettier --write

Use correct span for empty expressions
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/jsx/preserves-jsx-empty-expression/_expected.js
  test/form/samples/jsx/preserves-jsx-empty-expression/main.js
  test/form/samples/jsx/transpiles-jsx-empty-expression/main.js
Due: none

Support JSXSpreadAttribute
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/JSXOpeningElement.ts
  src/ast/nodes/JSXSpreadAttribute.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
  test/form/samples/jsx/preserves-jsx-attributes/_expected.js
  test/form/samples/jsx/preserves-jsx-attributes/main.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/_config.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/_expected.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/dep1.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/dep2.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/dep3.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/main.js
  test/form/samples/jsx/transpiles-jsx-attributes/_expected.js
  test/form/samples/jsx/transpiles-jsx-attributes/main.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/_config.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/_expected.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/dep1.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/dep2.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/dep3.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/main.js
Due: eslint --fix, prettier --write

Start work on transpilation support
  src/Module.ts
  src/ast/nodes/JSXElement.ts
  src/utils/parseImportAttributes.ts
  test/form/samples/jsx/transpiles-react-jsx/_config.js
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/main.js
  test/form/samples/jsx/transpiles-react/_expected.js
Due: eslint --fix, prettier --write

Improve option and transpilation support
  src/ast/nodes/JSXElement.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/form/samples/jsx/jsx-preserve-react-conflict/_config.js
  test/form/samples/jsx/jsx-preserve-react-conflict/_expected.js
  test/form/samples/jsx/jsx-preserve-react-conflict/dep1.js
  test/form/samples/jsx/jsx-preserve-react-conflict/dep2.js
  test/form/samples/jsx/jsx-preserve-react-conflict/main.js
  test/form/samples/jsx/preserves-react-global/_config.js
  test/form/samples/jsx/preserves-react-global/_expected.js
  test/form/samples/jsx/preserves-react-global/jsx.js
  test/form/samples/jsx/preserves-react-global/main.js
  test/form/samples/jsx/preserves-react-global/other1.js
  test/form/samples/jsx/preserves-react-global/other2.js
  test/form/samples/jsx/preserves-react-local/_config.js
  test/form/samples/jsx/preserves-react-local/jsx.js
  test/form/samples/jsx/transpiles-react-global/_config.js
  test/form/samples/jsx/transpiles-react-global/_expected.js
  test/form/samples/jsx/transpiles-react-global/jsx.js
  test/form/samples/jsx/transpiles-react-global/main.js
  test/form/samples/jsx/transpiles-react-global/other1.js
  test/form/samples/jsx/transpiles-react-global/other2.js
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/jsx.js
  test/form/samples/jsx/transpiles-react-jsx/other1.js
  test/form/samples/jsx/transpiles-react-jsx/other2.js
  test/form/samples/jsx/transpiles-react/_config.js
  test/form/samples/jsx/transpiles-react/_expected.js
  test/form/samples/jsx/transpiles-react/jsx.js
  test/form/samples/jsx/transpiles-react/main.js
  test/form/samples/jsx/transpiles-react/other1.js
  test/form/samples/jsx/transpiles-react/other2.js
Due: eslint --fix, prettier --write

Handle missing jsx factory
  src/Module.ts
  src/utils/logs.ts
  test/form/samples/jsx/preserves-jsx-child/_config.js
  test/form/samples/jsx/preserves-jsx-closing/_config.js
  test/form/samples/jsx/preserves-jsx-empty-expression/_config.js
  test/form/samples/jsx/preserves-jsx-empty-literal-expression/_config.js
  test/form/samples/jsx/preserves-jsx-fragment/_config.js
  test/form/samples/jsx/preserves-jsx-text/_config.js
  test/form/samples/jsx/preserves-jsx-with-attributes/_config.js
  test/form/samples/jsx/preserves-react-internal/_config.js
  test/form/samples/jsx/preserves-react-internal/_expected.js
  test/form/samples/jsx/preserves-react-internal/jsx.js
  test/form/samples/jsx/preserves-react-internal/main.js
  test/form/samples/jsx/preserves-react-internal/other1.js
  test/form/samples/jsx/preserves-react-internal/other2.js
  test/form/samples/jsx/preserves-react-internal/react.js
  test/form/samples/jsx/preserves-react/_config.js
  test/form/samples/jsx/transpiles-react-internal/_config.js
  test/form/samples/jsx/transpiles-react-internal/_expected.js
  test/form/samples/jsx/transpiles-react-internal/jsx.js
  test/form/samples/jsx/transpiles-react-internal/main.js
  test/form/samples/jsx/transpiles-react-internal/other1.js
  test/form/samples/jsx/transpiles-react-internal/other2.js
  test/form/samples/jsx/transpiles-react-internal/react.js
  test/function/samples/jsx/missing-jsx-export/_config.js
  test/function/samples/jsx/missing-jsx-export/_expected.js
  test/function/samples/jsx/missing-jsx-export/main.js
  test/function/samples/jsx/missing-jsx-export/react.js
Due: eslint --fix, prettier --write

Improve formatting for macro names
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  scripts/helpers.js
Due: none

Support attributes transpilation
  src/ast/nodes/JSXAttribute.ts
  src/ast/nodes/JSXClosingElement.ts
  src/ast/nodes/JSXElement.ts
  src/ast/nodes/JSXOpeningElement.ts
  test/form/samples/jsx/preserves-jsx-with-attributes/_expected.js
  test/form/samples/jsx/preserves-jsx-with-attributes/dep1.js
  test/form/samples/jsx/preserves-jsx-with-attributes/dep2.js
  test/form/samples/jsx/preserves-jsx-with-attributes/dep3.js
  test/form/samples/jsx/preserves-jsx-with-attributes/main.js
  test/form/samples/jsx/transpiles-jsx-with-attributes/_expected.js
  test/form/samples/jsx/transpiles-jsx-with-attributes/dep1.js
  test/form/samples/jsx/transpiles-jsx-with-attributes/dep2.js
  test/form/samples/jsx/transpiles-jsx-with-attributes/dep3.js
  test/form/samples/jsx/transpiles-jsx-with-attributes/main.js
Due: eslint --fix

use macros for JSX where possible
  rust/parse_ast/src/ast_nodes/jsx_attribute.rs
  rust/parse_ast/src/ast_nodes/jsx_closing_element.rs
  rust/parse_ast/src/ast_nodes/jsx_closing_fragment.rs
  rust/parse_ast/src/ast_nodes/jsx_element.rs
  rust/parse_ast/src/ast_nodes/jsx_fragment.rs
  rust/parse_ast/src/ast_nodes/jsx_identifier.rs
  rust/parse_ast/src/ast_nodes/jsx_opening_fragment.rs
  rust/parse_ast/src/ast_nodes/jsx_spread_child.rs
  rust/parse_ast/src/ast_nodes/jsx_text.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  scripts/ast-types.js
Due: none

Handle jsx without children
  src/ast/nodes/JSXAttribute.ts
  src/ast/nodes/JSXOpeningElement.ts
Due: eslint --fix

Handle jsx with children
  src/ast/nodes/JSXElement.ts
  src/ast/nodes/JSXOpeningElement.ts
  src/ast/nodes/shared/JSXOpeningBase.ts
  src/utils/jsx.ts
  test/form/samples/jsx/preserves-jsx-attributes/_config.js
  test/form/samples/jsx/preserves-jsx-child/_config.js
  test/form/samples/jsx/preserves-jsx-closing/_config.js
  test/form/samples/jsx/preserves-jsx-empty-expression/_config.js
  test/form/samples/jsx/preserves-jsx-expression/_config.js
  test/form/samples/jsx/preserves-jsx-fragment/_config.js
  test/form/samples/jsx/preserves-jsx-member-expression/_config.js
  test/form/samples/jsx/preserves-jsx-self-closing/_config.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/_config.js
  test/form/samples/jsx/preserves-jsx-spread-child/_config.js
  test/form/samples/jsx/preserves-jsx-text/_config.js
  test/form/samples/jsx/preserves-react-global/_config.js
  test/form/samples/jsx/preserves-react-internal/_config.js
  test/form/samples/jsx/preserves-react/_config.js
  test/form/samples/jsx/transpiles-jsx-attributes/_config.js
  test/form/samples/jsx/transpiles-jsx-child/_config.js
  test/form/samples/jsx/transpiles-jsx-closing/_config.js
  test/form/samples/jsx/transpiles-jsx-empty-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-fragment/_config.js
  test/form/samples/jsx/transpiles-jsx-member-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-self-closing/_config.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/_config.js
  test/form/samples/jsx/transpiles-jsx-spread-child/_config.js
  test/form/samples/jsx/transpiles-jsx-text/_config.js
  test/form/samples/jsx/transpiles-react-global/_config.js
  test/form/samples/jsx/transpiles-react-internal/_config.js
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/main.js
  test/form/samples/jsx/transpiles-react/_config.js
  test/function/samples/jsx/missing-jsx-export/_config.js
Due: eslint --fix, prettier --write

Split classic and automatic mode
  src/ast/nodes/JSXOpeningElement.ts
  test/form/samples/jsx/preserves-jsx-attributes/_config.js
  test/form/samples/jsx/preserves-jsx-child/_config.js
  test/form/samples/jsx/preserves-jsx-closing/_config.js
  test/form/samples/jsx/preserves-jsx-empty-expression/_config.js
  test/form/samples/jsx/preserves-jsx-expression/_config.js
  test/form/samples/jsx/preserves-jsx-fragment/_config.js
  test/form/samples/jsx/preserves-jsx-member-expression/_config.js
  test/form/samples/jsx/preserves-jsx-self-closing/_config.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/_config.js
  test/form/samples/jsx/preserves-jsx-spread-child/_config.js
  test/form/samples/jsx/preserves-jsx-text/_config.js
  test/form/samples/jsx/preserves-react-global/_config.js
  test/form/samples/jsx/preserves-react-internal/_config.js
  test/form/samples/jsx/preserves-react/_config.js
  test/form/samples/jsx/transpiles-jsx-attributes/_config.js
  test/form/samples/jsx/transpiles-jsx-child/_config.js
  test/form/samples/jsx/transpiles-jsx-closing/_config.js
  test/form/samples/jsx/transpiles-jsx-empty-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-fragment/_config.js
  test/form/samples/jsx/transpiles-jsx-member-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-self-closing/_config.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/_config.js
  test/form/samples/jsx/transpiles-jsx-spread-child/_config.js
  test/form/samples/jsx/transpiles-jsx-text/_config.js
  test/form/samples/jsx/transpiles-react-global/_config.js
  test/form/samples/jsx/transpiles-react-internal/_config.js
  test/form/samples/jsx/transpiles-react/_config.js
  test/function/samples/jsx/missing-jsx-export/_config.js
Due: eslint --fix, prettier --write

Fix fragment rendering
  src/ast/nodes/JSXFragment.ts
  src/ast/nodes/JSXOpeningElement.ts
  src/ast/nodes/JSXOpeningFragment.ts
Due: eslint --fix

Prepare for fallback rendering
  src/Module.ts
  src/ast/nodes/JSXOpeningFragment.ts
  src/ast/nodes/shared/JSXOpeningBase.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
Due: eslint --fix

Reenable tests for now
  test/form/samples/jsx/preserves-jsx-attributes/_config.js
  test/form/samples/jsx/preserves-jsx-child/_config.js
  test/form/samples/jsx/preserves-jsx-closing/_config.js
  test/form/samples/jsx/preserves-jsx-empty-expression/_config.js
  test/form/samples/jsx/preserves-jsx-expression/_config.js
  test/form/samples/jsx/preserves-jsx-fragment/_config.js
  test/form/samples/jsx/preserves-jsx-member-expression/_config.js
  test/form/samples/jsx/preserves-jsx-self-closing/_config.js
  test/form/samples/jsx/preserves-jsx-spread-attribute/_config.js
  test/form/samples/jsx/preserves-jsx-spread-child/_config.js
  test/form/samples/jsx/preserves-jsx-text/_config.js
  test/form/samples/jsx/preserves-react-global/_config.js
  test/form/samples/jsx/preserves-react-internal/_config.js
  test/form/samples/jsx/preserves-react/_config.js
  test/form/samples/jsx/transpiles-jsx-attributes/_config.js
  test/form/samples/jsx/transpiles-jsx-child/_config.js
  test/form/samples/jsx/transpiles-jsx-closing/_config.js
  test/form/samples/jsx/transpiles-jsx-empty-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-fragment/_config.js
  test/form/samples/jsx/transpiles-jsx-member-expression/_config.js
  test/form/samples/jsx/transpiles-jsx-self-closing/_config.js
  test/form/samples/jsx/transpiles-jsx-spread-attribute/_config.js
  test/form/samples/jsx/transpiles-jsx-spread-child/_config.js
  test/form/samples/jsx/transpiles-jsx-text/_config.js
  test/form/samples/jsx/transpiles-react-global/_config.js
  test/form/samples/jsx/transpiles-react-internal/_config.js
  test/form/samples/jsx/transpiles-react-jsx/_config.js
  test/form/samples/jsx/transpiles-react/_config.js
  test/function/samples/jsx/missing-jsx-export/_config.js
Due: eslint --fix, prettier --write

feat: introduce the virtualDirname option to customize the virtual directory name
  docs/configuration-options/index.md
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/samples/option-virtual-dirname/_config.js
  test/chunking-form/samples/option-virtual-dirname/_expected/amd/main.js
  test/chunking-form/samples/option-virtual-dirname/_expected/amd/main2.js
  test/chunking-form/samples/option-virtual-dirname/_expected/amd/rollup_virtual/_commonjsHelpers.js
  test/chunking-form/samples/option-virtual-dirname/_expected/cjs/main.js
  test/chunking-form/samples/option-virtual-dirname/_expected/cjs/main2.js
  test/chunking-form/samples/option-virtual-dirname/_expected/cjs/rollup_virtual/_commonjsHelpers.js
  test/chunking-form/samples/option-virtual-dirname/_expected/es/main.js
  test/chunking-form/samples/option-virtual-dirname/_expected/es/main2.js
  test/chunking-form/samples/option-virtual-dirname/_expected/es/rollup_virtual/_commonjsHelpers.js
  test/chunking-form/samples/option-virtual-dirname/_expected/system/main.js
  test/chunking-form/samples/option-virtual-dirname/_expected/system/main2.js
  test/chunking-form/samples/option-virtual-dirname/_expected/system/rollup_virtual/_commonjsHelpers.js
  test/chunking-form/samples/option-virtual-dirname/main.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

temporary limit the deep of path
  src/ast/nodes/MemberExpression.ts
Due: eslint --fix

fix: Wrong namespace property definition
  src/finalisers/iife.ts
  src/finalisers/shared/setupNamespace.ts
  src/finalisers/umd.ts
  src/utils/logs.ts
Due: eslint --fix

Update package.json
  package.json
Due: none

extend the includeVariableInModule function to take path
  src/Module.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
Due: eslint --fix

chore: fix the `noConflict` option in REPL.
  docs/repl/stores/options.ts
Due: none

Fix linting
  .eslintrc.js
  cli/cli.ts
  cli/run/commandPlugins.ts
  docs/repl/stores/rollup.ts
  src/Chunk.ts
  src/Module.ts
  src/ast/Entity.ts
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/RestElement.ts
  src/ast/nodes/SwitchCase.ts
  src/ast/scopes/ChildScope.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/chunkAssignment.ts
  src/utils/outputBundle.ts
  src/utils/renderHelpers.ts
Due: eslint --fix

preload the WASM file even though the version is undefined
  docs/repl/stores/rollup.ts
Due: none

Call and await closeWatcher hooks on exit signals
  cli/run/watch-cli.ts
  test/cli/node_modules/rollup-plugin-esm-test/index.mjs
  test/cli/samples/watch/signal-close-watcher/_config.js
  test/cli/samples/watch/signal-close-watcher/_expected/main.js
  test/cli/samples/watch/signal-close-watcher/main.js
  test/cli/samples/watch/signal-close-watcher/rollup.config.mjs
Due: eslint --fix, prettier --write

Streamline load promises
  src/ModuleLoader.ts
  src/utils/PluginDriver.ts
  test/cli/samples/watch/process-exit-close-watcher/_config.js
  test/cli/samples/watch/process-exit-close-watcher/_expected/main.js
  test/cli/samples/watch/process-exit-close-watcher/main.js
  test/cli/samples/watch/process-exit-close-watcher/rollup.config.mjs
  test/function/samples/modify-meta/_config.js
Due: eslint --fix, prettier --write

fix: reset variable's renderBaseName at the end of renderModules
  src/Chunk.ts
  src/utils/deconflictChunk.ts
Due: eslint --fix

fix: move reset code into Chunk's render method
  src/Chunk.ts
Due: eslint --fix

Add missing config dependency
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

Update audit
  audit-resolve.json
Due: none

add space for DOCUMENT_CURRENT_SCRIPT template
  src/utils/interopHelpers.ts
  test/function/samples/import-meta-url-with-compact/_config.js
  test/function/samples/import-meta-url-with-compact/main.js
Due: eslint --fix, prettier --write

update micromatch version
  package-lock.json
Due: none
