Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: set report.excludeNetwork=true before getReport() to avoid blocking PTR lookups (#6404)
  native.js
  test/misc/misc.js
Due: none

4.61.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: insert conflict numbers before first extension in multi-extension filenames
  src/utils/renderNamePattern.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_config.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/amd/chunks/chunk.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/amd/chunks/chunk2.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/amd/chunks/chunk3.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/amd/entryA.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/amd/entryB.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/amd/entryC.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/cjs/chunks/chunk.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/cjs/chunks/chunk2.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/cjs/chunks/chunk3.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/cjs/entryA.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/cjs/entryB.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/cjs/entryC.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/es/chunks/chunk.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/es/chunks/chunk2.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/es/chunks/chunk3.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/es/entryA.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/es/entryB.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/es/entryC.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/system/chunks/chunk.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/system/chunks/chunk2.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/system/chunks/chunk3.d.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/system/entryA.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/system/entryB.js
  test/chunking-form/samples/chunk-naming-multi-extension/_expected/system/entryC.js
  test/chunking-form/samples/chunk-naming-multi-extension/dep1.js
  test/chunking-form/samples/chunk-naming-multi-extension/dep2.js
  test/chunking-form/samples/chunk-naming-multi-extension/dep3.js
  test/chunking-form/samples/chunk-naming-multi-extension/main1.js
  test/chunking-form/samples/chunk-naming-multi-extension/main2.js
  test/chunking-form/samples/chunk-naming-multi-extension/main3.js
Due: eslint --fix, prettier --write

Pin previous concurrently
  package-lock.json
  package.json
  renovate.json
Due: none

Update the code according to Copilot’s review
  src/utils/chunkAssignment.ts
Due: eslint --fix

Treat manual chunks as entry points for chunk assignment
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/amd/generated-dep1.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/amd/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/amd/main.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/cjs/generated-dep1.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/cjs/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/es/generated-dep1.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/es/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/system/generated-dep1.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/system/generated-dynamic.js
  test/chunking-form/samples/dynamic-import-from-manual-chunk/_expected/system/main.js
Due: eslint --fix

Avoid unnecessary array
  src/utils/chunkAssignment.ts
Due: eslint --fix

fix: use some instead of find for boolean check
  src/utils/chunkAssignment.ts
Due: eslint --fix

Extract the static dependencies imported by manual chunks into separate chunks
  src/utils/chunkAssignment.ts
Due: eslint --fix

Adjust the log info
  src/utils/logs.ts
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_config.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/amd/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/amd/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/amd/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/cjs/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/cjs/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/es/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/es/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/es/main.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/system/generated-ac.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/system/generated-b.js
  test/chunking-form/samples/circular-chunks-warning-caused-by-only-explicit-manual-chunks/_expected/system/main.js
Due: eslint --fix, prettier --write

test: add test for shared static dependency between manual chunks
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_config.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/amd/generated-manual1.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/amd/generated-manual2.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/amd/generated-shared.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/amd/main.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/cjs/generated-manual1.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/cjs/generated-manual2.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/cjs/generated-shared.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/cjs/main.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/es/generated-manual1.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/es/generated-manual2.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/es/generated-shared.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/es/main.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/system/generated-manual1.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/system/generated-manual2.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/system/generated-shared.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/_expected/system/main.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/main.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/manual1.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/manual2.js
  test/chunking-form/samples/shared-static-dependency-between-manual-chunks/shared.js
Due: eslint --fix, prettier --write

Avoid full iteration by gathering entry information
  src/utils/chunkAssignment.ts
Due: eslint --fix

Reduce number of chunks by treating all manual chunk members as dependencies
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_config.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/amd/generated-dep2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/amd/generated-manual.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/amd/main1.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/amd/main2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/cjs/generated-dep2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/cjs/generated-manual.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/cjs/main1.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/cjs/main2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/es/generated-dep2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/es/generated-manual.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/es/main1.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/es/main2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/system/generated-dep2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/system/generated-manual.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/system/main1.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/_expected/system/main2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/dep1.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/dep2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/main1.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/main2.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/manual1.js
  test/chunking-form/samples/manual-chunk-with-unrelated-files/manual2.js
Due: eslint --fix, prettier --write

Refactor manual chunk assembly
  src/utils/chunkAssignment.ts
Due: eslint --fix

Track if we already added a manual chunk
  src/utils/chunkAssignment.ts
Due: eslint --fix

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

fix: inline getFirstExtension and fix prettier formatting per review
  src/utils/renderNamePattern.ts
  test/chunking-form/samples/chunk-naming-multi-extension/_config.js
Due: eslint --fix, prettier --write

Update codecov action as it is failing
  .github/workflows/build-and-tests.yml
Due: none

skip side-effect-free external imports when hoisting is off
  src/Chunk.ts
  src/ExternalChunk.ts
  test/chunking-form/samples/no-side-effect-free-external-imports/_config.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/amd/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/amd/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/cjs/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/cjs/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/es/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/es/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/system/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/_expected/system/main.js
  test/chunking-form/samples/no-side-effect-free-external-imports/hooks.js
  test/chunking-form/samples/no-side-effect-free-external-imports/main.js
Due: eslint --fix, prettier --write

refactor no-hoist dependency pruning
  src/Chunk.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  package-lock.json
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/destructure-function-length/_config.js
  test/function/samples/destructure-function-length/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

Resolve audit
  audit-resolve.json
  package-lock.json
Due: none

4.62.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: advance value past wildcard prefix before suffix check in getLogFilter
  src/utils/getLogFilter.ts
  test/misc/get-log-filter.js
Due: eslint --fix

Resolve audit
  .gitignore
  audit-resolve.json
  package-lock.json
Due: none

Fix dependency update
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

fix: advance value past wildcard prefix before suffix check in getLogFilter (#6415)
  src/utils/getLogFilter.ts
  test/misc/get-log-filter.js
Due: eslint --fix

Use import attributes for importing JSON
  cli/cli.ts
  src/browser-entry.ts
  src/node-entry.ts
  src/rollup/rollup.ts
  src/utils/PluginContext.ts
  src/utils/logger.ts
Due: eslint --fix

Apply review comments
  src/browser-entry.ts
  src/node-entry.ts
  test/cli/samples/config-json/rollup.config.js
Due: eslint --fix

Use import attributes for importing JSON (#6393)
  cli/cli.ts
  src/browser-entry.ts
  src/node-entry.ts
  src/rollup/rollup.ts
  src/utils/PluginContext.ts
  src/utils/logger.ts
  test/cli/samples/config-json/rollup.config.js
Due: eslint --fix

refactor(rust/parser_ast/ast_nodes/property): extract write buffer kind logic to new method
  rust/parse_ast/src/ast_nodes/property.rs
Due: none

refactor(rust/parser_ast/ast_nodes/property): add #[inline] proc macro to write_buffer_kind method
  rust/parse_ast/src/ast_nodes/property.rs
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
