Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix: handle whitespace according to JSX common practice
  src/ast/nodes/JSXAttribute.ts
  src/ast/nodes/JSXText.ts
  src/ast/nodes/shared/JSXElementBase.ts
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/jsx.js
Due: eslint --fix

fix: handle multiple whitespaces in jsx
  src/ast/nodes/JSXText.ts
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/jsx.js
Due: eslint --fix

fix(jsx): correct count of children when text nodes are removed
  src/utils/jsx.ts
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/jsx.js
Due: eslint --fix

Reapply "build: aggressively optimize wasm build, improve pipeline (#6053)"
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  package.json
  rust-toolchain.toml
  rust/Cargo.toml
  rust/bindings_napi/.cargo/config.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/.cargo/config.toml
  rust/bindings_wasm/Cargo.toml
Due: none

build(rust): napi-cross prevents dependency on flagship libc
  .github/workflows/build-and-tests.yml
Due: none

ci: leverage new gha runners to run full test suite on aarch64
  .github/workflows/build-and-tests.yml
Due: none

ci: add architecture to cache key, exclude win/node18
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

build: explicitly use clang on some targets
  .github/workflows/build-and-tests.yml
Due: none

Add test to improve coverage for array deoptimization
  test/function/samples/array-deoptimization/_config.js
  test/function/samples/array-deoptimization/main.js
Due: eslint --fix, prettier --write

Add support for openharmony-arm64 platform
  .github/workflows/build-and-tests.yml
  native.js
  npm/openharmony-arm64/README.md
  npm/openharmony-arm64/package.json
  package.json
Due: none

Add support for linux s390x musl
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-s390x-musl/README.md
  npm/linux-s390x-musl/package.json
  package.json
Due: none

Add support for linux powerpc64le musl
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-ppc64-musl/README.md
  npm/linux-ppc64-musl/package.json
  package.json
Due: none

Add support for linux loongarch64 musl
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-loongarch64-musl/README.md
  npm/linux-loongarch64-musl/package.json
  package.json
Due: none

[feat-enable-workspace-packages-in-ts-config-files] When transforming config files, move externality check to be done as fallback instead of primary check.
  cli/run/loadConfigFile.ts
Due: none

Temporarily also save caches on my branch
  .github/workflows/build-and-tests.yml
Due: none

Extract composite action to always save missing caches
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

Only save caches on master again
  .github/actions/install-and-cache-node-deps/action.yml
Due: none

Simplify test
  test/cli/samples/config-ts-with-workspace-refs/_config.js
  test/cli/samples/config-ts-with-workspace-refs/_expected.js
  test/cli/samples/config-ts-with-workspace-refs/input.js
  test/cli/samples/config-ts-with-workspace-refs/main.js
  test/cli/samples/config-ts-with-workspace-refs/node_modules/referenced-link
  test/cli/samples/config-ts-with-workspace-refs/node_modules/referenced/index.ts
  test/cli/samples/config-ts-with-workspace-refs/node_modules/referenced/package.json
  test/cli/samples/config-ts-with-workspace-refs/packages/bundle/node_modules/@rollup-tests/referenced
  test/cli/samples/config-ts-with-workspace-refs/packages/bundle/package.json
  test/cli/samples/config-ts-with-workspace-refs/packages/bundle/rollup.config.ts
  test/cli/samples/config-ts-with-workspace-refs/packages/bundle/src/bundlable-code.js
  test/cli/samples/config-ts-with-workspace-refs/packages/referenced/package.json
  test/cli/samples/config-ts-with-workspace-refs/packages/referenced/src/index.ts
  test/cli/samples/config-ts-with-workspace-refs/packages/tsconfig.json
  test/cli/samples/config-ts-with-workspace-refs/rollup.config.ts
Due: eslint --fix, prettier --write

test: make symbolic links more like those in a real workspace
  test/cli/samples/config-ts-with-workspace-refs/_config.js
  test/cli/samples/config-ts-with-workspace-refs/node_modules/referenced-link
  test/cli/samples/config-ts-with-workspace-refs/packages/referenced/index.ts
  test/cli/samples/config-ts-with-workspace-refs/packages/referenced/package.json
Due: eslint --fix, prettier --write

Return null to defer to the default resolution behavior
  cli/run/loadConfigFile.ts
  test/cli/samples/config-file-bundle-with-extensionless-importee/_config.js
  test/cli/samples/config-file-bundle-with-extensionless-importee/_expected.js
  test/cli/samples/config-file-bundle-with-extensionless-importee/input.js
  test/cli/samples/config-file-bundle-with-extensionless-importee/rollup.base.config.mjs
  test/cli/samples/config-file-bundle-with-extensionless-importee/rollup.config.mjs
Due: eslint --fix, prettier --write

fix: unhandled manualChunks merged with the first manualChunk encountered alphabetically
  src/utils/chunkAssignment.ts
Due: eslint --fix

feat: improve function return value tracking
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/ThrowStatement.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/scopes/ReturnValueScope.ts
  test/form/samples/literals-from-return-expressions-branches/_config.js
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-complex/main.js
Due: eslint --fix, prettier --write

refactor: improve reachability check
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/BreakStatement.ts
Due: eslint --fix

refactor: improve value resolution in MultiExpression
  src/ast/nodes/shared/MultiExpression.ts
Due: eslint --fix

refactor: improve handling of complex cases
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/SwitchCase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/values.ts
  test/form/samples/literals-from-return-expressions-branches/_expected.js
  test/form/samples/literals-from-return-expressions-branches/main.js
Due: eslint --fix

refactor: minor nit with blank object
  src/ast/nodes/Literal.ts
  src/ast/values.ts
Due: eslint --fix

perf: improve multi-return-value tracking performance
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/MultiExpression.ts
  test/form/samples/literals-from-return-expressions-deopt/_config.js
  test/form/samples/literals-from-return-expressions-deopt/_expected.js
  test/form/samples/literals-from-return-expressions-deopt/main.js
  test/form/samples/literals-from-return-expressions-perf/_config.js
  test/form/samples/literals-from-return-expressions-perf/_expected.js
  test/form/samples/literals-from-return-expressions-perf/main.js
Due: eslint --fix, prettier --write

feat(www): shorter repl shareables
  docs/repl/helpers/query.ts
Due: none
