Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Provide stub for parseAndWalk
  browser/LICENSE.md
  native.d.ts
  native.js
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  test/function/samples/parse-and-walk-basic/_config.js
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: eslint --fix, prettier --write

First attempt at Rust walking index generation
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/variable_declarator.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  rust/parse_ast/src/lib.rs
  scripts/generate-ast-macros.ts
  scripts/generate-rust-constants.ts
  src/utils/PluginContext.ts
Due: eslint --fix

Add test we do not forget to extend the parseAndWalk tests as needed
  scripts/generate-ast-converters.ts
Due: none

Extend copilot instructions
  .github/copilot-instructions.md
Due: none

Add nodeIds to JavaScript
  scripts/generate-ast-converters.ts
  scripts/generate-node-ids.ts
  src/ast/nodeIds.ts
Due: eslint --fix

Use a single parse function
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
Due: none

Directly use BigUint64 for bitset
  browser/src/wasm.ts
  native.d.ts
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk-basic/_config.js
  test/function/samples/parse-and-walk-basic/main.js
  wasm/bindings_wasm.d.ts
Due: eslint --fix, prettier --write

Make parseAndWalk throw PARSE_ERROR on invalid syntax
  rust/parse_ast/src/ast_nodes/panic_error.rs
  rust/parse_ast/src/ast_nodes/parse_error.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  src/utils/parseAndWalk.ts
  test/cli/samples/watch/bundle-error/_config.js
  test/function/samples/parse-and-walk/parse-ArrayExpression/_config.js
  test/function/samples/parse-and-walk/parse-ParseError/_config.js
  test/function/samples/parse-and-walk/parse-ParseError/main.js
  test/misc/parse-ast.js
Due: eslint --fix, prettier --write

Improve naming slightly
  browser/src/wasm.ts
  native.d.ts
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  wasm/bindings_wasm.d.ts
Due: eslint --fix

Expose parseAndWalk as separate helper
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
Due: eslint --fix

Implement parseChildren logic
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/parseChildren/_config.js
  test/function/samples/parse-and-walk/parseChildren/main.js
Due: eslint --fix, prettier --write

Improve coverage
  scripts/generate-ast-to-buffer.ts
  src/utils/astToBuffer.ts
Due: eslint --fix

Test invalid visitor names
  src/utils/PluginContext.ts
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/invalid-node-visitor-name/_config.js
  test/function/samples/parse-and-walk/invalid-node-visitor-name/main.js
Due: eslint --fix, prettier --write

Implement skipChildren logic
  src/utils/parseAndWalk.ts
  test/function/samples/parse-and-walk/skipChildren/_config.js
  test/function/samples/parse-and-walk/skipChildren/main.js
Due: eslint --fix, prettier --write

Add documentation
  docs/javascript-api/index.md
  docs/plugin-development/index.md
Due: none

Also run AST tests in smoke tests
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
  src/utils/parseAndWalk.ts
Due: eslint --fix

Fix test types
  eslint.config.mjs
  test/cli/samples/config-defineConfig-mjs/_config.js
  test/cli/samples/config-type-module/_config.js
  test/file-hashes/index.js
  test/form/samples/addon-functions/_config.js
  test/function/samples/custom-module-options/_config.js
  test/sourcemaps/index.js
  test/sourcemaps/samples/render-chunk-babili/_config.js
  test/sourcemaps/samples/render-chunk-babili/babili-results.js
  test/testHelpers.d.ts
  test/tsconfig.base.json
Due: eslint --fix, prettier --write

Automatically test types
  package-lock.json
  package.json
  scripts/check-typescript.sh
  test/parse-and-walk/index.js
Due: eslint --fix, prettier --write

Fix types
  patches/fixturify+3.0.0.patch
  rust/parse_ast/src/ast_nodes/parse_error.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Extend AST tests
  test/parse-and-walk/index.js
  test/parse-and-walk/samples/parse-ArrayExpression/_config.js
  test/types.d.ts
Due: eslint --fix, prettier --write

Extend instructions
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Update agent instructions
  .github/copilot-instructions.md
Due: none

Validate bundle stays within output dir
  browser/src/path.ts
  package-lock.json
  src/Bundle.ts
  src/utils/logs.ts
  src/utils/path.ts
  test/browser/samples/error-file-name-absolute-path/_config.js
  test/browser/samples/error-file-name-path-traversal/_config.js
  test/browser/samples/error-file-name-windows-absolute-path/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_expected/main.js
  test/function/samples/error-file-name-absolute-path/_config.js
  test/function/samples/error-file-name-absolute-path/main.js
  test/function/samples/error-file-name-deep-traversal/_config.js
  test/function/samples/error-file-name-deep-traversal/main.js
  test/function/samples/error-file-name-dot-dot/_config.js
  test/function/samples/error-file-name-dot-dot/main.js
  test/function/samples/error-file-name-dot/_config.js
  test/function/samples/error-file-name-dot/main.js
  test/function/samples/error-file-name-escaped-via-filename-property/_config.js
  test/function/samples/error-file-name-escaped-via-filename-property/main.js
  test/function/samples/error-file-name-path-traversal-plugin/_config.js
  test/function/samples/error-file-name-path-traversal-plugin/main.js
  test/function/samples/error-file-name-path-traversal/_config.js
  test/function/samples/error-file-name-path-traversal/main.js
  test/function/samples/error-file-name-windows-absolute-path/_config.js
  test/function/samples/error-file-name-windows-absolute-path/main.js
  test/function/samples/file-name-double-dot-prefix-is-valid/_config.js
  test/function/samples/file-name-double-dot-prefix-is-valid/main.js
  test/function/samples/file-name-leading-dot-slash-is-valid/_config.js
  test/function/samples/file-name-leading-dot-slash-is-valid/main.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/_config.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/main.js
  test/function/samples/file-name-subdirectory-is-valid/_config.js
  test/function/samples/file-name-subdirectory-is-valid/main.js
Due: eslint --fix, prettier --write

Update audit-resolve again
  audit-resolve.json
Due: none

Validate bundle stays within output dir
  browser/src/path.ts
  src/Bundle.ts
  src/utils/logs.ts
  src/utils/path.ts
  test/browser/samples/error-file-name-absolute-path/_config.js
  test/browser/samples/error-file-name-path-traversal/_config.js
  test/browser/samples/error-file-name-windows-absolute-path/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_expected/main.js
  test/function/samples/error-file-name-absolute-path/_config.js
  test/function/samples/error-file-name-absolute-path/main.js
  test/function/samples/error-file-name-deep-traversal/_config.js
  test/function/samples/error-file-name-deep-traversal/main.js
  test/function/samples/error-file-name-dot-dot/_config.js
  test/function/samples/error-file-name-dot-dot/main.js
  test/function/samples/error-file-name-dot/_config.js
  test/function/samples/error-file-name-dot/main.js
  test/function/samples/error-file-name-escaped-via-filename-property/_config.js
  test/function/samples/error-file-name-escaped-via-filename-property/main.js
  test/function/samples/error-file-name-path-traversal-plugin/_config.js
  test/function/samples/error-file-name-path-traversal-plugin/main.js
  test/function/samples/error-file-name-path-traversal/_config.js
  test/function/samples/error-file-name-path-traversal/main.js
  test/function/samples/error-file-name-windows-absolute-path/_config.js
  test/function/samples/error-file-name-windows-absolute-path/main.js
  test/function/samples/file-name-double-dot-prefix-is-valid/_config.js
  test/function/samples/file-name-double-dot-prefix-is-valid/main.js
  test/function/samples/file-name-leading-dot-slash-is-valid/_config.js
  test/function/samples/file-name-leading-dot-slash-is-valid/main.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/_config.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/main.js
  test/function/samples/file-name-subdirectory-is-valid/_config.js
  test/function/samples/file-name-subdirectory-is-valid/main.js
Due: eslint --fix, prettier --write

Validate bundle stays within output dir
  browser/path.ts
  src/Bundle.ts
  src/utils/error.ts
  src/utils/path.ts
  test/browser/samples/error-file-name-absolute-path/_config.js
  test/browser/samples/error-file-name-path-traversal/_config.js
  test/browser/samples/error-file-name-windows-absolute-path/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_expected/main.js
  test/function/samples/error-file-name-absolute-path/_config.js
  test/function/samples/error-file-name-absolute-path/main.js
  test/function/samples/error-file-name-deep-traversal/_config.js
  test/function/samples/error-file-name-deep-traversal/main.js
  test/function/samples/error-file-name-dot-dot/_config.js
  test/function/samples/error-file-name-dot-dot/main.js
  test/function/samples/error-file-name-dot/_config.js
  test/function/samples/error-file-name-dot/main.js
  test/function/samples/error-file-name-escaped-via-filename-property/_config.js
  test/function/samples/error-file-name-escaped-via-filename-property/main.js
  test/function/samples/error-file-name-path-traversal-plugin/_config.js
  test/function/samples/error-file-name-path-traversal-plugin/main.js
  test/function/samples/error-file-name-path-traversal/_config.js
  test/function/samples/error-file-name-path-traversal/main.js
  test/function/samples/error-file-name-windows-absolute-path/_config.js
  test/function/samples/error-file-name-windows-absolute-path/main.js
  test/function/samples/file-name-double-dot-prefix-is-valid/_config.js
  test/function/samples/file-name-double-dot-prefix-is-valid/main.js
  test/function/samples/file-name-leading-dot-slash-is-valid/_config.js
  test/function/samples/file-name-leading-dot-slash-is-valid/main.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/_config.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/main.js
  test/function/samples/file-name-subdirectory-is-valid/_config.js
  test/function/samples/file-name-subdirectory-is-valid/main.js
Due: eslint --fix, prettier --write

Validate bundle stays within output dir (#6277)
  CHANGELOG.md
  browser/path.ts
  src/Bundle.ts
  src/utils/error.ts
  src/utils/path.ts
  test/browser/samples/error-file-name-absolute-path/_config.js
  test/browser/samples/error-file-name-path-traversal/_config.js
  test/browser/samples/error-file-name-windows-absolute-path/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_expected/main.js
  test/function/samples/error-file-name-absolute-path/_config.js
  test/function/samples/error-file-name-absolute-path/main.js
  test/function/samples/error-file-name-deep-traversal/_config.js
  test/function/samples/error-file-name-deep-traversal/main.js
  test/function/samples/error-file-name-dot-dot/_config.js
  test/function/samples/error-file-name-dot-dot/main.js
  test/function/samples/error-file-name-dot/_config.js
  test/function/samples/error-file-name-dot/main.js
  test/function/samples/error-file-name-escaped-via-filename-property/_config.js
  test/function/samples/error-file-name-escaped-via-filename-property/main.js
  test/function/samples/error-file-name-path-traversal-plugin/_config.js
  test/function/samples/error-file-name-path-traversal-plugin/main.js
  test/function/samples/error-file-name-path-traversal/_config.js
  test/function/samples/error-file-name-path-traversal/main.js
  test/function/samples/error-file-name-windows-absolute-path/_config.js
  test/function/samples/error-file-name-windows-absolute-path/main.js
  test/function/samples/file-name-double-dot-prefix-is-valid/_config.js
  test/function/samples/file-name-double-dot-prefix-is-valid/main.js
  test/function/samples/file-name-leading-dot-slash-is-valid/_config.js
  test/function/samples/file-name-leading-dot-slash-is-valid/main.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/_config.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/main.js
  test/function/samples/file-name-subdirectory-is-valid/_config.js
  test/function/samples/file-name-subdirectory-is-valid/main.js
Due: eslint --fix, prettier --write

2.80.0
  package-lock.json
  package.json
Due: none

Validate bundle stays within output dir (#6276)
  CHANGELOG.md
  browser/src/path.ts
  src/Bundle.ts
  src/utils/logs.ts
  src/utils/path.ts
  test/browser/samples/error-file-name-absolute-path/_config.js
  test/browser/samples/error-file-name-path-traversal/_config.js
  test/browser/samples/error-file-name-windows-absolute-path/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_expected/main.js
  test/function/samples/error-file-name-absolute-path/_config.js
  test/function/samples/error-file-name-absolute-path/main.js
  test/function/samples/error-file-name-deep-traversal/_config.js
  test/function/samples/error-file-name-deep-traversal/main.js
  test/function/samples/error-file-name-dot-dot/_config.js
  test/function/samples/error-file-name-dot-dot/main.js
  test/function/samples/error-file-name-dot/_config.js
  test/function/samples/error-file-name-dot/main.js
  test/function/samples/error-file-name-escaped-via-filename-property/_config.js
  test/function/samples/error-file-name-escaped-via-filename-property/main.js
  test/function/samples/error-file-name-path-traversal-plugin/_config.js
  test/function/samples/error-file-name-path-traversal-plugin/main.js
  test/function/samples/error-file-name-path-traversal/_config.js
  test/function/samples/error-file-name-path-traversal/main.js
  test/function/samples/error-file-name-windows-absolute-path/_config.js
  test/function/samples/error-file-name-windows-absolute-path/main.js
  test/function/samples/file-name-double-dot-prefix-is-valid/_config.js
  test/function/samples/file-name-double-dot-prefix-is-valid/main.js
  test/function/samples/file-name-leading-dot-slash-is-valid/_config.js
  test/function/samples/file-name-leading-dot-slash-is-valid/main.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/_config.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/main.js
  test/function/samples/file-name-subdirectory-is-valid/_config.js
  test/function/samples/file-name-subdirectory-is-valid/main.js
Due: eslint --fix, prettier --write

Update release script for backports
  scripts/release.js
Due: none

3.30.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Validate bundle stays within output dir (#6275)
  .github/copilot-instructions.md
  audit-resolve.json
  browser/src/path.ts
  package-lock.json
  src/Bundle.ts
  src/utils/logs.ts
  src/utils/path.ts
  test/browser/samples/error-file-name-absolute-path/_config.js
  test/browser/samples/error-file-name-path-traversal/_config.js
  test/browser/samples/error-file-name-windows-absolute-path/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_config.js
  test/browser/samples/renormalizes-external-paths-past-root/_expected/main.js
  test/function/samples/error-file-name-absolute-path/_config.js
  test/function/samples/error-file-name-absolute-path/main.js
  test/function/samples/error-file-name-deep-traversal/_config.js
  test/function/samples/error-file-name-deep-traversal/main.js
  test/function/samples/error-file-name-dot-dot/_config.js
  test/function/samples/error-file-name-dot-dot/main.js
  test/function/samples/error-file-name-dot/_config.js
  test/function/samples/error-file-name-dot/main.js
  test/function/samples/error-file-name-escaped-via-filename-property/_config.js
  test/function/samples/error-file-name-escaped-via-filename-property/main.js
  test/function/samples/error-file-name-path-traversal-plugin/_config.js
  test/function/samples/error-file-name-path-traversal-plugin/main.js
  test/function/samples/error-file-name-path-traversal/_config.js
  test/function/samples/error-file-name-path-traversal/main.js
  test/function/samples/error-file-name-windows-absolute-path/_config.js
  test/function/samples/error-file-name-windows-absolute-path/main.js
  test/function/samples/file-name-double-dot-prefix-is-valid/_config.js
  test/function/samples/file-name-double-dot-prefix-is-valid/main.js
  test/function/samples/file-name-leading-dot-slash-is-valid/_config.js
  test/function/samples/file-name-leading-dot-slash-is-valid/main.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/_config.js
  test/function/samples/file-name-mid-path-up-then-down-is-valid/main.js
  test/function/samples/file-name-subdirectory-is-valid/_config.js
  test/function/samples/file-name-subdirectory-is-valid/main.js
Due: eslint --fix, prettier --write

Update audit-resolve
  audit-resolve.json
  package-lock.json
Due: none

4.59.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Implementation
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/finalisers/shared/setupNamespace.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/logs.ts
  src/utils/moduleId.ts
  src/utils/options/mergeOptions.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  src/utils/transform.ts
Due: eslint --fix

Add tests
  test/function/samples/import-image-with-different-attributes/_config.js
  test/function/samples/import-image-with-different-attributes/main.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
