Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Port doc changes from #4572 and #4583 to 3.0
  docs/01-command-line-reference.md
Due: none

Port doc changes from #4572 and #4583 to 3.0 (#4592)
  docs/01-command-line-reference.md
Due: none

[v3.0] New hashing algorithm that "fixes (nearly) everything" (#4543)
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/amd/entry-main-5940aabc-amd.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/cjs/entry-main-9cf3a232-cjs.js
Due: none

[v3.0] Change default for output.generatedCode.reservedNamesAsProps (#4568)
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/amd/entry-main-5940aabc-amd.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/cjs/entry-main-9cf3a232-cjs.js
Due: none

[v3.0] New hashing algorithm that "fixes (nearly) everything" (#4543)
  src/Bundle.ts
  src/Chunk.ts
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/amd/entry-main-5940aabc-amd.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/cjs/entry-main-9cf3a232-cjs.js
Due: eslint --fix

Extend documentation
  cli/logging.ts
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
  rollup.config.ts
  src/Bundle.ts
  src/Chunk.ts
  test/browser/samples/missing-dependency-resolution/_config.js
  test/browser/samples/missing-entry-resolution/_config.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/amd/entry-main-5940aabc-amd.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/cjs/entry-main-9cf3a232-cjs.js
  test/function/samples/namespace-reassign-import-fails/_config.js
Due: eslint --fix, prettier --write

Set up browser build
  LICENSE.md
  browser/LICENSE.md
  browser/package.json
  build-plugins/clean-before-write.ts
  build-plugins/generate-license-file.ts
  package.json
  rollup.config.ts
  test/browser/index.js
Due: eslint --fix, prettier --write

Copy types into build
  build-plugins/copy-types.ts
  package.json
  rollup.config.ts
Due: none

Adjust pkg.files
  browser/package.json
  package.json
  rollup.config.ts
Due: none

Finish release script
  package-lock.json
  package.json
  scripts/release.js
Due: none

Generate commithash inline
  build-plugins/generate-license-file.ts
  build-plugins/get-banner.ts
  package.json
  rollup.config.ts
  scripts/update-git-commit.js
Due: none

Chmod executable from rollup config
  build-plugins/add-cli-entry.ts
  package.json
  rollup.config.ts
Due: none

Remove execa
  package-lock.json
  package.json
  scripts/perf-init.js
Due: none

Push correct REPL artefacts
  rollup.config.ts
Due: none

Continue work on release script
  package.json
  scripts/check-release.js
  scripts/helpers.js
  scripts/release.js
Due: none

Work on release script
  .github/workflows/tests.yml
  package-lock.json
  package.json
  scripts/check-release.js
  scripts/colors.js
  scripts/find-config.js
  scripts/helpers.js
  scripts/perf-init.js
  scripts/perf.js
  scripts/release.js
  scripts/test-package.js
  scripts/update-snapshots.js
Due: none

Add Rollup-in-browser example
  docs/06-faqs.md
Due: none

Continue work on release script
  scripts/release.js
Due: none

Add comments to released PRs and issues
  scripts/release.js
Due: none

fixup! [v3.0] New hashing algorithm that "fixes (nearly) everything" (#4543)
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/amd/entry-main-5940aabc-amd.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/cjs/entry-main-9cf3a232-cjs.js
Due: none

[v3.0] Use named export for loadConfigFile
  build-plugins/esm-dynamic-import.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/watch-cli.ts
  docs/02-javascript-api.md
  rollup.config.ts
  scripts/perf.js
  test/load-config-file/index.js
Due: eslint --fix, prettier --write

Only expose files in dist with their full names
  package-lock.json
  package.json
Due: none

Move browser sources to src subfolder
  browser/src/crypto.ts
  browser/src/error.ts
  browser/src/fs.ts
  browser/src/hookActions.ts
  browser/src/package.json
  browser/src/path.ts
  browser/src/performance.ts
  browser/src/process.ts
  browser/src/resolveId.ts
  build-plugins/replace-browser-modules.ts
  src/Chunk.ts
  src/utils/relativeId.ts
Due: eslint --fix

[v3.0] Use named export for loadConfigFile (#4581)
  browser/src/crypto.ts
  browser/src/error.ts
  browser/src/fs.ts
  browser/src/hookActions.ts
  browser/src/path.ts
  browser/src/performance.ts
  browser/src/process.ts
  browser/src/resolveId.ts
  build-plugins/esm-dynamic-import.ts
  build-plugins/replace-browser-modules.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/watch-cli.ts
  docs/02-javascript-api.md
  package-lock.json
  package.json
  rollup.config.ts
  scripts/perf.js
  src/Chunk.ts
  src/utils/relativeId.ts
  test/load-config-file/index.js
Due: eslint --fix, prettier --write

3.0.0-3
  browser/package.json
  package.json
Due: none

Fix release script
  scripts/release.js
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
