Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Inline reference position update into string conversions
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Unify how flags are added
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Lint imports
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
Due: none

Improve error message when running on unsupported MUSL Linux
  native.js
Due: none

Start working on architecture docs
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
Due: none

Extend documentation
  ARCHITECTURE.md
Due: none

Extend documentation
  ARCHITECTURE.md
  src/utils/executionOrder.ts
Due: eslint --fix

Extend documentation
  ARCHITECTURE.md
  src/Chunk.ts
Due: eslint --fix

style&perf: remove args slice
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

perf: export default variable
  src/ast/variables/ExportDefaultVariable.ts
  src/ast/variables/Variable.ts
Due: eslint --fix

The NodeJS architecture is ppc64
  native.js
  npm/linux-powerpc64le-gnu/package.json
Due: none

perf: export default variable
  src/ast/nodes/FunctionDeclaration.ts
Due: eslint --fix

chore: tweak the comment about files should not be edited
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-child-node-keys.js
  scripts/generate-rust-constants.js
  scripts/generate-string-constants.js
  scripts/helpers.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/utils/bufferToAst.ts
  src/utils/convert-ast-strings.ts
Due: eslint --fix

Add test
  test/function/samples/external-namespace-compat/_config.js
  test/function/samples/external-namespace-compat/main.js
Due: eslint --fix, prettier --write

Use better variable name
  src/Chunk.ts
Due: eslint --fix

Ensure reexported namespaces do not prevent creation of default export helpers
  src/Chunk.ts
  test/function/samples/external-namespace-and-default-reexport-compat/_config.js
  test/function/samples/external-namespace-and-default-reexport-compat/main.js
  test/function/samples/external-namespace-and-default-reexport-compat2/_config.js
  test/function/samples/external-namespace-and-default-reexport-compat2/main.js
  test/function/samples/external-namespace-and-default-reexport-compat3/_config.js
  test/function/samples/external-namespace-and-default-reexport-compat3/main.js
Due: eslint --fix, prettier --write

Fix linting
  build-plugins/add-cli-entry.ts
  build-plugins/copy-types.ts
  build-plugins/generate-license-file.ts
  build-plugins/replace-browser-modules.ts
  cli/run/commandPlugins.ts
  cli/run/getConfigPath.ts
  cli/run/loadConfigFile.ts
  docs/plugin-development/index.md
  docs/repl/examples/.eslintrc.json
  native.js
  rollup.config.ts
  scripts/helpers.js
  scripts/prepublish.js
  scripts/publish-wasm-node-package.js
  scripts/update-snapshots.js
  src/watch/watch.ts
  test/browser/index.js
  test/chunking-form/index.js
  test/cli/index.js
  test/cli/samples/log-side-effects/_config.js
  test/cli/samples/logs/_config.js
  test/cli/samples/plugin/absolute-esm/_config.js
  test/cli/samples/plugin/absolute/_config.js
  test/cli/samples/warn-multiple/_config.js
  test/cli/samples/warn-plugin-loc/_config.js
  test/cli/samples/warn-plugin/_config.js
  test/cli/samples/warn-unknown-options/rollup.config.js
  test/form/index.js
  test/form/samples/guessed-global-names/_config.js
  test/form/samples/paths-relative/_config.js
  test/form/samples/relative-external-with-global/_config.js
  test/function/samples/max-parallel-file-operations/error/_config.js
  test/function/samples/relative-external-include-once-two-external/_config.js
  test/function/samples/validate-resolved-by-logic/_config.js
  test/function/samples/warn-misplaced-annotations/_config.js
  test/function/samples/warning-incorrect-sourcemap-location/_config.js
  test/utils.js
  test/watch/index.js
Due: eslint --fix, prettier --write

Add linux arm musl build
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-arm-musleabihf/README.md
  npm/linux-arm-musleabihf/package.json
  package-lock.json
  package.json
Due: none

Use strip = true in Cargo.toml instead
  .github/workflows/build-and-tests.yml
  rust/Cargo.toml
Due: none

style: small updates: naming, private...
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/ExportDefaultVariable.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

perf: LogicalExpression deoptimize cache
  src/ast/nodes/LogicalExpression.ts
Due: eslint --fix

style: remove a condition which is always true
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

style: add protected
  src/ast/nodes/FunctionDeclaration.ts
Due: eslint --fix

style: remove a condition
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

Add ImportAttributesKey to choose keyword ("with" | "assert")
  .vscode/settings.json
  docs/repl/stores/options.ts
  src/finalisers/es.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/index.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_config.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/system.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/main.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_config.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/system.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/main.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_config.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/system.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/main.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Revert settings.json change
  .vscode/settings.json
Due: none

Added documentation for importAttributesKey
  cli/help.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: none

Try adding initial config for ppc64le
  .github/workflows/build-and-tests.yml
Due: none

Comment out any parts of the pipeline we are not working on
  .github/workflows/build-and-tests.yml
Due: none
