Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Extend AST: GetterProperty, AssignmentExpression, NewExpression, FunctionExpression
  src/Graph.ts
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
  src/lib.rs
  test/function/samples/access-instance-prop/_config.js
Due: eslint --fix, prettier --write

Extend AST: IfStatement
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Extend AST: Various Property types
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Extend AST: ExportNamedDeclaration, ForInStatement, ForOfStatement, ForStatement
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Extend AST: StaticBlock, Super
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Extend AST: MetaProperty
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Extend AST: TryStatement, CatchClause, ChainExpression
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Add code_length to struct
  src/convert_ast/converter.rs
  src/lib.rs
Due: none

Extend parsing
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
  test/form/samples/aaa/_config.js
  test/form/samples/aaa/_expected.js
  test/form/samples/aaa/main.js
  test/form/samples/absolute-path-resolver/_config.js
  test/form/samples/absolute-path-resolver/a.js
Due: eslint --fix, prettier --write

Extend AST: ShorthandProperty
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Extend AST: TaggedTemplateExpression, TemplateElement, TemplateLiteral, UnaryExpression, UpdateExpression, YieldExpression
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Extend AST: FunctionDeclaration, ClassDeclaration, ClassBody, ReturnStatement
  src/Graph.ts
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
  src/convert_ast/converter/analyze_code.rs
  src/lib.rs
Due: eslint --fix

Fix line number issue by creating a new sourcemap (and thus compiler) for each run
  src/Graph.ts
  src/lib.rs
Due: eslint --fix

Extend AST: RestElement, SequenceExpression, SwitchCase, SwitchStatement
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Extend AST: Literal<RegExp>, Literal<BigInt>
  src/Graph.ts
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Refine parsing
  native/lib.js
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
  src/lib.rs
Due: eslint --fix

Extend AST: ObjectLiteral, KeyValueProperty
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
Due: eslint --fix

Do not run acorn anymore
  src/Graph.ts
Due: eslint --fix

Minor fixes
  src/Graph.ts
  src/convert_ast/converter.rs
  test/function/samples/namespace-keys-are-sorted/_config.js
Due: eslint --fix, prettier --write

Adapt tests
  Cargo.lock
  Cargo.toml
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/unknown-token-effects/_config.js
Due: eslint --fix, prettier --write

Unicode support
  Cargo.lock
  Cargo.toml
  src/convert_ast/converter.rs
  src/convert_ast/converter/utf16_positions.rs
  src/lib.rs
  test/form/samples/hoisted-vars-in-dead-branches/_expected.js
  test/form/samples/supports-core-js/_config.js
  test/function/samples/arbitrary-module-namespace-identifiers/_config.js
  test/function/samples/namespace-keys-are-sorted/_config.js
  test/function/samples/preserve-symlink/_config.js
  test/function/samples/symlink/_config.js
Due: eslint --fix, prettier --write

Run cargo fmt
  src/convert_ast/converter.rs
  src/convert_ast/converter/analyze_code.rs
  src/lib.rs
Due: none

More fixes
  src/convert_ast/converter.rs
  test/function/samples/export-global/_config.js
  test/function/samples/export-global/main.js
Due: eslint --fix, prettier --write

Finishing Fixes
  src/Graph.ts
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
  test/function/samples/access-instance-prop/_config.js
  test/function/samples/allow-reserved/_config.js
  test/function/samples/arbitrary-module-namespace-identifiers/_config.js
Due: eslint --fix, prettier --write

Handle directives
  src/convert_ast/converter.rs
  src/convert_ast/converter.ts
  test/function/samples/function-asm-directive/main.js
  test/function/samples/function-directive-not-first/main.js
Due: eslint --fix

Fix optional chain expressions
  src/Graph.ts
  src/convert_ast/converter.rs
Due: eslint --fix

Update lockfile
  package-lock.json
Due: none

Add known globals
  src/ast/nodes/shared/knownGlobals.ts
Due: eslint --fix

Minor fixes
  src/Graph.ts
  test/misc/misc.js
Due: eslint --fix

change Object.values/Object.entries to O from PF
  src/ast/nodes/shared/knownGlobals.ts
  test/function/samples/tree-shake-object-with-sideeffctful-getter/_config.js
  test/function/samples/tree-shake-object-with-sideeffctful-getter/main.js
Due: eslint --fix, prettier --write

tree shake Object.entries/values
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/tree-shake-object-with-sideeffctful-getter/_config.js
  test/form/samples/tree-shake-object-with-sideeffctful-getter/_expected.js
  test/form/samples/tree-shake-object-with-sideeffctful-getter/main.js
  test/function/samples/tree-shake-object-with-sideeffctful-getter/main.js
Due: eslint --fix, prettier --write

Move to rust folder
  .gitignore
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/Cargo.toml
  rust/bindings_napi/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/build.rs
  rust/bindings_napi/src/convert_ast.rs
  rust/bindings_napi/src/convert_ast/converter.rs
  rust/bindings_napi/src/convert_ast/converter.ts
  rust/bindings_napi/src/convert_ast/converter/analyze_code.rs
  rust/bindings_napi/src/convert_ast/converter/utf16_positions.rs
  rust/bindings_napi/src/lib.rs
  rust/rustfmt.toml
Due: none

Separate Rust Node bindings to allow adding WASM bindings in another workspace
  .eslintrc.js
  .gitignore
  native/lib.d.ts
  package.json
  rust/Cargo.lock
  rust/Cargo.toml
  rust/bindings_napi/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/convert_ast.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/analyze_code.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  rust/parse_ast/src/lib.rs
  src/Graph.ts
  src/utils/convert-ast.ts
Due: eslint --fix

Make Napi build closer to how rs.napi works
  LICENSE.md
  build-plugins/external-native-import.ts
  build-plugins/link-native-files.ts
  native/lib.js
  package.json
  rollup.config.ts
Due: none

Fix path issues
  build-plugins/external-native-import.ts
  native/lib.js
  package.json
  rollup.config.ts
Due: none

Downgrade lockfile to fix Node 14.18.0
  package-lock.json
  package.json
Due: none

Fix test
  test/form/samples/supports-core-js/_expected.js
Due: none

Downgrade @codemirror/view to fix install on 14.18.0
  package-lock.json
  package.json
Due: none

Fix core-js test
  test/form/samples/supports-core-js/_expected.js
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
