Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update TaggedTemplateExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
Due: eslint --fix

add function return type
  src/utils/resolveId.ts
Due: eslint --fix

simplify
  src/utils/resolveId.ts
Due: eslint --fix

use includes
  src/utils/resolveId.ts
Due: eslint --fix

add method return types
  src/ModuleLoader.ts
Due: eslint --fix

convert to async function
  src/ModuleLoader.ts
Due: eslint --fix

Fix extra quote mark
  docs/05-plugin-development.md
Due: none

remove type declaration
  src/ModuleLoader.ts
Due: eslint --fix

use startsWith
  src/utils/resolveId.ts
Due: eslint --fix

use statement
  src/utils/fs.ts
Due: eslint --fix

use type inference, remove explicit promise type parameter
  src/utils/fs.ts
Due: eslint --fix

add explicit function return type
  src/utils/fs.ts
Due: eslint --fix

use string.prototype.includes
  src/utils/path.ts
Due: eslint --fix

fix: escape dynamic import paths
  src/Chunk.ts
Due: eslint --fix

test: add test
  test/chunking-form/samples/emit-file/emit-chunk/_config.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/amd/main.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/es/main.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/system/main.js
  test/chunking-form/samples/emit-file/emit-chunk/main.js
Due: eslint --fix, prettier --write

modify mkdirpath
  src/utils/fs.ts
Due: eslint --fix

chore: bump rollup, rollup plugins
  package-lock.json
  package.json
Due: none

chore: bump eslint, eslint plugins, prettier
  package-lock.json
  package.json
Due: none

chore: bump typescript, acorn
  package-lock.json
  package.json
Due: none

chore: bump mocha
  package-lock.json
  package.json
Due: none

chore: bump minor versions
  package-lock.json
  package.json
Due: none

chore: bump colorette
  package-lock.json
  package.json
Due: none

fix colorette with factory
  cli/logging.ts
  cli/run/batchWarnings.ts
  cli/run/build.ts
  cli/run/loadConfigFile.ts
  cli/run/timings.ts
  cli/run/waitForInput.ts
  cli/run/watch-cli.ts
  src/utils/colors.ts
Due: eslint --fix

chore: bump husky
  .husky/.gitignore
  package-lock.json
  package.json
Due: none

Make sure this.load waits for modules that are already loading
  src/ModuleLoader.ts
  test/function/samples/preload-loading-module/_config.js
  test/function/samples/preload-loading-module/main.js
Due: eslint --fix, prettier --write

refactor: use set for reserved words
  src/utils/exportNames.ts
  src/utils/generateCodeSnippets.ts
  src/utils/reservedNames.ts
  src/utils/safeName.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
