Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Extract hashing logic
  src/Bundle.ts
  src/Chunk.ts
  src/utils/renderChunk.ts
  src/utils/renderChunks.ts
Due: eslint --fix

Store inputBase on Chunk
  src/Bundle.ts
  src/Chunk.ts
  src/ExternalChunk.ts
  src/utils/FileEmitter.ts
  src/utils/PluginDriver.ts
  src/utils/renderChunks.ts
Due: eslint --fix

Remove graph background colors
  docs/build-hooks.mmd
  docs/output-generation-hooks.mmd
Due: none

Align chunk interfaces
  src/Chunk.ts
  src/ExternalChunk.ts
  src/utils/FileEmitter.ts
  src/utils/deconflictChunk.ts
Due: eslint --fix

Do not run on Node 10
  src/finalisers/amd.ts
  src/finalisers/iife.ts
  src/finalisers/umd.ts
Due: eslint --fix

Replace hash in sourcemap file
  src/Bundle.ts
  src/Chunk.ts
  test/sourcemaps/index.js
  test/sourcemaps/samples/sourcemap-file-hashed/_config.js
  test/sourcemaps/samples/sourcemap-file-hashed/main.js
Due: eslint --fix, prettier --write

Store snippets on Chunk
  src/Bundle.ts
  src/Chunk.ts
  src/utils/renderChunks.ts
Due: eslint --fix

Provide ChunkInfo in banner/footer/intro/outro
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
  src/Bundle.ts
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/addons.ts
  src/utils/error.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/samples/emit-file/set-asset-source/_config.js
  test/chunking-form/samples/emit-file/set-asset-source/_expected/amd/main.js
  test/chunking-form/samples/emit-file/set-asset-source/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/set-asset-source/_expected/es/main.js
  test/chunking-form/samples/emit-file/set-asset-source/_expected/system/main.js
  test/form/samples/addon-functions/_config.js
  test/form/samples/addon-functions/_expected/amd.js
  test/form/samples/addon-functions/_expected/cjs.js
  test/form/samples/addon-functions/_expected/es.js
  test/form/samples/addon-functions/_expected/iife.js
  test/form/samples/addon-functions/_expected/system.js
  test/form/samples/addon-functions/_expected/umd.js
  test/form/samples/addon-functions/main.js
  test/function/samples/emit-file/asset-source-missing3/_config.js
  test/function/samples/emit-file/asset-source-missing4/_config.js
  test/function/samples/emit-file/asset-source-missing5/_config.js
Due: eslint --fix, prettier --write

Improve documentation about hashing
  docs/05-plugin-development.md
  src/ast/nodes/MetaProperty.ts
Due: eslint --fix

Add ExternalChunk wrapper
  src/Bundle.ts
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ExternalModule.ts
  src/utils/deconflictChunk.ts
  src/utils/getStaticDependencies.ts
Due: eslint --fix

Try to fix Windows tests
  test/chunking-form/samples/render-chunk-transform/_config.js
  test/chunking-form/samples/render-chunk/_config.js
  test/form/samples/addon-functions/_config.js
  test/utils.js
Due: eslint --fix, prettier --write

Move dynamicImportFunction warning to options normalization
  src/Chunk.ts
  src/utils/options/normalizeOutputOptions.ts
Due: eslint --fix

Improve coverage
  src/utils/FileEmitter.ts
  test/chunking-form/samples/hashing/random-match/_config.js
  test/chunking-form/samples/hashing/random-match/_expected/amd/entry-45acd559-45acd559-1234.js
  test/chunking-form/samples/hashing/random-match/_expected/cjs/entry-55c0e99e-55c0e99e-1234.js
  test/chunking-form/samples/hashing/random-match/_expected/es/entry-866d3e85-866d3e85-1234.js
  test/chunking-form/samples/hashing/random-match/_expected/system/entry-74248106-74248106-1234.js
Due: eslint --fix, prettier --write

Restructure rendering logic
  src/Chunk.ts
  src/Module.ts
  src/ast/nodes/MetaProperty.ts
  src/finalisers/cjs.ts
  src/finalisers/es.ts
  src/finalisers/index.ts
  src/finalisers/shared/getExportBlock.ts
  src/finalisers/shared/getInteropBlock.ts
  src/finalisers/shared/trimEmptyImports.ts
  src/finalisers/shared/warnOnBuiltins.ts
  src/finalisers/system.ts
  src/utils/error.ts
  src/utils/renderHelpers.ts
Due: eslint --fix

Minor improvements
  src/Chunk.ts
  src/finalisers/amd.ts
  src/finalisers/cjs.ts
  src/finalisers/es.ts
  src/finalisers/iife.ts
  src/finalisers/index.ts
  src/finalisers/system.ts
  src/finalisers/umd.ts
Due: eslint --fix

Update documentation
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
  docs/output-generation-hooks.mmd
Due: none

3.0.0-0
  package-lock.json
  package.json
Due: none

fix: run output plugins last
  src/utils/PluginDriver.ts
Due: eslint --fix

Add test
  test/form/samples/runs-output-plugins-last/_config.js
  test/form/samples/runs-output-plugins-last/_expected.js
  test/form/samples/runs-output-plugins-last/main.js
  test/function/samples/options-in-renderstart/_config.js
Due: eslint --fix, prettier --write

Improve error message for invalid patterns
  src/utils/renderNamePattern.ts
  test/function/samples/invalid-pattern/_config.js
Due: eslint --fix, prettier --write

Convert scripts to ESM, update dependencies
  package-lock.json
  package.json
  scripts/find-config.js
  scripts/load-perf-config.js
  scripts/package.json
  scripts/perf-debug.js
  scripts/perf-init.js
  scripts/perf.js
  scripts/test-package.js
  scripts/update-git-commit.js
  scripts/update-snapshots.js
Due: none

Update dependencies
  package-lock.json
  package.json
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main2.js
  test/cli/samples/plugin/advanced-esm/_expected/cjs.js
  test/cli/samples/plugin/advanced-esm/_expected/es.js
  test/form/samples/supports-core-js/_expected.js
Due: none

Fix lint issue
  scripts/perf.js
Due: none

Add support for absolute plugin paths
  cli/run/commandPlugins.ts
Due: none

Use correct require instance and enable tests
  cli/run/commandPlugins.ts
  test/cli/samples/plugin/absolute-esm/_config.js
  test/cli/samples/plugin/absolute-esm/main.js
  test/cli/samples/plugin/absolute/_config.js
  test/cli/samples/plugin/absolute/main.js
Due: eslint --fix, prettier --write

Extend documentation, add bad URL test
  cli/help.md
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
  src/utils/options/normalizeOutputOptions.ts
  test/function/samples/sourcemap-base-url-invalid/_config.js
  test/function/samples/sourcemap-base-url-invalid/main.js
Due: eslint --fix, prettier --write

Align CLI docs
  cli/help.md
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
Due: none

Deprecate Node 12 (#4548)
  .github/workflows/tests.yml
  LICENSE.md
  package-lock.json
  package.json
  tsconfig.json
Due: none
