Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Always pin digests
  renovate.json
Due: none

Add basic copilot instructions
  .github/copilot-instructions.md
Due: none

Add typecheck for docs folder and fix type errors
  browser/src/fs.ts
  docs/.vitepress/config.ts
  docs/repl/components/BundleOptions.vue
  docs/repl/stores/options.ts
  docs/tsconfig.json
  docs/types.d.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix

Check d.ts files
  .github/actions/install-and-cache-node-deps/action.yml
  docs/declarations.d.ts
  docs/tsconfig.json
  package-lock.json
  package.json
  patches/@types+rimraf+3.0.2.patch
  patches/@vueuse+core+12.8.2.patch
  patches/vitepress+1.6.4.patch
  tsconfig.json
Due: none

Do not swallow warnings in form tests
  test/form/index.js
Due: eslint --fix, prettier --write

Also shuffle chunking-form formats
  test/chunking-form/index.js
Due: eslint --fix, prettier --write

Add test to demonstrate missing deconflicting
  test/incremental/index.js
Due: eslint --fix, prettier --write

remove some of the diff
  src/Chunk.ts
  src/utils/deconflictChunk.ts
Due: eslint --fix

init
  package.json
  src/Chunk.ts
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/deconflictChunk.ts
  src/utils/timers.ts
  src/utils/transform.ts
Due: eslint --fix

remove some of the diff
  package.json
  src/utils/timers.ts
Due: eslint --fix

lint
  src/ExternalModule.ts
  src/Module.ts
  src/utils/transform.ts
Due: eslint --fix

add safe variable names to usedNames
  src/utils/deconflictChunk.ts
Due: eslint --fix

Object.getOwnPropertyDescriptor
  src/utils/deconflictChunk.ts
Due: eslint --fix

fix order issue
  src/utils/deconflictChunk.ts
  test/chunking-form/index.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information-no-cache/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: eslint --fix, prettier --write

check if the cached safe name was not by a newly updated module that sits earlier in the order
  src/utils/deconflictChunk.ts
Due: eslint --fix

resolve reviews partially (except the last item)
  src/Chunk.ts
  src/ast/scopes/ChildScope.ts
  src/utils/RESERVED_NAMES.ts
  src/utils/deconflictChunk.ts
  test/chunking-form/index.js
Due: eslint --fix, prettier --write

fix nearly 40 tests for a small change
  src/utils/deconflictChunk.ts
Due: eslint --fix

all tests are working now
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/utils/deconflictChunk.ts
  test/form/index.js
  test/form/samples/no-treeshake-default-export-conflict/_expected.js
  test/form/samples/system-multiple-export-bindings/_expected.js
Due: eslint --fix, prettier --write

remove the comment
  src/ast/scopes/ChildScope.ts
Due: eslint --fix

all tests are working now
  test/form/index.js
  test/form/samples/supports-es5-shim/_expected.js
Due: eslint --fix, prettier --write

update some tests to reflect the reserved used names set
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-c.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module2.js
  test/form/samples/system-module-reserved/_expected/es.js
Due: none

update some tests to respect reserved names and reserved used names
  test/form/samples/deconflict-format-specific-exports/_expected/amd.js
  test/form/samples/deconflict-format-specific-exports/_expected/cjs.js
  test/form/samples/deconflict-format-specific-exports/_expected/es.js
  test/form/samples/deconflict-format-specific-exports/_expected/system.js
  test/form/samples/deconflict-format-specific-exports/_expected/umd.js
  test/form/samples/protect-cjs-globals/_expected/amd.js
  test/form/samples/protect-cjs-globals/_expected/es.js
  test/form/samples/protect-cjs-globals/_expected/iife.js
  test/form/samples/protect-cjs-globals/_expected/system.js
  test/form/samples/protect-cjs-globals/_expected/umd.js
Due: none

only 5 failing tests now
  test/form/samples/deconflict-format-specific-exports/_expected/iife.js
  test/form/samples/deconflict-format-specific-exports/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/amd.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/es.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/system.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/sequence-expression/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: none

Make default export conflict detection more robust
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/ast/scopes/ModuleScope.ts
  src/ast/variables/ExportDefaultVariable.ts
  test/incremental/index.js
Due: eslint --fix, prettier --write

Add test that changing formats does not cause issues
  test/incremental/index.js
Due: eslint --fix, prettier --write

Sort lines
  src/utils/RESERVED_NAMES.ts
Due: eslint --fix

Disable format shuffling for globals test
  test/form/index.js
  test/form/samples/deconflict-format-specific-globals/_config.js
  test/types.d.ts
Due: eslint --fix, prettier --write

Add explanatory comment
  src/utils/deconflictChunk.ts
Due: eslint --fix

Fix audit
  package-lock.json
  package.json
Due: none

Fix linting
  package-lock.json
Due: none

feat: Add OpenBSD support for x64 and arm64 architectures
  .github/workflows/build-and-tests.yml
  native.js
  npm/openbsd-arm64/README.md
  npm/openbsd-arm64/package.json
  npm/openbsd-x64/README.md
  npm/openbsd-x64/package.json
  package.json
  rust/bindings_napi/Cargo.toml
Due: none

fix: Exclude OpenBSD aarch64 from mimalloc allocator
  rust/bindings_napi/src/lib.rs
Due: none

Fix for SWC update
  .github/copilot-instructions.md
  rust/parse_ast/src/ast_nodes/block_statement.rs
  rust/parse_ast/src/ast_nodes/directive.rs
  rust/parse_ast/src/ast_nodes/literal_string.rs
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/template_element.rs
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

4.53.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Update postinstall script to handle missing patch-package when rollup is installed as a dependency
  package.json
Due: none

fix: patch-package error
  package-lock.json
  package.json
  patches/@types+rimraf+3.0.2.dev.patch
  patches/@vueuse+core+12.8.2.dev.patch
  patches/vitepress+1.6.4.dev.patch
Due: none
