Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[v5.0] Require Node.js 22.12.0 and update mocha to v12
  .c8rc
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  .gitignore
  .nycrc
  docs/migration/index.md
  package-lock.json
  package.json
  renovate.json
  scripts/coverage-rust.sh
  test/AGENTS.md
Due: none

[v5.0] Update @inquirer/prompts to v8
  package-lock.json
  package.json
  renovate.json
Due: none

[v5.0] Update @napi-rs/cli to 3.10.5
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  npm/android-arm-eabi/package.json
  npm/android-arm64/package.json
  npm/darwin-arm64/package.json
  npm/darwin-x64/package.json
  npm/freebsd-arm64/package.json
  npm/freebsd-x64/package.json
  npm/linux-arm-gnueabihf/package.json
  npm/linux-arm-musleabihf/package.json
  npm/linux-arm64-gnu/package.json
  npm/linux-arm64-musl/package.json
  npm/linux-loong64-gnu/package.json
  npm/linux-loong64-musl/package.json
  npm/linux-ppc64-gnu/package.json
  npm/linux-ppc64-musl/package.json
  npm/linux-riscv64-gnu/package.json
  npm/linux-riscv64-musl/package.json
  npm/linux-s390x-gnu/package.json
  npm/linux-x64-gnu/package.json
  npm/linux-x64-musl/package.json
  npm/openbsd-x64/package.json
  npm/openharmony-arm64/package.json
  npm/win32-arm64-msvc/package.json
  npm/win32-ia32-msvc/package.json
  npm/win32-x64-gnu/package.json
  npm/win32-x64-msvc/package.json
  package-lock.json
  package.json
Due: none

[v5.0] Update yargs-parser to v22
  package-lock.json
  package.json
  renovate.json
Due: none

[v5.0] Pin @napi-rs/cli to 3.7.4
  package-lock.json
  package.json
  renovate.json
Due: none

[v5.0] Require Node.js 22.0.0 and npm 10.5.1
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  docs/command-line-interface/index.md
  docs/migration/index.md
  package-lock.json
  package.json
  renovate.json
  test/cli/samples/config-import-attributes-key/_config.js
  test/function/samples/use-class-name-in-static-block/_config.js
  tsconfig.json
Due: eslint --fix, prettier --write

[v5.0] Update @rollup/plugin-terser to v1
  package-lock.json
  package.json
  renovate.json
Due: none

[v5.0] Update concurrently to v10
  package-lock.json
  package.json
  renovate.json
Due: none

fix: invalidate the module cache when the load sourcemap changed
  src/ModuleLoader.ts
  src/utils/decodedSourcemap.ts
  test/incremental/index.js
  test/watch/index.js
Due: eslint --fix, prettier --write

Track indent exclusion ranges in Rollup instead of magic-string internals
  src/Chunk.ts
  src/Module.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/TemplateLiteral.ts
Due: eslint --fix

Clarify sourcemap inputs used for chunk hashes
  src/utils/renderChunks.ts
Due: eslint --fix

Import external re-exports used by shared-chunk namespace objects
  src/Chunk.ts
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/amd.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/es.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/iife.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/system.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/umd.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/amd.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/es.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/iife.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/system.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/umd.js
  test/form/samples/generated-code/arrow-functions-false/_expected/amd.js
  test/form/samples/generated-code/arrow-functions-false/_expected/cjs.js
  test/form/samples/generated-code/arrow-functions-false/_expected/es.js
  test/form/samples/generated-code/arrow-functions-false/_expected/iife.js
  test/form/samples/generated-code/arrow-functions-false/_expected/system.js
  test/form/samples/generated-code/arrow-functions-false/_expected/umd.js
  test/form/samples/generated-code/arrow-functions-true/_expected/amd.js
  test/form/samples/generated-code/arrow-functions-true/_expected/cjs.js
  test/form/samples/generated-code/arrow-functions-true/_expected/es.js
  test/form/samples/generated-code/arrow-functions-true/_expected/iife.js
  test/form/samples/generated-code/arrow-functions-true/_expected/system.js
  test/form/samples/generated-code/arrow-functions-true/_expected/umd.js
  test/function/samples/namespace-external-reexports-shared-chunk/_config.js
  test/function/samples/namespace-external-reexports-shared-chunk/api.js
  test/function/samples/namespace-external-reexports-shared-chunk/helpers.js
  test/function/samples/namespace-external-reexports-shared-chunk/main.js
  test/function/samples/namespace-external-reexports-shared-chunk/other.js
Due: eslint --fix, prettier --write

Import external re-exports used by shared-chunk namespace objects (#6540)
  src/Chunk.ts
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/amd.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/es.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/iife.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/system.js
  test/form/samples/generated-code-compact/arrow-functions-false/_expected/umd.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/amd.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/cjs.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/es.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/iife.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/system.js
  test/form/samples/generated-code-compact/arrow-functions-true/_expected/umd.js
  test/form/samples/generated-code/arrow-functions-false/_expected/amd.js
  test/form/samples/generated-code/arrow-functions-false/_expected/cjs.js
  test/form/samples/generated-code/arrow-functions-false/_expected/es.js
  test/form/samples/generated-code/arrow-functions-false/_expected/iife.js
  test/form/samples/generated-code/arrow-functions-false/_expected/system.js
  test/form/samples/generated-code/arrow-functions-false/_expected/umd.js
  test/form/samples/generated-code/arrow-functions-true/_expected/amd.js
  test/form/samples/generated-code/arrow-functions-true/_expected/cjs.js
  test/form/samples/generated-code/arrow-functions-true/_expected/es.js
  test/form/samples/generated-code/arrow-functions-true/_expected/iife.js
  test/form/samples/generated-code/arrow-functions-true/_expected/system.js
  test/form/samples/generated-code/arrow-functions-true/_expected/umd.js
  test/function/samples/namespace-external-reexports-shared-chunk/_config.js
  test/function/samples/namespace-external-reexports-shared-chunk/api.js
  test/function/samples/namespace-external-reexports-shared-chunk/helpers.js
  test/function/samples/namespace-external-reexports-shared-chunk/main.js
  test/function/samples/namespace-external-reexports-shared-chunk/other.js
Due: eslint --fix, prettier --write

Run additional tests as part of the coverage job
  .github/workflows/build-and-tests.yml
  package.json
  scripts/coverage-rust.sh
Due: none

Share the WASM cargo cache between the wasm and wasm-node builds
  .github/workflows/build-and-tests.yml
  .github/workflows/repl-artefacts.yml
Due: none

Stop caching the cargo registry
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

Install the leak test dependency before the coverage tests run
  .github/workflows/build-and-tests.yml
  package.json
Due: none

Deduplicate coverage collection
  .github/workflows/build-and-tests.yml
  package.json
  scripts/coverage-rust.sh
  scripts/coverage.sh
Due: none

Make the instrumented test command cross-platform
  package.json
  scripts/run-with-coverage-environment.js
Due: none

4.63.6
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Ignore tmp directory
  .gitignore
Due: none

Run additional tests as part of the coverage job (#6542)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  .gitignore
  package.json
  scripts/coverage-rust.sh
  scripts/coverage.sh
  scripts/run-with-coverage-environment.js
Due: none

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/destructure-function-length/_config.js
  test/function/samples/destructure-function-length/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

[v5.0] Update chokidar to v5 (#6531)
  LICENSE.md
  package-lock.json
  package.json
  rollup.config.ts
Due: none

[v5.0] Require Node.js 22.12.0 (#6532)
  .c8rc
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  .gitignore
  .nycrc
  docs/command-line-interface/index.md
  docs/migration/index.md
  npm/android-arm-eabi/package.json
  npm/android-arm64/package.json
  npm/darwin-arm64/package.json
  npm/darwin-x64/package.json
  npm/freebsd-arm64/package.json
  npm/freebsd-x64/package.json
  npm/linux-arm-gnueabihf/package.json
  npm/linux-arm-musleabihf/package.json
  npm/linux-arm64-gnu/package.json
  npm/linux-arm64-musl/package.json
  npm/linux-loong64-gnu/package.json
  npm/linux-loong64-musl/package.json
  npm/linux-ppc64-gnu/package.json
  npm/linux-ppc64-musl/package.json
  npm/linux-riscv64-gnu/package.json
  npm/linux-riscv64-musl/package.json
  npm/linux-s390x-gnu/package.json
  npm/linux-x64-gnu/package.json
  npm/linux-x64-musl/package.json
  npm/openbsd-x64/package.json
  npm/openharmony-arm64/package.json
  npm/win32-arm64-msvc/package.json
  npm/win32-ia32-msvc/package.json
  npm/win32-x64-gnu/package.json
  npm/win32-x64-msvc/package.json
  package-lock.json
  package.json
  renovate.json
  scripts/run-with-coverage-environment.js
  test/AGENTS.md
  test/cli/samples/config-import-attributes-key/_config.js
  test/function/samples/use-class-name-in-static-block/_config.js
  tsconfig.json
Due: eslint --fix, prettier --write

Default onlyExplicitManualChunks to true for the function form of manualChunks
  src/rollup/types.d.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/samples/manual-chunks-function/_config.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-dep1.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-dep2.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-dep1.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-dep2.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-dep1.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-dep2.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-chunk-c.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-dep1.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-dep2.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/main-a.js
  test/function/samples/manual-chunks-default-empty-object/_config.js
  test/function/samples/manual-chunks-default-empty-object/main.js
  test/function/samples/manual-chunks-default-function-form/_config.js
  test/function/samples/manual-chunks-default-function-form/main.js
  test/function/samples/manual-chunks-default-object-form/_config.js
  test/function/samples/manual-chunks-default-object-form/lib.js
  test/function/samples/manual-chunks-default-object-form/main.js
  test/function/samples/manual-chunks-default-output-options-hook/_config.js
  test/function/samples/manual-chunks-default-output-options-hook/main.js
  test/function/samples/manual-chunks-default-override-function-form/_config.js
  test/function/samples/manual-chunks-default-override-function-form/main.js
  test/function/samples/manual-chunks-default-override-object-form/_config.js
  test/function/samples/manual-chunks-default-override-object-form/lib.js
  test/function/samples/manual-chunks-default-override-object-form/main.js
  test/function/samples/manual-chunks-default-unset/_config.js
  test/function/samples/manual-chunks-default-unset/main.js
Due: eslint --fix, prettier --write

Record dynamic import edges for every entry that statically reaches them
  src/utils/chunkAssignment.ts
  test/function/samples/dynamic-import-shared-later-entry/D.js
  test/function/samples/dynamic-import-shared-later-entry/I.js
  test/function/samples/dynamic-import-shared-later-entry/J.js
  test/function/samples/dynamic-import-shared-later-entry/_config.js
  test/function/samples/dynamic-import-shared-later-entry/e1.js
  test/function/samples/dynamic-import-shared-later-entry/e2.js
  test/function/samples/dynamic-import-shared-later-entry/main.js
  test/function/samples/dynamic-import-shared-later-entry/x.js
Due: eslint --fix, prettier --write

Emit fully tree-shaken implicit entry modules
  src/Module.ts
  test/function/samples/manual-chunk-implicitly-emitted-empty-member/_config.js
  test/function/samples/manual-chunk-implicitly-emitted-empty-member/implicit.js
  test/function/samples/manual-chunk-implicitly-emitted-empty-member/main.js
  test/function/samples/preserve-modules-implicitly-emitted-empty-chunk/_config.js
  test/function/samples/preserve-modules-implicitly-emitted-empty-chunk/implicit.js
  test/function/samples/preserve-modules-implicitly-emitted-empty-chunk/main.js
Due: eslint --fix, prettier --write

Avoid the TypeScript compiler crash in manual chunk test configs
  test/chunking-form/samples/manual-chunk-member-in-tla-cycle/_config.js
  test/chunking-form/samples/manual-chunks-entry-mode-cycle/_config.js
Due: eslint --fix, prettier --write

Add tests for dynamically loaded manual chunks
  test/chunking-form/samples/circular-chunk-without-manual-chunks/_config.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/_expected/es/generated-b.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/_expected/es/generated-tla.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/_expected/es/main.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/_expected/system/generated-b.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/_expected/system/generated-tla.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/_expected/system/main.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/a.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/b.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/main.js
  test/chunking-form/samples/circular-chunk-without-manual-chunks/tla.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/_config.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/_expected/es/generated-manual.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/_expected/es/generated-shared.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/_expected/es/main.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/_expected/system/generated-manual.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/_expected/system/generated-shared.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/_expected/system/main.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/m.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/main.js
  test/chunking-form/samples/manual-chunk-awaited-dynamic-member/shared.js
  test/chunking-form/samples/manual-chunk-implicitly-loaded-member/_config.js
  test/chunking-form/samples/manual-chunk-implicitly-loaded-member/_expected/es/generated-implicit.js
  test/chunking-form/samples/manual-chunk-implicitly-loaded-member/_expected/es/main.js
  test/chunking-form/samples/manual-chunk-implicitly-loaded-member/_expected/system/generated-implicit.js
  test/chunking-form/samples/manual-chunk-implicitly-loaded-member/_expected/system/main.js
  test/chunking-form/samples/manual-chunk-implicitly-loaded-member/implicit.js
  test/chunking-form/samples/manual-chunk-implicitly-loaded-member/main.js
  test/chunking-form/samples/manual-chunk-implicitly-loaded-member/shared.js
Due: eslint --fix, prettier --write

Simplify manual chunk handling in the chunk assignment algorithm
  src/utils/chunkAssignment.ts
  src/utils/logs.ts
Due: eslint --fix

Name the non-manual chunk in the circular chunk warning by identity
  src/Bundle.ts
  src/utils/logs.ts
  test/function/samples/circular-chunks-warning-with-colliding-chunk-names/_config.js
  test/function/samples/circular-chunks-warning-with-colliding-chunk-names/a.js
  test/function/samples/circular-chunks-warning-with-colliding-chunk-names/b.js
  test/function/samples/circular-chunks-warning-with-colliding-chunk-names/c.js
  test/function/samples/circular-chunks-warning-with-colliding-chunk-names/main.js
Due: eslint --fix, prettier --write

Align chunk key factory naming with existing terminology
  src/utils/chunkAssignment.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
