Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Name the chunk key factory input after the data it uses
  src/utils/chunkAssignment.ts
Due: eslint --fix

Document the reworked manual chunk behavior
  docs/configuration-options/index.md
  docs/migration/index.md
  src/rollup/types.d.ts
Due: eslint --fix

Use Mocha's built-in github-actions reporter for CI test reports
  .mocharc.cjs
Due: none

Retain callbacks of helper methods called from try statements (#6538)
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/side-effect-e/_expected.js
  test/form/samples/try-statement-deoptimization/follow-properties/_config.js
  test/form/samples/try-statement-deoptimization/follow-properties/_expected.js
  test/form/samples/try-statement-deoptimization/follow-properties/main.js
  test/form/samples/unresolved-property-call-arguments/_config.js
  test/form/samples/unresolved-property-call-arguments/_expected.js
  test/form/samples/unresolved-property-call-arguments/main.js
  test/form/samples/unresolved-property-call-arguments/other.js
  test/function/samples/try-catch-deoptimization-property-helper/_config.js
  test/function/samples/try-catch-deoptimization-property-helper/main.js
  test/function/samples/try-catch-deoptimization-property-helper/remote-helpers.js
Due: eslint --fix, prettier --write

Retain callbacks of CommonJS feature detection helpers (#6538)
  src/ast/nodes/Identifier.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/Variable.ts
  test/form/samples/argument-deoptimization/return-function-deoptimization/_expected.js
  test/form/samples/object-expression/return-expressions/_expected.js
  test/form/samples/same-variable-returns/_config.js
  test/form/samples/same-variable-returns/_expected.js
  test/form/samples/same-variable-returns/main.js
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/try-statement-deoptimization/reassigned-helper-cross-assignments/_config.js
  test/form/samples/try-statement-deoptimization/reassigned-helper-cross-assignments/_expected.js
  test/form/samples/try-statement-deoptimization/reassigned-helper-cross-assignments/main.js
  test/form/samples/try-statement-deoptimization/reassigned-helpers-deactivated/_config.js
  test/form/samples/try-statement-deoptimization/reassigned-helpers-deactivated/_expected.js
  test/form/samples/try-statement-deoptimization/reassigned-helpers-deactivated/main.js
  test/form/samples/try-statement-deoptimization/reassigned-helpers/_config.js
  test/form/samples/try-statement-deoptimization/reassigned-helpers/_expected.js
  test/form/samples/try-statement-deoptimization/reassigned-helpers/main.js
  test/function/samples/try-catch-deoptimization-reassigned-helper/_config.js
  test/function/samples/try-catch-deoptimization-reassigned-helper/main.js
Due: eslint --fix, prettier --write

change default importAttributesKey from assert to with
  docs/configuration-options/index.md
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
Due: eslint --fix

Remove includeCallArguments in favor of the path-based variant
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/PromiseHandler.ts
Due: eslint --fix

[v5.0] Pretend sample test failures happen in the config file
  test/testHelpers.js
Due: none

Add typings for the test failure location wrappers
  test/testHelpers.js
Due: none

Track visited possible values per path when including reassigned call arguments
  src/ast/ExecutionContext.ts
  src/ast/variables/LocalVariable.ts
  test/function/samples/try-catch-deoptimization-reassigned-helper/main.js
Due: eslint --fix

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/typescript/tsconfig.json
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/destructure-function-length/_config.js
  test/function/samples/destructure-function-length/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

[v5.0] Update chokidar to v5 (#6531)
  LICENSE.md
  package-lock.json
  package.json
  rollup.config.ts
Due: none

[v5.0] Require Node.js 22.12.0 (#6532)
  .c8rc
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  .gitignore
  .nycrc
  docs/command-line-interface/index.md
  docs/migration/index.md
  npm/android-arm-eabi/package.json
  npm/android-arm64/package.json
  npm/darwin-arm64/package.json
  npm/darwin-x64/package.json
  npm/freebsd-arm64/package.json
  npm/freebsd-x64/package.json
  npm/linux-arm-gnueabihf/package.json
  npm/linux-arm-musleabihf/package.json
  npm/linux-arm64-gnu/package.json
  npm/linux-arm64-musl/package.json
  npm/linux-loong64-gnu/package.json
  npm/linux-loong64-musl/package.json
  npm/linux-ppc64-gnu/package.json
  npm/linux-ppc64-musl/package.json
  npm/linux-riscv64-gnu/package.json
  npm/linux-riscv64-musl/package.json
  npm/linux-s390x-gnu/package.json
  npm/linux-x64-gnu/package.json
  npm/linux-x64-musl/package.json
  npm/openbsd-x64/package.json
  npm/openharmony-arm64/package.json
  npm/win32-arm64-msvc/package.json
  npm/win32-ia32-msvc/package.json
  npm/win32-x64-gnu/package.json
  npm/win32-x64-msvc/package.json
  package-lock.json
  package.json
  renovate.json
  scripts/run-with-coverage-environment.js
  test/AGENTS.md
  test/cli/samples/config-import-attributes-key/_config.js
  test/function/samples/use-class-name-in-static-block/_config.js
  tsconfig.json
Due: eslint --fix, prettier --write

[v5.0] Add Mocha GitHub Actions test reports (#6548)
  .mocharc.cjs
  test/testHelpers.js
Due: none

Add test for call argument inclusion via integer keys
  test/form/samples/try-statement-deoptimization/integer-keys/_config.js
  test/form/samples/try-statement-deoptimization/integer-keys/_expected.js
  test/form/samples/try-statement-deoptimization/integer-keys/main.js
Due: eslint --fix, prettier --write

Rename possibleValuesTracker to includedCallArgumentsOfPossibleValues
  src/ast/ExecutionContext.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

4.64.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(ci): remove unused rust-src components
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
Due: none

chore: update Rust nightly to 2026-10-03 for Rollup 5
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  rust-toolchain.toml
  rust/AGENTS.md
  rust/bindings_wasm/.cargo/config.toml
Due: none

Retain instance field initializers with side effects when instantiating a class
  src/ast/nodes/shared/ClassNode.ts
  test/form/samples/class-instance-field-side-effects/_config.js
  test/form/samples/class-instance-field-side-effects/_expected.js
  test/form/samples/class-instance-field-side-effects/main.js
  test/function/samples/class-instance-field-initializers-run/_config.js
  test/function/samples/class-instance-field-initializers-run/main.js
Due: eslint --fix, prettier --write

Resolve audit
  audit-resolve.json
Due: none

chore(ci): remove redundant rust-src setup (#6552)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  audit-resolve.json
Due: none

Preserve build errors when closeBundle fails
  docs/plugin-development/index.md
  src/rollup/rollup.ts
  test/function/samples/close-bundle-error/build-end/_config.js
  test/function/samples/close-bundle-error/build-end/main.js
  test/function/samples/close-bundle-error/build/_config.js
  test/function/samples/close-bundle-error/build/main.js
  test/function/samples/close-bundle-error/compound/_config.js
  test/function/samples/close-bundle-error/compound/main.js
  test/function/samples/close-bundle-error/standalone/_config.js
  test/function/samples/close-bundle-error/standalone/main.js
  test/function/samples/close-bundle-error/successful-cleanup/_config.js
  test/function/samples/close-bundle-error/successful-cleanup/main.js
Due: eslint --fix, prettier --write

[v5.0] Rename changelog
  CHANGELOG-4.md
Due: none

[v5.0] Update to chokidar v4 (#5778)
  .github/workflows/build-and-tests.yml
  CHANGELOG.md
  LICENSE.md
  build-plugins/fs-events-replacement.ts
  cli/run/index.ts
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/troubleshooting/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/test-package.js
  src/rollup/types.d.ts
  src/watch/fsevents-importer.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  typings/fsevents.ts
Due: eslint --fix

[v5.0] Use "with" as the keyword of import attributes by default (#6248)
  CHANGELOG.md
  docs/configuration-options/index.md
  docs/repl/stores/options.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/urls.ts
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/escapes-attribute-values/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_config.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_config.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_config.js
  test/form/samples/import-attributes/keeps-static-attributes/_expected/es.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/_expected.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/_expected.js
  test/function/samples/deprecations/importAttributesKey/_config.js
  test/function/samples/deprecations/importAttributesKey/main.js
  test/function/samples/destructure-function-length/_config.js
  test/function/samples/destructure-function-length/main.js
  test/function/samples/output-options-hook/_config.js
Due: eslint --fix, prettier --write

[v5.0] Update chokidar to v5 (#6531)
  CHANGELOG.md
  LICENSE.md
  package-lock.json
  package.json
  rollup.config.ts
Due: none
