Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "eslint --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore: convert buffer parser script
  scripts/generate-buffer-parsers.js
Due: none

chore: convert buffer to ast script
  scripts/generate-buffer-to-ast.js
Due: none

fix: initialize body as empty array if no position
  src/ast/bufferParsers.ts
Due: eslint --fix

Tree-shaking the namespace if it is passed to function
  src/ast/nodes/MemberExpression.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/Variable.ts
  test/chunking-form/samples/dynamic-import-with-namespace-5/_config.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/amd/generated-module.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/cjs/generated-module.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/es/generated-module.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/system/generated-module.js
Due: eslint --fix, prettier --write

Optimize tree-shaking for ParameterVariable
  src/ast/variables/ParameterVariable.ts
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/amd/generated-module.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/amd/main.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/cjs/generated-module.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/cjs/main.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/es/generated-module.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/es/main.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/system/generated-module.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/_expected/system/main.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/main.js
  test/chunking-form/samples/dynamic-import-with-namespace-5/module.js
Due: eslint --fix

Reduce performance overhead
  src/ast/nodes/ObjectPattern.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

Make the path a required parameter for includeVariableInModule
  src/Module.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/Super.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
Due: eslint --fix

Implement basic object expression tree-shaking
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/shared/ObjectEntity.ts
  test/form/samples/computed-properties/_expected.js
  test/form/samples/computed-properties/_expected/amd.js
  test/form/samples/computed-properties/_expected/cjs.js
  test/form/samples/computed-properties/_expected/iife.js
  test/form/samples/computed-properties/_expected/system.js
  test/form/samples/computed-properties/_expected/umd.js
  test/form/samples/deep-properties-access/_expected.js
  test/form/samples/deep-properties/_expected.js
  test/form/samples/minimal-this-mutation/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-nested-props/_config.js
  test/form/samples/object-expression-treeshaking/remove-unused-nested-props/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-nested-props/main.js
  test/form/samples/object-expression-treeshaking/remove-unused-props/_config.js
  test/form/samples/object-expression-treeshaking/remove-unused-props/_expected.js
  test/form/samples/object-expression-treeshaking/remove-unused-props/main.js
  test/form/samples/object-literal-property-overwrites/_expected.js
  test/form/samples/optional-chaining-namespace/_expected.js
  test/form/samples/optional-chaining-null-values/_expected.js
  test/form/samples/side-effects-getters-and-setters/_expected.js
  test/form/samples/side-effects-logical-expressions/_expected/amd.js
  test/form/samples/side-effects-logical-expressions/_expected/cjs.js
  test/form/samples/side-effects-logical-expressions/_expected/es.js
  test/form/samples/side-effects-logical-expressions/_expected/iife.js
  test/form/samples/side-effects-logical-expressions/_expected/system.js
  test/form/samples/side-effects-logical-expressions/_expected/umd.js
  test/form/samples/side-effects-object-literal-mutation/_expected.js
  test/function/samples/object-expression-treeshaking/exports/_config.js
  test/function/samples/object-expression-treeshaking/exports/main.js
  test/function/samples/object-expression-treeshaking/object-side-effects/_config.js
  test/function/samples/object-expression-treeshaking/object-side-effects/main.js
Due: eslint --fix, prettier --write

Improve order of properties in file
  src/ast/nodes/shared/FunctionBase.ts
Due: eslint --fix

Ensure we do not confuse arguments and parameters by name
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/scopes/FunctionScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

include UNKNOWN_PATH for externalVariable and syntheticNamespace
  src/Module.ts
Due: eslint --fix

preserve the object on the right side of the global assignment
  src/ast/nodes/AssignmentExpression.ts
  test/function/samples/object-tree-shaking-for-global-assignment/_config.js
  test/function/samples/object-tree-shaking-for-global-assignment/main.js
Due: eslint --fix, prettier --write

make code more concise
  src/ast/nodes/ObjectPattern.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

extends InclusionContext to include currentIncludedParameter
  src/ast/ExecutionContext.ts
  src/ast/variables/ParameterVariable.ts
  test/function/samples/object-tree-shaking-in-function-self-call/_config.js
  test/function/samples/object-tree-shaking-in-function-self-call/main.js
Due: eslint --fix, prettier --write

preserve additionalInitializers
  src/ast/variables/LocalVariable.ts
  test/function/samples/preserve-var-declaration/_config.js
  test/function/samples/preserve-var-declaration/main.js
Due: eslint --fix, prettier --write

Track arguments
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

Only explicitly re-include non-empty paths
  src/Module.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/Super.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/IdentifierBase.ts
Due: eslint --fix

wrap double brackets to empty object
  src/ast/nodes/ObjectExpression.ts
  test/function/samples/wrap-empty-object-with-double-brackets/_config.js
  test/function/samples/wrap-empty-object-with-double-brackets/main.js
Due: eslint --fix, prettier --write

avoid excessive object tree-shaking for parameters
  src/ast/nodes/Property.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/variables/ParameterVariable.ts
  test/function/samples/object-tree-shaking-for-parameter/_config.js
  test/function/samples/object-tree-shaking-for-parameter/main.js
Due: eslint --fix, prettier --write

extend the includeVariableInModule function to take path
  src/Module.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
  test/function/samples/preserve-exported-object-in-namespace/_config.js
  test/function/samples/preserve-exported-object-in-namespace/main.js
  test/function/samples/preserve-exported-object-in-namespace/module.js
Due: eslint --fix, prettier --write

record the included Path of trackedArugment
  src/ast/ExecutionContext.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/utils/hasOrAddIncludedPaths.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

extends the includePath of Variable to take context
  src/Module.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/ContinueStatement.ts
  src/ast/nodes/LabeledStatement.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/jsxHelpers.ts
  src/ast/variables/ArgumentsVariable.ts
  src/ast/variables/ExportShimVariable.ts
  src/ast/variables/ExternalVariable.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
  src/ast/variables/Variable.ts
Due: eslint --fix

make path unconditional
  src/Module.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/ContinueStatement.ts
  src/ast/nodes/LabeledStatement.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/jsxHelpers.ts
  src/ast/variables/ArgumentsVariable.ts
  src/ast/variables/ExportShimVariable.ts
  src/ast/variables/ExternalVariable.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/ParameterVariable.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
  src/ast/variables/Variable.ts
Due: eslint --fix

Move Identifier inclusion logic to IdentifierBase
  src/ast/nodes/shared/IdentifierBase.ts
Due: eslint --fix

include UNKNOWN_PATH for resolved properties when subPath is empty
  src/ast/nodes/shared/ObjectEntity.ts
  test/function/samples/object-tree-shaking-with-destructed-export/_config.js
  test/function/samples/object-tree-shaking-with-destructed-export/main.js
  test/function/samples/object-tree-shaking-with-destructed-export/module.js
Due: eslint --fix, prettier --write

Try to include all properties of arguments in ParameterScope
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/scopes/ParameterScope.ts
Due: eslint --fix

Add comment to explain includePath semantics
  src/ast/nodes/shared/Node.ts
Due: eslint --fix

Use a dedicated tracker so that each path of a variable is included once.
  src/ast/nodes/ObjectExpression.ts
  src/ast/utils/PathTracker.ts
  src/ast/variables/LocalVariable.ts
Due: eslint --fix

clear cached path for paramter variable
  src/ast/nodes/shared/IdentifierBase.ts
  test/function/samples/object-tree-shaking-with-duplicated-function-call/_config.js
  test/function/samples/object-tree-shaking-with-duplicated-function-call/main.js
Due: eslint --fix, prettier --write

add a recursion tracker to the hasEffectsOnInteractionAtPath call in parameterVariable
  src/ast/ExecutionContext.ts
  src/ast/variables/ParameterVariable.ts
  test/function/samples/recursive-calls-without-treeshake/_config.js
  test/function/samples/recursive-calls-without-treeshake/main.js
Due: eslint --fix, prettier --write

Prevent access to parameter variables
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix

Fix lint error
  src/Module.ts
Due: eslint --fix

Refine recursion detection
  src/ast/ExecutionContext.ts
  src/ast/variables/ParameterVariable.ts
Due: eslint --fix
