Repository rollup/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Avoid variable but move bootstrap script into package.json
  .github/workflows/performance-report.yml
  package.json
Due: none

Format the report as indented list to improve readability
  scripts/perf-report/report-collector.js
  src/utils/timers.ts
Due: eslint --fix

Run also for forks but only if label is set
  .github/workflows/performance-report.yml
Due: none

Only print deviations exceeding 2%
  scripts/perf-report/index.js
Due: none

Make report more stable by discarding largest and smallest results
  scripts/perf-report/index.js
Due: none

fix: rest element should deoptimize parameter values
  src/ast/nodes/shared/FunctionBase.ts
  test/function/samples/rest-element-argument/_config.js
  test/function/samples/rest-element-argument/main.js
Due: eslint --fix, prettier --write

Auto-generate node index
  scripts/generate-ast-converters.js
  scripts/generate-node-index.js
  src/ast/nodes/index.ts
Due: eslint --fix

Auto-generate node types
  scripts/generate-ast-converters.js
  scripts/generate-node-types.js
  src/ast/nodes/NodeType.ts
Due: eslint --fix

add missing estree fields
  scripts/ast-types.js
  src/utils/bufferToAst.ts
Due: eslint --fix

TSPropertySignature: avoid clash with reserved word 'static'
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Set up TypeScript option
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/options-hook/_config.js
  test/misc/optionList.js
Due: eslint --fix, prettier --write

Add node TSPropertySignature
  src/ast/nodes/TSPropertySignature.ts
Due: eslint --fix

Do not split TS in constant names
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/helpers.js
Due: none

Add simple tests
  test/form/samples/typescript/preserve-declaration/_config.js
  test/form/samples/typescript/preserve-declaration/_expected.js
  test/form/samples/typescript/preserve-declaration/main.ts
  test/function/samples/typescript/transpile-variable-declaration/_config.js
  test/function/samples/typescript/transpile-variable-declaration/main.ts
Due: eslint --fix, prettier --write

Change to config which gives different errors
  rust/parse_ast/src/lib.rs
  test/function/index.js
  test/function/samples/typescript/transpile-variable-declaration/_config.js
Due: eslint --fix, prettier --write

Add missing nodes for Typescript AST
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/TSInterfaceBody.ts
  src/ast/nodes/TSInterfaceDeclaration.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Add typeAnnotations to nodes
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Add missing defs for node TSPropertySignature
  scripts/ast-types.js
  src/ast/nodes/NodeType.ts
Due: eslint --fix

Convert typeAnnotation to an OptionalNode
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/nodes/TSTypeAnnotation.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Add missing AST types
  src/ast/nodes/Identifier.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/TSNumberKeyword.ts
  src/ast/nodes/TSTypeAnnotation.ts
Due: eslint --fix

Pass typescript flag to rust parser and exchange syntax to preserve typing information
  browser/src/wasm.ts
  native.d.ts
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/parseAst.ts
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: eslint --fix

Update generated files and ignore casing when sorting
  scripts/generate-child-node-keys.js
  scripts/generate-node-index.js
  scripts/generate-node-types.js
  scripts/helpers.js
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
Due: eslint --fix

Prepare for extracting AST nodes
  rust/parse_ast/src/ast_nodes/mod.rs
  rust/parse_ast/src/ast_nodes/ts_number_keyword.rs
  rust/parse_ast/src/lib.rs
Due: none

No longer verify AST in test
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/utils/bufferToAst.ts
  src/utils/convert-ast-strings.ts
  test/form/samples/typescript/preserve-declaration/_config.js
  test/function/samples/typescript/transpile-variable-declaration/_config.js
Due: eslint --fix, prettier --write

Inline convert_binding_identifier
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

add skeleton for convert_type_annotation
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Destructure TypeAnnotation to TsType
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Start implementing 'convert_ts_type_annotation'
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

fix conversion of type annotation
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

convert number keyword
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/utils/bufferToAst.ts
  src/utils/convert-ast-strings.ts
Due: eslint --fix

Improve test name
  test/form/samples/typescript/preserve-number-declaration/_config.js
  test/form/samples/typescript/preserve-number-declaration/_expected.js
  test/form/samples/typescript/preserve-number-declaration/main.ts
Due: eslint --fix, prettier --write

Add test case for 'null' type annotation
  test/form/samples/typescript/preserve-undefined-declaration/_config.js
  test/form/samples/typescript/preserve-undefined-declaration/_expected.js
  test/form/samples/typescript/preserve-undefined-declaration/main.ts
Due: eslint --fix, prettier --write

Convert null keyword
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Add TSNullKeyword
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/TSNullKeyword.ts
  src/ast/nodes/index.ts
  src/utils/bufferToAst.ts
Due: eslint --fix

Fix typo
  scripts/ast-types.js
Due: none

Use correct constants
  rust/parse_ast/src/convert_ast/converter.rs
Due: none

Path conditions:
  eslint --fix: (any of: {src,bin,browser,typings}/**/*.ts) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  prettier --write: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
